<app-head></app-head>

<div class="container-fluid" style="padding-left: 0px;">
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen" class="sidenav">
      
        <app-sidenav-bar></app-sidenav-bar>
    </mat-sidenav>
    <mat-sidenav-content>
            <div class="ACVTY-no-pad">
                <div class="UNFAPP-asmnt-rgt-area" style="background-color: #EAECF2;padding: 15px;height: 100vh;">

                   
                            <div class="col-lg-12">
                                <mat-tab-group>
                                    <mat-tab label="Dealers ">
                                        <app-dealers></app-dealers>
                                    </mat-tab>
                                    <mat-tab label="Association">
                                        <app-association></app-association>
                                    </mat-tab>
                                    <mat-tab label="Reports">
                                        <app-reports></app-reports>
                                    </mat-tab>
                                    <mat-tab label="promotions">
                                       <app-promotions></app-promotions>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                      
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
</div>