.head-text {
    font-size: 20px;
    font-weight: 600;
}

/* .close-icon{
        left: 100%;
        position: relative;
        font-size: 15px;
        font-weight: 600;
    } */
.tumbsup {
    /* width: 32px;
    height: 32px; */
    padding: 0 10px;
}

.text-succ {
    padding: 0 10px;
    max-width: 280px;
}

.closeImg {
    padding: 15px 0 15px 20px;
}

.closeImg img {
    width: 20px;
}

.active .left {
    width: 15px;
    background: green;
}

.deactive .left {
    width: 15px;
    background: red;
}