<div *ngIf="shipDownload" class="container">
    <div class="bulk-dwnlds ">
        <div class="B-download">
            <!-- <img  class="print-img" src="../../../assets/material/print-img.svg" alt=""> -->
            <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        </div>
        <div class="bulk-d">
            <h3 class="bulk-head font">Ship Order: <b>Bulk Download</b></h3>
        </div>
<div class="bulk-Dcontent">
    <p>Bulk download of invoices & shipment data</p>
    <p><b>Option 1:</b> Download <b>Empty</b> Template</p>
</div>
<div class="row">
    <div class="dowload"  (click)="emptyDownload()">
        <div class="bulk-download">
            <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
                alt="add-user-btn">
        </div>
       <p class="dwnload-text"> Download the unfiltered attached template <br>
        to add the invoice information</p>
    </div>
</div>
<div class="row opt2">
    <div class="col-6">
        <p><b>Option 2:</b> Download template with <b>filtered</b> data</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 ml-3 col-lg-3 col-sm-2 shipordersbubbles">
        <form [formGroup]="dealerForm" class="dropdown-form">
          <ng-multiselect-dropdown class="dealer dlsr" name="city" [placeholder]="'Dealer'" formControlName="dealer"
            [disabled]="disabled" [settings]="dealerSettings" [data]="dealerListData"(onSelect)="DealerorderSelect($event)" (onDeSelect)="DealerDeselect($event)"(onDeSelectAll)="DealerDeselectAll($event)"
            (onSelectAll)="DealerorderSelectAll($event)"
           >
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder dealer-placeholder"id="DP">
          <span *ngIf="dealerForm.get('dealer').value.length == 0" id="GP"> Dealers   </span>
          <span *ngIf="dealerForm.get('dealer').value.length == 1" class="selected-placeholder"> {{dealerForm.get('dealer').value.length}} Dealer selected </span>
          <span *ngIf="dealerForm.get('dealer').value.length > 1" class="selected-placeholder"> {{dealerForm.get('dealer').value.length}} Dealer(s) selected </span>

        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-2">
        <!-- <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="order" name="city" [placeholder]="'Order Date'" formControlName="city"
            [disabled]="disabled" [settings]="geographySettings" [data]="dealersdrop"
           >
          </ng-multiselect-dropdown>
        </form> -->
        <app-customdatepicker [showInputField]="true" label="Order Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customDatePickerEvent($event)"></app-customdatepicker>

      </div>
      <div class="col-md-3 col-lg-3 col-sm-2 shipordersbulkbubbles">
        <form [formGroup]="geographyForm" >
          <ng-multiselect-dropdown class="geography geograph" name="city" [placeholder]="'Geography'" formControlName="geography"
            [disabled]="disabled" [settings]="geographySettings" [data]="geographyData" (onSelect)="geographyselect($event)"
            (onDeSelect)="geographyDeselect($event)" (onDeSelectAll)="geographyDeselectAll($event)"(onSelectAll)="geographyselectAll($event)"
           >
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder geography-placeholder"id="DP">
          <span *ngIf="geographyForm.get('geography').value.length == 0" id="GP"> Geographies  </span>
          <span *ngIf="geographyForm.get('geography').value.length == 1" class="selected-placeholder"> {{geographyForm.get('geography').value.length}} Geography selected </span>
          <span *ngIf="geographyForm.get('geography').value.length > 1" class="selected-placeholder"> {{geographyForm.get('geography').value.length}} Geography(s) selected </span>

        </div>
      </div>
      <!-- refresh -->
      <div class=" refreshbtn" style=" cursor: pointer" (click)="refresh()">
        <img class="refresh-img" src="assets/img/Vector.png" alt="refresh">
      </div>
</div>
 <!-- grid -->
 <div class="grid-table mt-5">
    <ag-grid-angular id="gridContainer" style="height: 435px;background-color: white;font-family: calibri;width: 100%;" class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25"
      [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
      [rowData]="shipmentDatalist" [suppressExcelExport]="true" [popupParent]="popupParent"
      (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
      (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
      (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
      (bodyScroll)="handleScroll($event)"></ag-grid-angular>
    <div class="pag-ination">
      <span class="pagination-cls">1&nbsp;</span><span style=" color: #686E74;">-</span>&nbsp; <span class="pagination-cls">{{paginationScrollCount}}</span><span class="pagination-cls">&nbsp; of &nbsp;</span>
      <span class="pagination-length">{{shipmentDatalist.length}}</span>
    </div>
  </div>
  <!-- footer -->
  <div class="row footer">
    <div class="col-md-6" (click)="bulkDownload()">
            <button type="button" class="download-csv">Download CSV </button>                       
    </div>
    <div class="col-md-6">                      
            <button type="button"  [mat-dialog-close]="true"  class="cancel">Cancel</button>                   
    </div>
</div>
    </div>
</div>
<div *ngIf="receiptDownload" class="container">
  <div class="bulk-dwnld ">
      <div class="B-download">
          <!-- <img  class="print-img" src="../../../assets/material/print-img.svg" alt=""> -->
          <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
      </div>
      <div class="bulk-d">
          <h3 class="bulk-head font">Receipt: <b>Bulk Download</b></h3>
      </div>
<div class="bulk-Dcontent">
  <p>Bulk Download of Receipts</p>
  <p><b>Option 1:</b> Download <b>Empty</b> Template</p>
</div>
<div class="row">
  <div class="dowload" (click)="bulkDownload()">
      <div class="bulk-download">
          <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
              alt="add-user-btn">
      </div>
     <p class="dwnload-text"> Download the attached sheet that contains all the <br>
      open shipments or invoices</p>
  </div>
</div>
<div class="row opt2">
  <div class="col-6 ml-2">
      <p><b> Step 2:</b> Download Template with <b>Filtered</b> Data</p>
  </div>
</div>
<div class="row ml-2">
  <div class="col-md-3 col-lg-3 col-sm-2 shipordersbubbles" style="padding-left: 0px;">
    <form [formGroup]="dealerForm" class="dropdown-form">
      <ng-multiselect-dropdown class="dealers dlsr" name="city" [placeholder]="'Dealer'" formControlName="dealer"
      [disabled]="disabled" [settings]="dealerSettings" [data]="dealerlist"(onSelect)="DealerorderReceiptSelect($event)" (onDeSelect)="DealerReceiptDeselect($event)"(onDeSelectAll)="DealerReceiptDeselectAll($event)"
      (onSelectAll)="DealerorderReceiptSelectAll($event)">
    </ng-multiselect-dropdown>
    </form>
    <div class="dropdown-placeholder dealers-placeholder">
      <span *ngIf="dealerForm.get('dealer').value.length == 0">  Dealers  </span>
      <span *ngIf="dealerForm.get('dealer').value.length == 1" class="selected-placeholder"> {{dealerForm.get('dealer').value.length}} Dealer selected </span>
      <span *ngIf="dealerForm.get('dealer').value.length > 1" class="selected-placeholder"> {{dealerForm.get('dealer').value.length}} Dealer(s) selected </span>
      
    </div>
    
  </div>
  <div class="col-md-3 col-lg-3 col-sm-2 shipordersbubbles">
    <form [formGroup]="geographyForm" >
      <ng-multiselect-dropdown class="Geography geographybubbles" name="city" [placeholder]="'Geography'" formControlName="geography"
      [disabled]="disabled" [settings]="geographySettings" [data]="geogropdownlist" (onSelect)="geographyReceiptselect($event)"
      (onDeSelect)="geographyReceiptDeselect($event)" (onDeSelectAll)="geographyReceiptDeselectAll($event)"(onSelectAll)="geographyReceiptselectAll($event)">
    </ng-multiselect-dropdown>
    </form>
    <div class="dropdown-placeholder geography-placeholder"id="DP">
      <span *ngIf="geographyForm.get('geography').value.length == 0" id="GP"> Geographies </span>
      <span *ngIf="geographyForm.get('geography').value.length == 1" class="selected-placeholder"> {{geographyForm.get('geography').value.length}} Geography selected </span>
      <span *ngIf="geographyForm.get('geography').value.length > 1" class="selected-placeholder"> {{geographyForm.get('geography').value.length}} Geography(s) selected </span>

    </div>
  </div>
  <div class="shipment mr-2">
    <app-customdatepicker [showInputField]="true" label="Shipment Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customShipDatePickerEvent($event)"></app-customdatepicker>
  </div>
    <div class="invoice">
      <app-customdatepicker [showInputField]="true" label="Invoice Date" [selectedDate]="selectedDateRanges" (customDatePickerEvent)="customInvoiceDatePickerEvent($event)"></app-customdatepicker>
  </div>
    <!-- refresh -->
    <div class=" refreshbtn" style=" cursor: pointer" (click)="Receiptrefresh()">
      <!-- <img class="refresh-img" src="assets/img/Vector.png" alt="refresh"> -->
      <img src="assets/img/Refreshbutton.svg" class="refresh-img">
    </div>
</div>
<!-- grid -->
<div class="grid-table mt-5">
  <ag-grid-angular id="gridContainer" style="height: 435px;background-color: white;font-family: calibri;width: 100%;" class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25"
    [headerHeight]="48" [columnDefs]="columnReceiptDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
    [rowData]="receiptDatalist" [suppressExcelExport]="true" [popupParent]="popupParent"
    (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
    (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
    (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
    (bodyScroll)="handleScrollReceipt($event)"></ag-grid-angular>
  <div class="pagination">
    <span class="pagination-cls">1 &nbsp;</span><span style=" color: #686E74;">-</span>&nbsp; <span class="pagination-cls">{{paginationScrollCount}}</span> <span class="pagination-cls"> &nbsp; of &nbsp;</span>
    <span class="pagination-length">{{receiptDatalist.length}}</span>
  </div>
</div>
<!-- footer -->
<div class="row footer">
  <div class="col-md-6" (click)="bulkDownload()">
          <button type="button" class="download-csv">Download CSV </button>                       
  </div>
  <div class="col-md-6">                      
          <button type="button"  [mat-dialog-close]="true"  class="cancel">Cancel</button>                   
  </div>
</div>
  </div>
</div>