<div class="mainclass">
  <div class="UNFAPP-asmnt-rgt-area main" style="padding: 12px; padding-left: 1px;overflow-x: hidden;overflow-y: hidden;">

    <div class="row"
      style="position: relative;top: 3%;bottom: 8px;margin-top: 30px; font-family: 'Gilroy'; color: grey;">

      <div class="col-md-2 col-lg-2 col-sm-2 targetgroupbubles"  style="font-family: 'Gilroy'; color: grey;">
        <form [formGroup]="myForms">
          <ng-multiselect-dropdown class="stts1 tgd" name="citys" [placeholder]="'Target'" formControlName="citys"
            [disabled]="disabled" [settings]="dropdownSettings1" [data]="targetListData"(onSelect)="onTargetGroupSelect($event)" (onDeSelect)="onTargetGroupDeSelect($event)"
            (onDeSelectAll)="onTargetGroupDeSelectOrAll($event)" (onSelectAll)="onTargetGroupSelectOrAll($event)">
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder stts1-placeholder">
          <span *ngIf="myForms.get('citys').value.length == 0">Select Target</span>
          <span *ngIf="myForms.get('citys').value.length == 1" class="selected-placeholder">
            {{myForms.get('citys').value.length}} target selected </span>
          <span *ngIf="myForms.get('citys').value.length > 1" class="selected-placeholder">
            {{myForms.get('citys').value.length}} target(s) selected </span>
        </div>
      </div>

      <div class="icon btnhover1 refreshbtn1" (click)="refreshTargetGroup()">
        <img class="refreshimg" src="assets/img/Vector.png" style="position: relative;top: 9px;left: 12px;"
          alt="refresh">
      </div>
    </div>
    <div class="row" style="margin-bottom:5px;">

      <div class="col-md-4" style="margin-left: 72%;margin-bottom:10px;">
        <div class="row">
          <div class="col-md-8">
            <div class="searchBox d-flex">
              <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
              (keyup)="onSearchChange($event)" placeholder="Type & search for anything">
              <button class="searchButton" href="#">
                <i class="material-icons">
                  search
                </i>
              </button>
              <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
            </div>
          </div>
          <div class="col-md-2">
            <div class="add-user" (click)="addTarget()">
              <img src="assets/img/add-btn.png" style="position: relative;top: 8px;left: 10px;" alt="add-user-btn">
            </div>
          </div>

        </div>
      </div>
    </div>


    <div>
      <ag-grid-angular id="gridContainer"
        style=" height: 400px;background-color: white;font-family: Gilroy;width:100%;"
        class="ag-theme-material" [rowHeight]="25" [headerHeight]="48" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData5" [suppressExcelExport]="true"
        [popupParent]="popupParent" (cellValueChanged)="onCellValueChanged($event)"
        (firstDataRendered)="onFirstDataRendered($event)" (firstDataRendered)="onFirstDataRendered($event)"
        (rowClicked)="openDialog()" (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
        [paginationPageSize]="paginationPageSize" (bodyScroll)="handleScroll($event)"></ag-grid-angular>

    </div>
    <div class="pagination">
      <span class="pagination-cls">1&nbsp;</span> to&nbsp; <span
        class="pagination-cls">{{paginationScrollCount}}&nbsp;</span> of&nbsp; <span
        class="pagination-cls">{{rowData5.length}}</span>
    </div>

  </div>
</div>