.activeSuccessPop{
    background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%) !important;
    border: 0.5px solid #000000;
    border-radius: 25px !important;
    border-left: 10px solid green !important;
}
.head-text{
font-size: 23px;
font-weight: 600; 
margin-top: -37px;
color: #000000;

font-family: 'Gilroy-Bold';
font-style: normal;


}
.areu
{
    font-family: 'Gilroy-Medium';
 color: #36454f;
 font-size: 16px;
}
.undo{
    padding: 5px 40px;
    background: rgba(1, 139, 117, 1) ;
    color: #fff;
    margin-right: 20px;
    /* border: #000000; */
    border-radius: 10px;
    /* margin-top: 18px; */
     height:41px ;
    width: 150px; 
    border:1px white;
    }
.exit{
    background: rgba(1, 139, 117, 1) ;
color: white;
padding: 5px 40px;
border:1px white;
border-radius: 10px;

height: 41px;
width: 150px; 
font-weight: 600;




}
.close-icon{
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    top:-11px;
    cursor: pointer;
    
}

.font{
    font-family: 'Gilroy';
}
