<div class="container">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    <div class="actv-user text-center">
        <h1 class="head-text" >User activated</h1>
        <p>The status of user<b> {{employeename}}</b> has been <br>successfully changed to <span *ngIf="false" style="color:red">Inactive</span>
            <span *ngIf="true" style="color:green">active</span></p>
        <button class="undo">Undo</button>
        <button class="exit" (click)="close()">Exit</button>
    </div>
</div>