::ng-deep .shipmentdropdown .dropdown-list {
  left: -6%;
  width: 106%;
}
:host ::ng-deep.ag-theme-material .ag-root-wrapper,
  .ag-theme-material .ag-sticky-top {
    border: 1px solid #989CA04D !important;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important; */
    /* border-bottom-left-radius: 10px 10px !important;
    border-bottom-right-radius: 10px 10px !important; */
    border-radius: 10px !important;
  }
.container-fluid
{
  /* overflow-y: auto; */
  overflow-y: hidden;
  overflow-x: hidden;
  height: 610px;
}
::ng-deep.received {
    
  
  color: #686E74!important;
}


::ng-deep.Transit{
  color: #686E74!important;
  
       }

.sales-example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sales-search-drop input {
  /* width: 215px; */
  height: 43px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.sales .fa-search {
  color: rgba(104, 110, 116, 0.75);
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 162px;
}

.sales-refreshbtn {
  background: rgba(104, 110, 116, 0.66);
  cursor: pointer;
  border-radius: 16%;
  width: 40px;
  height: 40px;
  margin-right: 460px;
}
.sales-refreshbtn:hover
{
  background-color: grey !important;
  color: white !important;
}
.refresh-img {
  margin-top: 9px;
  margin-left: 9px;
 
}

.ag-theme-material .ag-filter-toolpanel-header,
.ag-theme-material .ag-filter-toolpanel-search,
.ag-theme-material .ag-status-bar,
.ag-theme-material .ag-header-row,
.ag-theme-alpine .ag-panel-title-bar-title,
.ag-theme-alpine .ag-multi-filter-group-title-bar {

  --ag-background-color: rgba(219, 19, 19, 0.863);
  --ag-border-radius: 25px;


}

.ag-header-row ag-header-row-column {
  --ag-background-color: rgba(0, 0, 0, 0.815);
}

.ag-root-wrapper .ag-layout-normal .ag-ltr {
  border: solid 10px;
  border-color: var(--ag-border-color, #094db9) !important;
  border-radius: 100px;
}

.ag-theme-balham .ag-header-cell {
  background-color: #b81111 !important;
}

/* ::ng-deep.ag-header-cell-text {
  color: #686E74 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px !important;
} */


.ag-root-wrapper {
  border: solid 10px;
  border-color: var(--ag-border-color, #094db9) !important;
  border-radius: 100px;
}

.ag-layout-norm {
  --ag-border: solid;

}

.ag-ltr {
  --ag-border: solid;

}

.ag-header-cell-label {
  color: blue !important;
  font-weight: bold;
}

.ag-pivot-off .ag-header-cell-label {
  color: #8a6d3b;
}

.ag-theme-material {

  --ag-card-radius: 100px;
  --ag-border-radius: 20px;
  --ag-header-height: 30px;
  /* --ag-header-foreground-color: blue; */
  --ag-header-background-color: rgba(0, 0, 0, 0);
  /* --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
}

#myGrid {
  flex: 1 1 0px;
}

.pagination {
  float: right !important;
  margin-top: 2px;
  margin-right: 3px;
}

.pagination-cls {
  font-size: 14px;
  font-family: 'Calibri';
  font-weight: 500;
  color: #686E74;
}
.pagination-classa {
  font-size: 14px;
   font-weight: 900;
  font-family: 'Calibri';
  color: #686E74;
}

.ag-theme-material {
  height: 410px;
  border-radius: 10px !important;
  /* border-radius: 20px; */
  background-color: white;
  font-family: Gilroy;
}

.listicon {
  display: flex;
  justify-content: end;
}

.searchBox1 {
  float: right;
}
.sales-add{
  background: #000000;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-right: 10px;
}
.imgorder{
  position: relative;
  top: 8px;
  left: 10px;
}
.sales-download{
  background: rgba(104, 110, 116, 0.66);
  border-radius: 13%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.sales-download:hover
{
  background-color: grey !important;
   color: white !important;
}
.dwnld-img{
  position: relative;
  top: 8px;
  left: 10px;
}
.sales-upload{
  background: rgba(104, 110, 116, 0.66);
  border-radius: 13%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.sales-upload:hover
{
  background-color: grey !important;
  color: white !important;
}
.imgupload{
  position: relative;
  top: 8px;
  left: 10px;
}
.sales-dwnld{
  background: rgba(104, 110, 116, 0.66);
  border-radius: 13%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.sales-dwnld:hover
{
  background-color: grey !important;
  color: white !important;
}
.imgdwnl{
  position: relative;
  top: 8px;
  left: 12px;
}
.searchButton {
        display:block;
        color: #FFFFFF;
        width: 37px;
        height: 37px;
        border-radius: 13%;
        background: rgba(104, 110, 116, 0.66);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border: none;
      }

.searchBox:hover >.searchButton,
      .searchBox>.searchInput,
      .search-btn {
        display:none;
      }

/* .searchBox {
        float:right;
        position: absolute;
      left: 94%;
        top: 6px;
      } */
      .searchBox:hover >.searchButton {
        display:block;
      }
      .searchBox:hover>.searchButton {
        /* right: 190px !important; */
        background: transparent !important;
      }
      .searchInput1{
        display: none;
      }
      .searchInput1 :hover{
        display: block;
      }
      .searchBox1:hover >.searchButton .material-icons {
        position: relative;    
        right: 282px;
        color:#000;
        top: 3px;
      }
      .searchBox:hover >.search-btn {
        display:block;
        height: 26px;
        border: none;
        background: #000000;
        color: white;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top:84px;
      }

      .searchBox1:hover>.search-btn {
        display: block;
        height: 26px;
        border: none;
        background: #000000;
        color: white;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top: 6px;
    }
    .searchBox1:hover>.searchInput1 {
        display: block;
        width: 335px;
        height: 43px;
        background: #FFFFFF;
        float: left;
        padding: 5px 32px 6px;
        border-radius: 10px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.08em;
        color: #263643;
        box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
        /* // transition: 0.2s  ease-in-out; */
        position: absolute;
        right: 0px;
        bottom: -3px;
    }
    ::ng-deep.dropdown-list {
      position: absolute;
      padding-top: 6px;
      width: 100%;
      z-index: 9999;
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #fff;
      margin-top: 0px !important;
      box-shadow: 0 1px 5px #959595;
    }
    ::ng-deep.dropdown-btn span .ng-star-inserted {
      position: absolute !important;
      right: 15px !important;
      bottom: 0px;
      top: 48px !important;
    }
    ::ng-deep.dropdown-multiselect__caret:before {
      position: relative;
      right: 0;
      top: 65%;
      color: #000000;
      margin-top: 4px;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #000000 transparent !important;
      content: "";
    }
    
    ::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
      box-sizing: content-box;
      content: "";
      color: #000000;
      position: absolute;
      top: 50%;
      left: 0;
      width: 14px;
      height: 14px;
      margin-top: -9px;
      border: 2px solid #000000;
      text-align: center;
      transition: all .4s ease;
    }
    ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
      border: 1px solid #337ab7;
      margin-right: 4px;
      background: #00187A !important;
      padding: 0 5px;
      color: #fff;
      border-radius: 10px !important;
      float: left;
      display: flex;
      max-width: 170px !important;
      position: relative;
      top: 39px !important;
    }
    .dropdown-placeholder {
      background: white;
      color: #808080;
      top: 0;
      position: absolute;
      height: 41px;
      line-height: 41px;
      left: 0px;
      border-top: 1px solid gray !important;
      border-bottom: 1px solid gray !important;
      border-left: 1px solid gray !important;
      width: 80%;
      border-radius: 10px 0 0 10px !important;
      padding-left: 10px;
      pointer-events: none;
    }
    :host::ng-deep.multiselect-dropdown .dropdown-btn {
      display: inline-block;
      border: 1px solid gray !important;
      /* border-left: 2px solid gray !important; */
      width: 100%;
      /* height: 62%; */
      padding: 9px 12px !important;
      margin-bottom: 0px;
      font-weight: 400;
      line-height: 1.52857143;
      text-align: left;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border-radius: 14px !important;
      background: white !important;
      height: 41px;
      left: 0px;
    }
    ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      color: #17c017 !important;
    }
    
    ::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
    .mat-primary .mat-pseudo-checkbox-indeterminate {
      background: #17c017 !important;
    }
      
    ::ng-deep.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
      animation: borderscale .2s ease-in;
      background: #00187A !important;
    }
    ::ng-deep.dealer .multiselect-dropdown .dropdown-btn .selected-item {
      background: #006466 !important;
      font-size: 12px;
      right: 21px;
      height: fit-content;
    }
    
    ::ng-deep .dealer .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
      background: #006466 !important;
    }
    .dealer-placeholder.dropdown-placeholder .selected-placeholder {
      color: #006466 !important;
   }
    .Status-placeholder.dropdown-placeholder .selected-placeholder {
      color: #000000 !important;
   }
   ::ng-deep.Status .multiselect-dropdown .dropdown-btn .selected-item {
     background: #000000 !important;
     font-size: 12px;
     height: fit-content;
     left: -6px;
   }
   
   ::ng-deep .Status .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
     background: #000000 !important;
   }
    ::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
      border: 2px solid #000000 !important;
    }
    ::ng-deep.shipment .mat-form-field-appearance-fill .mat-form-field-flex{
       border-radius: 10px;
      /* padding: .75em .75em 0 .75em;  */
      padding: 5px;
      background: white !important;
      border: 1px black solid;
  }
  ::ng-deep.shipment .mat-select-arrow-wrapper{
    /* background-image: url('/assets/img/calenderImage.svg') !important; */
    content: url(../../../../assets/img/Calendar.svg);
  }
  ::ng-deep.invoice .mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 10px;
   /* padding: .75em .75em 0 .75em;  */
   padding: 5px;
   background: white !important;
   border: 1px solid gray !important;
   height: 41px;
}
::ng-deep.invoice .mat-select-arrow-wrapper{
 /* background-image: url('/assets/img/calenderImage.svg') !important; */
 content: url(../../../../assets/img/Calendar.svg);
}
/* ::ng-deep.mat-select-panel-wrap{
  margin-left: -27px !important;
} */
::ng-deep.custmdays .mat-dialog-container{
  padding: 5px !important;
  background: white;
}
::ng-deep.dlsrr  .dropdown-btn span .ng-star-inserted {
  /* position: absolute !important;
right: 12px !important;
bottom: 0px;
top: 50px !important; */



 width: 42px;
border: 1px solid #337ab7;
background: #006466 !important; 
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 20px;
   border-radius: 15px;
text-align: center;
margin-left: 10px;
margin-right: -1px;

padding-left: 5px;
}
::ng-deep.stts  .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
right: 62px !important;
bottom: 0px;
top: 50px !important;



 width: 42px;
border: 1px solid #337ab7;
 background: #000000 !important;
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 20px;
   border-radius: 15px;
text-align: center;
margin-left: 10px;
margin-right: -1px;

padding-left: 5px;
}






::ng-deep.custom-bubblesorders-shipment .dropdown-btn
{
    display: flex !important;
    justify-content: initial;
    position: relative;
}
::ng-deep.custom-bubblesorders-shipment .dropdown-btn span .ng-star-inserted
{
     position: relative !important;
     top: 40px !important;
     right: 0 !important;
     height: 5px;
     display: table-cell;
   }
   .searchInput11 {
    display: block;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    float: left;
    padding-left: 11%;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #263643;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: -2px;
    border: 1px solid gray !important;
    
}
.Legened
{
  font-family: 'Calibri';
font-weight: 400;
line-height: 12px;
letter-spacing: 0.04em;
color: #000000;


}
.searchBox11:hover>.searchButtonn .material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;

}
.searchBox11 >.searchButtonn .material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;
  
}

.searchInput11 {
  display: block;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: -2px;
  border:1px solid black;
  
}
.searchicons
{
color: #9B9FA3;
top: 10px;
position: relative;
left: -7px;
}
.search-bt_n {
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 8px;
}

.searchBox11:hover>.searchButtonn .material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;

}
.searchBox11 >.searchButtonn .material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;
  
}

.material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;
}

.search-bt_n {
  display: block;
  height: 26px;
  border: none;
  /* background: #000000; */
  background: rgba(104, 110, 116, 0.66);  
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 8px;
}
.AllText
{
    font-family: 'Calibri';
font-size: 15px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
color: #000000;
margin-top: 18px;
display: flex;
justify-content: end;

}