<div class="container-fluid mt-5">
    <div class="section shipment">
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="dealer" name="city" [placeholder]="'Dealer'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings" [data]="dealersdrop" >
          </ng-multiselect-dropdown>
        </form>
      </div>
      <!-- <select name="city"  class="rounded-inputs20 invoice select-select col-md-2">
        <option >hjhj</option>
        <option *ngFor="let invoice of invoiceDate">{{invoice}}</option>
        </select> -->
        <div class="shipment mr-3">
        <app-customdatepicker [showInputField]="true" label="Shipment Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customDatePickerEvent($event)"></app-customdatepicker>
      </div>
        <div class="invoice">
          <app-customdatepicker [showInputField]="true" label="Invoice Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customDatePickerEvent($event)"></app-customdatepicker>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="status" name="city" [placeholder]="'Status'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings" [data]="shipStatus" >
          </ng-multiselect-dropdown>
        </form>
      </div>

      <div class="sales-refreshbtn">
        <img class="refresh-img" src="assets/img/Vector.png" alt="refresh">
      </div>
</div>
<!-- bulk downld upload -->
<div class="row listicon">
  <div class="col-md-4 srch-hover" >
    <div class="searchBox1 d-flex">
      <input class="searchInput1" type="text" name="" placeholder="Type & search for anything">
      <!-- (keyup)="onSearchChange($event)" -->
      <button class="search-btn">Search</button>
      <button class="searchButton" href="#">
        <i class="material-icons">
          search
        </i>
      </button>
    </div>
  </div>
<div class="col-md-0">
  <div class="sales-download" (click)="bulkDownload()">
      <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
          alt="add-user-btn">
  </div>
</div>
<div class="col-md-0">
<div class="sales-upload" >
    <img   class="imgupload" src="assets/img/orderlist-downloD.svg"
        alt="add-user-btn">    
</div>
</div>
<div class="col-md-0">
<div class="sales-dwnld" >
  <img   class="imgdwnl" src="assets/img/download-btn.png"
      alt="add-user-btn">    
</div>
</div>
</div>
<!-- grid -->
<div class="sales-grid-table mt-3">
  <ag-grid-angular id="gridContainer" class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25"
    [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
    [rowData]="rowData5" [suppressExcelExport]="true" [popupParent]="popupParent"
    (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
    (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
    (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
    (bodyScroll)="handleScroll($event)"></ag-grid-angular>
  <div class="pagination">
    <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span
      class="pagination-cls">{{rowData5.length}}</span>
  </div>
</div>
    </div>
</div>
