<div class="container-fluid mt-5">
    <div class="section shipment">
<div class="row" style="margin-left: 3px;">
    <div class="col-md-2 col-lg-2 col-sm-2 custom-bubblesorders-shipment">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="dealer dlsrr" name="city" [placeholder]="'Dealer'" formControlName="city"
            [disabled]="disabled" [settings]="dealerSettings" [data]="dealerlist"(onSelect)="DealerorderSelect($event)" (onDeSelect)="DealerDeselect($event)"(onDeSelectAll)="DealerDeselectAll($event)"
            (onSelectAll)="DealerorderSelectAll($event)">
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder dealer-placeholder">
          <span *ngIf="myForm.get('city').value.length == 0"> Select Dealers </span>
          <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer selected </span>
          <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer(s) selected </span>

        </div>
      </div>
        <div class="shipment mr-3">
        <app-customdatepicker [showInputField]="true" label="Shipment Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customShipDatePickerEvent($event)"></app-customdatepicker>       
      </div>
        <div class="invoice">
          <app-customdatepicker  [showInputField]="true" label="Invoice Date" [selectedDate]="selectedDateRanges" (customDatePickerEvent)="customInvoiceDatePickerEvent($event)"></app-customdatepicker>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2 custom-bubblesorders-shipment" style="padding-left: 0px !important; margin-left: 16px;">
        <form [formGroup]="statusForm" class="dropdown-form">
          <ng-multiselect-dropdown class="Status stts" name="city" [placeholder]="'Status'" formControlName="status"
            [disabled]="disabled" [settings]="dropdownSettings2" [data]="statusDropDown" (onSelect)="statusdropdownselect($event)"
            (onDeSelect)="statusDeselect($event)"(onDeSelectAll)="statusDeselectAll($event)"(onSelectAll)="statusselectAll($event)" >
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder Status-placeholder">
          <span *ngIf="statusForm.get('status').value.length == 0"> Select Status </span>
          <span *ngIf="statusForm.get('status').value.length == 1" class="selected-placeholder"> {{statusForm.get('status').value.length}} status selected </span>
          <span *ngIf="statusForm.get('status').value.length > 1" class="selected-placeholder"> {{statusForm.get('status').value.length}} status(s) selected </span>

        </div>
      </div>

      <div class="sales-refreshbtn" (click)="refresh()">
        <img class="refresh-img" src="assets/img/Vector.png" alt="refresh">
      </div>
</div>
<!-- bulk downld upload -->
<div class="row listicon">
  <div class="col-md-4 srch-hover" >
    <div class="searchBox1 d-flex">
      <input class="searchInput1" type="text" name="" placeholder="Type & search for anything" (keyup)="onSearchChange($event)">
      <button class="search-btn">Search</button>
      <button class="searchButton" href="#">
        <i class="material-icons">
          search
        </i>
      </button>
    </div>
  </div>
<div class="col-md-0">
  <div class="sales-download" (click)="bulkDownload()" userRoleDirective="UPLOAD_SHIPMENT" [pageName]="currentPageName">
      <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
          alt="add-user-btn">
  </div>
</div>
<div class="col-md-0">
<div class="sales-upload" (click)="orderShipmentUpload()">
    <img   class="imgupload" src="assets/img/orderlist-downloD.svg"
        alt="add-user-btn">    
</div>
</div>
<div class="col-md-0">
<div class="sales-dwnld" (click)="shipmentDownload()">
  <img   class="imgdwnl" src="assets/img/download-btn.png"
      alt="add-user-btn">    
</div>
</div>
</div>
<!-- grid -->
<div class="sales-grid-table mt-3">
  <ag-grid-angular id="gridContainer"  style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
  class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25"
    [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
    [rowData]="shipmentDatalist" [suppressExcelExport]="true" [popupParent]="popupParent"
    (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
    (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
    (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
    (bodyScroll)="handleScroll($event)"></ag-grid-angular>
  <div class="pagination">
    <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span
      class="pagination-cls">{{shipmentDatalist.length}}</span>
  </div>
</div>
    </div>
</div>
