<div class="container-fluid mt-4">
    <div class="section shipment" >
<div class="row" style="margin-left: 3px;">
    <!-- <div class="col-md-2 col-lg-2 col-sm-2 custom-bubblesorders-shipment  shipmentdropdown" *ngIf="userType !== 'Dealer Admin'">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="dealer dlsrr" name="city" [placeholder]="'Dealer'" formControlName="city"
            [disabled]="disabled" [settings]="dealerSettings" [data]="dealerlist"(onSelect)="DealerorderSelect($event)" (onDeSelect)="DealerDeselect($event)"(onDeSelectAll)="DealerDeselectAll($event)"
            (onSelectAll)="DealerorderSelectAll($event)">
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder dealer-placeholder">
          <span *ngIf="myForm.get('city').value.length == 0"> Select Dealers </span>
          <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer selected </span>
          <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer(s) selected </span>

        </div>
      </div> -->
        <div class="shipment mr-3">
        <app-customdatepicker [showInputField]="true" label="Shipment Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customShipDatePickerEvent($event)"></app-customdatepicker>       
      </div>
        <!-- <div class="invoice">
          <app-customdatepicker  [showInputField]="true" label="Invoice Date" [selectedDate]="selectedDateRanges" (customDatePickerEvent)="customInvoiceDatePickerEvent($event)"></app-customdatepicker>
      </div> -->
      <div class="col-md-2 col-lg-2 col-sm-2 custom-bubblesorders-shipment" style="padding-left: 0px !important; margin-left: 16px;">
        <form [formGroup]="statusForm" class="dropdown-form">
          <ng-multiselect-dropdown class="Status stts" name="city" [placeholder]="'Status'" formControlName="status"
            [disabled]="disabled" [settings]="dropdownSettings2" [data]="statusDropDown" (onSelect)="statusdropdownselect($event)"
            (onDeSelect)="statusDeselect($event)"(onDeSelectAll)="statusDeselectAll($event)"(onSelectAll)="statusselectAll($event)" >
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder Status-placeholder">
          <span *ngIf="statusForm.get('status').value.length == 0"> Select Status </span>
          <span *ngIf="statusForm.get('status').value.length == 1" class="selected-placeholder"> {{statusForm.get('status').value.length}} status selected </span>
          <span *ngIf="statusForm.get('status').value.length > 1" class="selected-placeholder"> {{statusForm.get('status').value.length}} status(s) selected </span>

        </div>
      </div>

      <!-- Search  new -->
      
<div class="col-md-2 col-lg-2 col-sm-2" >
  <div class="search_Box1 d-flex">
    <input id="searchInput" class="searchInput11" type="text" name="" placeholder="Search Here Anything" (keyup)="onSearchChange($event)">
    <mat-icon  class="searchicons">search</mat-icon> 
    <button class="search-bt_n">Search</button>
  </div>
</div>
      <!-- ref new -->
      <div class="col-md-0 col-lg-0 col-sm-0">
        <div class="sales-refreshbtn" (click)="refresh()" style="margin-left: 10px;">
          <!-- <img class="refresh-img" src="assets/img/Vector.png" alt="refresh"> -->
          <img src="assets/img/Refreshbutton.svg" class="refresh-img" alt="refresh">
        </div>
      </div>

      <!-- [pageName]="currentPageName" -->
<div class="col-md-0 col-lg-0 col-sm-0" *ngIf="userType !== 'Dealer Admin'" >
  <div class="sales-download" (click)="bulkDownload()" userRoleDirective="UPLOAD_SHIPMENT" >
    <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
        alt="add-user-btn">
</div>
</div>


<div class="col-md-0 col-lg-0 col-sm-0">
  <div class="sales-upload" (click)="orderShipmentUpload()" *ngIf="userType !== 'Dealer Admin'" >
    <img   class="imgupload" src="assets/img/orderlist-downloD.svg"
        alt="add-user-btn">    
</div>
</div>
<div class="col-md-1 col-lg-1 col-sm-1" *ngIf="userType == 'Dealer Admin'">
  
</div>

<div class="col-md-0 col-lg-0 col-sm-0" *ngIf="userType == 'Dealer Admin'" >
  <div class="sales-dwnld" (click)="shipmentDownload()">
    <img   class="imgdwnl" src="assets/img/download-btn.png"
        alt="add-user-btn">    
  </div>
</div>

<div class="col-md-0 col-lg-0 col-sm-0" *ngIf="userType !== 'Dealer Admin'" >
  <div class="sales-dwnld" (click)="shipmentDownload()">
    <img   class="imgdwnl" src="assets/img/download-btn.png"
        alt="add-user-btn">    
  </div>
</div>
</div>
<!-- Legend -->
<div  class="AllText" *ngIf="userType !== 'Dealer Admin'">
  <span class="Legened ml-4" >INQ: <span class="ml-1">Invoice Quantity</span></span>
  <span class="Legened ml-4" >INV:<span class="ml-2">Invoice Value</span></span>
  <span class=" Legened ml-4" >TOQ:<span class="ml-2">Total Order Quantity</span></span>
  <span class=" Legened ml-4" >TOV:<span class="ml-2">Total Order Value</span> </span>
 
</div>


<!-- grid -->
<div class="sales-grid-table mt-3">
  <ag-grid-angular id="gridContainer"  style=" height: 435px;background-color: white;font-family: Gilroy;width: 100%;"
  class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25"
    [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
    [rowData]="shipmentDatalist" [suppressExcelExport]="true" [popupParent]="popupParent"
    (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
    (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
    (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
    (bodyScroll)="handleScroll($event)"></ag-grid-angular>
  <div class="pagination">
    <span class="pagination-cls">1 </span> <span style=" color: #686E74;">-</span>&nbsp; <span class="pagination-cls">{{paginationScrollCount}}</span><span class="pagination-cls"> &nbsp; of &nbsp; </span> <span
      class="pagination-classa"> {{shipmentDatalist.length}}</span>
  </div>
</div>
    </div>
</div>
