<!-- <div class="comntainer">
    <div class="add-item">
    <div class="d-flex mb-5">
      <div class="col-md-3 col-lg-3 col-sm-2" style="font-family: 'Gilroy'; color: grey;">
        <form [formGroup]="myForms">
          <ng-multiselect-dropdown class="stts" name="citys" [placeholder]="'product'" formControlName="citys"
            [disabled]="disabled" [settings]="dropdownSettings1" [data]="Productarr"
            (onSelect)="onProductSelect($event)" (onDeSelect)="onStatusDeSelect($event)"
            (onDeSelectAll)="onItemDeSelectOrAllStatus($event)" (onSelectAll)="onItemSelectOrAllStatus($event)">
          </ng-multiselect-dropdown>
        </form>
      </div>
      <div class="icon btnhover refreshbtn" >
        <img class="refresh" src="assets/img/Vector.png" style="position: relative;top: 9px;left: 12px;" alt="refresh" >
      </div>
    </div>
      <div>
        <ag-grid-angular id="gridContainer"
          style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
          class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25" [headerHeight]="48"
          [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData5"
          [suppressExcelExport]="true" [popupParent]="popupParent" (cellValueChanged)="onCellValueChanged($event)"
          (firstDataRendered)="onFirstDataRendered($event)" (firstDataRendered)="onFirstDataRendered($event)"
          (rowClicked)="openDialog()" (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
          (bodyScroll)="handleScroll($event)"  [rowSelection]="'multiple'"(rowSelected)="onRowSelect($event)"></ag-grid-angular>
      </div>
      <div class="pagination">
        <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span
          class="pagination-cls">{{rowData5.length}}</span>
      </div>
      <div class="addbtn mt-3 text-center">
        <button class="addItem-btn btn-btn-primary" (click)="addsubg()">Add items</button>
      </div>
    </div>
  </div> -->