.mat-form-field {
    width: 680px;
    font-family: 'Gilroy';
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  }
  
  .mat-form-field::placeholder {
    bottom: 2px;
  }
  .scroll{
    overflow-y: auto;
    overflow-x: auto;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
    /* background: #b3b3bc; */
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
  }
  
  .font {
    font-family: 'Gilroy';
  }

  /* .mat-horizontal-stepper-header-container ng-tns-c418-7 {
    margin: top -51px;
  }; */
  ::ng-deep.input.mat-input-text {
    margin-top: -9px;
    margin-left: -6px;
  }
  
  /*old css*/
  
  .mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;
  
    /* background-color: #CED4DA; */
  }
  
  .main {
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  
  }
  
  .font {
    font-family: 'Gilroy';
  }
  
  .head-t h3 {
    color: #686E74;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 2px;
  }
  
  .addU {
    position: relative;
    /* font-family: 'Gilroy-Bold';  */
    /* font-weight: bold; */
    font-size: 20px;
  }
  
  .addU:after {
    content: "";
    display: block;
    width: 314px;
    height: 0px;
    right: 20px;
    top: 50%;
    position: absolute;
    border: 0.5px solid rgba(104, 110, 116, 0.75);
  }
  
  .addU:before {
    content: "";
    display: block;
    width: 314px;
    height: 0px;
    left: 20px;
    top: 50%;
    position: absolute;
    border: 0.5px solid rgba(104, 110, 116, 0.75);
  }
  
  .addUserForm input {
    border-radius: 5px;
    border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    padding: 5px 5px;
    width: 250px;
    font-size: 14px;
    outline: none;
  }
  
  .close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
  }
  
  label {
    /* padding: 2px 0; */
    font-size: 14px;
    margin: 5px;
  }
  
  mat-form-field {
    width: 246px;
  
  }
  
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.7em 0;
    border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  }
  
  ::ng-deep.mat-dialog-container {
    background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    ;
  }

.productdrpdown {
  width: 365px;
  position: relative;
    bottom: 89px;
}
.productdrpdowntwo {
  width: 365px;
  position: relative;
    bottom: 160px;
    left: 414px;
}
mat-icon{
  position: relative;
  top: 7px;
  left: -36px;
}
.search{
margin-right: 10px;
}
.search input{
  width: 207.5px;
height: 43px;
border-radius: 10px;

}
.ref{
  border: 1px solid black;
  border-radius: 10px;
  background: black;
  margin-left: 15px;
  width: 43px;
  padding: 8px 0px 0px 10px;
  height: 43px;
}
.searchBox:hover >.searchButton,
.searchBox>.searchInput,
.search-btn {
  display:none;
}
.searchBox {
  float:right;
  /* position: absolute; */
  right: -10px;
  top: 5px;
}

.searchBox:hover >.searchButton {
  display:bolck;
  color: #000;
  float: left;
  width: 42px;
  height: 42px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  background: none;
  position: relative;
    right: 223px;
    top: 2px;

}
.searchBox:hover >.search-btn {
  display:block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top:10px;
}
.searchBox:hover>.searchInput {
  display:block;
  width: 280px;
  height: 50px;
  background: #FFFFFF;
  float: left;
  padding: 5px 32px 6px;
  border-radius: 10px;
  font-family: 'Gilroy-medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  /* // transition: 0.2s  ease-in-out; */
  position: absolute;
  right: 0px;
  bottom: -3px;
}
.searchButton {
  display:bolck;
  color: #FFFFFF;
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
}
.pagination {
  float:right !important;
}

.pagination-cls {
  font-size: 14px;
  font-weight: 900;
}
.addItem-btn{
  width: 106px;
height: 39px;
border-radius: 8px;
align-items: center;
text-align: center;
background: #000;
color: #FFFFFF;
}
mat-radio-group{
  display: flex;
  justify-content: center;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: black;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: black;
}
.btnhover{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
  border: none;
  background: #000000;
  border-radius: 35%;
  position: relative;
  width: 43px;
}
#myGrid {
  flex: 1 1 0px;
  }
  .matsorticonclass{
  color: black;
  }
  
  .matsorticonclass:hover{
  color: rgba(128, 128, 128, 0.534);
  }
  ::ng-deep.mat-select-arrow-wrapper {
  
  margin-top: -8px;
  
  }
  ::ng-deep.my-class-1{
    color: #F5B666 !important ;
}
::ng-deep.my-class-2{
    color: #17B15C !important ;
}
::ng-deep.my-class-3{
    color: #F5B666 !important ;
}
::ng-deep.my-class-4{
    color: #017EFA !important ;
}
::ng-deep.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #000000 !important;
  width: 100%;
  /* height: 62%; */
  padding: 9px 12px !important;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 10px !important;
  background: white !important;
  height: 41px;
}
::ng-deep.dropdown-list {
  position: absolute;
  padding-top: 6px;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 0px !important;
  box-shadow: 0 1px 5px #959595;
}
::ng-deep.stts .multiselect-dropdown .dropdown-btn .selected-item {
  background: #000000 !important;
  font-size: 12px;
}
 ::ng-deep .stts .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
background: #000000 !important;
}
::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before{
  border: 2px solid #000000 !important;
}

::ng-deep.dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: 20px !important;
  bottom: 10px;
}
::ng-deep.dropdown-multiselect__caret:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #000000;
  margin-top: 4px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #000000 transparent !important;
  content: "";
}
::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  box-sizing: content-box;
  content: "";
  color: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #000000;
  text-align: center;
  transition: all .4s ease;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  animation: borderscale .2s ease-in;
  background: #00187A !important;
}
::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #00187A !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 10px !important;
  float: left;
  display: flex;
  max-width: 170px !important;
  position: relative;
  top: 39px !important;
}::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.7em 0;
  }
  ::ng-deep .psubgrid-popup {
    width: 999px !important;
    }
    ::ng-deep .psubgrid-popup .mat-dialog-container{
      padding: 0 !important;
      margin-top: 72px;
    }