
<div class="container">
    <div class="addUser">
        <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        <div class="head-th">
        <h3 class="edituom">Edit UoM</h3>
    </div>
    <div class="addUserForm">
        <div class="row">

            <div class="col">
                <label>Name <span>*</span></label>
                <br>
                
        <input type="text" placeholder="Enter your Name" [(ngModel)]="uoMName" >
        <br>
        <br>
      </div>
        </div>
      

        <div class="row">
            <div class="col">

                <label>Display Code<span>*</span></label>
                <br>
                <input type="text" placeholder="Enter your Display Code" [(ngModel)]="uoMShortName" >
        <br>
        <br>
      </div>
       </div>
        
     
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-light uombtnn btn-block" [disabled]="!uoMShortName || !uoMName" (click)="editUom()">Save</button>
            <span class="requiredF">*Required Fields</span>
        </div>
        <div class="col-6">
            <button class="btn btn-light uombtnnn btn-block"  (click)=" closeDialog()">Cancel</button>
        </div>
       </div>

       
</div>
    </div>
