
<div class="container">
    <div class="addUser">
        <!-- <mat-icon>close</mat-icon> -->
        <div class="head-t">
        <h3>Edit UoM</h3>
    </div>
    <div class="addUserForm">
     <form>
        <label>Name <span>*</span></label>
        <br>
        <input type="text" placeholder="Enter your Name" >
        <br>
        <label>Display Code*<span>*</span></label>
        <br>
        <input type="text" placeholder="Enter your Display Code" >
        
     </form>
     
    </div>
    <div>
    <button class="btn btn-primary uombtn btn-block">Add</button>
    <span>*Required Fields</span>
</div>
    </div>
</div>