<div class="font ">
    <div class=" main" width="900%">
        <div class="container add-target">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            </div>
            <div class="head-t">
                <h3 class="addU font">Add Targets</h3>
                <br>
                <div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Target Group<span>*</span></label>
                            <div class="targetdrp">
                                <ng-select [items]="targetListData" class="searchbtnIcon" id="targetName" name="targetName" required [virtualScroll]="true"
                                  bindLabel="targetGroupName" bindValue="targetGroupId" [searchable]="true" [clearable]="false"
                                  placeholder="Search & select target" [(ngModel)]="targetId" (change)="onTargetGrpSelect($event)"
                                  #targetName="ngModel">
                                </ng-select>
                                <!-- <p style="margin-bottom:-22px;padding: 0px;font-size: 11px;"
                                  *ngIf="targetName.invalid && (targetName.dirty || targetName.touched)" class="alert">
                                  <span style="color:red;position: relative;" *ngIf="targetName.errors?.['required']">
                                    *Target is required.
                                  </span>
                                </p> -->
                              </div>
                        </div>
                        <div class="col-lg-9">
                            <span class="total-prod">Total products in selected group: <a href="">25</a></span>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <form [formGroup]="dealer" class="dropdown-form">
                                <ng-multiselect-dropdown class="Dealers searchbtnIcon" name="dealer" [placeholder]="'Dealers'" formControlName="dealer"
                                  [disabled]="disabled" [settings]="dropdownSettings" [data]="dealerListData">
                                </ng-multiselect-dropdown>
                                <div class="dropdown-placeholder Dealers-placeholder">
                                  <span *ngIf="dealer.get('dealer').value.length == 0"> Select Dealers </span>
                                  <span *ngIf="dealer.get('dealer').value.length == 1" class="selected-placeholder"> {{dealer.get('dealer').value.length}} Dealer selected </span>
                                  <span *ngIf="dealer.get('dealer').value.length > 1" class="selected-placeholder"> {{dealer.get('dealer').value.length}} Dealer(s) selected </span>
                      
                                </div>
                      
                              </form>
                        </div>
                        <div class="col-lg-6">
                            <form [formGroup]="geoForm" class="dropdown-form">
                                <ng-multiselect-dropdown class="Dealers searchbtnIcon" name="geoForm" [placeholder]="'Dealers'" formControlName="geoForm"
                                  [disabled]="disabled" [settings]="dropdownSettings1" [data]="geographyList">
                                </ng-multiselect-dropdown>
                                <div class="dropdown-placeholder Dealers-placeholder">
                                  <span *ngIf="geoForm.get('geoForm').value.length == 0"> Select Geography </span>
                                  <span *ngIf="geoForm.get('geoForm').value.length == 1" class="selected-placeholder"> {{geoForm.get('geoForm').value.length}} Geography selected </span>
                                  <span *ngIf="geoForm.get('geoForm').value.length > 1" class="selected-placeholder"> {{geoForm.get('geoForm').value.length}} Geography(s) selected </span>
                      
                                </div>
                      
                              </form>
                        </div>
                    </div>
                    <br><br><br>
                    <!-- When No Target Group Selected Yet  -->

                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <div>
                            <input matInput placeholder="Target Group not Selected Yet" #targetnotselected class="form-control container target-grp-nt-sel" >
                             </div>
                        </div>
                    </div> -->

                    <!-- When Target Group Is Selected -->
                    <div>
                        <div class="col-12 all-dlr">
                            <input type="checkbox" (click)="allDealerSelected()"> <span class="label-cls">All Dealers Selected</span>
                        </div>
                        <div (click)="expandTotalRows()">
                            <div class="row dealer-cntry">
                                <div class="col-md-3 dlr-info">
                                    <input type="checkbox" [checked]="allDlrSelected"> <span class="dlr-name">Rocket singh Dealers</span>
                                </div>
                                <div class="col-md-2">
                                    <p><b>India(0/136)</b>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Malaysia(0/124)</b>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Singapore(0/145)</b>
                                </div>
                            </div>
                            <input type="text" class="total-rows total-bg col-md-12" disabled>
                            <div>
                                <img [src]="image1" class="expand-arrow" alt="add-user-btn">
                            </div>
                        </div>
                        <div *ngIf="!rowsTotal" class="dealers-tabel">
                            <div>
                                <div class="row finacial-target">
                                    <div class="promotiont2">
                                        <label>Financial<span>*</span></label>
                                        <select class="form-select select-asso" aria-label=".form-select-lg example">
                                            <option selected hidden>Select Year</option>
                                            <option value="1">2021</option>
                                            <option value="2">2022</option>
                                        </select>
                                    </div>
                                    <div class="promotiont2">
                                        <label>Set Target<span>*</span></label>
                                        <select (change)="onSelectTarget($event)" class="form-select select-asso"
                                            style="width: 150px;" aria-label=".form-select-lg example">
                                            <option selected value="Yearly">Yearly</option>
                                            <option value="Quaterly">Quaterly</option>
                                            <option value="Annually">Annually</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <table>
                                    <tr>
                                        <th>Geography</th>
                                        <th>Product</th>
                                        <th></th>
                                        <th>Target</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total</th>
                                    </tr>
                                    <tr>
                                        <td class="IteminputBoxesfrstData">India</td>
                                        <td class="IteminputBoxesscndData">25</td>
                                        <td class="IteminputBoxesthrdData">Value</td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!anuallySelected, 'IteminputBoxesDisable':anuallySelected}"
                                                placeholder="Enter" class="IteminputBoxes" [disabled]="anuallySelected">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!anuallySelected, 'IteminputBoxesDisable':anuallySelected}"
                                                placeholder="Enter" class="IteminputBoxes" [disabled]="anuallySelected">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!anuallySelected, 'IteminputBoxesDisable':anuallySelected}"
                                                placeholder="Enter" class="IteminputBoxes" [disabled]="anuallySelected">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected  && !disableColumns"
                                                placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Enter" class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Enter" class="IteminputBoxes">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="IteminputBoxesfrstData"></td>
                                        <td class="IteminputBoxesscndData"></td>
                                        <td class="IteminputBoxesthrdData">Units</td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!anuallySelected, 'IteminputBoxesDisable':anuallySelected}"
                                                placeholder="Enter" class="IteminputBoxes" [disabled]="anuallySelected">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!anuallySelected, 'IteminputBoxesDisable':anuallySelected}"
                                                placeholder="Enter" class="IteminputBoxes" [disabled]="anuallySelected">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!anuallySelected, 'IteminputBoxesDisable':anuallySelected}"
                                                placeholder="Enter" class="IteminputBoxes" [disabled]="anuallySelected">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected" placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text"
                                                [ngClass]="{'IteminputBoxes':!disableColumns && !anuallySelected, 'IteminputBoxesDisable':disableColumns || anuallySelected}"
                                                [disabled]="disableColumns || anuallySelected  && !disableColumns"
                                                placeholder="Enter">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Enter" class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" placeholder="Enter" class="IteminputBoxes">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Save and Cancel Button -->

                <div class="col-12">
                    <div class="row">
                        <div class="col-4"></div>
                        <div>
                            <button class="btn-save">
                                Save
                            </button>
                        </div>
                        <div class="save-cncl-btn">
                            <button class="btn-cancel">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>