<div class="comntainer">
    <div class="add-item">
      <!-- <div class="addUser">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
      </div>
      <div class="head-t">
        <h3 class="addU font">Add Items: <b style="color: black;">Product Group</b></h3>
      </div> -->
      <!-- <div class="radio-btn mt-3">
        <div class="row">
          <div class="col-12">
      <mat-radio-group aria-label="Select an option">
        <div class="col-2 col-lg-2 "><mat-radio-button value="product" (click)="product()"  [checked]="productchk">Product</mat-radio-button></div>
          <div class="col-2 col-lg-2 "><mat-radio-button value="prodsht" (click)="productShotCode()" [checked]="prodShtCode">Product Short Code</mat-radio-button></div>
            <div class="col-2 col-lg-2 "><mat-radio-button value="progrp" (click)="productGrp()" [checked]="productGrpChk">Product Group</mat-radio-button></div>
              <div class="col-2 col-lg-2 "><mat-radio-button value="prosub" (click)="productSubG()" [checked]="productSubGChk">Product Sub-Group</mat-radio-button></div>
      </mat-radio-group>
          </div>
        </div>
    </div> -->
      <div class="srch mt-3" style="margin-bottom:10px">
        <div class="row">
          <div class="col-md-12">
            <div class="searchBox d-flex">
              <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
                placeholder="Type & search for anything" (keyup)="onSearchChange($event)">
              <button class="searchButton" href="#">
                <i class="material-icons">
                  search
                </i>
              </button>
              <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ag-grid-angular id="gridContainer"
          style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
          class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25" [headerHeight]="48"
          [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData5"
          [suppressExcelExport]="true" [popupParent]="popupParent" (cellValueChanged)="onCellValueChanged($event)"
          (firstDataRendered)="onFirstDataRendered($event)" (firstDataRendered)="onFirstDataRendered($event)"
          (rowClicked)="openDialog()" (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
          (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"(rowSelected)="onRowSelect($event)"></ag-grid-angular>
      </div>
      <div class="pagination">
        <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span
          class="pagination-cls">{{rowData5.length}}</span>
      </div>
      <div class="addbtn mt-3 text-center">
        <button class="addItem-btn btn-btn-primary" (click)="addproductg()">Add items</button>
      </div>
    </div>
  </div>