<div class="font ">
    <div class=" main" width="400%">
        <div class="container " style="height: 215px;">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
                <div class="head-t">
                    <h3 class="addU font">Add Product Group</h3>
                </div>
                <div>
                    <br>
                    <!-- <h6 style="color: #000000
   ;font-size:20px; font-weight: lighter;"><b>Basic Information</b></h6> -->

                </div>
                <div class="addUserForm">
                    <div class="row">
                        <div class="col">
                            <label>Product Group Name<span>*</span></label>
                            <br>
                            <input (keyup)="onProductGroup($event)" type="text" id="uname" name="uname" required placeholder="Enter name"
                                style="width: 404px; position: relative; top: 9%; height: 38px;">
                            <!-- <span style="color:red;position: relative;" >
      *Username is required.
    </span> -->
                        </div>


                    </div>
                    <div class="row">
                        <button class="btn btn-primary btn-block justify-center" style="background-color:#000000;width: 40%; position: relative; left: 28%; top: 36px;"[disabled]="!productGroup"(click)="addProduct()">Add </button>

                    </div>
                </div>
            </div>
        </div>
    </div>