<div class="font ">
    <div class=" main" width="900%">
        <div class="container add-dealer-scroll">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            </div>
            <div class="head-t">
                <h3 class="addU font">Add: Dealer Name</h3>
                <br>
                <img src="assets/img/arrow-left-circle-fill.svg"  class="addMore-icon" style="width: 24px;margin-left: 760px;"
                    alt="left-arr-btn">
                <img src="assets/img/arrow-right-circle-fill.svg"  class="addMore-icon" style="width: 24px; margin-left: 12px;"
                    alt="right-arr-btn">
                <mat-stepper labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="addAddressDetailsForm">
                            <ng-template matStepLabel>Basic Information</ng-template>
                            <div class="headefont">
                                <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                    <b>Basic
                                        Information</b>
                                </h6>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Name<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="dealerName" class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Email-Id<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="email" class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Code.<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="dealerCode" class="addDelercols">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label>Website<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="website"  class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Phone no<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="phone"  class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Company id<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="companyId"  class="addDelercols">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <!-- <input type="text"> -->
                                    </div>
                                    <div class="col-4">
                                        <label>Other identifer<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="identifier"  class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <!-- <input type="text"> -->
                                    </div>
                                </div>
                            </div>
                            <!-- AdminUser -->
                            <ng-template matStepLabel>AdminUser</ng-template>
                            <div class="headefont" style="margin-top:25px;">
                                <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                    <b>Admin user</b>
                                </h6>
                            </div>

                            
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Username<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="userName" class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Email-Id<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="userEmail" class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>phone no<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="usermobile" class="addDelercols">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label>First Name<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="firstName" class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Last Name<span>*</span></label>
                                        <br>
                                        <input type="text" formControlName="lastName" class="addDelercols">
                                    </div>
                                    <div class="col-4">
                                        <label>Status<span>*</span></label>
                                        <br>
                                        <select class="status-class" formControlName="status" name="status" placeholder="Select Status">
                                            <option value=""  selected hidden>Select your Role</option>                                       
                                            <option *ngFor="let option of statusList" [value]="option.statusId">
                                                {{option.statusName}}
                                            </option>
                                        </select>
    
                                    </div>
                                </div>
                            </div>
                            <!-- Address -->

                            <div class="col-12" style="margin-top:25px;">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="headefont">
                                            <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                                <b>Addresses</b>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <mat-icon class="addMore-icon" (click) =addAddressForm()>add_circle</mat-icon>
                                    </div>
                                </div>

                                

                                <div formArrayName="quantities">
                            
                                <div class="row" *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                                <div class="col-1">
                                    <label *ngIf="i == 0">Type<span>*</span></label>
                                    <br>
                                    <select class="addDelercols addtype" formControlName="addType" name="status" placeholder="Type">
                                        <option value=""  selected hidden>Type</option>                                       
                                        <option value="1">Billing</option>
                                        <option valiue="2">Shipping</option>
                                    </select>
                                
                                
                                </div>

                                <div class="col-2">
                                    <label *ngIf="i == 0">Consignee Name<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="Consignee" formControlName="consigName" class="addDelercols addname">
                                </div>

                                <div class="col-1">
                                    <label *ngIf="i == 0">Tax<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="Tax" formControlName="tax" class="addDelercols addtax">
                                </div>

                                <div class="col-2">
                                    <label *ngIf="i == 0">Address Line<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="Address" formControlName="addressLine" class="addDelercols addadress">
                                </div>

                                <div class="col-1">
                                    <label *ngIf="i == 0">Country<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="Country" formControlName="country" class="addDelercols addcountry">
                                </div>

                                <div class="col-1">
                                    <label *ngIf="i == 0">State<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="State" formControlName="state" class="addDelercols aastate">
                                </div>

                                <div class="col-2">
                                    <label *ngIf="i == 0">City & Zip<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="city & zip"formControlName="cityAndZip" class="addDelercols addcity">
                                </div>

                                <div class="col-1">
                                    <label *ngIf="i == 0">Phone<span>*</span></label>
                                    <br>
                                    <input type="text" placeholder="Phone no" formControlName="phoneNo" class="addDelercols addphone">
                                </div>
                                
                    
                                <div class="col-1">
                                    <label><span></span></label>
                                    <mat-icon (click)="removeQuantity(i)" class="col-2 remove-mat-icon delete-icon remove-address">remove_circle</mat-icon>
                                </div>
                            </div>

                            </div>
                            </div>


                            <div class="row">
                                <div class="col-5">
                                </div>
                                <div class="col-2">
                                    <button (click)="saveDealerData()" [disabled]="!addAddressDetailsForm.valid" class="btn btn-primary btn-block submitbtn save-btn">Submit</button>
                                </div>
                                <div class="col-5">
                                </div>
                            </div>
                        </form>
                    </mat-step>

                    <!-- geography -->

                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="gepGraphiesFormGroup">
                            <ng-template matStepLabel> Geographies</ng-template>
                            <div class="heading">
                                <h6 class="Geo-headerlabel"><b>Geographies</b></h6>
                            </div>
                            <div class="material-card row">
                                <div class="col-3">

                                    <div class="row">
                                        <p class="col-10 sub-label">Country</p>
                                        <p class="col-2"></p>
                                    </div>
                                    <mat-card class="mat-card-content ">
                                        <mat-card-content class="card-cls">
                                            <div class=" d-flex " *ngFor="let catg of CountryList">
                                                <p class="col-10 catg" (click)="getStateList(catg.countryId)" [ngClass]="{ 'selected': catg.countryId == selectedItem }">{{catg.countryName}}</p>
                                            </div>
                                        </mat-card-content>

                                    </mat-card>
                                </div>

                                <div class="col-3 mat-card-width">
                                    <div class="row">
                                        <p class="col-10 sub-label">State</p>
                                        <p class="col-2"></p>
                                    </div>
                                    <mat-card class="mat-card-content1">
                                        <mat-card-content class="card-cls">
                                            <!-- <div class="span-subhead"><span>category 3</span><mat-icon>arrow_drop_down</mat-icon></div> -->
                                            <div class=" d-flex" *ngFor="let subc of stateList">
                                                <p class="col-10 subc" (click)="getDistrictList(subc.geographyId)" [ngClass]="{ 'subselected': subc.geographyId == stateselectedItem }">{{subc.geographyName}}</p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>

                                <div class="col-3">
                                    <div class="row">
                                        <p class="col-10 sub-label">Region</p>
                                        <p class="col-2"> </p>
                                    </div>
                                    <mat-card class="mat-card-content2">

                                        <mat-card-content class="card-cls">
                                            <div class=" d-flex" *ngFor="let dist of distList">
                                                <p class="col-10 typeg" (click)="getCityList(dist.geographyId)" [ngClass]="{ 'regionselected': dist.geographyId == distselectedItem }">{{dist.geographyName}}</p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>

                                </div>
                                
                                <div class="col-3">
                                    <div class="row">
                                        <p class="col-10 sub-label">City</p>
                                        <p class="col-2"> </p>
                                    </div>
                                    <mat-card class="mat-card-content3 ">
                                        <mat-card-content class="card-cls">
                                            <div class=" d-flex" *ngFor="let type of cityList">
                                                <p class="col-10 city" (click)="getSelectedCity(type.geographyId)"
                                                    [ngClass]="{ 'typeselected': type.geographyId == citySelectedItem }">{{type.geographyName}}</p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">

                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-5">
                                            <button class="btn btn-primary btn-block submitbtn save-btn" (click)="saveGeographiesList()" >Save</button>
                                        </div>
                                        <div class="col-5">
                                            <button
                                                class="btn btn-primary btn-block submitbtn cancel-btn" [mat-dialog-close]="true">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">

                                </div>
                            </div>

                        </form>
                    </mat-step>

                </mat-stepper>
            </div>
        </div>
    </div>
</div>