

mat-sidenav {
    width: 5rem;
    border-right: none;
    color: white;
    border-radius: 10px;
    text-align: center;
}
mat-sidenav-content{
    height: 100vh;
    border-radius: 31px;
    padding: 10px;
    overflow: hidden;
}
mat-sidenav-container {
    height: calc(100vh - 65px);
    
}
mat-tab{
    display: flex;
    position: relative;
    background: grey;
    box-shadow: #1292EE;
    padding: 0.75rem;
    border-radius: 99px;
    z-index: 2;
}



 ::ng-deep .mat-tab-group[mat-stretch-tabs]>.mat-tab-header .mat-tab-label {
    flex-basis: 0;
    flex-grow: 1;
     /* border: 1px solid rgba(107, 107, 107, 1); */
     border: 1px solid rgba(1, 139, 117, 1);
     border-top-right-radius: 1px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
} 

::ng-deep .other-labell .mat-tab-header{
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 564px !important;
    height: 33px;
    border-radius: 25px;
    background: white;
    left: 35%;
    font-size: 15px;
    /* border: 0.5px solid rgba(0, 0, 0, 0.58); */
    border: 1px solid rgba(1, 139, 117, 1);
    

}::ng-deep.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled), .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
     /* background: black;   */
    color: white;
    border-radius: 25px;
    opacity: 1;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    display: none;
}
/* mat-tab-group{
    height: 100vh;
} */
.header-text{
    font-family:  'Gilroy-Bold';
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    height: 0px;
    color: #000000;
    position: relative;
    top: 4%;
   font-weight: 600;
    left: 20px; 
  }

  .print-img{
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 20px;
  }
::ng-deep.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled), .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    
    color: white;
    border-radius: 25px;
    opacity: 1;
}

   ::ng-deep .other-labell .mat-tab-label{ 
      height: 31px !important;  
     min-width: 187px !important; 
     flex-basis: 0;
    flex-grow: 1;
    border: 1px solid rgba(107, 107, 107, 1);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 2px;
   } 
   .mat-tab-group.mat-tab-header .mat-tab-labell {
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid rgba(107, 107, 107, 1);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 2px;
}
  
   mat-drawer-content .hideScrollOthermasters{
        overflow: hidden;
   }
   .font{
    font-family: 'Times New Roman';
   }
  ::ng-deep.mat-tab-label .mat-tab-label-content{
    font-family: 'Gilroy-Bold';
   }
   