<app-head (ToggleSideNav)="ToggleSideNav($event)"></app-head>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-sidenav-bar></app-sidenav-bar>
    </mat-sidenav>
    

    <mat-sidenav-content class="mat-drawer-content hideScrollOthermasters font">
        <!--<div class="dash-content" > -->
                <h2 class="header-text">
                    {{ selectedTabIndex === 0 ? 'Unit of Measure' : selectedTabIndex === 1 ? 'Tax Templates' : 'Currency Conversion' }} </h2>
                <!-- <div *ngIf="print"><img  class="print-img" src="../../../assets/material/print-img.svg" alt="" ></div> -->
         
                    <div class="UNFAPP-asmnt-rgt-area main othersmastermenutab ">
                        <!-- <div class="col-lg-12"> -->
                            <mat-tab-group class="other-labell"  mat-stretch-tabs="false" (selectedTabChange)="tabClick($event)" [(selectedIndex)]="selectedTabIndex">
                                <mat-tab label="Unit of Measure"  *ngIf="tabList.indexOf('view_uom') !== -1">
                                   <app-unit-measure></app-unit-measure>
                                </mat-tab>
                                <mat-tab label="Tax Templates"  *ngIf="tabList.indexOf('view_tax') !== -1">
                                    <app-tax-template></app-tax-template>
                                </mat-tab>
                                <mat-tab label="Currency Conversion" *ngIf="tabList.indexOf('view_currency') !== -1">
                                  <app-currency-conversation></app-currency-conversation>
                              </mat-tab>
                            </mat-tab-group>
                           
                        <!-- </div> -->
                    </div>
                    
        <!--</div> -->
    </mat-sidenav-content>
    
</mat-sidenav-container>

