<app-head (toggleSidebar)="sideBarToggler()"></app-head>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="sideBarOpen" class="sidenav">
    
      <app-sidenav-bar></app-sidenav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
        
            <div class=" ACVTY-no-pad main"  style="padding: 15px;height: 92vh;">
                <div class="UNFAPP-asmnt-rgt-area">
                    
                    <mat-tab-group >
                        <mat-tab label="Unit of Measure"> 
                          <app-unit-measure></app-unit-measure>
                        </mat-tab>

                        <mat-tab label="Tax Templates" > 
                          <app-tax-template></app-tax-template>
                        </mat-tab>
                        <mat-tab label="Currency Conversion">  
                       <app-currency-conversation></app-currency-conversation>
                        </mat-tab>
                      </mat-tab-group>
                </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
       

