<app-head (toggleSidebar)="sideBarToggler()"></app-head>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="sideBarOpen" class="sidenav">
    
      <app-sidenav-bar></app-sidenav-bar>
  </mat-sidenav>
  <mat-sidenav-content>
        
            <div class=" ACVTY-no-pad"  style="background-color: #F5F5F5;padding: 15px;">
                <div class="UNFAPP-asmnt-rgt-area">
                    
                    <mat-tab-group >
                        <mat-tab label="Unit of Measure" style="background-color: white;"> 
                            <br>
                            <br>
                           <br>   
            <div class="row">
        
                <div class="col-xl-3 col-md-3">
                   <!-- <mat-form-field appearance="fill">
                       <mat-label>Toppings</mat-label>
                       <mat-select [formControl]="toppings" multiple>
                         <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                       </mat-select>
                     </mat-form-field> -->
                   <mat-form-field   style="border:solid blue 1.5px;border-radius: 8px;padding: 4px;">
                       <input type="text" matInput placeholder="Search">
                       </mat-form-field>
                </div>
            </div>
            <button (click)="AddUomPopup()" style="float: right;"> + ADD UoM</button>
            <br>
            <br>
           <div >
             <div class="row" style="background-color: white;margin-right: 0.8px;margin-left: 0.8px;padding-top:5px;">
           <div style="background-color: white;" class="col-xl-10 col-md-3">
            <h4 style="color: blue;background-color: white;">Uom</h4>
           
           </div>
       
             </div>
            
             <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 table-container"  >
               <!--- Note that these columns can be defined in any order.
                     The actual rendered columns are set as a property on the row definition" -->
             
               <!-- Position Column -->
               <ng-container matColumnDef="position">
                 <th mat-header-cell *matHeaderCellDef> No. </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.position}} </td>
               </ng-container>
             
               <!-- Name Column -->
               <ng-container matColumnDef="name">
                 <th mat-header-cell *matHeaderCellDef> Name </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.name}} </td>
               </ng-container>
             
               <!-- Weight Column -->
               <ng-container matColumnDef="weight">
                 <th mat-header-cell *matHeaderCellDef> User Name </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.weight}} </td>
               </ng-container>
             
               <!-- Symbol Column -->
               <ng-container matColumnDef="displaycode">
                 <th mat-header-cell *matHeaderCellDef> display code </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.displaycode}} </td>
               </ng-container>
             
               <ng-container matColumnDef="status">
                 <th mat-header-cell *matHeaderCellDef> Status </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> <button *ngIf="element.status=='active'" type="button" class="btn btn-primary" style="background-color:  #17B15C;
                   ;border: solid #17B15C;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Active</button>
                  
                  <button *ngIf="element.status=='Delete'" type="button" class="btn btn-primary" style="background-color:  #63e99f;
                  ;border: solid #63e99f;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Delete</button>
                  
                 </td>
               </ng-container>
               <ng-container matColumnDef="edit">
                 <th mat-header-cell *matHeaderCellDef>  </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element">    
                   <button mat-button [matMenuTriggerFor]="menu" style="border:white;" class="btn btn-outline-light"><img src="../../../assets/img/edit.svg"  alt=""  /></button>
           <mat-menu #menu="matMenu" style="border:white;background-color: white;">
             <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" EditUomPopup()">Edit</button>
             <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">Delete</button>
           </mat-menu></td>
               </ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
             </table>
             <mat-paginator [length]="100"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
           </mat-paginator>
             
           </div>
           
                        
                        </mat-tab>
                        <mat-tab label="Tax Templates"> 
                            <br>
                            <br>
                           <br>   
            <div class="row">
        
                <div class="col-xl-3 col-md-3">
                   <!-- <mat-form-field appearance="fill">
                       <mat-label>Toppings</mat-label>
                       <mat-select [formControl]="toppings" multiple>
                         <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                       </mat-select>
                     </mat-form-field> -->
                   <mat-form-field   style="border:solid blue 1.5px;border-radius: 8px;padding: 4px;">
                       <input type="text" matInput placeholder="Search">
                       </mat-form-field>
                </div>

                <div class="col-xl-3 col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                 </div>

            </div>
            <button (click)="addtaxTempl()" style="float: right;"> + ADD Tax template</button>
            <br>
            <br>
           <div >
             <div class="row" style="background-color: white;margin-right: 0.8px;margin-left: 0.8px;padding-top:5px;">
           <div style="background-color: white;" class="col-xl-10 col-md-3">
            <h4 style="color: blue;background-color: white;">Tax template</h4>
           
           </div>
       
             </div>
            
             <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 table-container"  >
               <!--- Note that these columns can be defined in any order.
                     The actual rendered columns are set as a property on the row definition" -->
             
               <!-- Position Column -->
               <ng-container matColumnDef="position">
                 <th mat-header-cell *matHeaderCellDef> No. </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.position}} </td>
               </ng-container>
             
               <!-- Name Column -->
               <ng-container matColumnDef="name">
                 <th mat-header-cell *matHeaderCellDef> Name </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.name}} </td>
               </ng-container>
             
               <!-- Weight Column -->
               <ng-container matColumnDef="weight">
                 <th mat-header-cell *matHeaderCellDef> Tax Items </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.weight}} </td>
               </ng-container>
             
               <!-- Symbol Column -->
            
               <ng-container matColumnDef="status">
                 <th mat-header-cell *matHeaderCellDef> Status </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> <button *ngIf="element.status=='active'" type="button" class="btn btn-primary" style="background-color:  #17B15C;
                   ;border: solid #17B15C;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Active</button>
                  
                  <button *ngIf="element.status=='Delete'" type="button" class="btn btn-primary" style="background-color:  #63e99f;
                  ;border: solid #63e99f;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Delete</button>
                  
                 </td>
               </ng-container>
               <ng-container matColumnDef="edit">
                 <th mat-header-cell *matHeaderCellDef>  </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element">    
                   <button mat-button [matMenuTriggerFor]="menu" style="border:white;" class="btn btn-outline-light"><img src="../../../assets/img/edit.svg"  alt=""  /></button>
           <mat-menu #menu="matMenu" style="border:white;background-color: white;">
             <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editTaxTemp()">Edit</button>
             <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">active</button>
             <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">inactive</button>
           </mat-menu></td>
               </ng-container>
               
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
             </table>
             <mat-paginator [length]="100"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
           </mat-paginator>
             
           </div>
                        
                        </mat-tab>
                        <mat-tab label="Currency Conversion">  
                            <br>
                            <br>
                           <br>   
            <div class="row">
        
                <div class="col-xl-3 col-md-3">
                   <!-- <mat-form-field appearance="fill">
                       <mat-label>Toppings</mat-label>
                       <mat-select [formControl]="toppings" multiple>
                         <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                       </mat-select>
                     </mat-form-field> -->
                   <mat-form-field   style="border:solid blue 1.5px;border-radius: 8px;padding: 4px;">
                       <input type="text" matInput placeholder="Search">
                       </mat-form-field>
                </div>

                <div class="col-xl-3 col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select [formControl]="toppings" multiple>
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                 </div>

            </div>
            <button (click)="addCurrency()" style="float: right;"> + ADD Currency</button>
            <br>
            <br>
           <div >
             <div class="row" style="background-color: white;margin-right: 0.8px;margin-left: 0.8px;padding-top:5px;">
           <div style="background-color: white;" class="col-xl-10 col-md-3">
            <h4 style="color: blue;background-color: white;">Currency Conversion</h4>
           
           </div>
           <!-- <div  class="col-xl-2 col-md-3" style="float:right;background-color: white;" >
           <button class="btn btn-outline-light" style="border:solid blue 1px;color: black;background-color: white;">Download <img src="../../../assets/img/cloud.png/" alt=""/></button>
           </div> -->
             </div>
            
             <table mat-table [dataSource]="dataSource1"  class="mat-elevation-z8 table-container"  >
               <!--- Note that these columns can be defined in any order.
                     The actual rendered columns are set as a property on the row definition" -->
             
               <!-- Position Column -->
               <ng-container matColumnDef="position">
                 <th mat-header-cell *matHeaderCellDef> No. </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.position}} </td>
               </ng-container>
             
               <!-- Name Column -->
               <ng-container matColumnDef="name">
                 <th mat-header-cell *matHeaderCellDef> Name </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.name}} </td>
               </ng-container>
             
               <!-- Weight Column -->
               <ng-container matColumnDef="displayunit">
                 <th mat-header-cell *matHeaderCellDef> display Unit </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.displayunit}} </td>
               </ng-container>
               <ng-container matColumnDef="rate">
                <th mat-header-cell *matHeaderCellDef> Rate </th>
                <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.rate}} </td>
              </ng-container>
            
              <ng-container matColumnDef="effectivedate">
                <th mat-header-cell *matHeaderCellDef> Effective Date </th>
                <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.effectivedate}} </td>
              </ng-container>
              <ng-container matColumnDef="standerdcur">
                <th mat-header-cell *matHeaderCellDef>Standerd Currency </th>
                <td class="tabeldata" mat-cell *matCellDef="let element"> <img src="../../../assets/img/rupees.svg" alt=""/> </td>
              </ng-container>
               <!-- Symbol Column -->
            
               <ng-container matColumnDef="status">
                 <th mat-header-cell *matHeaderCellDef> Status </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element"> <button *ngIf="element.status=='active'" type="button" class="btn btn-primary" style="background-color:  #17B15C;
                   ;border: solid #17B15C;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Active</button>
                  
                  <button *ngIf="element.status=='Delete'" type="button" class="btn btn-primary" style="background-color:  #63e99f;
                  ;border: solid #63e99f;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Delete</button>
                  
                 </td>
               </ng-container>
               <ng-container matColumnDef="edit">
                 <th mat-header-cell *matHeaderCellDef>  </th>
                 <td class="tabeldata" mat-cell *matCellDef="let element">    
                   <button mat-button [matMenuTriggerFor]="menu" style="border:white;" class="btn btn-outline-light"><img src="../../../assets/img/edit.svg"  alt=""  /></button>
           <mat-menu #menu="matMenu" style="border:white;background-color: white;">
             <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Make a default</button>
             <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">Deactive</button>
             <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">Reactive</button>
           </mat-menu></td>
               </ng-container>
               
               <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns1" ></tr>
             </table>
             <mat-paginator [length]="100"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
           </mat-paginator>
             
           </div>
                        
                        </mat-tab>
                      </mat-tab-group>
                </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
       

