.add-sales {
    height: 516px;
    overflow-x: hidden; 
  }
  .close-icon {
    left: 98%;
    font-size: 18px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  .sales-head{
    color: #000000;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 2px;
    cursor: pointer;
}
.sales-add {
    position: relative;
    /* font-family: 'Gilroy-Bold';  */
    font-weight: bold;
    font-size: 20px;
    right: 37%;
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0.2px;
    

  }
  
  .sales-add:after {
    content: "";
    display: block;
    width: 793px;
    height: 0.5px;
    background: #686E74;
    top: 50%;
    left: 62%;
    position: absolute;
  }
  .saveas-draft {
    color: #fff;
    background: #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    width: 280px;
    height: 43px;
    background: rgba(1, 139, 117, 0.8);
    border-color:rgba(1, 139, 117, 0.8);
  }
  .cancel{
    /* color: black; */
    color:white;
    /* background: white; */
    background-color:#018B75;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    width: 280px;
    height: 43px;
  }
  .sales-grid-table {
    margin-left: 5px;
  }
  .pagination {
    float: right !important;
  }
  .pagination-cls {
    font-size: 14px;
    font-weight: 900;
  }

  .ag-theme-material {
  
    /* --ag-card-radius: 100px;
    --ag-border-radius: 20px;
    --ag-header-height: 30px; */
     --ag-header-foreground-color: white; 
    --ag-header-background-color: rgba(1, 139, 117, 1);
    /* border: 1px solid #989CA04D !important; */
    /* --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
  }
  :host ::ng-deep.ag-theme-material .ag-root-wrapper,
 .ag-theme-material .ag-sticky-top {

  border: 1px solid rgba(152, 156, 160, 0.30) !important;
  
   border-radius: 10px !important;

 }