<div class="section m-3">
  <!-- <div class="material-cl row">
    <div class="col-6">
    <h2>Materials</h2></div>
    <div class="col-6 printImg">
      <img src="../../../assets/material/print-img.svg" alt="">
    </div>
  </div> -->
  <div class="material-card row">
    <div class="col-12 col-lg-4 col-md-6">
      <div class="row">
        <p class="col-10">Category ({{coutCatagory}})</p>
        <p class="col-2">
          <mat-icon (click)=addCategory() style="cursor: pointer;">add_circle</mat-icon>
        </p>
      </div>
      <mat-card    [ngClass]="{ 'scroll': coutCatagory > 6 }">
        <p class="primary">Primary categories</p>
        <mat-card-content>
          <div class=" d-flex" *ngFor="let catg of catgname">
            <p class="col-11 catg cursor-pointer" (click)="catg.isActive==true ?  onClick(catg) : false" [ngClass]="{ 'selected': catg == selectedItem ,'selectedInactive': catg.isActive==false }" style="cursor: pointer;">{{catg.catName}} 
              

               <img src="../../../assets/img/power.svg"  alt="" class="tickmark" (click)="deativateCat(catg)" >
                 <img src="../../../assets/img/pencil.svg"  alt="" class="tickmark"*ngIf="catg.isActive"  (click)="editcategory(catg)" >
               
            </p>
            <!-- <mat-icon class="col-2" (click)="removecatg(catg)" style="cursor: pointer;padding-top: 2px;">remove_circle</mat-icon> -->
          </div>
          <!-- <div class="buttn" *ngIf=addButton> -->
            <div class="inbtn d-flex" *ngIf=addButton>
              <!-- <button class="btn btn-basic addcat">Add category name</button> -->
              <input type="text " class="addcatg  col-5" [(ngModel)]="addcat" placeholder="Add category">
              <!-- <button class="btn btn-basic addcode">Add code</button> -->
              <input type="text" class="addcd  col-3" [(ngModel)]="addcatcode" placeholder="Add Code">
              <button class="btn btn-basic addbt  col-2"(click)="addcatagory()" [disabled]="!addcat || !addcatcode " style="cursor: pointer;">Add</button>
              <!-- <div class="rmve col-lg-1"> -->
                <mat-icon class=" col-2"  (click)="removeaddformcat()" style="cursor: pointer; position: relative;left: -9px;top: 4px;">remove_circle</mat-icon>
              <!-- </div> -->
            </div>
            
          <!-- </div> -->
        </mat-card-content>

      </mat-card >
    </div>
    <div class="col-12 col-lg-4 col-md-6">
      <div class="row">
        <p class="col-10" >Sub-Category ({{subcatcount}})</p>
        <p class="col-2">
          <mat-icon (click)=addSubCategory() style="cursor: pointer;">add_circle</mat-icon>
        </p>
      </div>
      <!-- sub category -->
      <mat-card class="scroll"  [ngClass]="{ 'scroll': subcatcount > 6 }">
        <mat-card-content>
          <div class="span-subhead"><span>{{catagoryroouting}}</span>
            <!-- <mat-icon>arrow_drop_down</mat-icon> -->
          </div>
          <div class=" d-flex" *ngFor="let subc of subname">
            <p class="col-11 subc" (click)="subc.isActive==true ?  oclicksub(subc): false" [ngClass]="{ 'subselected': subc == selectedsubItem ,'selectedInactivesub': subc.isActive == false,'selectedactivesub': subc.isActive == true}" style="cursor: pointer;">{{subc.subCatName}}
          

                <img src="../../../assets/img/power.svg" (click)="deactivate(subc)"  alt="" class="tickmark" >
                <img src="../../../assets/img/pencil.svg" *ngIf="subc.isActive"  alt="" class="tickmark" (click)="editSubcategory(subc)"  >
            </p>
            <!-- <mat-icon class="col-2" (click)="removesub(subc)" style="cursor: pointer;padding-top: 2px;">remove_circle</mat-icon> -->
          </div>
          <!-- <div class="buttn d-flex" *ngIf=addButton> -->
            <div class="inbtn d-flex" *ngIf= addSubButton>
              <!-- <button class="btn btn-basic addcat">Add category name</button> -->
              <input type="text " class="addcatg  col-5" [(ngModel)]="sucatname" placeholder="Add sub-category ">
              <input type="text " class="addcd  col-3" [(ngModel)]="sucatnameCode" placeholder="Add Code">
              <button class="btn btn-basic addbt  col-2" [disabled]="!sucatname || !sucatnameCode " (click)="addsubCat()" style="cursor: pointer;">Add</button>
              <div class="rmve  col-2">
                <mat-icon (click)="removeaddformSubcat()" style="cursor: pointer; position: relative;left: -9px;top: 4px;">remove_circle</mat-icon>
              </div>
            </div>
           
          <!-- </div> -->
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-4 col-md-6">
      <div class="row">
        <p class="col-10">Type ({{typecount}})</p>
        <p class="col-2">
          <mat-icon (click)=addTypeCategory() style="cursor: pointer;">add_circle</mat-icon>
        </p>
      </div>
      <!-- type -->
      <mat-card   [ngClass]="{ 'scroll': typecount > 6 }">
        <mat-card-content>
          <div class="span-subhead1"><span style="padding-bottom: 10px;" >{{catagoryroouting}}</span>
            <mat-icon class="arrow">keyboard_arrow_right</mat-icon><span>{{subcatRoouting}}</span>
            <!-- <mat-icon>arrow_drop_down</mat-icon> -->
          </div>
          <!-- <li class="type" *ngFor="let type of typename" >{{type}}<mat-icon>add_circle</mat-icon></li> -->
          <div class=" d-flex" *ngFor="let type of typename">
            
            <p class="col-11 type" (click)="type.isActive==true ? typeselect(type): false " [ngClass]="{ 'typeselected': type == selectedtypeItem ,'selectedInactive': type.isActive==false,'selectedTypeInactive': type.isActive==true}" style="cursor: pointer;">{{type.typeName}} 
              
                
                <img src="../../../assets/img/power.svg"  alt="" class="tickmark"(click)='deactivateType(type)' >
                <img src="../../../assets/img/pencil.svg"  alt="" class="tickmark"  *ngIf="type.isActive"  (click)="edittype(type)">
            </p>
            <!-- <mat-icon class="col-2" (click)="removetype(type)" style="cursor: pointer;padding-top: 2px;">remove_circle</mat-icon> -->
          </div>
          <!-- <div class="buttn d-flex" *ngIf=addButton> -->
            <div class="inbtn d-flex" *ngIf=addTypeButton>
              <!-- <button class="btn btn-basic addcat">Add category name</button> -->
              <input type="text" class="addcatg col-5" [(ngModel)]="type" placeholder="Add Type">
              <input type="text " class="addcd col-3" [(ngModel)]="typeCode" placeholder="Add Code">
              <button class="btn btn-basic addbt col-2" (click)="addtypes()" [disabled]="!type || !typeCode "  style="cursor: pointer;">Add</button>
              <div class="rmve col-2">
                <mat-icon (click)="removeaddformtype()" style="cursor: pointer; position: relative;left: -9px;top: 4px;">remove_circle</mat-icon>
              </div>
            </div>
            
          <!-- </div> -->
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
