<div class="container">
    <div class="classification row" style="    padding-bottom: 14px;
    ">
        <div class="cls-head col-9">
            <h3>Classification</h3>
        </div>
        <div class="col-1" *ngIf="toprint">
            <button class="prnt-btn btn btn-warning"  (click)="printvalue(false)" style="    margin-top: 9px;
            ">Back</button>        </div>
        <div class=" col-2">
            <button class="prnt-btn btn btn-primary"  (click)="printvalue(true)" style="    margin-top: 6px;
            ">Print <img src="../../../assets/img/print-icon.png" alt="print-icon" ></button>
        </div>

    </div>




    <div class="container" *ngIf="!toprint">
        <div class="geographies mt-5">
            <div class="row">
                <div class="col-4" >
                    <div class="d-flex head-d">
                    <div class="c-head">Category (4)</div>
                   <div style="float: right;">
                    <span class="c-span">+</span></div> 
                </div>
                <div class="country-t">
                    <div class="country-name">
                        <p class="cname" *ngFor="let cname of countryname; let i = index"  (click)="cname1(cname,i)" >{{cname}}</p>
                        <input type="text" placeholder="Enter catagory"  style="width: 180px;">
                        <button style="margin: 0 2px;"> Add</button>
                    </div>
                </div>
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="c-head">Sub-Category (4)</div>
                        <div>
                            <span class="c-span">+</span></div> 
                    </div>
                    <div class="country-t">
                        <div class="country-name">
                            <p class="Sname" *ngFor="let state of Sname">{{state}}</p>
                            <input type="text" placeholder="Enter catagory"  style="width: 180px;">
                            <button style="margin: 0 2px;"> Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <div class="c-head">Type2</div>
                        <div>
                            <span class="c-span">+</span></div> 
                    </div>
                    <div class="country-t">
                        <div class="country-name">
                            <p class="Dname" *ngFor="let dist of Dname">{{dist}}</p>
                            <input type="text" placeholder="Enter catagory"  style="width: 180px;">
                            <button style="margin: 0 2px;"> Add</button>
                        </div>
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>


    <div class="classfctn-data" *ngIf="toprint">
        <div class="row cl-data">
            <div class="col-4">
                <div class="box-data">data</div>
            </div>
            <div class="col-4">
                <div class="box-data">data</div>
            </div>
            <div class="col-4">
                <div class="box-data" style="margin-bottom:20px;" *ngFor="let data of clData">{{data}}</div>
            </div>
        </div>
        <div class="row cl-data">
            <div class="col-4">
                <div class="box-data">data</div>
            </div>
            <div class="col-4">
                <div class="box-data"style="margin-bottom:20px;" *ngFor="let dt of subcat">{{dt}}</div>
            </div>
            <div class="col-4">
                <div class="box-data" style="margin-bottom:20px;" *ngFor="let data of clData">{{data}}</div>
            </div>
        </div>
        
        
        
      
        
    </div>

</div>