
mat-card{
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 400px;
    /* overflow-y: scroll; */
}
.scroll{
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 10px;
}
/* .scroll ::-webkit-scrollbar-thumb{
  background: rgb(11, 11, 103);
}
.scroll ::-webkit-scrollbar-track{
  background: rgb(7, 7, 118);
} */
.printImg{
  display: flex;
  justify-content: flex-end;
}
.addcatg{
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid black;
}
.catg{
    background: #EAEEFF;
    border: 1px solid #00187A;
    border-radius: 10px;
  margin-bottom: 10px;
  color: #00187A;
  padding: 5px;
    text-align: center;
}
div.catg[data-selected] {
    border: 2px solid #333;
  }
.subc{
    background: #E6FFF6;
    border: 1px solid #0C5A3E;
    border-radius: 10px;
    color: #0C5A3E;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
.type{
    background: #FFEDEC;
    border: 1px solid #C32F27;
    border-radius: 10px;
    color: #C32F27;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
li{
    list-style: none;
}
.addcatg{
  padding: 5px;
  border-radius: 8px;
  margin-right: 10px;
  border: 1px solid black;
  width: 140px;
  margin-left: -15px;
}
.addcd{
    width: 75px;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
}
.addbt{
 background: black;
 color: white;
 /* width: 34px; */
 height: 34px;
 font-size: 14px;
 border-radius: 8px;
}
.span-subhead{
    margin-bottom: 10px;
    display: flex;
    color: rgba(104, 110, 116, 0.75);
    font-size: 13px;
}
.selected {
    background-color: #00187A;
    color: white;
  }
  .subselected{
    background: #0C5A3E;
    color: white;
  }
  .typeselected{
    background:  #C32F27;
    color: white;
  }
