.classification{
    background: #ffff;
}
.cls-head{
    font-size: px;
    color: #367BF5;
}
.prnt-btn{
text-align: right;

}
.box-data{
    /* width: 225px; */
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #017EFA;
}
.cl-data{
margin: 10px;
}