
<div class="container">

    <div class="rest-pwsd d-flex">
        
        <div class="tumbsup"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3"><p>UoM <b>{{UomName}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deleted</b></p></div>
    <div class="closeImg" (click)=" closeDialog()"><img src="../../../../../assets/userImages/user-closeImg.svg" alt=""></div>

</div>
</div>