
<div class="font ">
    <div class=" main" width="400%">
        <div class="container" style="height: 285px; width: 78%;padding: 0px;margin-left: 25px;margin-right: -142px;" >
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true" style="margin-left: 63px;">close</mat-icon>
                <div class="head-t" style="margin-left: 13px;">
                    <h3 class="addU font">Add Product Sub-Group</h3>
                </div>
                <div>
                    <br>
                    <!-- <h6 style="color: #000000
   ;font-size:20px; font-weight: lighter;"><b>Basic Information</b></h6> -->

                </div>
                <div class="addUserForm">
                    <div class="row">
                        <div class="col">
                            <label>Product Group Name<span>*</span></label>
                            <br>
                            <input type="text" id="uname" name="uname" value="{{prodName}}"
                            style="width: 404px; position: relative; height: 38px; font-weight: bolder;color: black;" disabled>
                            <br>
                           
                            <label class="ps">Product Sub-Group Name<span>*</span></label>
                            <input (keyup)="onSubProductGroup($event)" type="text" id="uname" name="uname" required placeholder="Enter name"
                                style="width: 404px; position: relative; top: 1%; height: 38px;">
                            <!-- <span style="color:red;position: relative;" >
      *Username is required.
    </span> -->
                        </div>


                    </div>
                    <div class="row">
                        <button class="btn btn-primary btn-block justify-center" style="background-color:#000000;width: 168px; height: 43px; position: relative; left: 33%; top: 32px;" [disabled]="!productSubGroup" (click)="addSubProduct()">Add </button>

                    </div>
                </div>
            </div>
        </div>
    </div>