<div >
  <section >
    <div class="row">
        <div class="col-6">
</div>
    <div class="col-6" style="margin-bottom:5px;">
        <!-- <div class="col-lg-offset-6 col-md-offset-6"></div> -->
        <div class="col-md-4" style="margin-left: 65%;margin-bottom:10px">
          <div class="row">
          <div class="col-md-8">
        <div class="searchBox d-flex">
          <input class="searchInput" style="font-family: 'Gilroy'" type="text" name="" placeholder="Type & search for anything" 
          >
          <button class="searchButton" href="#"> 
              <i class="material-icons">
                  search
              </i>
          </button>
          <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
        </div>  
      </div>
      <div class="col-md-2">
       <div class="add-user">
         <img src="assets/img/add-btn.png" style="position: relative;top: 8px;left: 10px;" alt="add-user-btn">
       </div>
      </div>
      <!-- <div class="col-md-4">
       <div class="download-btn" >
         <img src="assets/img/download-btn.png" style="position: relative;top: 8px;left: 12px;" alt="add-user-btn">
       </div>
      </div> -->
      </div>
    </div>
      </div>
    </div>
  </section>

  

     
</div>