<br>
 <div class="row" >
    <div class="col-xl-6 col-md-3" 
    >
<div style="margin-left: 10px;">
    <div class="input-group">
      <div class="form-outline">
        <!-- <label class="form-label" for="form1">Search</label> -->
    
        <input type="search" placeholder="search"  (keyup)="applyFilter($event)"  #input class="form-control" style="border:solid #2962ff 1px;" />
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
     </div>

 

     <div class="col-xl-6 col-md-3" style="max-width: 50%;padding-top: 5px;
     ">
     <div class="row">

<div  style="max-width: 30%;
">
   
  <button class="btn  btnhover createcoursebtn" type="button" id="dropdownMenu2"
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 30px;" (click)="AddUomPopup()"  >
   + Add UoM
</button>
</div>
<div style="    max-width: 14%;
">
  <button class="btn btn-primary2" type="button" id="dropdownMenu2"
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <mat-icon [ngStyle]="{'color':'white'}">download</mat-icon></button></div>

</div>
  </div>
 </div> 
 
 <div class="row">
  <div class="col-2">
   <h4 style="color: #017EFA
   ;font-family: Montserrat, sans-serif;font-size:15px ;font-weight: 550;"><b>UOM</b></h4>
  </div>


  <div class="col-4 float-right">

  
  </div>

  <!-- <div  class="col-6 float-right">
    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
   </mat-paginator>
  </div> -->
 </div>

<!-- AG Grid Angular Component -->
<!-- <ag-grid-angular
    style="width: 100%; height: 150px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
</ag-grid-angular> -->
<ag-grid-angular
style=" height: 300px;"
class="ag-theme-alpine"
[rowHeight]="30"
[pagination]="true"
[paginationAutoPageSize]="true"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[columnTypes]="columnTypes"
[rowData]="rowData3"
(cellValueChanged)="onCellValueChanged($event)"

></ag-grid-angular>
 <!-- <gui-grid
 [columns]="columns"
 [source]="source"
 [sorting]="sorting"
 [paging]="paging"
 [searching]="searching"
 [columnMenu]="columnMenu"
 >

 
 
</gui-grid> -->


 
 <div >
    <!-- <table>
      <tr class="table-header-row">
          <th style="padding-left:20px;">User ID</th>
          <th style="width: 15%;">User Name</th>
          <th style="width: 15%;">Role</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Last log in</th>
          <th>Status</th>
          <th style="width: 4%;"></th>
      </tr>
      <tr mat-table  *ngFor="let data of dataSource" class="tabledata-row">

          <td title="{{data.position}}" style="padding-left: 21px;">{{(data.position.substring(0, 8))+'...'}}</td>
          <td title="{{data?.name}}" class="elipsis-2line" style="padding-right: 10px;" >
              {{data?.name}}</td>
          <td>{{data?.weight}}</td>
          <td title="{{data?.symbol}}">{{data?.symbol }}
          </td>
            <td title="{{data.emailid}}">{{(data.position.substring(0, 8))+'...' }}
          </td>
          <td>{{data.phonenum}}</td>
          <td>22/10/2022</td>
          <td> <button *ngIf="data.status=='active'" type="button" class="btn btn-primary" style="background-color:  #17B15C;
            ;border: solid #17B15C;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Active</button>
          
          <button *ngIf="data.status=='inactive'" type="button" class="btn btn-primary" style="background-color:  #63e99f;
          ;border: solid #63e99f;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">InActiv</button>
            <button *ngIf="data.status=='locked'" type="button" class="btn btn-primary" style="background-color:  #76817b;
            ;border: solid #76817b;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">locked</button>
              <button *ngIf="data.status=='invited'" type="button" class="btn btn-primary" style="background-color:  #1779b1;
              ;border: solid #1779b1;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Invited</button></td>
        
  <td>
    <button mat-button [matMenuTriggerFor]="menu" style="border:white;" class="btn btn-outline-light"><img src="../../../assets/img/edit.svg"  alt=""  /></button>
    <mat-menu #menu="matMenu" style="border:white;background-color: white;">
      <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Edit</button>
      <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Deactivate</button>
      <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Reactivate</button>
      <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Reset  password</button>
    
    
    
      <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">Delete</button>
    </mat-menu>
  </td>
      </tr>
  </table> -->


</div>
