
    /* ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar {
        width: 8px;
    }
    ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background: #b3b3bc;
    }
    ::ng-deep .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track{
    border-radius: 25px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .ag-body-viewport.ag-layout-normal{
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    } */
    .close-icon {
        left: 97%;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        color: #686E74;
        font-weight:  #686E74;
    }
    .close-icon:hover {
        cursor: pointer;
    }

    .ag-theme-material {
 
        --ag-card-radius: 100px;
        --ag-border-radius: 20px;
        --ag-header-height: 30px;
         --ag-header-foreground-color: white;
        --ag-header-background-color:  #018B75CC  !important ;
        /* --ag-header-cell-hover-background-color: rgb(80, 40, 140);
        --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
      }
      :host ::ng-deep.ag-theme-material .ag-root-wrapper,
.ag-theme-material .ag-sticky-top {
 
  border: 1px solid rgba(152, 156, 160, 0.30) !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px !important;
 
}