.close-iconn
{
    
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    font-size: 17px;
    top: 5px;
    position: absolute;
    left: 62%;
    width: 97px;
    height: 17px;
    
      
}


.cal {
    width: 43px;
    height: 43px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px 0px 0px 8px;
    background: black;
    cursor: pointer;
}
.cal:hover
{
    background-color: grey !important;

    color: white !important;
}


.datepicker-menu-list {
    padding: 0;
    width: 130px;
    margin-bottom: 0;
}

.datepicker-menu-list li {
    list-style: none;
    padding: 5px;
    /* border-bottom: 1px solid #ccc; */
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
}

.datepicker-menu-list li:hover {
    background: #DEE2E6;
    width: 188px;
}

.direct-menu.datepicker-menu-list{
    width: 100%;
}
.direct-menu.datepicker-menu-list li{
    display: flex;
    justify-content: space-between;
}
.direct-menu.datepicker-menu-list li.selected-menu{
    background: #DEE2E6;    
}
.direct-menu.datepicker-menu-list li:hover {
    background: #DEE2E6;
    width: 100%;
}



.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
     background-color: rgb(2, 117, 216);
    color: white;
}

.custom-day.faded {
     background-color: rgba(2, 117, 216, 0.5); 
}





custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
     background-color: rgb(2, 117, 216); 
    color: white;
}

.custom-day.faded {
     background-color: rgba(2, 117, 216, 0.5);
}

.custom-day.weekend {
    color: #d81e1e;
}

.custom-day.disabled {
    color: #c8cdd2;
}

.custom-day.outside {
    opacity: 0.5;
}

svg {
    width: 1rem;
    height: 1rem;
}

.form-control[readonly] {
    background-color: #fdfdfd !important;
}

.input-group input {
    visibility: hidden;
}
.date-picker-code{
    width: 0px;
}
::ng-deep.popover {
    z-index: 1060;
    display: block;
    max-width: 276px;
    font-family: "Gilroy" !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 14px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    margin-top: -28px !important;
    margin-left:2px !important;
    width: 190px;
}


::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
     color: #655356!important;
   }
  ::ng-deep .mat-form-field-label {
    /*change color of label*/
     color: #655356!important; 
    
   }
  mat-datepicker-toggle {
    color: #655356!important;
  }
  
   .datepicker
{
    position: absolute !important;
    
    background: #655356 !important;
    border-radius: 10px;

    color : whitesmoke;

    
   width: 169px;
   border: 1px solid #337ab7;
       font-size: 12px;
       box-shadow: 1px 1px #959595;
       top:55px;
       height: 29px;
       padding-right: 18px;
       
    text-align: center;
    padding-top: 3px;
    left: 16px;
} 

.menu-datepicker-overlay{
    position: fixed;
    background: transparent;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    cursor: default;
}


