<div class="container">
    <div class="add-geopgraphy">
      <div class="addPromotion">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
      </div>
      <div class="head-t">
        <h4 class="head-geo">Add Promotions: <b class="">Geographies</b></h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label class="geo-label">Geographies</label>
          <input type="text" placeholder="Search for the geography here" class="search-geo">
        </div>
      </div>
      <div class="countries-sect mainclass">
        <div class="row mt-3 " >     
           <div *ngFor="let subtask of geodata">
  
          <div class="col-lg-6">
            <mat-checkbox class="example-margin mt-2" [checked]="allComplete" [indeterminate]="someComplete()"
              (change)="setAll($event.checked)">{{subtask.aboveDefaultGeoName}}({{selectedcount}}/{{subtask.geoCount}}) </mat-checkbox>
          </div>
          <div class="col-lg-6">
            <mat-card class="list-states">
              <ul class="cardList">
              <li *ngFor="let subtask1 of subtask.defaultGeography">
                <mat-icon>subdirectory_arrow_right</mat-icon>
                <mat-checkbox       [checked]="subtask1.value" (click)="updateAllComplete(subtask1.defaultGeoId)"  >
                  {{subtask1.defaultGeoName}}
                </mat-checkbox>
              </li>
              </ul>
            </mat-card>
          </div>
        </div>
        </div>
      </div>
    
    </div>
    <div class="row footer-btn mt-3">
      <button class="btn btn-light saveGeo" (click)="saveGeo()">Save Geographies</button>
          </div>
    </div>
   
    <!-- <div class="row footer">
      <button class="btn btn-light saveGeo">Save Geographies</button>
          </div> -->
  
          