.activeSuccessPop {
    background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%) !important;
    border: 0.5px solid #000000;
    border-radius: 25px !important;
    border-left: 10px solid green !important;
}

.head-text {
    font-size: 20px;   
    margin-top: -39px;
    font-family: 'Gilroy-Bold';
}

.font {
    font-family: 'Gilroy';
}

.undo {
    /* padding: 5px 40px; */
    background: rgba(1, 139, 117, 0.8);
    color: #fff;
    margin-right: 20px;
    /* border: #000000; */
    border-radius: 10px;
    width: 115px;
    height: 43px;
    cursor: pointer;
}

.exit {
    background:rgba(1, 139, 117, 0.8);
    color: white;
    /* padding: 5px 40px; */
    border: 2px solid #000000;
    border-radius: 10px;
    width: 115px;
    height: 43px;
    cursor: pointer;
}

.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    top: -13px;
    cursor: pointer;
}

.p-text1
{
    font-family: 'Gilroy-Medium';

    color: #36454f;

    font-size: 16px;
}