<div class="container font">

    <div class="rest-pwsd row" *ngIf="!stockNmae && !stockSubCatName && !stockTypeName">

        <div class="tumbsup col-3"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3 col-7" *ngIf="!matValue">
            
            <p class="deletedsu">User <b>{{employeedata}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deactivated!</b></p>
        </div>
        <div class="text-succ mt-3 col-7" *ngIf="matValue">
            <p>Material <b>{{materialListName}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deactivated</b></p>
        </div>
        <div class="text-succ mt-3 col-7" *ngIf="stockNmae">
            <p> <b>{{activeCatName}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deactivated</b></p>
        </div>
        <div class="closeImg col-2" (click)=" closeDialog()"><img src="../../../../../assets/userImages/user-closeImg.svg"
                alt="">
            </div>

    </div>

    <div class="rest-pwsd row" *ngIf="stockNmae">

        <div class="tumbsup col-3"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3 col-7">
            <p> <b>{{activeCatName}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deactivated</b></p>
        </div>
        <div class="closeImg col-2" (click)=" closeDialog()"><img src="../../../../../assets/userImages/user-closeImg.svg"
                alt="">
            </div>

    </div>
    <div class="rest-pwsd row" *ngIf="stockSubCatName && !stockNmae">

        <div class="tumbsup col-3"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3 col-7">
            <p> <b>{{activeSubCatName}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deactivated</b></p>
        </div>
        <div class="closeImg col-2" (click)=" closeDialog()"><img src="../../../../../assets/userImages/user-closeImg.svg"
                alt=""></div>

    </div>
    <div class="rest-pwsd row" *ngIf="!stockSubCatName && !stockNmae && stockTypeName">

        <div class="tumbsup col-3"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3 col-7">
            <p><b>{{activeTypeName}}</b> is <b style="color: rgba(250, 63, 63, 1);">Deactivated</b></p>
        </div>
        <div class="closeImg col-2" (click)=" closeDialog()"><img src="../../../../../assets/userImages/user-closeImg.svg"
                alt=""></div>

    </div>
</div>