<!-- <app-head (toggleSidebar)="sideBarToggler()"></app-head> -->
<div class="container-fluid" style="padding-left: 0px;">
  <mat-sidenav-container>
    <!-- <mat-sidenav mode="side" [opened]="sideBarOpen" class="sidenav">

      <app-sidenav-bar></app-sidenav-bar>
    </mat-sidenav> -->
    
    <mat-sidenav-content>
      <div class=" ACVTY-no-pad">
        <div class="UNFAPP-asmnt-rgt-area" style="background-color: #EAECF2;padding: 15px;height: 92vh;">
          <div class="row">
            <div class="form-outline" style="margin-left: 20px;">
              <input type="search" placeholder="search"  (keyup)="applyFilter($event)"  #input class="form-control" style="border:solid #2962ff 1px; height: 45px;" />
              
            </div>
            <div class="selct_box" style="margin-left: 20px;" >
              <mat-form-field appearance="fill">
                  <mat-select [formControl]="toppings"  multiple placeholder="Geography">
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="selct_box" style="margin-left: 20px;" >
            <mat-form-field appearance="fill">
                <mat-select [formControl]="toppings"  multiple placeholder="Product ">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="selct_box" style="margin-left: 20px;" >
          <mat-form-field appearance="fill">
              <mat-select [formControl]="toppings1"  multiple placeholder="Status ">
                <mat-option *ngFor="let topping of toppingList1" [value]="topping">{{topping}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
        <div class="crt-dwnl">
          <button class="btn  btnhover createcoursebtn" type="button" id="dropdownMenu2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
           + Add Dealer
        </button>
        </div>
        <button class="btn btn-primary2" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <mat-icon [ngStyle]="{'color':'white'}">download</mat-icon></button>
        <button class="btn  btnhover printbtn">Print <img src="../../../assets/img/print-icon.png" alt="print-icon" ></button>
           </div>   
          <div class="row">
            <div class="col-2">
              <h4 style="color: #017EFA
         ;font-family: Montserrat, sans-serif;font-size:15px ;font-weight: 550;"><b>Dealers</b></h4>
            </div>
          </div>
          <ag-grid-angular style="width: auto; height: 80%;border-radius: 35px;" class="ag-theme-alpine"
            [rowHeight]="30" [pagination]="true" [paginationAutoPageSize]="true" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData3"
            (cellValueChanged)="onCellValueChanged($event)"></ag-grid-angular>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>