

<!-- <mat-toolbar color="primary" class="example-toolbar" style="">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">Nested Menus</h1>
</mat-toolbar>-->
<div class="header-nav"> 

  <mat-toolbar  class="mat-toolbar-example" style="    height: 50px;  " >

    <button mat-icon-button (click)="sidenavtoggle()" class="togglemweb"><mat-icon>menu</mat-icon></button>

    <span style="margin-left: 50px;"><img src="../../../assets/img/logo_smile-2.png" style="width: 250px;height: 25px;margin-left: 10px;    margin-left: -47px;
"/></span>

    <span class="example-spacer"></span> 
    
      
      
      <img src="../../../assets/img/iconss.png" style="height: 37px;width: 37px;">
      
  
       
    <img src="../../../assets/img/profile.png" alt="" class="UNFAPP-prfimg" style="margin-left: 10px;height: 33px; width: 34px;">
   
    <a mat-button [matMenuTriggerFor]="menu" style="border:white;color: black;    height: 51px;" class="btn btn-outline-light"><span style="font-size:14px;  font-family: 'Gilroy';font-weight: 600;display: block;margin-left: 15px;" >{{userName}}</span><span style="color:#686E74;font-size: 12.5px; position: absolute;right: 71px;" >{{userType}}</span>
    </a>
    <mat-menu #menu="matMenu" style="border:white;background-color: white;">
      <button routerLink="/dashbord/edit-profile" class="btn-link " routerLinkActive="active" class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" >                <mat-icon mat-list-icon>account_box</mat-icon>
       Edit profile</button>
       <button (click)="resetpws()" class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;">   <mat-icon>lock</mat-icon>
        Reset password</button>
      <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;"  (click)="logout()">                <mat-icon mat-list-icon>logout</mat-icon>
        Logout</button>
    </mat-menu>

  </mat-toolbar>

</div>