.sales-container
{
  overflow-y: auto;
  overflow-x: hidden;
  height: 630px;
  padding-top: 41px;
}
.salesuploadsss{
  height: 670px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .sales .fa-search {
    color: rgba(104, 110, 116, 0.75);
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 162px;
  } */
  .sales-search-drop input {
    /* width: 215px; */
    height: 43px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    position: relative;
  }
  ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #337ab7;
    margin-right: 4px;
    background: #00187A !important;
    padding: 0 5px;
    color: #fff;
    border-radius: 10px !important;
    float: left;
    display: flex;
    max-width: 170px !important;
    position: relative;
    top: 39px !important;
  }
  ::ng-deep.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #000000 !important;
    width: 100%;
    /* height: 62%; */
    padding: 9px 12px !important;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 10px !important;
    background: white !important;
    height: 41px;
  }
  ::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    height: 43px;
}
  ::ng-deep.shipment .mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 10px;
   /* padding: .75em .75em 0 .75em;  */
   padding: 5px;
   background: white !important;
   border: 1px black solid;
}
::ng-deep.shipment .mat-select-arrow-wrapper{
 /* background-image: url('/assets/img/calenderImage.svg') !important; */
 content: url(../../../../assets/img/Calendar.svg);
}
.sales-refreshbtn {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
    width: 43px;
    height: 41px;
    background: #000000;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  .sales-refreshbtn:hover
  {
    background-color: grey !important;
    color: white !important;
  }
  
  .refresh-img {
    margin-top: 11px;
    margin-left: 11px;
  }
/* .sales-container {
    height: 500px;
} */
.listicon {
    display: flex;
    justify-content: end;
  }
  .searchBox1 {
    float: right;
  }
  .searchInput1{
    display: none;
  }
  .searchInput1 :hover{
    display: block;
  }
  .searchBox1:hover >.searchButton .material-icons {
    position: relative;    
    right: 282px;
    color:#000;
    top: 3px;
  }
  .searchBox:hover >.search-btn {
    display:block;
    height: 26px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top:84px;
  }

  .searchBox1:hover>.search-btn {
    display: block;
    height: 26px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.searchBox1:hover>.searchInput1 {
    display: block;
    width: 335px;
    height: 43px;
    background: #FFFFFF;
    float: left;
    padding: 5px 32px 6px;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #263643;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
    /* // transition: 0.2s  ease-in-out; */
    position: absolute;
    right: 0px;
    bottom: -3px;
}
.searchBox:hover >.searchButton,
      .searchBox>.searchInput,
      .search-btn {
        display:none;
      }
      .searchButton {
        display:block;
        color: #FFFFFF;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border: none;
      }
      .searchBox:hover >.searchButton {
        display:block;
      }
      .searchBox:hover>.searchButton {
        /* right: 190px !important; */
        background: transparent !important;
      }
      .sales-download{
        background: #000000;
        border-radius: 50%;
        width: 37px;
        height: 37px;
        margin-right: 10px;
        cursor: pointer;
      }
      .sales-download:hover
      {
        background-color: grey !important;
        color: white !important;
      }
      .dwnld-img{
        position: relative;
        top: 8px;
        left: 10px;
      }
      .sales-upload{
        background: #000000;
        border-radius: 50%;
        width: 37px;
        height: 37px;
        margin-right: 10px;
        cursor: pointer;
      }
      .sales-upload:hover
      {
        background-color: grey !important;

        color: white !important;
      }
      .imgupload{
        position: relative;
        top: 8px;
        left: 10px;
      }
      .pagination {
        float: right !important;
      }
      
      .pagination-cls {
        font-size: 14px;
        font-weight: 900;
      }