.sales-container
{
  overflow-y: auto;
  overflow-x: hidden;
  height: 630px;
  padding-top: 41px;
}
.salesuploadsss{
  height: 670px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .sales .fa-search {
    color: rgba(104, 110, 116, 0.75);
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 162px;
  } */
  .sales-search-drop input {
    /* width: 215px; */
    height: 43px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    padding: 10px;
    position: relative;
    padding-left:33px;
  }
  ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #337ab7;
    margin-right: 4px;
    background: #00187A !important;
    padding: 0 5px;
    color: #fff;
    border-radius: 10px !important;
    float: left;
    display: flex;
    max-width: 170px !important;
    position: relative;
    top: 39px !important;
  }
  ::ng-deep.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.3)!important;
    width: 100%;
    /* height: 62%; */
    padding: 9px 12px !important;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 10px !important;
    background: white !important;
    height: 41px;
  }
  ::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    cursor: pointer;
    height: 43px;
}
  ::ng-deep.shipment .mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 10px;
   /* padding: .75em .75em 0 .75em;  */
   padding-left: 10px;
   background: white !important;
   border-top: 1px solid rgba(104, 110, 116, 0.75);
   border-bottom: 1px solid rgba(104, 110, 116, 0.75);
   border-left: 1px solid rgba(104, 110, 116, 0.75);
   border-right: 1px solid rgba(104, 110, 116, 0.75);
}
::ng-deep.shipment .mat-select-arrow-wrapper{
 /* background-image: url('/assets/img/calenderImage.svg') !important; */
 content: url(../../../../assets/img/Calendar.svg);
 height:21px;
 position: relative;
 top: 2px;
}
.sales-refreshbtn {
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
    width: 40px;
    height: 40px;
    background: rgba(104, 110, 116, 0.66);
    border-radius: 13%;
    margin-left: 27px;
    cursor: pointer;
  }
  .sales-refreshbtn:hover
  {
    background-color: grey !important;
    color: white !important;
  }
  
  .refresh-img {
    position: relative;
    top: 9px;
    left: 10px;
  }
/* .sales-container {
    height: 500px;
} */
.listicon {
    display: flex;
    justify-content: end;
  }
  /* .searchBox1 {
    float: right;
  } */
  /* .searchInput1{
    display: none;
  }
  .searchInput1 :hover{
    display: block;
  } */
  /* .searchBox1:hover >.searchButton .material-icons {
    position: relative;    
    right: 282px;
    color:#000;
    top: 3px;
  } */
  /* .searchBox:hover >.search-btn {
    display:block;
    height: 26px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top:84px;
  } */

  /* .searchBox1:hover>.search-btn {
    display: block;
    height: 26px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 6px;
}
.searchBox1:hover>.searchInput1 {
    display: block;
    width: 335px;
    height: 43px;
    background: #FFFFFF;
    float: left;
    padding: 5px 32px 6px;
    border-radius: 10px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #263643;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
     transition: 0.2s  ease-in-out; 
    position: absolute;
    right: 0px;
    bottom: -3px;
} */
/* .searchBox:hover >.searchButton,
      .searchBox>.searchInput,
      .search-btn {
        display:none;
      } */
      /* .searchButton {
        display:block;
        color: #FFFFFF;
        width: 37px;
        height: 37px;
        border-radius: 13%;
        background: rgba(104, 110, 116, 0.66);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border: none;
      }
      .searchBox:hover >.searchButton {
        display:block;
      } */
      /* .searchBox:hover>.searchButton {
        right: 190px !important;
        background: transparent !important;
      } */
      .sales-download{
        background: rgba(104, 110, 116, 0.66);
        border-radius: 13%;
        width: 40px;
        height: 40px;
        margin-right: 27px;
        cursor: pointer;
        margin-left: 50%;
      }
      .sales-download:hover
      {
        background-color: grey !important;
        color: white !important;
      }
      .dwnld-img{
        position: relative;
        top: 8px;
        left: 10px;
      }
      .sales-upload{
        background: rgba(104, 110, 116, 0.66);
        border-radius: 13%;
        width: 40px;
        height: 40px;
        position: relative;
        left: -14px;
        cursor: pointer;
      }
      .sales-upload:hover
      {
        background-color: grey !important;

        color: white !important;
      }
      .imgupload{
        position: relative;
        top: 8px;
        left: 10px;
      }
      .pagination {
        float: right !important;
        margin-top: 11px;
      }
      
      .pagination-cls {
        font-size: 14px;
        font-weight: 500;
        color: #686E74;

      }
      .pagination-cl {
        font-size: 14px;
        font-weight: 900;
        color: #686E74;

      }

::ng-deep .ag-theme-material {
  --ag-header-foreground-color: white; 
        --ag-header-background-color:  #018B75CC  !important;
        
      }

      
   
.searchBox2 {
  position: relative;
  width: 250px; 
  left: 12px;
  top: 67%;
}

.searchInput2 {
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  /* padding: 7px 40px 6px 26px; */
  padding: 7px 40px 6px 35px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  /* box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05); */
  border: 1px solid rgba(0, 0, 0, 0.3)!important;
}
:host ::ng-deep.ag-theme-material .ag-root-wrapper,
  .ag-theme-material .ag-sticky-top {
 
    border: 1px solid #989CA04D !important;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important; */
    border-radius: 10px !important;
 
  }

.searchicons2 {
  position: absolute;
  top: 40%;
  left: 6px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #9B9FA3;
}

.search-bt_n2 {
  display: block;
  height: 26px;
  border: none;
  background: rgba(104, 110, 116, 0.66);
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 36%;
  transform: translateY(-50%);
  cursor: pointer;
}
