<div>
    <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true" style="float: right;">close</mat-icon>
    <br>
    <br>


    <label>Do you want to delete this user..?</label>
    <br>
    <div class="row">
        <br>
<div style="padding-left: 25px;" >
<button class="btn btn-danger" [mat-dialog-close]="true" >Delete </button>
</div>
<div style="padding-left: 25px;padding-right: 22px;" >
<button  class="btn btn-primary" [mat-dialog-close]="true" >Cancel</button>
</div>
    </div>
</div>