<!-- user deactivate -->
<div *ngIf="!session" class="container">
    <div class="deact">


        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        <div class="actv-user text-center">
            <h1 class="head-text">Deactivate User</h1>
            <p class="are">Are you sure you want to <b style="color:red;font-size: 17px;">deactivate</b><br>
                user<b style="color: black;"> {{employeedata }}?</b></p>
            <button class="undo" (click)="deactive()">Yes</button>
            <button class="exit" (click)='close()'>Cancel</button>
        </div>
    </div>
</div>
<!-- material stockitem deactivate -->
<div *ngIf="session" class="container font">
    <div class="deact">


        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        <div class="actv-user text-center">
            <h1 class="head-text">Deactivate List Data</h1>
            <p>Are you sure you want to <b style="color:red">deactivate</b><br>
                list data<b> {{localName}}?</b></p>
            <button class="undo" (click)="deactiveList()">Yes</button>
            <button class="exit" (click)='close()'>Cancel</button>
        </div>
    </div>
</div>