.mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    
    /* background-color: #CED4DA; */
}
.form1:disabled {
    background: #411a1a !important;
}.main{
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    
}
.font{
    font-family: 'Gilroy';
  }

.head-t h3{
    color: #000000;
    text-align: left;
    margin-top: -18px;
    margin-bottom: 2px;
}
.addU{
    position: relative;
     /* font-family: 'Gilroy-Bold';  */
     font-weight: bold;
     font-size: 20px;
}
.addU:after{
    content: "";
  display: block;
  width: 402px;
  height: 2px;
  background: #686E74;
  right: 0;
  top: 50%;
  position: absolute;
  margin-right: 20px;
}
.addU:before{
    content: "";
    display: block;
    /* width: 60px; */
    height: 2px;
    background: #E5EAF4;
    left: 0;
    top: 50%;
    position: absolute;
}
.addUserForm input{
border-radius: 5px;
border:  linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
padding: 5px 5px;
width: 250px;
font-size: 12px;
outline: none;
font-weight: 600;
border: 1px solid black;
}
span{
    color: red;
}
.close-icon{
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}
label{
    /* padding: 2px 0; */
    font-size: 14px;
   margin: 5px;
}
mat-form-field{
     width: 246px; 
    
} 
.edituser{
width: 245px;
margin-right: 35px;
background-color:#000000 ;
border: 1px solid black;
}
.cancl{
    width: 245px;
    background:white;
    color: #000000;
    border: 1px solid black;
}
/* ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.7em 0;
    } */

    ::ng-deep.mat-dialog-container {
        background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;;
        }