.mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    
    /* background-color: #CED4DA; */
}
.BIN
{
font-family: 'Gilroy-Light';
font-size: 20px;
line-height: 23px;
align-items: center;

color: #000000;

}

.RSE
{
    font-family: 'Gilroy-Light';
font-size: 20px;
line-height: 23px;
align-items: center;

color: #000000;
}
.form1:disabled {
    background: #411a1a !important;
}
.main{
   
    
}
 .font{
    font-family: 'Gilroy-Medium';
  } 

.head-t h3{
    color: #000000;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 2px;
}
.addU{
    position: relative;
      font-family: 'Gilroy--Bold'; 
     
     font-size: 20px;
     color: #000000;
     font-weight: 700;
}
.addU:after{
    content: "";
  display: block;
  width: 216px;
  height: 2px;
  background: #686E74;
  right: -6%;
  top: 50%;
  position: absolute;
  margin-right: 20px;
}
.addU:before{
    content: "";
    display: block;
    /* width: 60px; */
    height: 2px;
    background:  #686E74;
    left: 4px;
    left: 0;
    top: 50%;
    position: absolute;
    width: 208px;
}
.addUserForm input{
border-radius: 7px;
border:  linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
padding: 5px 5px;
width: 250px;
font-size: 12px;
outline: none;
font-weight: lighter;
border: 1px solid black;
}
span{
    color: red;
}
.close-icon{
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
        cursor: pointer;
}
label{
    /* padding: 2px 0; */
    font-size: 14px;
   margin: 5px;
   font-family: 'Gilroy-Medium';
}
mat-form-field{
     width: 246px; 
    
} 
.edituser{
width: 245px;
margin-right: 35px;
background-color:rgba(1, 139, 117, 1) ;
border: 1px solid rgba(1, 139, 117, 1) ;
}
.cancl{
    width: 245px;
    /* background:white; */
    background-color: rgba(1, 139, 117, 1);
    /* color: #000000; */
    color:white;
    border: 1px solid  rgba(1, 139, 117, 1);
}
/* ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.7em 0;
    } */

    /* ::ng-deep.mat-dialog-container {
        background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
        } */