
.scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }
  .arrow2
  {
    margin-top: 14px;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 25px;
    /* background: #b3b3bc; */
  }
  ::-webkit-scrollbar-track{
   border-radius: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mat-icon{
      overflow: hidden !important;
  }
.tax-head{
    height: 250px;
}

.head-t h3{
    color: #000000;
    text-align: left;
    margin-top: -18px;
    margin-bottom: 2px;
}
.addU{
    position: relative;
     /* font-family: 'Gilroy-Bold';  */
     font-weight: bold;
     font-size: 20px;
}
.addU:after{
    content: "";
    display: block;
    width: 494px;
    height: 2px;
    background: #686E74;
    right: 0;
    top: 50%;
    position: absolute;
    margin-right: 20px;
    height: 0.5px;
}
.addU:before{
    content: "";
    display: block;
    /* width: 60px; */
    height: 2px;
    background: #E5EAF4;
    left: 0;
    top: 50%;
    position: absolute;
}
.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #686E74
    ;
    opacity: 1; /* Firefox */
  }

.input {
    height: 43px;

    border-radius: 10px;
    /* border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important; */
    border: 0.5px solid #000000;
    padding: 5px 5px;
    width: 250px;
    font-size: 14px;
    outline: none !important;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important;
}
::ng-deep.btn-primary[_ngcontent-uke-c437]:disabled {
    margin-bottom: 0px !important;
}



.head-t input{
    border-radius: 5px;
    border: 1px solid #D6D6D6;
    padding: 10px 5px;
    width: 250px;
}
.tax-head input{
border-radius: 5px;
border: 1px solid #D6D6D6;
padding: 8px 5px;
width: 250px;
}
span{
    color: red;
}
label{
    padding: 2px 0;
}
.E-saveBtn{
background:black;
color: white;
 padding: 2px 30px;
 width: 175px;
 height: 43px;
 border-radius: 10px;
 margin-right: 10px;
}
.E-cancelBtn{
    background: #fff;
    color: black;
    padding: 2px 30px;
    border: 1px solid grey;
    width: 175px;
    height: 43px;
    border: solid 2px black;
    border-radius: 10px;

}
.E-saveBtn:hover{
    border: 2px solid rgba(250, 63, 63, 1);
   }
.E-cancelBtn:hover{
    border: 2px solid rgba(250, 63, 63, 1);
   }
   .close-icon{
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}
.minus-icon{
 background: red;
 padding: 1px 10px;
  border-radius: 50%;
}
.minus-icon1{
    background: #0091EA;
    padding: 4px 10px;
    border-radius: 50% !important;
    width: 39px !important;
    text-align: center;

}

td{
    padding: 10px;
}