
.head-t{
    color: #0091EA;
    text-align: center;
}
.addUserForm input{
border-radius: 8px;
border: 1px solid #D6D6D6;
padding: 8px 5px;
width: 250px;
}
span{
    color: red;
}
.uombtn{
   background: #0091EA;
   padding: 5px;
   margin-top: 20px;
   border-radius: 5px;
}