.addUser
{
    position: relative;
width: 500px;
height: 356px;


}

.adduom{
 position: relative;
 /* font-family: 'Gilroy-Bold';  */
 font-weight: bold;
 font-size: 18px;
 color: black;
}
.adduom:after
{
   

  

    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: #686E74;
    right: 0;
    top: 50%;
    position: absolute;
}

.adduom:before
{
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background: #686E74;
    left: 0;
    top: 50%;
    position: absolute;
}





.head-t{
     color: #0091EA; 
    text-align: center;
}
.addUserForm input{

padding: 5px 12px;
    margin-bottom: 10px;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 500px;
    height: 43px;




}
span{
    color: red;
}
.uombtn{
   background: black;
   color: white;
   padding: 5px;
   margin-top: 20px;
   border-radius: 3px;
   border-radius: 10px;
   border: 1px solid black;
   height: 48px;
   margin-left: 16px;
   width: 94%;
}
.close-icon{
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}
.requiredF{
    position: relative;
    left: 19px;
    font-family: 'Gilroy';
}
/* .addUserForm 
{
    height: 356px;
width: 500px;
left: 48653px;
top: -19594px;
border-radius: 0px;

}*/



