<div class="promainclass">
  <div class="dealer-promotion mt-3 ">
      <div class="row" style="margin-left: 4px;">
        <div class="col-md-2 col-lg-2 col-sm-2 promotionsbubbles">
          <form [formGroup]="myForm" class="dropdown-form">
            <ng-multiselect-dropdown class="promo" formControlName="city1"
              [disabled]="disabled" [settings]="dropdownSettings" [data]="toppingList" (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onItemDeSelectOrAll($event)"
              (onSelectAll)="onItemSelectOrAll($event)">
            </ng-multiselect-dropdown>


            <div class="dropdown-placeholder promo-placeholder">
              <span *ngIf="myForm.get('city1').value.length == 0">Select Promotions </span>
              <span *ngIf="myForm.get('city1').value.length == 1" class="selected-placeholder">
                {{myForm.get('city1').value.length}} Promotions selected </span>
              <span *ngIf="myForm.get('city1').value.length > 1" class="selected-placeholder">
                {{myForm.get('city1').value.length}}  selected </span>

            </div>
          </form>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 promotionsproductbubbles">
          <form [formGroup]="myForms" class="dropdown-form">
            <ng-multiselect-dropdown class="product" name="citys" [placeholder]="'Product'" formControlName="city2"
              [disabled]="disabled" [settings]="dropdownSettings1" [data]="productLisst"
              (onSelect)="onProductSelect($event)" (onDeSelect)="onProductDeSelect($event)"
              (onDeSelectAll)="onItemDeSelectOrAllProduct($event)" (onSelectAll)="onItemSelectOrAllProduct($event)">
            </ng-multiselect-dropdown>

            <div class="dropdown-placeholder product-placeholder">
              <span *ngIf="myForms.get('city2').value.length == 0">Select Product </span>
              <span *ngIf="myForms.get('city2').value.length == 1" class="selected-placeholder">
                {{myForms.get('city2').value.length}} Products selected </span>
              <span *ngIf="myForms.get('city2').value.length > 1" class="selected-placeholder">
                {{myForms.get('city2').value.length}} Products selected </span>

            </div>
          </form>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 geobubbles" *ngIf="userType === 'Admin'">
          <form [formGroup]="myForms2" class="dropdown-form">
            <ng-multiselect-dropdown class="geog" name="citys" [placeholder]="'Geography'" formControlName="city3"
              [disabled]="disabled" [settings]="dropdownSettings2" [data]="geoList" (onSelect)="onGeoSelect($event)"
              (onDeSelect)="onGeoDeSelect($event)" (onDeSelectAll)="onItemDeSelectOrAllGeo($event)"
              (onSelectAll)="onItemSelectOrAllGeo($event)">
            </ng-multiselect-dropdown>
            <div class="dropdown-placeholder geog-placeholder">
              <span *ngIf="myForms2.get('city3').value.length == 0">Select Geography </span>
              <span *ngIf="myForms2.get('city3').value.length == 1" class="selected-placeholder">
                {{myForms2.get('city3').value.length}} Geography selected </span>
              <span *ngIf="myForms2.get('city3').value.length > 1" class="selected-placeholder">
                {{myForms2.get('city3').value.length}} Geography selected </span>

            </div>
          </form>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 dealerbubblespro" style="font-family: 'Gilroy'; color: grey;margin-left: 9px;" *ngIf="userType === 'Admin'">
          <form [formGroup]="myForms4" class="dropdown-formdealer">
            <ng-multiselect-dropdown class="dealr" name="citys" [placeholder]="'Dealer'" formControlName="city5"
              [disabled]="disabled" [settings]="dropdownSettings4" [data]="dealerListArray"
              (onSelect)="onItemDealerSelect($event)" (onDeSelect)="onItemDealerDeSelect($event)"
              (onDeSelectAll)="onItemDealerDeSelectOrAll($event)" (onSelectAll)="onItemDealerSelectOrAll($event)">
            </ng-multiselect-dropdown>
          </form>
          <div class="dropdown-placeholder dealr-placeholder">
            <span *ngIf="myForms4.get('city5').value.length == 0">Select Dealer </span>
            <span *ngIf="myForms4.get('city5').value.length == 1" class="selected-placeholder">
              {{myForms4.get('city5').value.length}} Dealer selected </span>
            <span *ngIf="myForms4.get('city5').value.length > 1" class="selected-placeholder">
              {{myForms4.get('city5').value.length}} Dealer(s) selected </span>

          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 statusprobubbles" style="margin-left:-17px">
          <form [formGroup]="myForms3" class="dropdown-form">
            <ng-multiselect-dropdown class="stts" name="citys" [placeholder]="'Status'" formControlName="city4"
              [disabled]="disabled" [settings]="dropdownSettings3" [data]="toppingList1"
              (onSelect)="onStatusSelect($event)" (onDeSelect)="onStatusDeSelect($event)"
              (onDeSelectAll)="onItemDeSelectOrAllStatus($event)" (onSelectAll)="onItemSelectOrAllStatus($event)">
            </ng-multiselect-dropdown>
            <div class="dropdown-placeholder stts-placeholder">
              <span *ngIf="myForms3.get('city4').value.length == 0">Select Status </span>
              <span *ngIf="myForms3.get('city4').value.length == 1" class="selected-placeholder">
                {{myForms3.get('city4').value.length}} Status selected </span>
              <span *ngIf="myForms3.get('city4').value.length > 1" class="selected-placeholder">
                {{myForms3.get('city4').value.length}} Status selected </span>

            </div>
          </form>
        </div>
        <!-- refresh -->

        

       
        <!-- calender -->
        <div class="col-md-0 col-lg-0 col-sm-0 d-flex">
          <app-customdatepicker [selectedDate]="selectedDateRange" 
            (customDatePickerEvent)="customDatePickerEvent($event)" ></app-customdatepicker>
        </div>
        <div class="ref">
          <img class="refresh" src="assets/img/Vector.png" (click)="refresh()" alt="refresh" style="margin-left: 1px;">
        </div> 
      </div>
   

      

       <!-- search -->
</div>
<div class="col-md-4" style="margin-left: 65%;margin-bottom: 10px;margin-top: -15px;">
  <div class="row">
    <div class="col-md-7" style="padding-left: 109px;">
      <div class="searchBox1 ">
        <input class="searchInput1" type="text" name="" placeholder="Search here anything"(keyup)="onSearchChange($event)">
         <mat-icon  class="searchicons1">search</mat-icon> 
        <button class="search-bt_n1">Search</button>
      </div>
    </div>
   
    <div class="col-md-4 d-flex" style="    position: relative;left: 15%;">
      <div class="download-btn"  style=" cursor: pointer" >
        <img src="assets/img/download-btn.png" style="position: relative;top: 8px;left: 12px;"
          alt="add-user-btn">
      </div>
      <div class="add-user" (click)="addPromotions()" userRoleDirective="ADD_PROMOTION"
        [pageName]="currentPageName">
        <img src="assets/img/add-btn.png" style="position: relative;top: 8px;left: 10px;" alt="add-user-btn">
      </div>
    </div>

  </div>
</div>
<br>
  <ag-grid-angular id="gridContainer"
  style=" height: 390px;background-color: white;font-family: Gilroy;margin-left: 20px;margin-top: -20px;"
  class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25" [headerHeight]="48"
  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData5"
  [suppressExcelExport]="true" [popupParent]="popupParent" (cellValueChanged)="onCellValueChanged($event)"
  (firstDataRendered)="onFirstDataRendered($event)" (firstDataRendered)="onFirstDataRendered($event)"
  (rowClicked)="openDialog()" (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
  (bodyScroll)="handleScroll($event)"></ag-grid-angular>

<div class="pagination">
<span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span
  class="pagination-cls">{{rowData5.length}}</span>
</div>
</div>