 .promainclass {
   height: 630px;
   /* overflow-x: hidden;
   overflow-y: auto; */
   margin-top: -34px;
 }

 .row {
   margin-top: 56px;
   margin-left: -8px;
   width: 109%;
 }

 .listicon {
   display: flex;
   justify-content: end;
   margin-right: 10px;
   margin-top: 26px;
 }

 .rowdropdown {
   margin-top: 12px;
 }

 .dropdown-placeholder {
   background: white;
   color: #808080;
   top: 0;
   position: absolute;
   height: 41px;
   line-height: 41px;
   left: 0px;
   border-top: 1px solid rgba(104, 110, 116, 0.75);
   border-bottom: 1px solid rgba(104, 110, 116, 0.75);
   width: 80%;
   border-radius: 9px 0 0 9px !important;
   padding-left: 10px;
   pointer-events: none;
 }

 .promo-placeholder.dropdown-placeholder .selected-placeholder {
   color: #479E00 !important;
 }

 .product-placeholder.dropdown-placeholder .selected-placeholder {
   color: #44026C !important;
 }

 .geog-placeholder.dropdown-placeholder .selected-placeholder {
   color: #006466 !important;
 }

 .dealr-placeholder.dropdown-placeholder .selected-placeholder {
   color: #38405F !important;
 }

 .stts-placeholder.dropdown-placeholder .selected-placeholder {
   color: #000000 !important;
 }

 .dropdown-form {
   position: relative;
   width: 103%;

 }

 .dropdown-formdealer {
   position: relative;

   margin-left: -15px;
 }

 /* .searchBox:hover>.searchButton,
.searchBox>.searchInput,
.search-btn {
  display: none;
} */

 /* .searchBox {
  float: right;
  position: absolute;
  right: -45px;
  top: 10px;



  border: none;
    background: #000000;  
  border-radius: 50%;
  width: 37px;
  height: 37px;
  top: 6px;
  margin-top: 5px;
  margin-left: 61%;
  cursor: pointer;

  position: relative;
  left: 60px;
}

.searchBox:hover>.searchButton {
   color: #000;
  width: 42px;
  height: 42px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  background: none;
  right: 239px;
  top: 2px;
  margin-top: -7px;

}

.searchBox:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
   background: #000000; 
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.searchBox:hover>.searchInput {
  display: block;
  width: 335px;
  height: 43px;
  background: #FFFFFF;
  float: left;
  padding: 5px 32px 6px;
  border-radius: 10px;
  font-family: 'Gilroy-medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0px;
  bottom: -3px;
} */

 .addU:before {
   width: 201px;
 }

 .addU[_ngcontent-mps-c425]:after {
   width: 205px;
 }

 .add-user {
   border: none;
   background: rgba(104, 110, 116, 0.66);
   border-radius: 13%;
   width: 40px;
   height: 40px;
   top: -4px;
   margin-top: 5px;
   margin-left: 18%;
   cursor: pointer;
   position: relative;
   /* left: 35px; */
 }

 .add-user:hover {
   background-color: grey !important;
   color: white !important;
 }

 .download-btn {
  border: none;
  background: rgba(104, 110, 116, 0.66);
  position: relative;
  width: 40px;
  height: 40px;
  left: 3%;
  border-radius: 13%;
 }

 .searchButton {
   display: bolck;
   color: #FFFFFF;
   float: left;
   width: 40px;
   height: 40px;
   background: rgb(150, 156, 161);
   border-radius: 13%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s;
   border: none;
 }

 /* @media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    width: 150px;
    padding: 0 6px;
    left: 10%;
  }

  .searchBox {
    left: 37%
  }
} */

 .ag-theme-material .ag-filter-toolpanel-header,
 .ag-theme-material .ag-filter-toolpanel-search,
 .ag-theme-material .ag-status-bar,
 .ag-theme-material .ag-header-row,
 .ag-theme-alpine .ag-panel-title-bar-title,
 .ag-theme-alpine .ag-multi-filter-group-title-bar {

   --ag-background-color: rgba(219, 19, 19, 0.863);
   --ag-border-radius: 25px;


 }

 .ag-header-row ag-header-row-column {
   --ag-background-color: rgba(0, 0, 0, 0.815);
 }

 .ag-root-wrapper .ag-layout-normal .ag-ltr {
   border: solid 10px;
   border-color: var(--ag-border-color, #094db9) !important;
   border-radius: 100px;
 }

 .customHeaderLabel {
   color: #007bff;
 }

 .ag-theme-balham .ag-header-cell {
   background-color: #b81111 !important;
 }

 ::ng-deep.ag-header-cell-text {
   /* color: #686E74 !important; */
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 14px !important;
 }
 ::ng-deep.ag-root-wrapper.ag-layout-normal {
  height: 100%;
  width: 99%;
}

 :host ::ng-deep.ag-theme-material .ag-root-wrapper,
 .ag-theme-material .ag-sticky-top {

   border: 0.5px solid #000000 !important;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important;
   border-radius: 10px !important;

 }

 .ag-root-wrapper {
   border: solid 10px;
   border-color: var(--ag-border-color, #094db9) !important;
   border-radius: 100px;
 }

 .ag-layout-norm {
   --ag-border: solid;

 }

 .ag-ltr {
   --ag-border: solid;

 }

 .ag-header-cell-label {
   color: blue !important;
   font-weight: bold;
 }

 .ag-pivot-off .ag-header-cell-label {
   color: #8a6d3b;
 }

 .ag-theme-material {

   --ag-card-radius: 100px;
   --ag-border-radius: 20px;
   --ag-header-height: 30px;
   --ag-header-foreground-color: white;
   --ag-header-background-color: rgba(1, 139, 117, 1);
   /* --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
 }

 .test-container {
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: rgb(223, 8, 8);
 }

 .test-header {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 13px;
   margin-bottom: 0.5rem;
 }

 .test-header .example-section {
   margin-bottom: 0.5rem;
 }

 #myGrid {
   flex: 1 1 0px;
 }

 .matsorticonclass {
   color: black;
 }

 .matsorticonclass:hover {
   color: rgba(128, 128, 128, 0.534);
 }

 ::ng-deep.mat-select-arrow-wrapper {

   margin-top: -8px;

 }

 ::ng-deep.my-class-1 {
   color: #F5B666 !important;
 }

 ::ng-deep.my-class-2 {
   color: #17B15C !important;
 }

 ::ng-deep.my-class-3 {
   color: #F5B666 !important;
 }

 ::ng-deep.my-class-4 {
   color: #017EFA !important;
 }

 ::ng-deep.multiselect-dropdown .dropdown-btn {
   display: inline-block;
   border: 1px solid rgba(0, 0, 0, 0.3) !important;
   width: 237px;
   /* height: 62%; */
   padding: 9px 12px !important;
   margin-bottom: 0px;
   font-weight: 400;
   line-height: 1.52857143;
   text-align: left;
   vertical-align: middle;
   cursor: pointer;
   background-image: none;
   border-radius: 10px !important;
   background: white !important;
   height: 41px;
   left: -1px !important;
  
 }

 ::ng-deep.dropdown-list {
   position: absolute;
   padding-top: 6px;
   width: 100%;
   z-index: 9999;
   border: 1px solid #ccc;
   border-radius: 3px;
   background: #fff;
   margin-top: 0px !important;
   box-shadow: 0 1px 5px #959595;
 }

 ::ng-deep.stts .multiselect-dropdown .dropdown-btn .selected-item {
   background: #000000 !important;
   font-size: 12px;
   left: -8px;
   height: fit-content;
 }

 ::ng-deep .stts .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
   background: #000000 !important;
 }

 ::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
   border: 2px solid #000000 !important;
 }

 ::ng-deep.promo .multiselect-dropdown .dropdown-btn .selected-item {
   background: #479E00 !important;
   font-size: 12px;
   height: fit-content;
   right: 10px;
 }

 ::ng-deep .promo .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
   background: #479E00 !important;
 }

 ::ng-deep.product .multiselect-dropdown .dropdown-btn .selected-item {
   background: #44026C !important;
   font-size: 12px;
   height: fit-content;
   right: 10px;
 }

 ::ng-deep .product .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
   background: #44026C !important;
 }

 ::ng-deep.geog .multiselect-dropdown .dropdown-btn .selected-item {
   background: #006466 !important;
   font-size: 12px;
   height: fit-content;
   right: 7px;
 }

 ::ng-deep .geog .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
   background: #006466 !important;
 }

 ::ng-deep.dealr .multiselect-dropdown .dropdown-btn .selected-item {
   background: #38405F !important;
   font-size: 12px;
   height: fit-content;
   right: 6px;
 }

 ::ng-deep .dealr .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
   background: #38405F !important;
 }

 ::ng-deep.dropdown-btn span .ng-star-inserted {
   position: absolute !important;
   right: 20px !important;
   bottom: 10px;
 }

 ::ng-deep.dropdown-multiselect__caret:before {
   position: relative;
   right: 0;
   top: 65%;
   color: #000000;
   margin-top: 4px;
   border-style: solid;
   border-width: 8px 8px 0 8px;
   border-color: #000000 transparent !important;
   content: "";
 }

 ::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
   box-sizing: content-box;
   content: "";
   color: #000000;
   position: absolute;
   top: 50%;
   left: 0;
   width: 14px;
   height: 14px;
   margin-top: -9px;
   border: 2px solid #000000;
   text-align: center;
   transition: all .4s ease;
 }

 ::ng-deep.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
   animation: borderscale .2s ease-in;
   background: #00187A !important;
 }

 ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
   border: 1px solid #337ab7;
   margin-right: 4px;
   background: #00187A !important;
   padding: 0 5px;
   color: #fff;
   border-radius: 10px !important;
   float: left;
   display: flex;
   max-width: 170px !important;
   position: relative;
   top: 39px !important;
 }

 ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
   padding: 0em 0 0.7em 0;
 }

 .ourclass {
   transform-origin: 50% 20.875px 0px;
   font-size: 11px;
   opacity: 1;
   width: 75;
   margin-top: -18px;
   width: 40px;
   transform: scaleY(1);
 }

 ::ng-deep.mat-select-panel .mat-optgroup-label,
 .mat-select-panel .mat-option {
   font-size: inherit;
   line-height: -1em;
   height: 2em;
 }

 .font {
   font-family: 'Gilroy';
 }

 ::ng-deep .mat-select-panel {
   min-width: calc(74% + 64px);
   background-color: red;
   font-size: 10px;
 }

 ::ng-deep .mat-form-field-flex {
   padding-top: -10px;
   display: inline-flex;
   align-items: baseline;
   box-sizing: border-box;
   width: 100%;
   height: 45px;
 }

 ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
   color: #2962ff !important;
   border-radius: 5px !important;
 }

 ::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
   color: #324452 !important;

   font-style: normal !important;
   font-weight: 500 !important;
   font-size: 12px !important;
   line-height: 150% !important;
 }

 ::ng-deep.mat-primary .mat-pseudo-checkbox-checked,
 .mat-primary .mat-pseudo-checkbox-indeterminate {
   background: #0091EA !important;
 }

 ::ng-deep.mat-select-arrow {
   color: #263643 !important;
 }

 ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
   background: #FFFFFF;
 }

 ::ng-deep.mat-select-arrow {
   margin-top: 5px !important;
 }

 ::ng-deep.mat-select-panel {
   background: #FFFFFF !important;
   box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05) !important;
   border-radius: 8px !important;
   position: relative !important;
   transform: translate(29px, 50px) !important;
 }

 ::ng-deep .mat-select-value {
   padding-bottom: 4px !important;
   color: #263643 !important;
 }

 ::ng-deep.mat-option.mat-active {
   background: #ffffff !important;
 }

 ::ng-deep.mat-select-panel .mat-primary {
   min-width: calc(75% + 64px);

 }

 ::ng-deep.mat-select-panel {
   background: red;
 }

 ::ng-deep.ng-tns-c148-1 ng-trigger ng-trigger-transformPanel mat-select-panel mat-primary {
   width: 100px !important;
 }

 /* .refreshbtn{
          width: 36px;
          height: 36px;
          margin-top: 6px;
          margin-left: 10px;
      
        } */
 /* .btnhover{
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
          border: none;
          background: #000000;
          border-radius: 35%;
          position: relative;
          width: 43px;
        } */
 ::ng-deep.cal {
   width: 40px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid black;
   padding: 8px 0px 0px 8px;
   background: black;
   margin-left: 14px !important;

 }

 .ref {
   background: rgba(104, 110, 116, 0.66);
   border-radius: 13%;
   margin-left: 15px;
   width: 40px;
   padding: 8px 0px 0px 10px;
   height: 40px;
   cursor: pointer;
   /* margin-top: -33px; */
 }

 .ref:hover {
   background-color: grey !important;
   color: white !important;
 }

 ::ng-deep.btnhover:hover {
   background: grey !important;
 }

 .pagination {
   float: right !important;
 }

 .pagination-cls {
   font-size: 14px;
   font-weight: 900;
 }

 ::ng-deep.custom-day.weekend {
   color: black !important;
 }


 /* .multiselect-dropdown
      {
        margin-top: 59px;
        margin-left: 23px;
      } */
 /* .promo
      {
        margin-top: 65px;
        margin-left: 23px;
      } */


 /* .searchBox:hover>.searchButton .material-icons {
  position: relative;
  right: 295px !important;
  color: #000;
  top: 5px;
} */

 ::ng-deep.myclass1 {

   color: #17B15C !important;
 }

 ::ng-deep.myclass3 {
   color: #E5009D !important;
 }


 ::ng-deep.myclass2 {
   color: #017EFA !important;
 }


 ::ng-deep.myclass4 {
   color: #000000 !important;
 }

 ::ng-deep.dropdown-list ul {
   overflow-x: hidden !important;
 }

 ::ng-deep.geog .dropdown-btn span .ng-star-inserted {
   position: absolute !important;
   right: -18px !important;
   bottom: 0px;
   top: 50px !important;
   /* width: 51px; */
   border: 1px solid #337ab7;
   background: #006466 !important;
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 22px;
   border-radius: 15px;
   text-align: center;
   padding-top: 2px;
   padding-left: 6px;
 }

 ::ng-deep.promo .dropdown-btn span .ng-star-inserted {
   position: absolute !important;
   right: -18px !important;
   bottom: 0px;
   top: 50px !important;
   /* width: 51px; */
   border: 1px solid #337ab7;
   background: #479E00 !important;
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 22px;
   border-radius: 15px;
   text-align: center;
   padding-left: 9px;
 }

 ::ng-deep.product .dropdown-btn span .ng-star-inserted {
   position: absolute !important;
   right: -18px !important;
   bottom: 0px;
   top: 50px !important;
   /* width: 51px; */
   border: 1px solid #337ab7;
   background: #44026C !important;
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 22px;
   border-radius: 15px;
   text-align: center;
   padding-top: 2px;
   padding-left: 4px;
 }

 ::ng-deep.dealr .dropdown-btn span .ng-star-inserted {
   position: absolute !important;
   right: -18px !important;
   bottom: 0px;
   top: 50px !important;
   /* width: 51px; */
   border: 1px solid #337ab7;
   background: #38405F !important;
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 22px;
   border-radius: 15px;
   text-align: center;
   padding-top: 2px;
   padding-left: 6px;
 }

 ::ng-deep.stts .dropdown-btn span .ng-star-inserted {
   position: absolute !important;
   right: -18px !important;
   bottom: 0px;
   top: 50px !important;
   /* width: 51px; */
   border: 1px solid #337ab7;
   background: #000000 !important;
   font-size: 12px;
   box-shadow: 1px 1px #959595;
   color: #fff;
   height: 22px;
   border-radius: 15px;
   text-align: center;
   padding-top: 2px;
   padding-left: 9px;
 }



 ::ng-deep.promotionsbubbles .dropdown-btn {
   display: flex !important;
   justify-content: initial;
   position: relative;
 }

 ::ng-deep.promotionsbubbles .dropdown-btn span .ng-star-inserted {
   position: relative !important;
   top: 40px !important;
   right: 11px !important;
   height: 5px;
   display: table-cell;
 }



 ::ng-deep.promotionsproductbubbles .dropdown-btn {
   display: flex !important;
   justify-content: initial;
   position: relative;
 }

 ::ng-deep.promotionsproductbubbles .dropdown-btn span .ng-star-inserted {
   position: relative !important;
   top: 40px !important;
   right: 11px !important;
   height: 5px;
   display: table-cell;
 }




 ::ng-deep.geobubbles .dropdown-btn {
   display: flex !important;
   justify-content: initial;
   position: relative;
 }

 ::ng-deep.geobubbles .dropdown-btn span .ng-star-inserted {
   position: relative !important;
   top: 40px !important;
   right: 1px !important;
   height: 5px;
   display: table-cell;
 }





 ::ng-deep.dealerbubblespro .dropdown-btn {
   display: flex !important;
   justify-content: initial;
   position: relative;
 }

 ::ng-deep.dealerbubblespro .dropdown-btn span .ng-star-inserted {
   position: relative !important;
   top: 40px !important;
   right: 1px !important;
   height: 5px;
   display: table-cell;
 }



 ::ng-deep.statusprobubbles .dropdown-btn {
   display: flex !important;
   justify-content: initial;
   position: relative;
 }

 ::ng-deep.statusprobubbles .dropdown-btn span .ng-star-inserted {
   position: relative !important;
   top: 40px !important;
   right: 1px !important;
   height: 5px;
   display: table-cell;
 }

 .searchBox1 {
   position: relative;
   width: 243px;
   /* top: 67%; */
   border: 1px solid rgba(0, 0, 0, 0.3)!important;
   border-radius: 11px;
   
 }

 .searchInput1 {
   width: 100%;
   height: 42px;
   background: #FFFFFF;
   /* padding: 7px 40px 6px 26px; */
   padding: 7px 40px 6px 35px;
   border-radius: 10px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 500;
   font-size: 11px;
   line-height: 17px;
   letter-spacing: 0.08em;
   color: #263643;
   box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
   border: 1px solid rgba(0, 0, 0, 0.3)!important;
 }

 .searchicons1 {
   position: absolute;
   top: 55%;
   left: 6px;
   transform: translateY(-50%);
   font-size: 24px;
   color: #9B9FA3;
 }

 .search-bt_n1 {
   display: block;
   height: 26px;
   border: none;
   background: rgba(104, 110, 116, 0.66);
   color: white;
   border-radius: 5px;
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
 }

 .sales-dwnld {
   background: rgba(104, 110, 116, 0.66);
   border-radius: 13%;
   width: 37px;
   height: 39px;
   cursor: pointer;
   margin-left: -2%;
 }

 .sales-dwnld:hover {
   background-color: grey !important;
   color: white !important;
 }

 .imgdwnl {
   position: relative;
   top: 8px;
   left: 12px;
 }