<app-head></app-head>

<!-- <div class="UNFAPP-asmnt-full-area"> -->
    <div class="container-fluid" style="padding-left: 0px;">
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
              
                <app-sidenav-bar></app-sidenav-bar>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="UNFAPP-asmnt-rgt-area" style="background-color: #f5f5f5;padding: 15px;height: 92vh;">
                    Iam revathi

</div>
</mat-sidenav-content>
            
        </mat-sidenav-container>
   
    </div>
<!-- </div> -->