<app-head ></app-head>
<div class="container-fluid">
    <div class="row">
      
        <div class="sidebar"  style="width: 6%;" >
        <app-sidenav-bar ></app-sidenav-bar>

    </div>
    <!-- content -->
    <div class="dash-content" style="background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%);
    border-radius: 25px; height:100vh; padding: 10px;width: 94%;">
        iam revathi
        <!-- <button (click)="active()">active</button> -->
        <button (click)="deactive()">deactive</button>
    </div>
    </div>
</div>

