<div class="comntainer">
  <div class="add-item">
    <div class="additem">
      <mat-icon mat-button class="close-icon" (click)="closeicon()">close</mat-icon>
    </div>
    <div class="head-t">
      <h3 class="additems-h font">Add Items: <b style="color: black;">Product</b></h3>
    </div>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>product</ng-template>
      <!-- <div class="radio-btn mt-2">
        <div class="row">
          <div class="col-12">
      <mat-radio-group aria-label="Select an option">
        <div class="col-2 col-lg-2 "><mat-radio-button value="product" (click)="product()"  [checked]="productchk">Product</mat-radio-button></div>
        <div class="col-2 col-lg-2"><mat-radio-button value="prodsht" (click)="productShotCode()" [checked]="prodShtCode">Product Short Code</mat-radio-button></div>
        <div class="col-2 col-lg-2"> <mat-radio-button value="progrp" (click)="productGrp()" [checked]="productGrpChk">Product Group</mat-radio-button></div>
        <div class="col-2 col-lg-2"><mat-radio-button value="prosub" (click)="productSubG()" [checked]="productSubGChk">Product Sub-Group</mat-radio-button></div>
      </mat-radio-group>
    </div>
    </div>
    </div> -->
      <div class="drpd d-flex">
        <div class="search-d">
          <form [formGroup]="myForm">
            <ng-multiselect-dropdown class="catty"
                name="city"
                [placeholder]="'Category'"
                formControlName="city"
                [disabled]="disabled"
                [settings]="dropdownSettings"
                [data]="catgname"
                (onSelect)="addItemSelect($event)"
                (onDeSelect)="addItemDeSelect($event)"
                (onDeSelectAll)="addItemDeSelectOrAll($event)"
                (onSelectAll)="addItemSelectOrAll($event)">
            </ng-multiselect-dropdown>
            <div class="dropdown-placeholder catag-placeholder">
              <span *ngIf="myForm.get('city').value.length == 0"> Select Category </span>
              <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Category selected </span>
              <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Categories selected </span>

            </div>
       </form>
      </div>
      <div class="search-d">
      <form>
        <ng-multiselect-dropdown class="addsubc" name="city" placeholder="sub-category" formControlName="city"
          [disabled]="disabled" [settings]="dropdownSettings1" [data]="sub_category" 
          (onSelect)="addSubCategorySelect($event)" (onDeSelect)="addSubCategoryDeSelect($event)"
          (onDeSelectAll)="addSubCategoryDSelectOrAll($event)"
          (onSelectAll)="addSubCategorySelectOrAll($event)">
        </ng-multiselect-dropdown>
      </form>
    </div>
    <div class="search-d">
      <form [formGroup]="type">
        <ng-multiselect-dropdown class="typy"
            name="type"
            [placeholder]="'Type'"
            formControlName="type"
            [disabled]="disabled"
            [settings]="dropdownSettings2"
            [data]="typeI"
            (onSelect)="addTypeSelect($event)"
            (onDeSelect)="addTypeDeSelect($event)"
            
            (onDeSelectAll)="addTypeDeSelectOrAll($event)"
            (onSelectAll)="addTypeSelectOrAll($event)"
            >
        </ng-multiselect-dropdown>
      </form>
  </div>
  <div class="search-d">
    <form [formGroup]="products">
      <ng-multiselect-dropdown class="producty"
          name="product"
          [placeholder]="'Product'"
          formControlName="products"
          [disabled]="disabled"
          [settings]="dropdownSettings3"
          [data]="Productarr"
          (onSelect)="onProductSelect($event)"
          (onDeSelect)="onProductDeSelect($event)"
          (onDeSelectAll)="onProductDeSelectOrAll($event)"
          (onSelectAll)="onProductSelectOrAll($event)">
      </ng-multiselect-dropdown>
      </form>
  </div>
  
        <div class="ref"><img class="refresh" (click)="addItemRefresh()" src="assets/img/Vector.png" alt="refresh"></div>
      </div>
      <!-- <div class="row"> -->
      <div class="search-prodId">
        <form>
          <ng-multiselect-dropdown class="roless" name="city" [placeholder]="'product Identifier'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings5" [data]="toppingList" 
            (onSelect)="onproductIdentifierSelect($event)"
            (onDeSelect)="onproductIdentifierDeSelect($event)"
            (onDeSelectAll)="onproductIdentifierDeSelectOrAll($event)"
            (onSelectAll)="onproductIdentifierSelectOrAll($event)">
          </ng-multiselect-dropdown>
        </form>
      </div>
      <!-- </div> -->
      <div class="srch mt-3" style="margin-bottom:10px">
        <div class="row">
          <div class="col-md-12">
            <div class="searchBox d-flex">
              <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
                placeholder="Type & search for anything" (keyup)="onSearchChange($event)">
              <button class="searchButton" href="#">
                <i class="material-icons">
                  search
                </i>
              </button>
              <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ag-grid-angular id="gridContainer"
          style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
          class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25" [headerHeight]="48"
          [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData5"
          [suppressExcelExport]="true" [popupParent]="popupParent" (cellValueChanged)="onCellValueChanged($event)"
          (firstDataRendered)="onFirstDataRendered($event)" (firstDataRendered)="onFirstDataRendered($event)"
          (rowClicked)="openDialog()" (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
          (bodyScroll)="handleScroll($event)"  [rowSelection]="'multiple'"(rowSelected)="onRowSelect($event)"></ag-grid-angular>
      </div>
      <div class="pagination">
        <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span
          class="pagination-cls">{{rowData5.length}}</span>
      </div>
      <div class="addbtn mt-3 text-center">
        <button class="addItem-btn btn-btn-primary" (click)="addproductitems()" >Add items</button>
      </div>
    </form>
  </mat-step>
 

  <!-- second -->
  <mat-step>
    <ng-template matStepLabel>Product Short Code</ng-template>
    <app-product-short-code></app-product-short-code>
  </mat-step>
  <!-- third -->
  <mat-step>
    <ng-template matStepLabel>Product Group</ng-template>
    <app-product-group-add-item></app-product-group-add-item>
  </mat-step>
  <!--  -->
  <mat-step>
    <ng-template matStepLabel>Product Sub-Group</ng-template>
    <app-product-sub-group></app-product-sub-group>
  </mat-step>
</mat-stepper>
</div>
</div>
