<div class="container" style="height: 580px;">
  <div class="main">
  <div class="add-item addproductpromo">
    <div class="additem" mat-dialog-close>
      <mat-icon mat-button class="close-icon" mat-dialog-close>close</mat-icon>
    </div>
    <div class="head-t">
      <h3 class="additems-h font">Add Items: <b style="color: black;">Product</b></h3>
    </div>
    <div class="srch mt-3" style="margin-bottom:-58px" *ngIf="searchfeild">
      <div class="row">
        <div class="col-lg-12">
          <div class="searchBox d-flex">
            <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
              placeholder="Type & search for anything" (keyup)="onSearchChange($event)">
            <button class="searchButton" href="#">
              <i class="material-icons">
                search
              </i>
            </button>
            <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
          </div>
        </div>
      </div>
    </div>
    <!-- prod subG dropdwn -->
    <div class="prodSubGDropdwn mt-3" *ngIf="myStepper?.selectedIndex == 3">
      <div class="row productdrprow">
        <div class="col-lg-3" style="font-family: 'Gilroy'; color: grey;">
          <form [formGroup]="myForms">
            <ng-multiselect-dropdown class="productdrp productdrpbubble " name="citys" [placeholder]="'Product'" formControlName="citys"
              [disabled]="disabled" [settings]="dropdownSettings6" [data]="Productarr"
              (onSelect)="ProductSubGroupDrpdwn($event)" (onDeSelect)="ProductsubGroupDeselect($event)"
              (onDeSelectAll)="ProductsubGroupDeSelectAll($event)" (onSelectAll)="ProductsubGroupSelectAll($event)">
            </ng-multiselect-dropdown>
          </form>
          <div class="dropdown-placeholder catag-placeholder">
            <span *ngIf="myForms.get('citys').value.length == 0"> Select Products </span>
            <span *ngIf="myForms.get('citys').value.length == 1" class="selected-placeholder">
              {{myForms.get('citys').value.length}} Category </span>
            <span *ngIf="myForms.get('citys').value.length > 1" class="selected-placeholder">
              {{myForms.get('citys').value.length}} product groups selected </span>

          </div>
        </div>
       
        <div class="icon btnhover refreshbtn">
          <img class="refresh" src="assets/img/Vector.png" style="position: relative;top: 9px;left: 12px;"
            alt="refresh">
        </div>
      </div>
    </div>
    <div class="scrollone">
    <mat-stepper [linear]="isLinear" #stepper (click)="matsteptabClick($event)" [selectedIndex]="0" ngClass="addItemsHeader">
      <mat-step label="Step 1"  [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel="productlb"  >Product</ng-template>
          <!-- <div class="radio-btn mt-2">
        <div class="row">
          <div class="col-12">
      <mat-radio-group aria-label="Select an option">
        <div class="col-2 col-lg-2 "><mat-radio-button value="product" (click)="product()"  [checked]="productchk">Product</mat-radio-button></div>
        <div class="col-2 col-lg-2"><mat-radio-button value="prodsht" (click)="productShotCode()" [checked]="prodShtCode">Product Short Code</mat-radio-button></div>
        <div class="col-2 col-lg-2"> <mat-radio-button value="progrp" (click)="productGrp()" [checked]="productGrpChk">Product Group</mat-radio-button></div>
        <div class="col-2 col-lg-2"><mat-radio-button value="prosub" (click)="productSubG()" [checked]="productSubGChk">Product Sub-Group</mat-radio-button></div>
      </mat-radio-group>
    </div>
    </div>
    </div> -->
          <div class="drpd row">
            <div class="col-lg-11">
              <div class="row">
                <div class="search-d col-lg-3">
                  <form [formGroup]="myForm">
                    <ng-multiselect-dropdown class="catty cattybubble" name="city" [placeholder]="'Category'" formControlName="city"matStepperIcon="edit"
                      [disabled]="disabled" [settings]="dropdownSettings" [data]="catgname"
                      (onSelect)="addItemSelect($event)" (onDeSelect)="addItemDeSelect($event)"
                      (onDeSelectAll)="addItemDeSelectOrAll($event)" (onSelectAll)="addItemSelectOrAll($event)">
                    </ng-multiselect-dropdown>
                  </form>
                  <div class="dropdown-placeholder catag-placeholder">
                    <span *ngIf="myForm.get('city').value.length == 0"> Select Category </span>
                    <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder">
                      {{myForm.get('city').value.length}} Category </span>
                    <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder">
                      {{myForm.get('city').value.length}} Categories </span>

                  </div>
                </div>
                <div class="search-d  col-lg-3">
                  <form [formGroup]="subCategory">
                    <ng-multiselect-dropdown class="addsubc addsubcat" name="city" placeholder="sub-category"
                      formControlName="subcatty" [disabled]="disabled" [settings]="dropdownSettings1"
                      [data]="sub_category" (onSelect)="addSubCategorySelect($event)"
                      (onDeSelect)="addSubCategoryDeSelect($event)" (onDeSelectAll)="addSubCategoryDSelectOrAll($event)"
                      (onSelectAll)="addSubCategorySelectOrAll($event)">
                    </ng-multiselect-dropdown>
                  </form>
                  <div class="dropdown-placeholder product-placeholder">
                    <span *ngIf="subCategory.get('subcatty').value.length == 0"> Select SubCategory </span>
                    <span *ngIf="subCategory.get('subcatty').value.length == 1" class="selected-placeholder">
                      {{subCategory.get('subcatty').value.length}} SubCategory </span>
                    <span *ngIf="subCategory.get('subcatty').value.length > 1" class="selected-placeholder">
                      {{subCategory.get('subcatty').value.length}} SubCategorys </span>

                  </div>
                </div>
                <div class="search-d  col-lg-3">
                  <form [formGroup]="type">
                    <ng-multiselect-dropdown class="typy typecat" name="type" [placeholder]="'Type'" formControlName="type"
                      [disabled]="disabled" [settings]="dropdownSettings2" [data]="typeI"
                      (onSelect)="addTypeSelect($event)" (onDeSelect)="addTypeDeSelect($event)"
                      (onDeSelectAll)="addTypeDeSelectOrAll($event)" (onSelectAll)="addTypeSelectOrAll($event)">
                    </ng-multiselect-dropdown>
                  </form>
                  <div class="dropdown-placeholder typy-placeholder">
                    <span *ngIf="type.get('type').value.length == 0"> Select Type </span>
                    <span *ngIf="type.get('type').value.length == 1" class="selected-placeholder">
                      {{type.get('type').value.length}} Type </span>
                    <span *ngIf="type.get('type').value.length > 1" class="selected-placeholder">
                      {{type.get('type').value.length}} Types </span>

                  </div>
                </div>
                <div class="search-d  col-lg-3">
                  <form [formGroup]="products">
                    <ng-multiselect-dropdown class="producty productcat" name="product" [placeholder]="'Product'"
                      formControlName="products" [disabled]="disabled" [settings]="dropdownSettings3"
                      [data]="Productarr" (onSelect)="onProductSelect($event)" (onDeSelect)="onProductDeSelect($event)"
                      (onDeSelectAll)="onProductDeSelectOrAll($event)" (onSelectAll)="onProductSelectOrAll($event)">
                    </ng-multiselect-dropdown>
                  </form>
                  <div class="dropdown-placeholder producty-placeholder">
                    <span *ngIf="products.get('products').value.length == 0"> Select Product </span>
                    <span *ngIf="products.get('products').value.length == 1" class="selected-placeholder">
                      {{products.get('products').value.length}} Product </span>
                    <span *ngIf="products.get('products').value.length > 1" class="selected-placeholder">
                      {{products.get('products').value.length}} Products </span>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="ref">
                <img class="refresh" (click)="addItemRefresh()" src="assets/img/Vector.png" alt="refresh">
              </div>
            </div>
          </div>
          <div class="row rr">
            <div class="col-11">
              <div class="row prod-identifier">
                <div class="col-lg-3 search-prodId">
                  <form [formGroup]="productidentifier">
                    <ng-multiselect-dropdown class="identifier identifiercat" name="city" [placeholder]="''"
                      formControlName="productidentifier" [disabled]="disabled" [settings]="dropdownSettings5"
                      [data]="toppingList" (onSelect)="onproductIdentifierSelect($event)"
                      (onDeSelect)="onproductIdentifierDeSelect($event)"
                      (onDeSelectAll)="onproductIdentifierDeSelectOrAll($event)"
                      (onSelectAll)="onproductIdentifierSelectOrAll($event)">
                    </ng-multiselect-dropdown>
                  </form>
                  <div class="dropdown-placeholder identifier-placeholder">
                    <span *ngIf="productidentifier.get('productidentifier').value.length == 0"> Select Identifier
                    </span>
                    <span *ngIf="productidentifier.get('productidentifier').value.length == 1"
                      class="selected-placeholder"> {{productidentifier.get('productidentifier').value.length}}
                      Identifier </span>
                    <span *ngIf="productidentifier.get('productidentifier').value.length > 1"
                      class="selected-placeholder"> {{productidentifier.get('productidentifier').value.length}}
                      Identifiers </span>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
          <div class="srch mt-3" style="margin-bottom:10px">
            <div class="row">
              <div class="col-md-12">
                <div class="searchBox d-flex">
                  <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
                    placeholder="Type & search for anything" (keyup)="onSearchChange($event)">
                  <button class="searchButton" href="#">
                    <i class="material-icons">
                      search
                    </i>
                  </button>
                  <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <!--- product  --->
            <ag-grid-angular id="gridContainer" class="ag-theme-material" (gridReady)="onGridReady($event)"
              [rowHeight]="25" [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
              [columnTypes]="columnTypes" [rowData]="rowData5" [suppressExcelExport]="true" [popupParent]="popupParent"
              (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
              (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
              (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"
              (rowSelected)="onProductRowSelect($event)"></ag-grid-angular>
          </div>
          <div class="pagination">
            <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of
            <span class="pagination-cls">{{rowData5.length}}</span>
          </div>
          <div class="addbtn mt-3 text-center">
            <button class="addItem-btn btn-btn-primary" (click)="addproductitems()">Add items</button>
          </div>
        </form>
      </mat-step>


      <!-- second -->
      <mat-step label="Step 2">
        <ng-template matStepLabel="productgroup">Product Short Code</ng-template>
        <div class="add-item productShortcd">
          <!-- <div class="srch mt-3" style="margin-bottom:10px">
        <div class="row">
          <div class="col-md-12">
            <div class="searchBox d-flex">
              <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
                placeholder="Type & search for anything" (keyup)="onSearchChangeShortcode($event)">
              <button class="searchButton" href="#">
                <i class="material-icons">
                  search
                </i>
              </button>
              <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
            </div>
          </div>
        </div>
      </div> -->
          <div>
            <!--- product short code  --->

            <ag-grid-angular id="gridContainer"
              style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
              class="ag-theme-material" (gridReady)="onGridReady2($event)" [rowHeight]="25" [headerHeight]="48"
              [columnDefs]="columnDefs1" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
              [rowData]="rowDatashortcode" [suppressExcelExport]="true" [popupParent]="popupParent"
              (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
              (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
              (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"
              (rowSelected)="ProductShortCodeRowSelect($event)"></ag-grid-angular>
          </div>
          <div class="pagination">
            <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of
            <span class="pagination-cls">{{rowData5.length}}</span>
          </div>
          <div class="addbtn mt-3 text-center">
            <button class="addItem-btn btn-btn-primary" (click)="additemsProductShortCode($event)">Add items</button>
          </div>
        </div>
      </mat-step>
      <!-- third -->
      <mat-step label="Step 3">
        <ng-template matStepLabel>Product Group </ng-template>
        <div class="add-item">
          <!-- <div class="srch mt-3" style="margin-bottom:10px">
        <div class="row">
          <div class="col-md-12">
            <div class="searchBox d-flex">
              <input class="searchInput" style="font-family: 'Gilroy'" type="text" name=""
                placeholder="Type & search for anything" (keyup)="onSearchChange($event)">
              <button class="searchButton" href="#">
                <i class="material-icons">
                  search
                </i>
              </button>
              <button class="search-btn" style="font-family: 'Gilroy'">Search</button>
            </div>
          </div>
        </div>
      </div> -->
          <div>
            <!--- product Group  --->

            <ag-grid-angular id="gridContainer"
              style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
              class="ag-theme-material" (gridReady)="onGridReady3($event)" [rowHeight]="25" [headerHeight]="48"
              [columnDefs]="columnDefs2" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
              [rowData]="rowDataproductGroup" [suppressExcelExport]="true" [popupParent]="popupParent"
              (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
              (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
              (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
              (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"
              (rowSelected)="onRowSelectProductGroup($event)"></ag-grid-angular>
          </div>
          <div class="pagination">
            <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of
            <span class="pagination-cls">{{rowData5.length}}</span>
          </div>
          <div class="addbtn mt-3 text-center">
            <button class="addItem-btn btn-btn-primary" (click)="addproductGroup()">Add items</button>
          </div>
        </div>
      </mat-step>
      <!--  -->
      <mat-step label="Step 4">
        <ng-template matStepLabel="showproductfropdown">Product Sub-Group</ng-template>
        <div class="add-item">
          <!-- <div class="d-flex mb-5">
        <div class="col-md-3 col-lg-3 col-sm-2" style="font-family: 'Gilroy'; color: grey;">
          <form [formGroup]="myForms">
            <ng-multiselect-dropdown class="stts" name="citys" [placeholder]="'product'" formControlName="citys"
              [disabled]="disabled" [settings]="dropdownSettings6" [data]="Productarr"
              (onSelect)="ProductSubGroupDrpdwn($event)" (onDeSelect)="ProductsubGroupDeselect($event)"
              (onDeSelectAll)="ProductsubGroupDeSelectAll($event)" (onSelectAll)="ProductsubGroupSelectAll($event)">
            </ng-multiselect-dropdown>
          </form>
        </div>
        <div class="icon btnhover refreshbtn" >
          <img class="refresh" src="assets/img/Vector.png" style="position: relative;top: 9px;left: 12px;" alt="refresh" >
        </div>
      </div> -->
          <div>
            <!--- product subgroup  --->

            <ag-grid-angular id="gridContainer"
              style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 100%;"
              class="ag-theme-material" (gridReady)="onGridReady4($event)" [rowHeight]="25" [headerHeight]="48"
              [columnDefs]="columnDefs3" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
              [rowData]="rowDataProductSubG" [suppressExcelExport]="true" [popupParent]="popupParent"
              (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
              (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
              (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
              (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"
              (rowSelected)="ProductSubGroupRowSelect($event)"></ag-grid-angular>
          </div>
          <div class="pagination">
            <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of
            <span class="pagination-cls">{{rowData5.length}}</span>
          </div>
          <div class="addbtn mt-3 text-center">
            <button class="addItem-btn btn-btn-primary" (click)="addItemProductSubG()">Add items</button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  </div>
</div>
</div>