.mat-form-field {
  width: 680px;
  font-family: 'Gilroy';
  background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}
.select_bubbles
{
  margin-top: 60px;
}

.mat-form-field::placeholder {
  bottom: 2px;
}

.scroll {
  overflow-y: auto;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  /* background: #b3b3bc; */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.font {
  font-family: 'Gilroy';
}

/* .mat-horizontal-stepper-header-container ng-tns-c418-7 {
    margin: top -51px;
  }; */
::ng-deep.input.mat-input-text {
  margin-top: -9px;
  margin-left: -6px;
}

:host ::ng-deep .mat-tab-label{
  border: 1px solid rgba(1,139,117,1)!important;
}

/*old css*/

.mat-form-field-flex {
  padding-top: -10px;
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  height: 37px;

  /* background-color: #CED4DA; */
}



.font {
  font-family: 'Gilroy';
}

.head-t h3 {
  color: #686E74;
  text-align: center;
  margin-top: -18px;
  margin-bottom: 2px;
}

.additems-h {
  position: relative;
  /* font-family: 'Gilroy-Bold';  */
  /* font-weight: bold; */
  font-size: 20px;
}

.additems-h:after {
  content: "";
  display: block;
  width: 389px;
  height: 0px;
  right: 10px;
  top: 50%;
  position: absolute;
  border: 0.5px solid rgba(104, 110, 116, 0.75);
}

.additems-h:before {
  content: "";
  display: block;
  width: 417px;
  height: 0px;
  left: -8px;
  top: 50%;
  position: absolute;
  border: 0.5px solid rgba(104, 110, 116, 0.75);
}

.additemForm input {
  border-radius: 5px;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  padding: 5px 5px;
  width: 250px;
  font-size: 14px;
  outline: none;
}

.close-icon {
  left: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.close-icon:hover {
  cursor: pointer;
}

label {
  /* padding: 2px 0; */
  font-size: 14px;
  margin: 5px;
}

mat-form-field {
  width: 246px;

}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.7em 0;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}



.productdrpdown {
  width: 365px;
  position: relative;
  bottom: 89px;
}

.productdrpdowntwo {
  width: 365px;
  position: relative;
  bottom: 160px;
  left: 414px;
}

mat-icon {
  position: relative;
  top: 7px;
  left: -36px;
}

/* .search{
margin-right: 10px;
} */
/* .search input{
  width: 207.5px;
height: 43px;
border-radius: 10px;

} */
/* .search-d{
width: 207.5px;
margin-right: 15px;
} */
.ref {
  /* border: 1px solid black; */
  border-radius: 10px;
  background: grey;
  margin-left: -2px;
  width: 43px;
  padding: 8px 0px 0px 10px;
  height: 43px;
}

.ref:hover {
  cursor: pointer;
  background-color: grey !important;
  color: white !important;
}

.searchButton {
  display: bolck;
  color: #FFFFFF;
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
}

.searchBox:hover>.searchButton,
.searchBox>.searchInput,
.search-btn {
  display: none;
}

.searchBox {
  float: right;
  /* position: absolute;
  left: 94%;
  top: 6px; */
}

.searchBox:hover>.searchButton {
  display: block;
}

.searchBox:hover>.searchButton .material-icons {
  position: relative;
  right: 284px;
  color: #000;
  top: 3px;
}

.searchBox:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 6px;
}


.searchBox:hover>.searchInput {
  display: block;
  width: 335px;
  height: 43px;
  background: #FFFFFF;
  float: left;
  padding: 5px 32px 6px;
  border-radius: 10px;
  font-family: 'Gilroy-medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  /* // transition: 0.2s  ease-in-out; */
  position: absolute;
  right: 0px;
  bottom: -3px;
}

.searchBox {
  top: 6px;
}

.pagination {
  float: right !important;
  margin-right: 10px;
  margin-top: 10px;
}

.pagination-cls {
  font-size: 14px;
  font-weight: 500;
  color: #686E74;
}
 
.pagination-cl {
  font-size: 14px;
  font-weight: 900;
  color: #686E74;
}

.addItem-btn {
  width: 168px;
  height: 43px;
  border-radius: 6px;
  align-items: center;
  text-align: center;
  /* background: #000; */
  background-color: rgba(1, 139, 117, 1);
  color: #FFFFFF;
  border: 1px solid rgba(1, 139, 117, 1);
}

.at-radio-group {
  display: flex;
  justify-content: center;
}

::ng-deep .radio-btn .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: black;
}

::ng-deep .radio-btn .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: black;
}

::ng-deep.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
  /* color:white !important; */
  /* background-color: rgba(1, 139, 117, 1) !important; */
  color: rgba(1, 139, 117, 1) !important;
}

::ng-deep.category-add .multiselect-dropdown .dropdown-btn .selected-item {
  background: #479E00 !important;
  font-size: 12px;
}

::ng-deep .category-add .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #479E00 !important;
}

::ng-deep.add-item.mat-stepper-vertical,
.mat-stepper-horizontal {
  display: inline;
  width: 500px;
}

::ng-deep.add-item.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
  width: 1043px;
  margin-top: -51px;
}


.add-item.mat-horizontal-stepper-wrapper {
  margin-top: -47px;
}

::ng-deep.add-item .mat-stepper-horizontal-line {
  /* border-top-width: 1px; */
  border-top-style: none;
  /* flex: auto;
  height: 0;
  margin: 0 -16px;
  min-width: 32px; */
}

/* .mat-horizontal-stepper-header-container ng-tns-c418-7 {
  margin: top -51px;
}; */
.dropdown-placeholder {
  background: white;
  color: #808080;
  top: 0;
  position: absolute;
  height: 41px;
  line-height: 41px;
  left: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  /* width: 80%; */
  border-radius: 10px 0 0 10px !important;
  padding-left: 10px;
  pointer-events: none;
}

::ng-deep.catty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #00187A !important;
  /* right: 6% !important; */
  display: block;
}

::ng-deep .catty .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #00187A !important;
}

::ng-deep.addsubc .multiselect-dropdown .dropdown-btn .selected-item {
  background: #0C5A3E !important;
}

::ng-deep .addsubc .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #0C5A3E !important;
}

::ng-deep.typy .multiselect-dropdown .dropdown-btn .selected-item {
  background: #C32F27 !important;
  /* right: 156% !important; */
}

::ng-deep .typy .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #C32F27 !important;
}

::ng-deep.producty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #44026C !important;
  /* right: 247% !important; */
}

::ng-deep .producty .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #44026C !important;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  border: 2px solid #000000 !important;
}

::ng-deep.identifier .multiselect-dropdown .dropdown-btn .selected-item {
  background: #006466 !important;
  /* right: 156% !important; */
}

::ng-deep .identifier .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #006466 !important;
}

.catag-placeholder.dropdown-placeholder .selected-placeholder {
  color: #00187A !important;
}

.subCatag-placeholder.dropdown-placeholder .selected-placeholder {
  color: #0C5A3E !important;
}

.typy-placeholder.dropdown-placeholder .selected-placeholder {
  color: #C32F27 !important;
}

.producty-placeholder.dropdown-placeholder .selected-placeholder {
  color: #44026C !important;
}

.identifier-placeholder.dropdown-placeholder .selected-placeholder {
  color: #006466 !important;
}

.ag-theme-material {
  height: 300px;
  border-radius: 20px;
  background-color: white;
  font-family: Gilroy;
  width: 100%;
}

::ng-deep.addproductpromo .mat-horizontal-stepper-header-container {
  width: 62%;
}

::ng-deep.addproductpromo .mat-horizontal-stepper-header {
  padding: 21px 16px;
  width: 126px;
}

.btnhover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
  border: none;
  background: grey;
  border-radius: 20%;
  position: relative;
  width: 43px;
  left: 10px;
}

.productdrprow {
  /* position: relative;
left: 60%;
margin-bottom: -53px; */
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

/* .prodSubGDropdwn {
  margin-bottom: -53px;
} */

::ng-deep .pscgrid-popup {
  width: 999px !important;
}

::ng-deep .pscgrid-popup .mat-dialog-container {
  padding: 0 !important;
  margin-top: 72px;
}

::ng-deep .grid-popup {
  width: 999px !important;
}

::ng-deep .grid-popup .mat-dialog-container {
  padding: 0 !important;
  margin-top: 72px;
}

::ng-deep .psubgrid-popup {
  width: 999px !important;
}

::ng-deep .psubgrid-popup .mat-dialog-container {
  padding: 0 !important;
  margin-top: 72px;
}

.prod-identifier {
  margin-top: 25px;
}

.scrollone {
  overflow-x: hidden;
  height: 530px;
}

::ng-deep.addItemsHeader .mat-step-text-label {
  font-size: 12px;
  bottom: 44px;
  left: 43px;
}

::ng-deep .cattybubble .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -29px !important;
  bottom: 0px;
  top: 50px !important;
  width: 42px;
  border: 1px solid #337ab7;
  background: #00187A !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
  padding-top: 1px;
}

::ng-deep .addsubcat .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -16px !important;
  bottom: 0px;
  top: 50px !important;
  width: 42px;
  border: 1px solid #337ab7;
  background: #0C5A3E !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: -1px;
  margin-right: -1px;

  padding-left: 8px;
  padding-top: 0px;
}

::ng-deep .typecat .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -33px !important;
  bottom: 0px;
  top: 50px !important;
  width: 42px;
  border: 1px solid #337ab7;
  background: #C32F27 !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
  padding-top: 1px;
}

::ng-deep .productcat .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -1px !important;
  bottom: 0px;
  top: 50px !important;
  width: 42px;
  border: 1px solid #337ab7;
  background: #44026C !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
  padding-top: 1px;
}

::ng-deep .identifiercat .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -3px !important;
  bottom: 0px;
  top: 50px !important;
  width: 42px;
  border: 1px solid #337ab7;
  background: #006466 !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
  padding-top: 1px;
}

.productdrp .multiselect-dropdown .dropdown-btn .selected-item {
  font-size: 12px;
  background: #44026C !important;

}


::ng-deep .productdrpbubble .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -1px !important;
  bottom: 0px;
  top: 50px !important;
  width: 42px;
  border: 1px solid ;
  background: #44026C !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
  padding-top: 1px;
}

::ng-deep.productdrp .multiselect-dropdown .dropdown-btn .selected-item {
  background: #44026C !important;
  /* right: 6% !important; */
  display: block;
}

.product-placeholder.dropdown-placeholder .selected-placeholder {
  color: #44026C !important;
}


  
   
.searchBox1 {
  position: relative;
  width: 250px; 
  left:76%;
  /* right:9%; */
  /* top: 67%; */
  /* border: 1px solid #0000004D; */
  border-radius: 11px;
}

.searchInput1 {
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  /* padding: 7px 40px 6px 26px; */
  padding: 7px 40px 6px 35px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
}

.searchicons1 {
  position: absolute;
  top: 55%;
  left: 6px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #9B9FA3;
}

.search-bt_n1 {
  display: block;
  height: 26px;
  border: none;
  /* background: #000000; */
  background: rgba(104, 110, 116, 0.66);
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.ag-theme-material {
  --ag-card-radius: 100px;
  --ag-border-radius: 20px;
  --ag-header-height: 30px;
  --ag-header-foreground-color: white;
  --ag-header-background-color:  #018B75CC  !important ;
}

:host ::ng-deep.ag-theme-material .ag-root-wrapper,
.ag-theme-material .ag-sticky-top {
 
  border: 1px solid rgba(152, 156, 160, 0.30) !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px !important;
 
}

.search-bt_n2 {
  top: 38px;
  left: 40.5%;
  position: absolute;
  display: block;
  height: 26px;
  border: none;
  background: rgba(104, 110, 116, 0.66);
  color: white;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.searchicons2 {
  transform: translateY(-50%);
  font-size: 24px;
  color: #9B9FA3;
  left: 25%;
    top: 38px;
    position: absolute;
    width: 20px;
}
.searchInput2 {
  width: 240px;
  height: 42px;
  background: #FFFFFF;
  /* padding: 7px 40px 6px 26px; */
  padding: 7px 40px 6px 35px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
}

.searchBox1 {
  width: 250px;
  border-radius: 11px;
  position: relative;
}
