<!-- <p>view-promotion-popup works!</p> -->
<div class="font">
    <div class=" main">
        <div class="container view-dealer-promotion-cls">
            <div class="addPromotion">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            </div>

            <div class="head-t">
                <h3 class="viewPromo">View: <b class="viewPromohead">Add Promotions</b></h3>
                <!-- <img class="print-img-viewpromo" src="../../../assets/material/print-img.svg" alt=""> -->
                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="promoInfoHeading">Promotion Information</label>
                    </div>
                </div>
                <div class="row promoSection">
                    <div class="col-lg-4">
                        <label class="view-promoName">Promotion Name <span class="mandatoryField">*</span></label><br>
                        <label class="input-label-view">{{promoName}}</label>
                    </div>
                    <div class="col-lg-4">
                        <label class="view-promoName">Start Date<span class="mandatoryField">*</span></label><br>
                        <label class="input-label-view">{{selectedStartDate}}</label>
                    </div>
                    <div class="col-lg-4">
                        <div >
                           
                                <label class="uploadlabel-Added" *ngIf="addImgpreview">
                                   
                                    <img src="data:image/jpeg;base64,{{base64textString}}" class="addproImg"
                                        for="file-input" alt="left-arr-btn"></label>
                            
                            <!-- <div class="fileadd">
                                <label class="uploadlabel" *ngIf="!addImgpreview">
                                    <input matInput placeholder="" #input id="file-input"
                                        class="form-control imgupload" type="file"
                                       >
                                    <img src="../../../assets/img/down13.png " width="70px" height="70px"
                                        for="file-input" alt="left-arr-btn"></label>
                                <p *ngIf="!addImgpreview">Add Image</p>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row promoSectiontwo">
                    <div class="col-lg-4">
                        <label class="view-promoName">Promotion Type <span class="mandatoryField">*</span></label><br>
                        <label class="input-label-view">{{promotionTypesName}}</label>
                    </div>
                    <div class="col-lg-4">
                        <label class="view-promoName">End Date<span class="mandatoryField">*</span></label><br>
                        <label class="input-label-view">{{selectedEndDate}}</label>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="viewpromoItem"> Items in Promotions </h5>
                    </div>
                </div>
                <!--first buy group section-->
                <!-- <div *ngIf="buyab"> -->
                <div class="row"  *ngIf="selectedPromo== 1">
                    <div class="col-lg-6 BuyGroup">
                        <div class="buy1" *ngFor="let addbuyg of buyGroupPlus; let i=index">
                            <div class="row">
                                <div class="col-10 buyGrp-h">
                                    <h5 class="item-header"><b>Buy </b>group {{i+1}}</h5>
                                </div>
                                <div class="col-2 plsImg">
                                    <img src="assets/img/plus-disabled.png" class="plus-image" alt="plus-btn">
                                </div>
                                <!-- <div class="col-2 plsAdd">
                                    <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="productlevel col-12">
                                    <label>Item Level<span class="astr">*</span></label><br>
                                    <label class="itemsProductOne">Product</label>
                                </div>
                            </div>
                            <div class="row itemSelectedSection">
                                <div class="col-10">
                                    <label>Items<span class="astr">*</span></label>
                                    <mat-card class="list-item-view">

                                        <mat-card-content class="item-in-box-view">
                                            <ul style="margin-left: -16%;">
                                                <ul>
                                                    <li *ngFor="let producttable of addbuyg.productselectedRows"
                                                        aria-placeholder="Items">
                                                        <mat-checkbox class="example-margin font"
                                                            [checked]="true" disabled="true"
>
                                                            <p class="pinside">{{producttable?.productName}}</p> </mat-checkbox>
                                                    </li>
                                                </ul>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-2 qtyalign">
                                    <label>Qty<span class="astr">*</span></label>

                                    <input type="number" placeholder="1" class="qty-box" id=qty name="qty" required [(ngModel)]="addbuyg.MaxVolume" name="qty{{i}}" disabled="true">
                                    <label>MOQ<span class="astr">*</span></label>
                                    <input type="number" placeholder="1" class="mty-box" id=moq name="moq" required name="moq{{i}}"   [(ngModel)]="addbuyg.MOQ" disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 GetGroup">
                        <div class="get1" *ngFor="let addbuyg of addgetgroup; let i=index">
                            <div class="row">
                                <div class="col-10 buyGrp-h">
                                    <h5 class="item-header"><b>Get </b>group  {{i+1}}</h5>
                                </div>
                                <div class="col-2 plsImg">
                                    <img src="assets/img/plus-disabled.png" class="plus-image" alt="plus-btn">
                                </div>

                            </div>
                            <div class="row">
                                <div class="productlevel col-12">
                                    <label>Item Level <span class="astr">*</span></label><br>
                                    <label class="itemsProductOne">Product</label>
                                </div>
                            </div>
                            <div class="row itemSelectedSection">
                                <div class="col-10">
                                    <label>Items<span class="astr">*</span></label>
                                    <mat-card class="list-item-view">

                                        <mat-card-content class="item-in-box-view">
                                            <ul style="margin-left: -7%;">
                                                <li
                                                *ngFor="let producttable of addbuyg?.productselectedRows">
                                                <mat-checkbox class="example-margin font"
                                                    [checked]="true"  disabled="true">
                                               <p class="pinside">{{producttable?.productName}}</p></mat-checkbox>
                                            </li>
                                               
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-2 qtyalign">
                                    <label>Qty<span class="astr">*</span></label>
                                    <input   [(ngModel)]="addbuyg.MaxVolume" name="Getqty{{i}}" type="number" placeholder="1" class="qty-box" id=qty name="qty" required disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--second buy group section-->
                <div class="row"  *ngIf="selectedPromo== 2">
                    <div class="col-lg-6 BuySets">

                        <div class="set1" *ngFor="let addset of addbuyset; let i=index">

                            <div class="row" *ngIf="i == 0">
                                <div class="col-10 buyGrp-h">
                                    <h5 class="item-header"><b>Buy</b>Sets</h5>
                                </div>
                          
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <b>Set {{i}}</b>
                                    <!-- <b class="set2 mt-2" *ngIf="i >= 1">Set {{i}}</b> -->
                                </div>
                                <div class="col-lg-2" *ngIf="i >= 1" >
                                    <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                </div>
                            </div>
                            <div class="buyoneSet">
                                <div class="buy-set-1"
                                    *ngFor="let addbuyg1 of addbuyset[i].BuyGroups; let j=index" >
                                    <div class="row">
                                        <div class="col-10 buyGrp-h">
                                            <h5 class="item-header"><b>Buy </b>group {{j}}</h5>
                                        </div>
                                        <div class="col-2 plsImg"  *ngIf="j==0">
                                            <img src="assets/img/plus.png" class="plus-image"
                                                alt="plus-btn">
                                        </div>
                                        <div class="col-2 plsAdd" 
                                            *ngIf="j>=1">
                                            <img src="assets/img/minus.png" class="plus-image"
                                                alt="plus-btn">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="productlevel col-12">
                                            <label>Item Level<span class="astr">*</span></label>
                                      
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <label>Items<span class="astr">*</span></label>
                                            <mat-card class="list-item"  [ngClass]="{ 'input-error': !addbuyset[i].BuyGroups[j].isDataValid}">
                                                <mat-card-content class="item-in-box" >
                                                    <ul style="margin-left: -7%;">
                                                        
                                                        <li
                                                            *ngFor="let producttable of addbuyset[i].BuyGroups[j].productselectedRows">
                                                            <mat-checkbox class="example-margin font"
                                                                [checked]="true" disabled="true"
>
                                                          <p class="pinside">      {{producttable?.productName}}</p>
                                                            </mat-checkbox>
                                                        </li>
                                                    </ul>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-2 qtyalign">
                                            <label>Qty<span class="astr">*</span></label>
                                            <input type="number" class="qty-box" value="{{qtyMaxNum}}"
                                                id=qty name="qty{{i}}.BuyGroups{{j}}" disabled="true"
                                               
                                              
                                                [(ngModel)]="addbuyset[i].BuyGroups[j].MaxVolume">
                                            <label>moq<span class="astr">*</span></label>
                                            <input type="number" class="mty-box" value="{{MoqMaxNum}}"
                                                id=moq name="moq{{j}}" name="qty1{{i}}.BuyGroups1{{j}}"
                                               
                                                [(ngModel)]="addbuyset[i].BuyGroups[j].MOQ" disabled="true">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- additional buy-g ends -->
                    </div>

                    <div class="col-lg-6 GetGroup">

                        <div class="set1" *ngFor="let getset of addgetset; let i=index">
                            <div class="row" *ngIf="i == 0">
                                <div class="col-10 buyGrp-h">
                                    <h5 class="item-header"><b>Get </b>Sets</h5>
                                </div>
                                <div class="col-2 plsImg" >
                                    <img src="assets/img/plus.png" class="plus-image" alt="plus-btn">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10">
                                    <b>Set {{i}}</b>
                                    <!-- <b class="gset2 mt-2" *ngIf="i >= 1">Set {{i}}</b> -->
                                </div>
                                <div class="col-lg-2" *ngIf="i >= 1">
                                    <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                </div>
                            </div>
                            <div class="buyoneSet">
                                <div class="getSet1"
                                    *ngFor="let addget of addgetset[i].GetGroups; let j=index">
                                    <div class="row">
                                        <div class="col-10 buyGrp-h">
                                            <h5 class="item-header"><b>Get </b>group {{j}}</h5>
                                        </div>
                                        <div class="col-2 plsImg" *ngIf="j==0">
                                            <img src="assets/img/plus.png" class="plus-image"
                                                alt="plus-btn">
                                        </div>
                                        <div class="col-2 plsAdd" 
                                            *ngIf="j>=1">
                                            <img src="assets/img/minus.png" class="plus-image"
                                                alt="plus-btn">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="productlevel col-12">
                                            <label>Item Level<span class="astr">*</span></label>
                                          
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <label>Items<span class="astr">*</span></label>
                                            <mat-card class="list-item"   [ngClass]="{ 'input-error': !addgetset[i].GetGroups[j].isDataValid}">
                                                <mat-card-content class="item-in-box">
                                                    <ul style="margin-left: -7%;">
                                                        <li
                                                            *ngFor="let producttable of addgetset[i].GetGroups[j]?.productselectedRows">
                                                            <mat-checkbox class="example-margin font"
                                                                [checked]="true" disabled="true"
                                                               >
                                                               <p class="pinside">      {{producttable?.productName}}</p>
                                                            </mat-checkbox>
                                                        </li>
                                                    </ul>

                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-2 qtyalign">
                                            <label>Qty<span class="astr">*</span></label>
                                            <input type="number" class="qty-box" placeholder="1"
                                                value="{{qtyMaxNum}}" id=qty name="qty1{{i}}.q2{{j}}"
                                                
                                                disabled="true"
                                                required [(ngModel)]="addgetset[i].GetGroups[j].MaxVolume">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!-- additional get-g ends -->
                    </div>

                </div>
                <!-- </div> -->
                <!-- <div *ngIf="buysets"> -->
              
                <!-- <div *ngIf="volumedc"> -->
                <div class="volume discount"  *ngIf="selectedPromo== 3">
                    <div class="row">
                        <div class="col-12">
                            <label>Item Level<span class="astr">*</span></label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 inlineNav">
                            <label>Items<span class="astr">*</span></label>
                            <label class="itemsProductfour">Product</label>
                            <mat-card class="list-item-view">
                                <mat-card-content class="item-in-box-view">

                                    <ul style="margin-left: -6%;">
                                        <li *ngFor="let producttable of productselectedRows">
                                            <mat-checkbox class="example-margin font" [checked]="true"
                                              disabled="true">
<p class="pinside">                                                {{producttable?.productName}}
</p>                                        </mat-checkbox>
                                        </li>
                                    </ul>
                                </mat-card-content>
                            </mat-card>
                            <br>
                            <label>Minimum Order Quantity<span class="astr">*</span></label>
                            <br>
                            <input class="minimumorderquantity" type="text" id="pValue" name="pValue" required
                            [(ngModel)]="minimumorderquantity"  placeholder="240" disabled>
                        </div>
                        <div class="col-lg-6 navItems">
                            <div class="row">
                                <div class="col-3">
                                    <h5 class="labelname">Qty From</h5>
                                </div>
                                <div class="col-3">
                                    <h5 class="labelname">Qty To</h5>
                                </div>
                                <div class="col-3">
                                    <h5 class="labelname">Discount</h5>
                                </div>
                                <div class="col-3">
                                    <mat-icon class="">add_circle</mat-icon>
                                </div>
                            </div>
                            <div class="row" *ngFor="let packingCharge of packingCharges; let i = index;">
                                <div class="col-3">
                                    <input class="qtyOfItems" type="text" required placeholder="100" [(ngModel)]="packingCharge.MinVolume" name="address_{{i}}" disabled>
                                </div>
                                <div class="col-3">
                                    <input class="qtyOfItems" type="text" required placeholder="999" disabled  [(ngModel)]="packingCharge.MaxVolume" name="MaxVolume{{i}}">

                                </div>
                                <div class="col-3">
                                    <input class="qtyOfItems" type="text" required placeholder="500" disabled    [(ngModel)]="packingCharge.DiscountPercentage" name="street_{{i}}">

                                </div>
                                <div class="col-3">
                                    <mat-icon class="removeCircle">
                                        remove_circle</mat-icon>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- </div> -->
                <!-- <div *ngIf="pricedc"> -->
                <div class="price discount"  *ngIf="selectedPromo== 4">
                    <div class="row">
                        <div class="col-12">
                            <label>Item Level<span class="astr">*</span></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 inlineNav">
                            <label>Items<span class="astr">*</span></label>
                            <mat-card class="list-item-view">
                                <mat-card-content class="item-in-box-view">
                                    <ul style="margin-left: -6%;">
                                        <li *ngFor="let producttable of productselectedRows">
                                            <mat-checkbox class="example-margin font" [checked]="true"  disabled="true"
                                                >
<p class="pinside">                                                {{producttable?.productName}}
</p>                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </mat-card-content>
                            </mat-card>
                            <br>
                            <label>Minimum Order Quantity<span class="astr">*</span></label>
                            <br>
                            <input class="minimumorderquantity" type="text" required placeholder="240" disabled
                            [(ngModel)]="minumorderqualityPrice">
                        </div>
                        <div class="col-lg-6 navItems">
                            <div class="row">
                                <div class="col-3">
                                    <h5 class="labelname">Qty From</h5>
                                </div>
                                <div class="col-3">
                                    <h5 class="labelname">Qty To</h5>
                                </div>
                                <div class="col-3">
                                    <h5 class="labelname">Price</h5>
                                </div>
                                <div class="col-3">
                                    <mat-icon class="" >add_circle</mat-icon>
                                </div>
                            </div>

                            <div class="row" *ngFor="let packingCharge of packingVolume; let i = index;">
                                <div class="col-3">
                                    <input class="qtyOfItems" type="text" id="pValue" required placeholder="100"
                                    [(ngModel)]="packingCharge.MinVolume" name="address_{{i}}" disabled="true" >
                                </div>
                                <div class="col-3">
                                    <input class="qtyOfItems" type="text" id="pValue" name="" placeholder="999" disabled
                                    [(ngModel)]="packingCharge.MaxVolume"  name="street_{{i}}"    >

                                </div>
                                <div class="col-3">
                                    <input class="qtyOfItems" type="text" id="pValue" required placeholder="500" disabled
                                    [(ngModel)]="packingCharge.MaxPrice" name="city_{{i}}"  >

                                </div>
                                <div class="col-3">
                                    <mat-icon class="removeCircle" >
                                        remove_circle</mat-icon>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- </div> -->

                <br>
                <!--geographies section -->
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="viewpromoItem"> Geographies </h5>
                    </div>
                </div>
                <div class="row selectedRowSection">
                    <div class="col-lg-11 slctd-row">
                        <div class="row">
                            <div class="col-lg-9 sltd-span">
                                <span class="selectedname" *ngFor="let data of geoGraphiesList;let i=index">{{data.aboveDefaultGeoName}} (0/{{data.geoCount}}) ;
                                    </span>
                                <span class="selectedcolor"></span>
                            </div>
                            <div class="col-lg-3">
                                <button class="slctd-geo-btn"> Show
                                    Geographies</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="viewpromoItem"> Dealers </h5>
                    </div>
                </div>
                <!--grid-->
                <div class="grid-table mt-2">
                    <ag-grid-angular  (firstDataRendered)="onFirstDataRendered($event)"  id="gridContainer" class="ag-theme-material" (gridReady)="onGridReady($event)"
                        [rowHeight]="25" [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                        [columnTypes]="columnTypes" [rowData]="rowData5" [suppressExcelExport]="true"
                        [popupParent]="popupParent" (cellValueChanged)="onCellValueChanged($event)"
                       (rowClicked)="openDialog()"
                        (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
                        (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"
                        (rowSelected)="onRowSelect($event)"
                       ></ag-grid-angular>
                </div>
                <!-- additional remarks -->
                <div class="row">
                    <div class="col-lg-12">
                        <label> Additional Remarks</label><br>
                        <input type="text" disabled
                         [(ngModel)]="Additional"  class="addtnlRemarks">
                    </div>
                </div>

            </div>
        </div>
    </div>