

<app-head (ToggleSideNav)="ToggleSideNav($event)"></app-head>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-sidenav-bar></app-sidenav-bar>
    </mat-sidenav>
    
<!-- <h2>Order works</h2> -->
    
<mat-sidenav-content>
    <!--<div class="dash-content" > -->
             <h2 class="header-text">Orders</h2> 
            <!-- <img  class="print-img" src="../../../assets/material/print-img.svg" alt=""> -->
     
                <div class="UNFAPP-asmnt-rgt-area main othersmastermenutab">
                    <!-- <div class="col-lg-12"> -->
                        <mat-tab-group class="order-lab" mat-stretch-tabs="false">
                            <mat-tab class="classi" *ngIf="tabList.indexOf('view') !== -1"
                                label="Order list">                         
                                   <app-order-list></app-order-list>
        
                            </mat-tab>
                        <mat-tab c label="Shipments" *ngIf="tabList.indexOf('view_shipment') !== -1">
                <app-orders-shipment></app-orders-shipment>
                    </mat-tab>
        
                        <mat-tab class="mati1" label="Invoice"  *ngIf="tabList.indexOf('view_invoice') !== -1">
                            <app-invoice>
            
                        </app-invoice></mat-tab>
                        <mat-tab label="Receipts">

                            <app-orders-receipts>
        
                            </app-orders-receipts>
        
                        </mat-tab>
                    </mat-tab-group>
                       
                    <!-- </div> -->
                </div>


          
                
    <!--</div> -->

   
   
</mat-sidenav-content>



</mat-sidenav-container> 

