<div class="filterSection">
    <div style="margin-left: 20px; display: inline-flex;">
        <div class="input-icons ">
            <input class="input-field " type="text" placeholder="Dealers" (keyup)="onSearchChangeGEO($event)">
            <i class="fa fa-search icon" aria-hidden="true"></i>
        </div>

        <div class="input-icons ">

            <input class="input-field" type="text" placeholder="Geography" (keyup)="onSearchChangeDEAL($event)">
            <i class="fa fa-search icon" aria-hidden="true"></i>
        </div>

        <!-- <div class="input-icons ">

            <date-range-picker [(dateRange)]="dateRange1" [maxDate]="maxDate"></date-range-picker>
        </div> -->

        <!-- dropdown -->
        <div class="input-icons ">
            <form [formGroup]="myForms" class="dropDown-field">
                <ng-multiselect-dropdown class="stts" name="citys" [placeholder]="'Status'"
                    formControlName="citys" [disabled]="disabled" [settings]="dropdownSettings1"
                    [data]="toppingList1" (onSelect)="onStatusSelect($event)"
                    (onDeSelect)="onStatusDeSelect($event)" (onDeSelectAll)="onItemDeSelectOrAllStatus($event)"
                    (onSelectAll)="onItemSelectOrAllStatus($event)">
                </ng-multiselect-dropdown>
            </form>
        </div>

    </div>
    <div class="icon btnhover1 refreshbtn1" (click)="refresh()">
        <img class="refresh1" src="assets/img/Vector.png" 
          alt="refresh">
      </div>

</div>
<div class="row" style="margin-bottom:5px;">
    <!-- <div class="col-lg-offset-6 col-md-offset-6"></div> -->
    <div class="col-md-4"  class="allicons">

        <div class="row">
            <div class="col-md-4">
                <div class="searchBox1 d-flex">
                    
                    <input class="searchInput1"  type="text" name=""
                        placeholder="Type & search for anything">
    
                    <!-- (keyup)="onSearchChange($event)" -->
                    <button class="searchButton" href="#">
                        <i class="material-icons">
                            search
                        </i>
                    </button>
                    <button class="search-btn" >Search</button>
                
                </div>
            </div>
            <div class="col-md-2">
                <!-- (click)="addUser()" -->
                <div class="add-user1">
            
                    <img class="imgorder" (click)="addOrderPromotion()" src="assets/img/add-btn.png"
                        alt="add-user-btn">
                        
                </div>
            </div>
            <div class="col-md-0">
                <!-- (click)="onBtnExport()" -->
                <div class="download-btn1" >
    
                    <img class="IMGorder" src="assets/img/orderlist-upload.svg" 
                        alt="add-user-btn">
            
                </div>
            </div>
            <div class="col-md-2">
                <!-- (click)="onBtnExport()" -->
                <div class="download-btn2" (click)="orderUpload()">
                
                    <img   class="imgOrder3"    src="assets/img/orderlist-downloD.svg" 
                        alt="add-user-btn">
                        
                </div>
            </div>
            <div class="col-md-0">
                <!-- (click)="onBtnExport()" -->
                <div class="download-btn3" >
            
                    <img   class="imgOrder4" src="assets/img/download-btn.png"
                        alt="add-user-btn">
                        
                </div>
            </div>
        </div>
    </div>
</div>


<div >
    <ag-grid-angular
 id="gridContainer"
 style=" height: 400px;border-radius: 20px;background-color: white;font-family: Gilroy;width: 98%; margin-left: 20px;"
 class="ag-theme-material"
 (gridReady)="onGridReady($event)"
 [rowHeight]="25"
 [headerHeight]="48"
 [columnDefs]="columnDefs"
 [defaultColDef]="defaultColDef"
 [columnTypes]="columnTypes"
 [rowData]="rowDatalist"
 [suppressExcelExport]="true"
 [popupParent]="popupParent"
  (cellValueChanged)="onCellValueChanged($event)"
 (firstDataRendered)="onFirstDataRendered($event)" 
 (firstDataRendered)="onFirstDataRendered($event)"
 (rowClicked)="openDialog()"
 (cellClicked)="onCellClicked($event)"
 [paginationPageSize]="paginationPageSize"

 (bodyScroll)="handleScroll($event)"

 ></ag-grid-angular>
 
 </div>
 <div class="pagination">
     <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span class="pagination-cls">{{rowData5.length}}</span>
 </div>
 