<div class="orderlist-section mt-3">
<div class="fiters-sec">
<div class="row">
    <div class="col-md-2 col-lg-2 col-sm-2">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="roles" name="city" [placeholder]="'Dealers'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings" [data]="dealerlist"
            (onSelect)="orderItemSelect($event)">
          </ng-multiselect-dropdown>
          <!-- <div class="dropdown-placeholder roles-placeholder">
            <span *ngIf="myForm.get('city').value.length == 0"> Select Roles </span>
            <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Role selected </span>
            <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Role(s) selected </span>

          </div> -->

        </form>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="roles" name="city" [placeholder]="'Geography'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings" [data]="dealerlist">
          </ng-multiselect-dropdown>
          <!-- <div class="dropdown-placeholder roles-placeholder">
            <span *ngIf="myForm.get('city').value.length == 0"> Select Roles </span>
            <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Role selected </span>
            <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Role(s) selected </span>

          </div> -->

        </form>
      </div>
      <div class="invoice" (click)="selectdays()">
        <mat-form-field appearance="fill">
          <mat-label>Order Date</mat-label>
          <mat-select [disabled]="disableSelect.value">
            <!-- <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option3" *ngFor="let invoice of invoiceDate">{{invoice}}</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
    <div class="col-md-2 col-lg-2 col-sm-2">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="roles" name="city" [placeholder]="'Status'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings" [data]="dealerlist">
          </ng-multiselect-dropdown>
          <!-- <div class="dropdown-placeholder roles-placeholder">
            <span *ngIf="myForm.get('city').value.length == 0"> Select Roles </span>
            <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Role selected </span>
            <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Role(s) selected </span>

          </div> -->

        </form>
      </div>
      <!-- refresh -->
      <div class="icon btnhover1 refreshbtn1" (click)="refresh()">
        <img class="refresh1" src="assets/img/Vector.png" 
          alt="refresh">
      </div>
</div>
<div class="row" style="margin-bottom:5px;">
    <!-- <div class="col-lg-offset-6 col-md-offset-6"></div> -->
    <div class="col-md-4"  class="allicons">

        <div class="row">
            <div class="col-md-4">
                <div class="searchBox1 d-flex">
                    
                    <input class="searchInput1"  type="text" name=""
                        placeholder="Type & search for anything">
    
                    <!-- (keyup)="onSearchChange($event)" -->
                    <button class="searchButton" href="#">
                        <i class="material-icons">
                            search
                        </i>
                    </button>
                    <button class="search-btn" >Search</button>
                
                </div>
            </div>
            <div class="col-md-2">
                <!-- (click)="addUser()" -->
                <div class="add-user1">
            
                    <img class="imgorder" (click)="addOrderPromotion()" src="assets/img/add-btn.png"
                        alt="add-user-btn">
                        
                </div>
            </div>
            <div class="col-md-0">
                <!-- (click)="onBtnExport()" -->
                <div class="download-btn1" >
    
                    <img class="IMGorder" src="assets/img/orderlist-upload.svg" 
                        alt="add-user-btn">
            
                </div>
            </div>
            <div class="col-md-2">
                <!-- (click)="onBtnExport()" -->
                <div class="download-btn2" (click)="orderUpload() ">
                
                    <img   class="imgOrder3"    src="assets/img/orderlist-downloD.svg" 
                        alt="add-user-btn">
                        
                </div>
            </div>
            <div class="col-md-0">
                <!-- (click)="onBtnExport()" -->
                <div class="download-btn3" >
            
                    <img   class="imgOrder4" src="assets/img/download-btn.png"
                        alt="add-user-btn">
                        
                </div>
            </div>
        </div>
    </div>
  </div>
<div class="col-md-0">
  <div class="sales-download">
      <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
          alt="add-user-btn">
  </div>
</div>
<div class="col-md-0">
<div class="sales-upload" >
    <img   class="imgupload" src="assets/img/orderlist-downloD.svg"
        alt="add-user-btn">    
</div>
</div>
<div class="col-md-0">
<div class="sales-dwnld" >
  <img   class="imgdwnl" src="assets/img/download-btn.png"
      alt="add-user-btn">    
</div>
</div>
</div>


<div >
    <ag-grid-angular
 id="gridContainer"
 class="ag-theme-material mt-3"
 (gridReady)="onGridReady($event)"
 [rowHeight]="25"
 [headerHeight]="48"
 [columnDefs]="columnDefs"
 [defaultColDef]="defaultColDef"
 [columnTypes]="columnTypes"
 [rowData]="rowDatalist"
 [suppressExcelExport]="true"
 [popupParent]="popupParent"
  (cellValueChanged)="onCellValueChanged($event)"
 (firstDataRendered)="onFirstDataRendered($event)" 
 (firstDataRendered)="onFirstDataRendered($event)"
 (rowClicked)="openDialog()"
 (cellClicked)="onCellClicked($event)"
 [paginationPageSize]="paginationPageSize"

 (bodyScroll)="handleScroll($event)"

 ></ag-grid-angular>
 
 </div>
 <div class="pagination">
     <span class="pagination-cls">1</span> to <span class="pagination-cls">{{paginationScrollCount}}</span> of <span class="pagination-cls">{{rowData5.length}}</span>
 </div>
</div>