<div class="orderlist-section mt-2 scrollbarorderlist ordersss" style="padding:15px;">
<div class="fiters-sec">
<div class="row orderlistdropdown" style="top: -25px;">
    <!-- <div class="col-md-2 col-lg-2 col-sm-2 custom-bubbles "  style="padding-left: 0px;" *ngIf="userType !== 'Dealer Admin'">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="Dealers dlsr"  name="city" [placeholder]="'Dealers'" formControlName="city"
            [disabled]="disabled" [settings]="dropdownSettings" [data]="dealerlist"
            (onSelect)="DealerorderSelect($event)" (onDeSelect)="DealerDeselect($event)"(onDeSelectAll)="DealerDeselectAll($event)"
            (onSelectAll)="DealerorderSelectAll($event)">
          </ng-multiselect-dropdown>
          <div class="dropdown-placeholder Dealers-placeholder">
            <span *ngIf="myForm.get('city').value.length == 0"><span style="font-family: 'Calibri';">Select Dealers</span>  </span> 
            <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer selected </span>
            <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer(s) selected </span>

          </div>

        </form>
      </div> -->

      <!-- <div class="col-md-2 col-lg-2 col-sm-2   custom-bubbles multiSelect" style="padding-left: 0px;" *ngIf="userType !== 'Dealer Admin'">
        <form [formGroup]="myForm1" class="dropdown-form">
          <ng-multiselect-dropdown  class="  Geography geographybubbles " name="city" [placeholder]="'Geography'" formControlName="geo"
            [disabled]="disabled" [settings]="dropdownSettings1" [data]="geogropdownlist" (onSelect)="geographyselect($event)"
            (onDeSelect)="geographyDeselect($event)" (onDeSelectAll)="geographyDeselectAll($event)"(onSelectAll)="geographyselectAll($event)">
          </ng-multiselect-dropdown>
          <div class="dropdown-placeholder Geography-placeholder">
            <span *ngIf="myForm1.get('geo').value.length == 0"> Select Geography </span>
            <span *ngIf="myForm1.get('geo').value.length == 1" class="selected-placeholder"> {{myForm1.get('geo').value.length}} Geography selected </span>
            <span *ngIf="myForm1.get('geo').value.length > 1" class="selected-placeholder"> {{myForm1.get('geo').value.length}} Geography(s) selected </span>

          </div>

        </form>
      </div> -->
      <div class="invoice">
        <!-- <mat-form-field appearance="fill">
          <mat-label>Order Date</mat-label>
          <mat-select [disabled]="disableSelect.value">
          
          </mat-select>
        </mat-form-field> -->
        
          
        
        <app-customdatepicker class="dateplaceholder" [showInputField]="true" label="Order Date " [selectedDate]="selectedDateRange" (customDatePickerEvent)="customDatePickerEvent($event)"></app-customdatepicker>
      </div>
    <div class="col-md-2 col-lg-2 col-sm-2 stts-dropdown  custom-bubbles" >
        <form [formGroup]="myForm2" class="dropdown-form">
          <ng-multiselect-dropdown class="Status STATUSS1" name="status" [placeholder]="'Status'" formControlName="status"
            [disabled]="disabled" [settings]="dropdownSettings2" [data]="statusDropList" (onSelect)="statusdropdownselect($event)"
            (onDeSelect)="statusDeselect($event)"(onDeSelectAll)="statusDeselectAll($event)"(onSelectAll)="statusselectAll($event)" >
          </ng-multiselect-dropdown>
          <div class="dropdown-placeholder Status-placeholder">
            <span *ngIf="myForm2.get('status').value.length == 0"> Select Status </span>
            <span *ngIf="myForm2.get('status').value.length == 1" class="selected-placeholder"> {{myForm2.get('status').value.length}} status selected </span>
            <span *ngIf="myForm2.get('status').value.length > 1" class="selected-placeholder"> {{myForm2.get('status').value.length}} status(s) selected </span>

          </div>
        </form>
      </div>
      <!-- Search -->
      <div class="col-md-2 col-lg-2 col-sm-2" >
        <div class="searchBox11 d-flex">
          <input class="searchInput11" type="text" name="" placeholder="Search Here Anything"(keyup)="onSearchChange($event)">
           <mat-icon  class="searchicons">search</mat-icon> 
          <button class="search-bt_n">Search</button>
           <button class="searchButtonn" href="#">
          </button>
        </div>
      </div>
      <!-- refresh -->
      <div class="col-md-1 col-lg-1 col-sm-1" >
            <div class="icon btnhover1 refreshbtn1" (click)="refresh()">
    
        <img src="assets/img/Refreshbutton.svg" class="refresh1">
      </div>
      </div>
      
      <div class="col-md-3 col-lg-3 col-sm-3" *ngIf="userType == 'Dealer Admin'" >
      </div>
      <div class="col-md-1 col-lg-1 col-sm-1" *ngIf="userType == 'Dealer Admin'" >
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3" *ngIf="userType !== 'Dealer Admin'" >
      </div>
      <div class="col-md-1 col-lg-1 col-sm-1" *ngIf="userType !== 'Dealer Admin'" >
      </div>
      
      <!--Add Promotion  -->
      <div class="col-md-0 col-lg-0 col-sm-0 " style="position: relative; display:flex;" *ngIf="userType !== 'Dealer Admin'">
       
        <div class="OrderDataDownloadeddiv" (click)="onBtnExport()" userRoleDirective="DOWNLOAD_ORDER" [pageName]="currentPageName">
          <img class="OrderlistDownloaded" src="../../../assets/img/ll.svg">
        </div> 
          
        
        &nbsp; &nbsp;&nbsp;
        <div class="AddorderButton" (click)="addOrderPromotion()" userRoleDirective="ADD_ORDER" [pageName]="currentPageName">
          <img class="AddorderImage" src="../../../assets/img/ADD.svg" alt="add">
        </div>

        
      </div>
    <!--  Add promotion Dealer admin  -->
    <div class="col-md-0 col-lg-0 col-sm-0" style="display: flex;" *ngIf="userType == 'Dealer Admin'">
      
      <div class="OrderDataDownloadeddiv" (click)="onBtnExport()" userRoleDirective="DOWNLOAD_ORDER" [pageName]="currentPageName">
        <img class="OrderlistDownloaded" src="../../../assets/img/ll.svg">
      </div> 
      &nbsp; &nbsp;&nbsp;
      <div class="AddorderButton" (click)="addOrderPromotion()" userRoleDirective="ADD_ORDER" [pageName]="currentPageName">
        <img class="AddorderImage" src="../../../assets/img/ADD.svg" alt="add">
      </div>
    </div>

<!-- down Dealer admin -->
<!-- <div class="col-md-0 col-lg-0 col-sm-0" *ngIf="userType == 'Dealer Admin'">
  
</div> -->
  
      <!-- Download -->
      <!-- <div class="col-md-0 col-lg-0 col-sm-0" *ngIf="userType !== 'Dealer Admin'">
        
      </div> -->


</div>
</div>

<!-- filter ends -->
<!-- <div class="row listicon">
   <div class="col-md-4 srch-hover" >
    
    <div class="searchBox1 d-flex">
      <input class="searchInput1" type="text" name="" placeholder="Type & search for anything"(keyup)="onSearchChange($event)">
      <button class="search-btn">Search</button>
      <button class="searchButton" href="#">
        <i class="material-icons">
          search
        </i>
        
      </button>
    </div>
   
  </div>
  
  <div class="col-md-0">
    <div class="sales-add" (click)="addOrderPromotion()" userRoleDirective="ADD_ORDER" [pageName]="currentPageName">
        <img class="imgorder" src="assets/img/add-btn.png"
            alt="add">
    </div>
</div>
<div class="col-md-0">
  <div class="sales-download">
      <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
          alt="add-user-btn">
  </div>
</div>
 <div class="col-md-0">
<div class="sales-upload" (click)="orderUpload() ">
    <img   class="imgupload" src="assets/img/orderlist-downloD.svg"
        alt="add-user-btn">    
</div>
</div>

<div class="col-md-0">
<div class="sales-dwnld" (click)="onBtnExport()" userRoleDirective="DOWNLOAD_ORDER" [pageName]="currentPageName" >
  <img   class="imgdwnl" src="../../../assets/img/Group 35891.png"
      alt="add-user-btn">    
</div>
</div>
</div> -->
  <div  class="AllText" *ngIf="userType !== 'Dealer Admin'">
    <span class="ml-0" id="OrderValue">ODV:<span class="ml-1" id="OrderValue">Order Value</span></span>
    <span class="ml-3" id="OrderValue">ODQ:<span class="ml-1" id="OrderValue">Order Quantity</span></span>
    <span class="ml-3" id="OrderValue">RDQ:<span class="ml-1"id="OrderValue"> Received Quantity</span></span>
    <span class="ml-3" id="OrderValue">OSQ:<span class="ml-0" id="OrderValue">Outstanding Quantity</span> </span>
    <span class="ml-3" id="OrderValue">OSV:<span class="ml-0" id="OrderValue">Outstanding Value</span> </span>
    <span class="ml-3" id="OrderValue" >ITQ:<span class="ml-0" id="OrderValue">In-transit Quantity</span> </span>
  </div>
    <ag-grid-angular
 id="gridContainer" style=" height: 422px;background-color: white;font-family: Calibri ;width: 101%;
 overflow: hidden;"
 class="ag-theme-material mt-3"
 (gridReady)="onGridReady($event)"
 [rowHeight]="25"
 [headerHeight]="48"
 [columnDefs]="columnDefs"
 [defaultColDef]="defaultColDef"
 [columnTypes]="columnTypes"
 [rowData]="rowDatalist"
 [suppressExcelExport]="true"
 [popupParent]="popupParent"
  (cellValueChanged)="onCellValueChanged($event)"
 (firstDataRendered)="onFirstDataRendered($event)" 
 (firstDataRendered)="onFirstDataRendered($event)"
 (rowClicked)="openDialog()"
 (cellClicked)="onCellClicked($event)"
 [paginationPageSize]="paginationPageSize"

 (bodyScroll)="handleScroll($event)"

 ></ag-grid-angular>
 
 <!-- </div> -->
 <!-- <div class="pagination">
     <span class="pagination-cls">1</span> to <span class="pagination-cls">
       {{paginationScrollCount}} 
      
    </span> of <span class="pagination-cls">{{rowDatalist.length}}

     </span>
 </div> -->
 <div class="pagination">
  <span class="pagination-cls">1 &nbsp;</span><span style=" color: #686E74;">-</span>&nbsp; <span class="pagination-cls">{{paginationScrollCount}}</span> <span class="pagination-cls"> &nbsp; of &nbsp;</span>
  <span class="pagination-length">{{rowDatalist.length}}</span>
</div>
</div>