<div class="container font">

    <div class="rest-pwsd row">

        <div class="tumbsup col-3"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3 col-7">
            
            <p class="deletedsu">promotionList is <b style="color: rgba(250, 63, 63, 1);">Closed </b>Successfully!</p>
        </div>
        <div class="closeImg col-2" (click)=" closeDialog()"><img src="../../../../../assets/userImages/user-closeImg.svg"
                alt="">
            </div>

    </div>

   
   
   
</div>