<div class="container-fluid" style="padding-left: 0px;">
  <div class="row">
    <div style="margin-left: 17px;margin-top: 25px;width: 150px;">
      <div class="input-group">
        <div class="form-outline">
          <!-- <label class="form-label" for="form1">Search</label> -->
      
          <input type="search" placeholder="search"  #input class="form-control" style="border:solid #2962ff 1px;" />
        </div>
        <!-- <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button> -->
      </div>
    </div>
    <div style="    margin-left: 15px;margin-top: 25px;width: 150px;">
      <div class="input-group">
        <div class="form-outline">
          <!-- <label class="form-label" for="form1">Search</label> -->
      
          <input type="search" placeholder="Name"  #input class="form-control" style="border:solid #2962ff 1px;" />
        </div>
        <!-- <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button> -->
      </div>
    </div>
    <div style="margin-left: 15px;margin-top: 25px;width: 150px;">
      <div class="input-group">
        <div class="form-outline">
          <!-- <label class="form-label" for="form1">Search</label> -->
      
          <input type="search" placeholder="Description"  #input class="form-control" style="border:solid #2962ff 1px;" />
        </div>
        <!-- <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button> -->
      </div>
    </div>
    <div style="margin-left: 15px;margin-top: 25px;width: 150px;">
      <div class="input-group">
        <div class="form-outline">
          <!-- <label class="form-label" for="form1">Search</label> -->
      
          <input type="search" placeholder="Product Group"  #input class="form-control" style="border:solid #2962ff 1px;" />
        </div>
        <!-- <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button> -->
      </div>
    </div>
    <div style="margin-left: 15px;margin-top: 25px;width: 150px;">
      <div class="input-group">
        <div class="form-outline">
          <!-- <label class="form-label" for="form1">Search</label> -->
      
          <input type="search" placeholder="Brand Name"  #input class="form-control" style="border:solid #2962ff 1px;" />
        </div>
        <!-- <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button> -->
      </div>
    </div>
    <div style="margin-left: 15px;margin-top: 25px;width: 150px;">
      <div class="input-group">
        <div class="form-outline">
          <!-- <label class="form-label" for="form1">Search</label> -->
      
          <input type="search" placeholder="SKU Number"  #input class="form-control" style="border:solid #2962ff 1px;" />
        </div>
        <!-- <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button> -->
      </div>
    </div>
    <div style="max-width: 30%;">
     <button  (click)="addMaterial()" class="btn  btnhover createcoursebtn" type="button" id="dropdownMenu2"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 27px;margin-top: 24px;width: 116px;" >
   + Add Materials
</button>
</div>
  </div>
  <div class="row">
      <div class="col-xl-12 col-md-12 ACVTY-no-pad" style="width: 100%;">
          <div class="UNFAPP-asmnt-rgt-area" style="padding: 15px;height: 92vh;">
        

<div class="row">
<div class="col-2">
<h4 style="color: #017EFA
;font-family: Montserrat, sans-serif;font-size:15px ;font-weight: 550;"><b>Users</b></h4>
</div>


<div class="col-4 float-right">


</div>
<ag-grid-angular
style="width: 100%; height: 400px;"
class="ag-theme-alpine"
[rowHeight]="30"
[pagination]="true"
[paginationAutoPageSize]="true"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
[columnTypes]="columnTypes"
[rowData]="rowData3"
(cellValueChanged)="onCellValueChanged($event)"

></ag-grid-angular>
<!-- <ag-grid-angular     style="width: 500px; height: 150px;"     class="ag-theme-alpine"     [rowData]="rowData3"     [columnDefs]="columnDefs"> </ag-grid-angular> -->
<div >
</div>

</div>
      </div>
  </div>
</div>
