.material-list {
  position: absolute;
  height: 56px;
  left: 2px;
  right: 39px;
  top: 2px;
  background: #FFFFFF;
  z-index: 1000;
}

.createcoursebtn {
  background: #59419979;
  float: right;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  width: 100px;
  padding: 10px;
  border-radius: 16px;
}

.ag-theme-alpine .ag-filter-toolpanel-header,
.ag-theme-alpine .ag-filter-toolpanel-search,
.ag-theme-alpine .ag-status-bar,
.ag-theme-alpine .ag-header-row,
.ag-theme-alpine .ag-panel-title-bar-title,
.ag-theme-alpine .ag-multi-filter-group-title-bar {

  --ag-background-color: white;
}

.ag-header-row ag-header-row-column {
  --ag-background-color: white;
}

.ag-theme-alpine {
  --ag-header-height: 30px;
  /* --ag-header-foreground-color: blue; */
  --ag-header-background-color: white;
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}

.material-list .text {
  position: absolute;
  left: 1.22%;
  right: 83.91%;
  top: 8.93%;
  bottom: 7.14%;
  font-family: 'Gilroy-ExtraBold';
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #367BF5;
}

.sub-header {
  font-size: 20px;
  color: #017EFA;
  padding-top: 15px;
  padding-left: 15px;
  font-weight: 500;
}

.btn-dms-success {
  background-color: #0091EA;
  margin: 15px 15px 0 0;
}

#cdk-overlay-0 .mat-dialog-container {
  padding: 0;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #000000 !important;
  width: 100%;
  /* height: 62%; */
  padding: 9px 12px !important;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 10px !important;
  background: white !important;
  height: 41px !important;
}

::ng-deep.dropdown-multiselect__caret:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #000000;
  margin-top: 4px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #000000 transparent !important;
  content: "";
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  box-sizing: content-box;
  content: "";
  color: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #000000;
  text-align: center;
  transition: all .4s ease;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  animation: borderscale .2s ease-in;
  background: #00187A !important;
}

.btnhover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
  border: none;
  background: #000000;
  border-radius: 24%;
  position: relative;
  width: 43px;
}

::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #00187A !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 10px !important;
  float: left;
  display: flex;
  max-width: 170px !important;
  position: relative;
  top: 39px !important;
}

::ng-deep.my-class-1 {
  color: #FA3F3F !important;
}

::ng-deep.my-class-2 {
  color: #17B15C !important;
}

::ng-deep.catty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #00187A !important;
  /* right: 6% !important; */
  display: block;
}
/* ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
    background: #D23F00 !important;
    right: 6% !important;
    display: block;
  } */
/* ::ng-deep .catty .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    background: #D23F00 !important;
    } */
::ng-deep.subcatty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #0C5A3E !important;
  /* right: 71% !important; */
}

::ng-deep .subcatty .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #0C5A3E !important;
}

::ng-deep.typy .multiselect-dropdown .dropdown-btn .selected-item {
  background: #C32F27 !important;
  /* right: 156% !important; */
}

::ng-deep .typy .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #C32F27 !important;
}

::ng-deep.producty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #44026C !important;
  /* right: 247% !important; */
}

::ng-deep .product .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #44026C !important;
}

::ng-deep.sttss .multiselect-dropdown .dropdown-btn .selected-item {
  background: #000000 !important;
  /* right: 289% !important; */
}

::ng-deep .sttss .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #000000 !important;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  border: 2px solid #000000 !important;
}

/* ::ng-deep.multiselect-dropdown .dropdown-btn span span{
    position: relative;
    bottom: 25px !important;
  } */
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #17c017 !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #17c017 !important;
}

.ag-theme-material .ag-filter-toolpanel-header,
.ag-theme-material .ag-filter-toolpanel-search,
.ag-theme-material .ag-status-bar,
.ag-theme-material .ag-header-row,
.ag-theme-alpine .ag-panel-title-bar-title,
.ag-theme-alpine .ag-multi-filter-group-title-bar {

  --ag-background-color: rgba(219, 19, 19, 0.863);
  --ag-border-radius: 25px;
}

.ag-header-row ag-header-row-column {
  --ag-background-color: rgba(0, 0, 0, 0.815);
}

.ag-root-wrapper .ag-layout-normal .ag-ltr {
  border: solid 10px;
  border-color: var(--ag-border-color, #094db9) !important;
  border-radius: 100px;
}

.customHeaderLabel {
  color: #007bff;
}

.ag-theme-balham .ag-header-cell {
  background-color: #b81111 !important;
}

::ng-deep.ag-header-cell-text {
  color: #686E74 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px !important;
}

.printImg {
  position: relative;
  height: 0px;
  left: 96%;
  bottom: 26%;
}

::ng-deep.ag-theme-material .ag-root-wrapper,
.ag-theme-material .ag-sticky-top {

  border: 0.5px solid #000000 !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important;
  border-radius: 25px !important;

}

.ag-root-wrapper {
  border: solid 10px;
  border-color: var(--ag-border-color, #094db9) !important;
  border-radius: 100px;
}

.ag-layout-norm {
  --ag-border: solid;

}

.ag-ltr {
  --ag-border: solid;

}

.ag-header-cell-label {
  color: blue !important;
  font-weight: bold;
}

.ag-pivot-off .ag-header-cell-label {
  color: #8a6d3b;
}

.ag-theme-material {

  --ag-card-radius: 100px;
  --ag-border-radius: 20px;
  --ag-header-height: 30px;
  --ag-header-background-color: rgba(0, 0, 0, 0);
}

::ng-deep.ag-theme-material ::-webkit-scrollbar-thumb {

  /* background: red !important;
  border-radius: 10px; */

}

::ng-deep.ag-sticky-top {
  border-bottom: 0.5px solid #000000;
}

.searchButton {
  display: bolck;
  color: #FFFFFF;
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
}

/* .searchButton {
        color: #FFFFFF;
        float: right;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border: none;
      } */
.searchBox:hover>.searchButton,
.searchBox>.searchInput,
.search-btn {
  display: none;
}

.searchBox {
  float: right;
  top: 32px;
  position: relative;
  left: 71%;
  cursor: pointer;
}

.add-user {
  margin-left: -25px;
}

.searchBox:hover>.searchButton {
  display: block;
  color: #000;
  float: left;
  width: 37px;
  height: 37px;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  background: none;
  position: relative;
  right: 300px;
  top: 0px;
}

.add-user {
  border: none;
  background: #000000;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-top: 32px;
  margin-left: 62%;
  cursor: pointer;
}

.searchBox:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 7px;
}

/* .material-icons
{
  margin-right: 95px;
  margin-top: 5px;
} */
.searchBox:hover>.searchInput {
  display: block;
  width: 335px;
  height: 43px;
  background: #FFFFFF;
  float: left;
  padding: 5px 32px 6px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0px;
  bottom: -3px;
}

/* .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: 20px !important;
  bottom: 10px !important;
} */
/* .searchButton {
        color: #FFFFFF;
        float: right;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border: none;
      } */

.dropdown-btn span .ng-star-inserted {
  display: none !important;
}

@media (max-width: 991px) {
  ::ng-deep.multiselect-dropdown {
    width: 90% !important;
  }

  ::ng-deep.multiselect-dropdown .dropdown-btn {
    margin-bottom: 35px !important;
  }

  ::ng-deep.subcatty .multiselect-dropdown .dropdown-btn .selected-item {
    background: #0C5A3E !important;
    right: 0% !important;
  }

  .refreshbtn {
    width: 40px;
    height: 39px;
    margin-top: -20px;
    margin-left: 261px;
  }

  .searchresp {
    left: -115%;
    top: -2px;

  }

  .searchresp:hover {
    display: none;

  }

  .add-user {
    margin-left: -26px;
    margin-top: -40px;
  }

  .printImg {
    left: 106%;
  }

  .add-user {
    margin-left: -29px;
    margin-top: -41px;
  }

  ::ng-deep.multiselect-dropdown .dropdown-btn span span {
    position: relative;
    bottom: 0px;
  }

  ::ng-deep.typy .multiselect-dropdown .dropdown-btn .selected-item {
    background: #C32F27 !important;
    right: 0% !important;
  }

  ::ng-deep.producty .multiselect-dropdown .dropdown-btn .selected-item {
    background: #44026C !important;
    right: 0% !important;
  }

  ::ng-deep.sttss .multiselect-dropdown .dropdown-btn .selected-item {
    background: #000000 !important;
    right: 0% !important;
  }

}

.dropdown-placeholder {
  background: white;
  color: #808080;
  top: 0;
  position: absolute;
  height: 41px;
  line-height: 41px;
  left: 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  /* width: 80%; */
  border-radius: 10px 0 0 10px !important;
  padding-left: 10px;
  pointer-events: none;
}

.cats-placeholder.dropdown-placeholder .selected-placeholder {
  color: #00187A !important;
}

.subcats-placeholder.dropdown-placeholder .selected-placeholder {
  color: #0C5A3E !important;
}

.types-placeholder.dropdown-placeholder .selected-placeholder {
  color: #C32F27 !important;
}

.prod-placeholder.dropdown-placeholder .selected-placeholder {
  color: #44026C !important;
}

.stts-placeholder.dropdown-placeholder .selected-placeholder {
  color: #000 !important;
}

.containerf {
  padding-left: 0px;
}

.screen-width {
  width: 100%;
}

.screen-h {
  height: 92vh;
}

.rowAlign {
  position: relative;
  top: 5%;
  width: 111%;
}

.imageRefresh {
  position: relative;
  top: 9px;
  left: 12px;
}

.searchRow {
  margin-left: 88%;
  position: relative;
  top: 7%;
}
::ng-deep.dropdown-list {
  position: absolute;
  padding-top: 6px;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 0px !important;
  box-shadow: 0 1px 5px #959595;
}
.searchAlign {
  font-family: 'Gilroy';
  position: relative;
  top: 3px;
}

.addImage {
  position: relative;
  top: 8px;
  left: 10px;
}

.gridAlign {
  width: 100%;
  height: 440px;
  border-radius: 20px;
  background-color: white;
  font-family: Gilroy;
  position: relative;
  top: 9.5%;
}
.pagination {
  float:right !important;
}

.pagination-cls {
  font-size: 14px;
  font-weight: 900;
}