
  <div class="font ">
    <div class=" main" width="400%">
    <div class="container" >
          <div class="addUser">
            <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>        <div class="head-t">
          <h3 class="addU font">{{headerName}}</h3>
        </div>
        <div>
          <br>
          <h6 style="color: #000000
   ;font-size:20px; font-weight: lighter;"><b> Information</b></h6>
   <!-- <p style="color: red;">{{errorMsg}}</p> -->
        </div>
        <div class="addUserForm">
          <form>
            <div class="row">
              <div class="col">
                  <label>Name <span>*</span></label>
                  <br>
                  <input type="text" placeholder="Enter Name" [(ngModel)]="name" class="imputtext">        </div>
                <div class="col">
                  <label>Display Units<span>*</span></label>
                  <br>
                <input type="text" placeholder="Enter display unit" class="imputtext" >         </div>
            </div>
                <br>
              <div class="row">
                <div class="col">
                  <label>Conversion Rate<span>*</span></label>
                  <br>
                  <input type="text" placeholder="Enter Conversion Rate" class="imputtext" style="width: 100%;">
                
                </div>
                <!-- <div class="col">
                 
                  <label>Default Currency<span>*</span></label>
                  <br>
                  <input type="text" placeholder="Enter Default Currency" >
                </div> -->
              </div>       
              <br>
            <div class="row">
                <div class="col">
                
              <label>Conversion<span>*</span></label>
              <br>
              <input type="text" placeholder="Enter Conversion" class="imputtext" >
                
                </div>
                <div class="col">
                
                  <label><span style="color: aliceblue;">.</span></label>
                  <br>
<h2 style="padding-top: 11px;">=</h2>                    
                    </div>
                <div class="col">
                
                  <label><span style="color: aliceblue;">.</span></label>
                  <br>
                  <input type="text" placeholder="Enter Conversion" [disabled]="true" class="imputtext form-select form-select-lg mb-8">
                    
                    </div>

                   
               
              </div>    
              <br>
              </form>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary btn-block" style="background-color: black;" (click)="addcurncy()">Save</button>
                </div>
                  <div class="col">
                    <button class="btn btn-primary btn-block" style="background-color: white;color: black;">Cancel</button>
 
                  </div>
              </div>
          <span style="margin-left:17%;position: relative;top: 10px;">Required fields*</span>
        </div>
      </div>
    </div>
  </div>
</div>











