::ng-deep.mat-dialog-container {
    
    border-radius: 21px;
}


.mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;

    /* background-color: #CED4DA; */
}

.main {
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;

}

.font {
    font-family: 'Gilroy';
}

.head-t h3 {
    color: #000000;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 2px;
}

.addU {
    position: relative;
    /* font-family: 'Gilroy-Bold';  */
    font-weight: bold;
    font-size: 20px;
}

.addU:after {
    content: "";
    display: block;
    width: 205px;
    height: 2px;
    background: #686E74;
    right: 0;
    top: 50%;
    position: absolute;
}

.addU:before {
    content: "";
    display: block;
    width: 201px;
    height: 2px;
    background: #686E74;
    left: 0;
    top: 50%;
    position: absolute;
}

.addUserForm input {
    border-radius: 10px;
    /* border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important; */
    border: black 1px solid;
    padding: 5px 5px;
    width: 250px;
    font-size: 14px;
    outline: none !important;
    font-weight: bold;
    color: #000000;
  
}
.divAlign{
    position: relative;
    bottom: 22px;
}
::ng-deep.btn-primary[_ngcontent-uke-c437]:disabled {
    margin-bottom: 0px !important;
}

span {
    color: red;
}

.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

label {
    /* padding: 2px 0; */
    font-size: 14px;
    margin: 5px;
}

mat-form-field {
    width: 246px;

}

/* ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.7em 0;
    } */

::ng-deep.mat-dialog-container {
    background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    ;
}

.btn-primary:disabled {
    border-color: black;
    background-color: black;
    /* margin-left: 79px; */
    /* margin-top: -12px;
    width:66%; */
}
.imputtext{
    height: 43px;
}
.defaultCurrLabel{
    position: relative;
    left: 300px;
    bottom: 36px;
}