<div class="container">
    <div class="EditUser-p">
        <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        <div class="head-t">
            <h3>Add Currency</h3>
        </div>
        <div class="row edituser">
            <div class="AddUserForm col-6">
              
                    <label>Name </label>
                    <br>
                    <input type="text" placeholder="">
                    <br>
                    <label>Display Units</label>
                    <br>
                    <input type="text" placeholder="Enter your First Name">
                    <br>
                    <label>Conversion Rate</label>
                    <br>
                    <input type="text" placeholder="Enter your First Name">
                   
            </div>
            <div class="AddUserForm col-6">
                <label>Default Currency</label>
                <br>
                <input type="number" placeholder="12">
                <br>
                <label>Conversion</label>
                <br>
                <input type="text" placeholder="Enter your First Name">
                  <div style="margin-top: 10px;">
                    <button class="btn E-saveBtn">Save</button>
                    <button class="btn E-cancelBtn" >Cancel</button>
                  </div>
            </div>
        </div>
    </div>
</div>