<div class="section">
    <div class="material-cl row">
        <!-- <div class="col-6">
           <h2>Geographies</h2>
        </div>
        <div class="col-6 printImg">
            <img src="../../../assets/material/print-img.svg" alt="">
        </div> -->
    </div>
    <!-- <div class="container-fluid"> -->
        <div class="col-lg-12 row-padding">
        <div class="row geo-classification-crad">
           
         <!--start country column -->
        <div class="col-sm-4">
            <div class="row">
                <p class="col-10">Country (3)</p>
                <p class="col-2"><mat-icon (click) =addCountry()>add_circle</mat-icon></p>
            </div> 
            <mat-card class="mat-card-content">
                <mat-card-content >
                    <div class=" d-flex " *ngFor="let catg of countryName">
                        <p class="col-10 catg"  (click)="onClick(catg)"  [ngClass]="{ 'selected': catg == selectedItem }">{{catg}}</p>
                        <mat-icon class="col-2" (click)="removecatg(catg)">remove_circle</mat-icon>
                    </div>
                    <div class="buttn d-flex" *ngIf = addCountryButton>
                        <div class="col-10">
                            <div class="row add-country-cls">
                                <form [formGroup]="countryForm">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                         <input type="text" class="input-country-cls" formControlName="countryFormTag" placeholder="Add category name">
                                       </div>
                                       <div class="col-3">
                                        <input type="text" class="input-countrycode-cls" formControlName="countryFormTag" placeholder="Code">
                                      </div>
                                        <div class="col-3">
                                            <button class="addcode">Add</button>
                                        </div> 
                                    </div>
                                </div>
                               
                            </form>
                            </div>
                        </div>
                        <div class="col-2">
                            <mat-icon class="col-2 remove-mat-icon" (click)="removemoreFileds()">remove_circle</mat-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!--start country column -->

        <!--start state column -->    
        <div class="col-sm-4">
            <div class="row">
                <p class="col-10">State (3)</p>
                <p class="col-2"><mat-icon (click) =addState()>add_circle</mat-icon></p>
            </div> 
            <mat-card class="mat-card-content">
                <mat-card-content>
                    <div class=" d-flex" *ngFor="let subc of stateName" >
                        <p class="col-10 subc"  (click)="onClick(subc)"  [ngClass]="{ 'subselected': subc == selectedItem }">{{subc}}</p>
                        <mat-icon class="col-2" (click)="removesub(subc)">remove_circle</mat-icon>
                    </div>
                    <div class="buttn d-flex" *ngIf = addStateButton>
                        <div class="col-10">
                            <div class="row add-country-cls">
                                <form [formGroup]="stateForm">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                         <input type="text" class="input-country-cls" formControlName="stateFormTag" placeholder="Add category name">
                                       </div>
                                       <div class="col-3">
                                        <input type="text" class="input-countrycode-cls" formControlName="statecodeFormTag" placeholder="Code">
                                      </div>
                                        <div class="col-3">
                                            <button class="addcode">Add</button>
                                        </div> 
                                    </div>
                                </div>
                               
                            </form>
                            </div>
                        </div>
                        <div class="col-2">
                            <mat-icon class="col-2 remove-mat-icon" (click)="removeStatemoreFileds()">remove_circle</mat-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!--end state column -->

        <!--start district column -->
        <div class="col-sm-4">
        <div class="row">
            <p class="col-10">District (2)</p>
            <p class="col-2"><mat-icon (click) =addDistrict()>add_circle</mat-icon></p>
        </div> 
        <mat-card class="mat-card-content">
            <mat-card-content>
                <div class=" d-flex" *ngFor="let type of DistrictName">
                    <p class="col-10 type" (click)="onClick(type)"  [ngClass]="{ 'typeselected': type == selectedItem }">{{type}}</p>
                    <mat-icon class="col-2" (click)="removetype(type)">remove_circle</mat-icon>
                </div>
                <div class="buttn d-flex" *ngIf = addDistrictButton>
                    <div class="row add-country-cls">
                        <form [formGroup]="districtForm">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                 <input type="text" class="input-district-cls" formControlName="distirictFormTag" placeholder="Add category name">
                               </div>
                               <div class="col-3">
                                <input type="text" class="input-countrycode-cls" formControlName="districtcode" placeholder="Code">
                              </div>
                                <div class="col-3">
                                    <button class="addcode">Add</button>
                                </div> 
                            </div>
                        </div>
                       
                    </form>
                    </div>
                    
                        <mat-icon class="col-2 remove-mat-icon" (click)="removeDistmoreFileds()">remove_circle</mat-icon>
                    
                </div>
            </mat-card-content>
        </mat-card>
        </div>
        <!--start district column -->

        <!--start region column -->
        <div class="col-sm-4 regions-column">
            <div class="row">
                <p class="col-10">Regions (2)</p>
                <p class="col-2"><mat-icon (click) =addRegion()>add_circle</mat-icon></p>
            </div> 
            <mat-card class="mat-card-content">
                <mat-card-content>
                    <div class=" d-flex" *ngFor="let region of regionsName">
                        <p class="col-10 region" (click)="onClick(region)"  [ngClass]="{ 'regionselected': region == selectedItem }">{{region}}</p>
                        <mat-icon class="col-2" (click)="removeregions(region)">remove_circle</mat-icon>
                    </div>
                    <div class="buttn d-flex" *ngIf = addRegionButton>
                        <div class="row add-country-cls">
                            <form [formGroup]="regionForm">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                     <input type="text" class="input-region-cls" formControlName="regionFormTag" placeholder="Add category name">
                                   </div>
                                   <div class="col-3">
                                    <input type="text" class="input-countrycode-cls" formControlName="regionCode" placeholder="Code">
                                  </div>
                                    <div class="col-3">
                                        <button class="addcode">Add</button>
                                    </div> 
                                </div>
                            </div>
                           
                        </form>
                        </div>
                        <div class="col-2">
                            <mat-icon class="col-2 remove-mat-icon" (click)="removeregionsMore()">remove_circle</mat-icon>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!--end region column -->
         </div>
        </div>
    <!-- </div> -->
</div>