
.mat-expansion-panel{
    box-shadow: none !important;
}
.mat-expansion-panel-header:hover{
    background: white!important;
}
.mat-expansion-panel-header{
    margin-left: -8px;
}
/* mat-list-item:hover{
    background: rgb(234, 212, 190);
} */
mat-list{
    background: white;
}
.active{
    color: blue !important;  
    }
    .m-overlay{ 
        display: none; width:100%; height:100vh; position:fixed; left:0; top:0;opacity: 0; visibility: hidden; background:rgba(0,0,0,0.2); content: ''; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s;
    }
    .aside-hamburger-menu{
        display: none;
    }