
.sidenavbar{
  position: fixed;
  width: 5rem;
  height: 100vh;
  background: #fff;
  border-left: 10px solid var (--blue);
  transition: 0.5s;
  z-index: 1;
  
}
mat-list-item:hover{
color: var(--bar);
background: linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
border-radius: 50px 0px 0px 50px;
}
mat-list-item :active{
  background: linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
border-radius: 50px 0px 0px 50px;
}
/* mat-list-item:before{
position: absolute;
content: '';
height: 30px;
width: 30px;
background: red;
right: 0;
bottom: 100%;
border-bottom-right-radius: 13px;
box-shadow: 0 17px 0 yellow;
}
mat-list-item:after{
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  background: red;
  right: 0;
  top: 100%;
  border-top-right-radius: 13px;
  box-shadow: 0 -17px 0 yellow;
  } */
.btnclose{
margin-left: auto;
cursor: pointer;
width: 2rem;
height: 2rem;
border-radius: 50%;

}
.sidenav-collapsed {
  width: 12.5625rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
mat-expansion-panel-header {
margin-left: -8px;
}
.mat-expansion-panel{
 box-shadow: none;
}
mat-icon{
  margin-right: 8px;
}
@media (max-width:600px){
  /* .sidenavbar{
    display: none;
  } */
}