.sidenavbar {
  position: fixed;
  width: 5rem;
  height: 100vh;
  background: #fff;
  border-left: 10px solid var (--blue);
  transition: 0.5s;
  z-index: 1;
  

}

/* mat-list {
  padding-left: 8px;
  margin-top: 12px;
} */
::ng-deep.mat-expansion-panel-content .mat-list-item{

  height: 35px !important;

}
mat-list-item:hover {
  color: var(--bar);
  background: linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
  border-radius: 50px 0px 0px 50px;
  color: black;
  transition: 0.4s;
}

.active
{
   background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important; 
   font-weight: bold;
}



#active:hover {
  background: linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
  border-radius: 50px 30px 0px 50px;
}

mat-list-item :active {
  background: linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
  border-radius: 50px 0px 0px 50px;
}

/* mat-list-item:nth-child(1){
position: absolute;
top: -20px;
height: 20px;
width: 100%;
background: yellow;
}
mat-list-item::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-bottom-right-radius: 20px;
background: red;
} */
  /* mat-list-item:hover ::before{
position: absolute;
content: '';
height: 30px;
width: 30px;

right: 0;
top: -30px;
bottom: 100%;
border-bottom-right-radius: 13px;
box-shadow: 0 17px 0 #CED4DA;
}  */
 /* mat-list-item:hover::after {
  position: absolute;
  content: '';
  height: 30px;
  width: 50px;
  
  right: 0;
  top: 100%;
  bottom: -30px;
  border-top-right-radius: 13px;
  box-shadow: 0 -17px 0 #CED4DA;
}   */

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
}
/* .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true])::before{
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  right: 0;
  top: -30px;
  bottom: 100%;
  border-bottom-right-radius: 13px;
  box-shadow: 0 17px 0 #CED4DA;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true])::after{
  position: absolute;
  content: '';
  height: 30px;
  width: 50px;
  right: 0;
  top: 100%;
  bottom: -30px;
  border-top-right-radius: 13px;
  box-shadow: 0 -17px 0 #CED4DA;
} */
.sidenavbar::ng-deep.mat-expansion-panel-body {
  padding: 0 0px 0px 20px !important;
  /* padding: 0 24px 16px; */
}
.btnclose {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

}

.sidenav-collapsed {
  width: 12.5625rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

mat-expansion-panel-header {
  margin-left: -8px;
}



/* mat-expansion-panel-header :hover{
  background:  linear-gradient(270deg, #CED4DA 35.14%, rgba(206, 212, 218, 0) 84.89%);
} */
.mat-expansion-panel {
  box-shadow: none;
}

img {
  margin-right: 8px;
}

@media (max-width:600px) {
  /* .sidenavbar{
    display: none;
  } */
}