
 
::ng-deep mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  /* background-color:white !important; */
  background: rgba(1, 139, 117, 1)!important;
  /* width: 51px; */
 
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #49c5b6 ;
}
.maiUdiv
{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.99));
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
border-radius: 26px;
}
.img-fluid
{
  
  
    margin-right: 25%;
    margin-left: 21%;
    margin-top: 0%;
    height: -26%;
    height: 233px;
    max-width: 654px;
}



  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background: black!important; 
  /* width: 51px; */
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color:white !important;
  
}




* {
  box-sizing: border-box;
}

.form-label {
  /* margin-left: 8px; */
  margin-left: 2%;
}

.bg-img { 
  background:linear-gradient(
to right,
#06997E 0%,
#06997E 50%,
white 50%,
white 100%
  );
  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoimagess
{
  margin-top: -34%;
    margin-left: 141%;
    display: flex;
}

.highlitepopup {
  position: absolute;
  position: absolute;
  width: 333px;
  height: 105.5px;
  left: 643px;
  top: 162.5px;
}
 .wel
{
     position: relative;
     top: 20px;
     width: 336px;
     left: -19px;
} 

.logo {
  position: absolute;
  width: 204px;
  height: 75px;
  left: 19px;
  top: 35px;
  font-family: 'Gilroy-BlackItalic';
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.16em;
  color: #06997E;
}

section {
  position: absolute;
}

.loginform-page {
  background-color:linear-gradient(0deg, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.99)) !important;
  /* height: 444px; */
  height: 482px;
  /* width: 460px; */
  width: 476px;
  box-shadow: 2px;
  margin: auto;
  border: 0.35px solid rgba(1, 139, 117, 1);
  box-shadow: 6px 6px 8px rgba(47, 46, 46, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 26px;
 
}

input {
  border-radius: 20px;
}


form {
  /* margin-left: 34px; */
  margin-left: 52px;
}

.welcome {
  position: absolute;
  width: 374px;
  height: 38px;
  left: 14px;
  top: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  align-items: center;

  color: #000000;
}

.sign-head {
  
   margin-left: 32%; 
  padding: 18px 0;
  margin-top: 4%;
  font-family: 'Calibri';
font-size: 39px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
color: rgba(1, 139, 117, 1);



}

.wrong{
  background-color: #FFDDDD;
  border: solid red 1.4px;
  border-radius: 10px;

  justify-content: center;
  border: solid red 1.4px;
  border-radius: 10px;
  width: 368px;
  text-align: center;
  height: 43px;
  top:21px;




}
.d-flex
{
  /* margin-top: -2px; */
  position: relative;
  bottom: 11px;
}

.close-iconn
{
    
    font-weight: bold;
    color: red;
    cursor: pointer;
    font-size: 19px;
    top: 10px;
    position: absolute;
    left: 92%;
    
      
}



.login-head p {
  color: 000000;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Gilroy-Medium';
}
/* .login-head
{
  margin-top: -14px;
} */

.login-btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background: rgba(1, 139, 117, 1);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  font-family: 'Calibri';
font-size: 17px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;



  
}

.forgot-ps a {
  color: black;
}

.login-menu ul {
  list-style: none;
  /* display: flex; */
}

.login-menu li {
  display: inline;
  padding: 8px;
}

.forgot-ps {
  color: rgba(254, 103, 37, 1);
  font-family: 'Calibri';
font-size: 19px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
  /* margin-right: 38px; */
  margin-right: 52px;
  text-decoration: none;
}
.REME
{
 font-family: 'Calibri';
font-size: 17px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
color: rgba(0, 0, 0, 1);


}

.form-outline input {
  width: 370px;
  height: 41px;
  border: 1px solid rgba(1, 139, 117, 1);
  border-radius: 6px;
  padding: 5px;
}

.form-outline label {
  
color: rgba(0, 0, 0, 1)!important;
  font-family: 'Calibri';
font-size: 20px;
line-height: 31px;
letter-spacing: 0em;
font-size: 23px;


}

mat-icon {
  color: rgba(1, 139, 117, 1);

  position: relative;
  right: 30px;
  top: 8px;
  font-size: 21px;
}

