<div class="bg-img">
<div class="logo">
<img   src="assets/Logo.svg" alt="">
<!-- <h1>LOGO</h1> -->
</div>
<section class="vh-100">
  
  <div class="container">

    <div class="loginform-page">
       <!-- <h2 class="welcome">Welcome!</h2>  -->
      <div class="signIn-page d-flex justify-content-center align-items-center h-100">
        
        <div class="login-form ">
          
          <form>
            <div class="login-head">
              <h6 class="sign-head" >Sign In</h6>
              <!-- <p>Enter your email and password to sign in</p> -->
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <p style="color:red;" *ngIf="userExist">User does not exist</p>
              <label class="form-label" for="form3Example3">Username</label>

              <br>
              <p *ngIf="usernameReqired" style="color: red;">Username required</p>
              
              <input type="text" style="border-radius:10px" placeholder=" Enter your user name" name="username" required [(ngModel)]="usernameofuser" pInputText
                required/>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password </label>
              <p *ngIf="passwordrequired" style="color: red;">Password required</p>

              <input placeholder=" Enter password" style="border-radius:10px" type="password" [type]="showPassword ? 'text' : 'password'" name="password"
                required [(ngModel)]="passwordofuser" pInputText required />
              <mat-icon matSuffix (click)="togglePasswordVisibility()">
                {{showPassword?'visibility':'visibility_off'}}
              </mat-icon>
              <p style="color:red;" *ngIf="PasswordWrong">Password is wrong</p>
            </div>
            <!-- <mat-icon (click)='showHidePassword()'> {{ showPassword ? 'Hide' : 'Show' }} remove_red_eye</mat-icon> -->
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div>
                <mat-slide-toggle >
                  <!-- color="primary -->
                  Remember me </mat-slide-toggle> <br />
              </div>
              <a routerLink="/ForgotPassword" class="forgot-ps">Forgot password</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-block login-btn" style="width: 361px;"
                (click)="signIn()">Login</button>
              <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a  routerLink="/ResetPassword"
                  class="link-danger">Register</a></p> -->
            </div>

          </form>
        </div>
        <!-- <div class="signIn-img col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
        </div> -->
      </div>
      <!-- </div> -->

    </div>
  </div>
</section>
<div class="highlitepopup">
  <img   src="assets/dealersnotpopup.svg" alt="">
  <!-- <h1>LOGO</h1> -->
  </div>

</div>