


<div class="bg-img">
 
  <section class="vh-100">
 
    <div class="container mx-auto">
      <span class="logoimagess"><img src="../../../assets/img/logo1.png"></span>
      <div class="maiUdiv">
        <div class="mx-auto loginform-page">
       
          <div class=" h-100">
  
            <div class=" mx-auto login-form ">
  
              <form>
                <div class="d-flex wrong" *ngIf="redColor">
                  <p style="color: red; text-align: center;margin-left: -38px;margin-top: 9px;">{{errorMessage}}</p>
                  <mat-icon mat-button class="close-iconn" (click)="closeerror()">close</mat-icon>
                </div>
  
                <div class="login-head">
                  <h6 class="sign-head">Log In</h6>
                  
                </div>
                
                <div class="form-outline mb-4">
                  <p style="color:red;" *ngIf="userExist">User does not exist</p>
                  <label class="form-label" for="form3Example3">Username</label>
  
                  <br>
                  <p *ngIf="usernameReqired" style="color: red;">Username required</p>
  
                  <input type="text" style="border-radius:10px" placeholder=" Enter Your Username" name="username"
                    required [(ngModel)]="usernameofuser" pInputText required />
                </div>
          
                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example4">Password </label>
                  <p *ngIf="passwordrequired" style="color: red;">Password required</p>
  
                  <input placeholder=" Enter Your Password" style="border-radius:10px" type="password"
                    [type]="showPassword ? 'text' : 'password'" name="password" required [(ngModel)]="passwordofuser"
                    pInputText required />
                  <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword?'visibility':'visibility_off'}}
                  </mat-icon>
                  <p style="color:red;" *ngIf="PasswordWrong">Password is wrong</p>
  
                </div>
                
                <div class="d-flex justify-content-between align-items-center">
                  
                  <div class="REME">
                    <mat-slide-toggle>
                  
                      Remember Me </mat-slide-toggle> <br />
                  </div>
                  <a routerLink="/ForgotPassword" class="forgot-ps">Forgot password?</a>
                </div>
  
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="button" class="btn btn-primary btn-block login-btn" style="width: 361px;"
                    (click)="signIn()">Login</button>
                  
                </div>
  
              </form>
            </div>
            <div class="signIn-img img-fluid col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <img src="../../../assets/img/personlogo.png" 
            class="img-fluid" alt="Sample image">
          </div>
          </div>
         
  
        </div>
      </div>
      
    </div>
  </section>
  

</div> 


