
.head-text{
    font-size: 20px;
    font-family: 'Gilroy-Bold';
    margin-bottom: 0;
    margin-top: -20px;
    /* text-align: left; */
    }
    .addtypes1
    {
        font-family: 'Gilroy-SemiBold';
    }
    .addtypes2
    {
        font-family: 'Gilroy-SemiBold';
        top: 4px;
    position: relative;
    }
    .olpass
    {
     font-family: 'Gilroy-Light';
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-top: 15px;
    }
    .newspass
    {
        font-family: 'Gilroy-Light';
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-top: 5px;
    }
     .head-text::after{
        content: "";
        display: block;
        width: 28%;
        height: 0.5px;
        background: #686E74;
        right: 20px;
        top: 50%;
        position: absolute;
    }
    .head-text::before{
        content: "";
        display: block;
        width: 28%;
        height: 0.5px;
        background: #686E74;
        left: 20px;
        top: 50%;
        position: absolute;
        /* display: none; */
    } 
    .head-textt{
        /* text-align: left; */
        margin-top: -18px;
        font-weight: 600;
        font-size: 20px;
    }
    .head-textt::before {
        content: "";
        display: block;
        width: 28%;
        height: 0.5px;
        background: #686E74;
        left: 20px;
        top: 50%;
        position: absolute;
    }
    .head-textt::after {
        content: "";
        display: block;
        width: 28%;
        height: 0.5px;
        background: #686E74;
        right: 20px;
        top: 50%;
        position: absolute;
    }
    input{
        padding: 5px 12px;
        margin-bottom: 10px;
        border: 0.5px solid #000000;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        width: 404px;
        height: 43px;
    }
    .update-btn{
    /* background: black; */
    background-color:#018B75 ;
    color: white;
    width: 183px;
    height: 43px;
    border: #000000;
    border-radius: 5px;
    margin-right: 35px;
    cursor: pointer;
    }
    .cancel-btn{
        border: 2px solid #000000;
        border-radius: 5px;
        width: 184px;
        height: 43px;
        /* background: white; */
        background-color:#018B75 ;
        font-weight: 700;
        cursor: pointer;
    }
    .close-icon{
        left: 100%;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        top: -3px;
        color: gray;
        cursor: pointer;
    }
    .actv-user{
    position: relative;
    top: -10px;
    }
    .mat-dialog-container {
        padding: 16px !important;
        padding-top: 2px !important;
    }
    .update-btn:disabled{
        background: grey;
        width: 183px;
        height: 43px;
        border: #000000;
        border-radius: 5px;
        margin-right: 35px;
        }
        .addTypeDiv{
            margin-top: -14px;
        }
        .addTypeButtonDiv{
            top: 15px;
            position: relative;
        }
        .errormsg{
            color: red;
             text-align: center; 
             position: relative;
             font-size: 13px;
             bottom: 11px;
        }