.head-text {
    font-size: 20px;
    /* font-weight: 600; */
    font-family: 'Gilroy-Bold';
}

.undo {
    /* padding: 5px 52px; */
    background: black;
    color: white;
    margin-right: 20px;
    /* border: #000000; */
    border-radius: 10px;
    width: 115px;
    height: 43px;
    cursor: pointer;
}

.exit {
    background: #fff;
    color: black;
    /* padding: 5px 52px; */
    border: 2px solid #000000;
    border-radius: 10px;
    width: 115px;
    height: 43px;
    cursor: pointer;
}

.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.popUpSize {
    position: relative;
    bottom: 41px;
    height: 100px;

}
.font{
    font-family: 'Gilroy';
}

.deleted1
{
       font-family: 'Gilroy-Medium';
       color: #36454f;
       font-size: 16px;
}