<!-- <p>select-product works!</p> -->

<div class="font ">
    <div class=" main" width="700%">
    <div class="container" >
          <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        <div class="head-t">
          <h3 class="addU font">Select Identifier<span>*</span></h3>
        </div>
        <mat-chip-list *ngFor="let item of materialIdentifier;  let i = index"  [selectable]="true">
            <mat-chip  (click)="matIdentifier(item.materialCustomName)" class=" peri">{{item.materialCustomName}}</mat-chip>
            </mat-chip-list>
            <!-- <mat-chip-list>
            <mat-chip class="cold">Cold Storage</mat-chip>
            <mat-chip class="dangerous">Dangerous goods</mat-chip>
        </mat-chip-list>
        <mat-chip-list>
            <mat-chip>Handle with care</mat-chip>
            <mat-chip >Delicate</mat-chip>
        </mat-chip-list>
        <mat-chip-list>
            <mat-chip>Keep dry</mat-chip>
            <mat-chip >Hold still</mat-chip>
            <mat-chip >Heavy goods</mat-chip>
        </mat-chip-list>
        <mat-chip-list>
            <mat-chip>Don't drop</mat-chip>
            <mat-chip >Don't trample</mat-chip>
        </mat-chip-list> -->
      </div>
    </div>
  </div>
</div>