<div class="container">
  <div class="add-geopgraphy">
    <div class="addPromotion">
      <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    </div>
    <div class="head-t">
      <h4 class="head-geo">Add Promotions: <b class="">Geographies</b></h4>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label class="geo-label">Geographies</label>
        <input type="text" placeholder="Search for the geography here" class="search-geo">
      </div>
    </div>
    <div class="countries-sect">
      <div class="row mt-3">
        <div class="col-lg-6">
          <mat-checkbox class="example-margin" [checked]="allComplete" [indeterminate]="someComplete()"
            (change)="setAll($event.checked)">{{task.name}}</mat-checkbox>
        </div>
        <div class="col-lg-6">
          <mat-card class="list-states">
            <!-- <ul> -->
            <li *ngFor="let subtask of task.subtasks">
              <mat-icon>subdirectory_arrow_right</mat-icon>
              <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
                {{subtask.name}}
              </mat-checkbox>
            </li>
            <!-- </ul> -->
          </mat-card>
        </div>
      </div>
    </div>
    <div class="row footer-btn">
      <button class="btn btn-light saveGeo">Save Geographies</button>
          </div>
  </div>
  </div>
  <!-- <div class="row footer">
    <button class="btn btn-light saveGeo">Save Geographies</button>
        </div> -->