.inventorydealersbubbles{
  height: 41px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 13px;
}
.salesIdealersbubbles{
  height: 41px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
 border-radius: 13px;
}
.sales-invertygeophybubbles{
  height: 41px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
 border-radius: 13px;
}


::ng-deep .multi_select .dropdown-list {
  left: -6%;
  width: 106%;
}
.salesclass {
  margin-left: 4px;
  font-family: 'Gilroy-Medium';
}

.salesss {
  height: 620px;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* 
::ng-deep.Dealerdrp .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
  width: 0px;
  right: 11px;
}


::ng-deep.product .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
  width: 0px;
  right: 11px;
}
::ng-deep.geography .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
  width: 0px;
  right: 11px;
} */
.sales-example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sales-search-drop input {
  /* width: 215px; */
  height: 43px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  padding-left:33px;
}

.sales .fa-search {
  color: rgba(104, 110, 116, 0.75);
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 162px;
}

.sales-refreshbtn {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.2));
  width: 40px;
  height: 40px;
  background: rgba(104, 110, 116, 0.66);
  border-radius: 13%;
margin-left: 1%;
  cursor: pointer;
}

.sales-refreshbtn:hover {
  background-color: grey !important;
  color: white !important;
}

.refresh-img {
  position: relative;
  top: 7px;
  left: 8px;
}

.ag-theme-material .ag-filter-toolpanel-header,
.ag-theme-material .ag-filter-toolpanel-search,
.ag-theme-material .ag-status-bar,
.ag-theme-material .ag-header-row,
.ag-theme-alpine .ag-panel-title-bar-title,
.ag-theme-alpine .ag-multi-filter-group-title-bar {

  --ag-background-color: rgba(219, 19, 19, 0.863);
  /* --ag-border-radius: 25px; */


}

.ag-header-row ag-header-row-column {
  --ag-background-color: rgba(0, 0, 0, 0.815);
}

.ag-root-wrapper .ag-layout-normal .ag-ltr {
  border: solid 10px;
  border-color: var(--ag-border-color, #094db9) !important;
  border-radius: 100px;
}

.ag-theme-balham .ag-header-cell {
  background-color: #b81111 !important;
}

::ng-deep.ag-header-cell-text {
  /* color: #686E74 !important; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px !important;
}

:host ::ng-deep.ag-theme-material .ag-root-wrapper,
.ag-theme-material .ag-sticky-top {

  border: 1px solid rgba(152, 156, 160, 0.30) !important;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px !important;

}

.ag-root-wrapper {
  border: solid 10px;
  border-color: var(--ag-border-color, #094db9) !important;
  border-radius: 100px;
}

.ag-layout-norm {
  --ag-border: solid;

}

.ag-ltr {
  --ag-border: solid;

}

.ag-header-cell-label {
  color: blue !important;
  font-weight: bold;
}

.ag-pivot-off .ag-header-cell-label {
  color: #8a6d3b;
}

::ng-deep .ag-theme-material {

  --ag-card-radius: 100px;
  --ag-border-radius: 20px;
  --ag-header-height: 30px;
   --ag-header-foreground-color: white; 
  --ag-header-background-color: #018B75CC !important ;
  /* --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
}

#myGrid {
  flex: 1 1 0px;
}

.pagination {
  float: right !important;
  margin-top: 11px;
}

.pagination-cls {
  font-size: 14px;
  font-weight: 900;
  color : #686E74;

}

.ag-theme-material {
  height: 350px;
  border-radius: 20px;
  background-color: white;
  font-family: Gilroy;
}

.listicon {
  display: flex;
  justify-content: end;
  margin-right: 7px;
}

/* .searchBox1 {
  float: right;
} */

.sales-add {
  background: rgba(104, 110, 116, 0.66);
  border-radius: 13%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  margin-left:12px;
}

.sales-add:hover {
  background-color: grey !important;
  color: white !important;
}

.imgorder {
  position: relative;
  top: 8px;
  left: 10px;
}

.sales-download {
  background: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.sales-download:hover {
  background-color: grey !important;
  color: white !important;
}

.dwnld-img {
  position: relative;
  top: 8px;
  left: 10px;
}

.sales-upload {
  background: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.sales-upload:hover {
  background-color: grey !important;
  color: white !important;
}

.imgupload {
  position: relative;
  top: 8px;
  left: 10px;
}

.sales-dwnld {
  background: rgba(104, 110, 116, 0.66);
  border-radius: 13%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 297px;
}

.sales-dwnld:hover {
  background-color: grey !important;
  color: white !important;
}

.imgdwnl {
  position: relative;
  top: 9px;
  left: 8px;
  width: 23px;
  height: 19px;
}

/* .searchButton {
  display: bolck;
  color: #FFFFFF;
  width: 37px;
  height: 37px;
  border-radius: 13%;
  background: rgba(104, 110, 116, 0.66);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
} */

/* .searchBox:hover>.searchButton,
.searchBox>.searchInput,
.search-btn {
  display: none;
} */

/* .searchBox {
        float:right;
        position: absolute;
      left: 94%;
        top: 6px;
      } */
/* .searchBox:hover>.searchButton {
  display: block;
} */

/* .searchInput1 {
  display: none;
}

.searchInput1 :hover {
  display: block;
} */

/* .searchBox:hover>.searchButton .material-icons {
  position: relative;
  right: 298px;
  color: #000;
  top: 3px;
} */

/* .searchBox:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 84px;
} */

/* .searchBox1:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.searchBox1:hover>.searchInput1 {
  display: block;
  width: 335px;
  height: 43px;
  background: #FFFFFF;
  float: left;
  padding: 5px 32px 6px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  / transition: 0.2s  ease-in-out; 
  position: absolute;
  right: 0px;
  bottom: -3px;
} */

::ng-deep.dropdown-list {
  position: absolute;
  padding-top: 6px;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 0px !important;
  box-shadow: 0 1px 5px #959595;
}

::ng-deep.dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: 15px !important;
  bottom: 0px;
  top: 48px !important;
}

::ng-deep.dropdown-multiselect__caret:before {
  position: relative;
  right: 0;
  top: 65%;
  color: #000000;
  margin-top: 4px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #000000 transparent !important;
  content: "";
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  box-sizing: content-box;
  content: "";
  color: #000000;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #000000;
  text-align: center;
  transition: all .4s ease;
}

::ng-deep.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #00187A !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 10px !important;
  float: left;
  display: flex;
  max-width: 170px !important;
  position: relative;
  top: 39px !important;
}

.dropdown-placeholder {
  background: white;
  color: #808080;
  top: 0;
  position: absolute;
  height: 41px;
  line-height: 41px;
  left: 0px;
  border-top: 1px solid rgba(179, 179, 179, 1);
  border-bottom: 1px solid rgba(179, 179, 179, 1);
  width: 80%;
  border-radius: 12px 0 0 12px !important;
  padding-left: 10px;
  pointer-events: none;
}

::ng-deep.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3)!important;
  width: 100%;
  /* height: 62%; */
  padding: 9px 12px !important;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 10px !important;
  background: white !important;
  height: 41px;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #17c017 !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #17c017 !important;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  animation: borderscale .2s ease-in;
  background: #00187A !important;
}

::ng-deep.dealer .multiselect-dropdown .dropdown-btn .selected-item {
  background: #006466 !important;
  font-size: 12px;
}

::ng-deep .dealer .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #006466 !important;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  border: 2px solid #000000 !important;
}

::ng-deep.Dealerdrp .multiselect-dropdown .dropdown-btn .selected-item {
  background: #38405F !important;
  font-size: 12px;
  height: fit-content;
  right: 20px;
}

::ng-deep .Dealerdrp .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #38405F !important;
}


.Dealerdrp-placeholder.dropdown-placeholder .selected-placeholder {
  color: #38405F !important;
}

::ng-deep.product .multiselect-dropdown .dropdown-btn .selected-item {
  background: #44026C !important;
  font-size: 12px;
  height: fit-content;
  right: 24px;
}

::ng-deep .product .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #44026C !important;
}


.product-placeholder.dropdown-placeholder .selected-placeholder {
  color: #44026C !important;
}

::ng-deep.geography .multiselect-dropdown .dropdown-btn .selected-item {
  background: #006466 !important;
  font-size: 12px;
  height: fit-content;
  right: 21px;
}

::ng-deep .geography .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #006466 !important;
}


.geography-placeholder.dropdown-placeholder .selected-placeholder {
  color: #006466 !important;
}

::ng-deep .Dealerdrp .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -18px !important;
  bottom: 0px;
  top: 50px !important;
  /* width: 51px; */
  border: 1px solid #337ab7;
  background: #38405F !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 22px;
  border-radius: 15px;
  text-align: center;
}

::ng-deep .product .dropdown-btn span .ng-star-inserted {
  /* position: absolute !important;
  right: -18px !important;

  top: 50px !important; */
  /* width: 51px; */
  bottom: 0px;
  border: 1px solid #337ab7;
  background: #44026C !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 20px;
  border-radius: 15px;
  text-align: center;
  width: 47px;
}

::ng-deep .geography .dropdown-btn span .ng-star-inserted {
  position: absolute !important;
  right: -18px !important;
  bottom: 0px;
  top: 50px !important;
  /* width: 51px; */
  border: 1px solid #337ab7;
  background: #006466 !important;
  font-size: 12px;
  box-shadow: 1px 1px #959595;
  color: #fff;
  height: 22px;
  border-radius: 15px;
  text-align: center;
}
                   
::ng-deep.inventorydealersbubbles .dropdown-btn
{
    display: flex !important;
    justify-content: initial;
    position: relative;
}
::ng-deep.inventorydealersbubbles .dropdown-btn span .ng-star-inserted
{
     position: relative !important;
     top: 39px !important;
     right: 8px !important;
     height: 20px;
     width: 43px;
     padding-left: 4px;
     display: flex;
   }
   
                    
::ng-deep.salesIdealersbubbles .dropdown-btn
{
  display: flex !important;
  justify-content: initial;
  position: relative;
}
::ng-deep.salesIdealersbubbles .dropdown-btn span .ng-star-inserted
{
  position: relative !important;
  top: 39px !important;
  right: 8px !important;
  height: 20px;
  width: 43px;
  padding-left: 4px;
  display: flex;
   }


                      
::ng-deep.sales-invertygeophybubbles .dropdown-btn
{
  display: flex !important;
  justify-content: initial;
  position: relative;
}
::ng-deep.sales-invertygeophybubbles .dropdown-btn span .ng-star-inserted
{
  position: relative !important;
  top: 39px !important;
  right: 8px !important;
  height: 20px;
  width: 43px;
  padding-left: 8px;
  display: flex;
   }


   
.searchBox1 {
  position: relative;
  width: 250px; 
  right: 0%;
  top: 67%;
}

.searchInput1 {
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  /* padding: 7px 40px 6px 26px; */
  padding: 7px 40px 6px 35px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.3)!important;
}

.searchicons1 {
  position: absolute;
  top: 55%;
  left: 6px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #9B9FA3;
}

.search-bt_n1 {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  background: rgba(104, 110, 116, 0.66);
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
