<div class="container">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    <div class="actv-user text-center">
        <h1 class="head-text" >Reactivate Tax Item</h1>
        <p>Are you sure you want to <b style="color:rgba(23, 177, 92, 1)">reactivate</b><br>
            Tax item &nbsp;<b>{{taxTemplateName}}?</b></p><br>
        <button class="undo" (click)="reactive()">Yes</button>
        <button class="exit" (click)="close()">Cancel</button>
    </div>
</div>