<!-- <p>order-receipts-bulk-upload works!</p> -->
<div  class="container sales-container">
    <div class="addUser-BulkUpload">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    </div>
    <span class="ship receiptO">Receipt:</span>
    <h1 class="ship receiptBulk">Bulk Upload</h1>
    <div class="receipts">
        <div class="row">
            <h4 class="bulk-txt">Bulk upload of Receipts</h4>
        </div>
        <div class="row">
            <span class="step1-txt">Step 1:</span>
            <h4 class="up-doc"> Upload document</h4>
        </div>
        <label class=" row upload-div">
            <input  type="file"  (change)="onFileChange($event)" style="display: none;">
            <img src="../../../assets/img/upload-icon.png"  class="upload-icon" alt="Upload icon">
            <div class="row">
                <h6 class="upload-doc txt-1">Upload the document</h6>
            </div>
            <div class="row">
                <h6 class="upload-doc txt-2">after adding all required information related to receipts</h6>
            </div>
       
        </label>
        <div class="step-2-filled" >
            <div class="row step2">
                <span class="step1-txt">Step 2:</span>
                <h4 class="up-doc">Analyzing Uploaded document</h4>
                <div *ngIf="!showTable">
                    <input type="text"  placeholder="No document uploaded yet" class="selectedProductReceipts" disabled>
                </div>
            </div>
            <div *ngIf="showTable">
            <div (click)="expandTotalRows()"> 
                <div class="row expandDivalign">
                    <input type="text" [(ngModel)]="totalRows" style="margin-bottom:36px ;" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 expand-style">
                        <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "ErrorFree && errorfreeRows.length>0" class="row">
                    <table matSort  class="class_table">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th >Product Code</th>
                            <th>Product Name</th>
                            <th>Geography</th>
                            <th>Current stock</th>
                            <th>Sale Date</th>
                            <th>Sale Qty</th>
                            <th>Customer Reference</th>
                            <th ></th>
                        </tr>
                        <tr *ngFor="let dupicateData of errorfreeRows">
            
                            <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                            <td title="" class="elipsis-2line">
                                {{dupicateData.productCode}}</td>
                            <td title="">{{dupicateData.productName}}</td>
                              <td title="">{{dupicateData.geography}}</td>
                            <td>{{""}}</td>
                            <td>{{dupicateData.saleDate}}</td>
                            <td>{{dupicateData.saleQuantity}}</td>
                            <td >{{dupicateData.customerReference}}</td>
                            <td></td>
            
                        </tr>
                    </table>
                </div>
        </div>
        <div (click)="expandEmptyRows()">
            <div class="row expandrowDiv">
                <input type="text" [(ngModel)]="emptyRows" style="margin-bottom:36px ;" class="total-rows duplicate-txt col-md-11" disabled>
                <div class="col-md-1 expand-style">
                    <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf = "ErrorFree && errorfreeRows.length>0" class="row">
                <table matSort  class="class_table">
                    <tr class="table-header-row">
                        <th style="padding-left:20px;">Row No</th>
                        <th >Product Code</th>
                        <th>Product Name</th>
                        <th>Geography</th>
                        <th>Current stock</th>
                        <th>Sale Date</th>
                        <th>Sale Qty</th>
                        <th>Customer Reference</th>
                        <th ></th>
                    </tr>
                    <tr *ngFor="let dupicateData of errorfreeRows">
        
                        <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                        <td title="" class="elipsis-2line">
                            {{dupicateData.productCode}}</td>
                        <td title="">{{dupicateData.productName}}</td>
                          <td title="">{{dupicateData.geography}}</td>
                        <td>{{""}}</td>
                        <td>{{dupicateData.saleDate}}</td>
                        <td>{{dupicateData.saleQuantity}}</td>
                        <td >{{dupicateData.customerReference}}</td>
                        <td></td>
        
                    </tr>
                </table>
            </div>
    </div>
        <div (click)="expandErrorFree()">
            <div class="row ">
                <input type="text" [(ngModel)]="errorFree" class="total-rows error-txt col-md-11" disabled>
                <div class="col-md-1 error-style">
                    <img [src]="image2" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf = "ErrorFree && errorfreeRows.length>0" class="row">
                <table matSort  class="class_table">
                    <tr class="table-header-row">
                        <th style="padding-left:20px;">Row No</th>
                        <th >Product Code</th>
                        <th>Product Name</th>
                        <th>Geography</th>
                        <th>Current stock</th>
                        <th>Sale Date</th>
                        <th>Sale Qty</th>
                        <th>Customer Reference</th>
                        <th ></th>
                    </tr>
                    <tr *ngFor="let dupicateData of errorfreeRows">
        
                        <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                        <td title="" class="elipsis-2line">
                            {{dupicateData.productCode}}</td>
                        <td title="">{{dupicateData.productName}}</td>
                          <td title="">{{dupicateData.geography}}</td>
                        <td>{{""}}</td>
                        <td>{{dupicateData.saleDate}}</td>
                        <td>{{dupicateData.saleQuantity}}</td>
                        <td >{{dupicateData.customerReference}}</td>
                        <td></td>
        
                    </tr>
                </table>
            </div>
        </div>
        <div (click)="expandDuplicateEntry()">
            <div class="row ">
                <input type="text" [(ngModel)]="duplicateEntry" class="total-rows duplicate-txt col-md-11" disabled>
                <div class="col-md-1 expand-style">
                    <img [src]="image3" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf = "!duplicate && duplicateEntryy.length>0" class="row duplicate-tabel">
                <table matSort  class="class_table">
                    <tr class="table-header-row">
                        <th style="padding-left:20px;">Row No</th>
                        <th >Product Code</th>
                        <th>Product Name</th>
                        <th>Geography</th>
                        <th>Current stock</th>
                        <th>Sale Date</th>
                        <th>Sale Qty</th>
                        <th>Customer Reference</th>
                        <th ></th>
                    </tr>
                    <tr *ngFor="let dupicateData of duplicateEntryy">
        
                        <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                        <td title="" class="elipsis-2line">
                            {{dupicateData.productCode}}</td>
                        <td title="">{{dupicateData.productName}}</td>
                          <td title="">{{dupicateData.geography}}</td>
                        <td>{{""}}</td>
                        <td>{{dupicateData.saleDate}}</td>
                        <td>{{dupicateData.saleQuantity}}</td>
                        <td >{{dupicateData.customerReference}}</td>
                        <td></td>
        
                    </tr>
                </table>
            </div>
        </div>
        <div (click)="IncorrectDataValue()" style="margin-top:20px;">
            <div class="row">
                <input type="text" [(ngModel)]="Incorrect" class="total-rows duplicate-txt col-md-11" disabled>
                <div class="col-md-1 expand-style">
                    <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf = "!incorrectData && incorrectRows.length>0" class="row">
                <table matSort  class="class_table">
                    <tr class="table-header-row">
                        <th style="padding-left:20px;">Row No</th>
                        <th >Product Code</th>
                        <th>Product Name</th>
                        <th>Geography</th>
                        <th>Current stock</th>
                        <th>Sale Date</th>
                        <th>Sale Qty</th>
                        <th>Customer Reference</th>
                        <th ></th>
                    </tr>
                    <tr *ngFor="let dupicateData of incorrectRows">
        
                        <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                        <td title="" class="elipsis-2line">
                            {{dupicateData.productCode}}</td>
                        <td title="">{{dupicateData.productName}}</td>
                          <td title="">{{dupicateData.geography}}</td>
                        <td>{{""}}</td>
                        <td>{{dupicateData.saleDate}}</td>
                        <td>{{dupicateData.saleQuantity}}</td>
                        <td >{{dupicateData.customerReference}}</td>
                        <td></td>
        
                    </tr>
                </table>
            </div>
        </div>
        <div class="button-save-chng-receipts row">
            <div class="save-chng" (click)="UploadSales()">
                <button class="save-text">
                   Upload
                </button>
            </div>
            <div class="discard">
                <button class="discard-text">
                    Cancel
                </button>
            </div>
        </div>

    </div>


    </div>



</div>