
<div *ngIf="ReceiptOrTargetUpload" class="container sales-container">
    <div class="addUser-BulkUploadT">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    </div>
    <span class="ship receiptT">Target:</span>
    <h1 class="ship receiptBulk">Bulk Upload</h1>
    <div class="receipts">
        <div class="row">
            <h4 class="bulk-txt">Bulk upload of Targets</h4>
        </div>
        <div class="row">
            <span class="step1-txt">Step 1:</span>
            <h4 class="up-doc"> Upload document</h4>
        </div>
        <label class=" row upload-div">
            <input  type="file"  (change)="onFileChange($event)" style="display: none;">
            <img src="../../../assets/img/upload-icon.png"  class="upload-icon" alt="Upload icon">
            <div class="row" *ngIf="uploadedTextShow">
                <div  *ngFor="let file of files; let i=index">
                   <h6 class="uploadedText"> Document is <b>{{file.name}} </b><br></h6>
                   <h6 class="uploadedTexttt"> is successfully Uploaded!</h6>
                   </div>
            </div>
            <div class="row" *ngIf="!uploadedTextShow">
                <h6 class="upload-doc txt-1">Upload the document</h6>
            </div>
            <div class="row" *ngIf="!uploadedTextShow">
                <h6 class="upload-doc txt-2">after adding all required information related to targets</h6>
            </div>
       
        </label>
        <div class="step-2-filled" *ngIf="!showTable">
            <div class="row step2">
                <span class="step1-txt">Step 2:</span>
                <h4 class="up-doc">Analyzing Uploaded document</h4>
            </div>  
            

            <div class="row nodicument">
                <input type="text"  placeholder="No document uploaded  yet" class="selectedProductReceipts" disabled>
            </div>
           </div>

           <div class="step-2-filled" *ngIf="showTable">
            <div class="row step2">
                <span class="step1-txt">Step 2:</span>
                <h4 class="up-doc">Analyzing Uploaded document</h4>
            </div>



            

            <div (click)="expandTotalRows()"> 
                <div class="row expandDivalign">
                    <input type="text" [(ngModel)]="totalRows" style="margin-bottom:36px ;" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 imagestyle">
                        <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf="!rowsTotal && TotalRows.length>0 " class="row totaltablewidth">
                    <table matSort  class="class_table_shipment">
                        <tr class="table-header-row">
                         <th style="padding-left:20px;">Row No</th> 
                            <th >Target Group</th>
                            <th>Geography</th>
                            <th>Dealer Name</th>
                            <th>Dealer Code</th>
                            <th>Financial year</th>
                            <th>TargetType</th>
                             <th>JanValue</th>
                            <th>JanUnit</th>
                            <th>FebValue</th>
                            <th>FebUnit</th>
                            <th>MarValue</th>
                            <th>MarUnit</th>
                            <th>AprValue</th>
                            <th>AprUnit</th>
                            <th>MayValue</th>
                            <th>MayUnit</th>
                            <th>JunValue</th>
                            <th>JunUnit</th>
                            <th>JulValue</th>
                            <th>JulUnit</th>
                            <th>AugValue</th>
                            <th>AugUnit</th>
                            <th>SepValue</th>
                            <th>SepUnit</th>
                            <th>OctValue</th>
                            <th>OctUnit</th>
                            <th>NovValue</th>
                            <th>NovUnit</th>
                            <th>DecUnit</th>
                            <th>DecValue</th> 

                        </tr>
                        <tr *ngFor="let dupicateData of TotalRows">
            
                             <td title="" style="padding-left: 21px;">{{dupicateData.rowNumber}}</td>
                              <td title="">{{dupicateData.targetGroup}}tt</td>
                            <td title="">{{dupicateData.geography}}</td>
                            <td>{{dupicateData.dealerName}}</td>
                            <td>{{dupicateData.dealerCode}}</td>
                            <td>{{dupicateData.financialYear}}</td>
                            <td>{{dupicateData.targetType}}</td>
                           <td>{{dupicateData.janValue}}</td>
                            <td>{{dupicateData.janUnit}}</td>
                            <td >{{dupicateData.febValue}}</td>
                            <td>{{dupicateData.febUnit}}</td>
                            <td>{{dupicateData.marValue}}</td>
                            <td>{{dupicateData.marUnit}}</td>
                             <td>{{dupicateData.aprValue}}</td>
                            <td>{{dupicateData.aprUnit}}</td>
                            <td>{{dupicateData.mayValue}}</td>
                            <td>{{dupicateData.mayUnit}}</td>
                            <td>{{dupicateData.junValue}}</td>
                            <td>{{dupicateData.junUnit}}</td>
                            <td>{{dupicateData.julValue}}</td>
                            <td>{{dupicateData.julUnit}}</td>
                            <td>{{dupicateData.augValue}}</td>
                            <td>{{dupicateData.augUnit}}</td>
                            <td>{{dupicateData.sepValue}}</td>
                            <td>{{dupicateData.sepUnit}}</td>
                            <td>{{dupicateData.octValue}}</td>
                            <td>{{dupicateData.octUnit}}</td>
                            <td>{{dupicateData.novValue}}</td>
                            <td>{{dupicateData.novUnit}}</td>
                             <td>{{dupicateData.decValue}}</td>
                            <td>{{dupicateData.decUnit}}</td>
            
                        </tr>
                    </table>
                </div>
        </div>

        <div (click)="expandErrorFree()">
            <div class="row ">
                <input type="text" [(ngModel)]="errorFree" class="total-rows error-txt col-md-11" disabled>
                <div class="col-md-1 imageerror-style">
                    <img [src]="image2" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf=" ErrorFree && errorfreeRows.length> 0" class="row errorfreerows">
                <table matSort  class="class_table_shipment">
                    <tr class="table-header-row">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th> 
                               <th >Target Group</th>
                               <th>Geography</th>
                               <th>Dealer Name</th>
                               <th>Dealer Code</th>
                               <th>Financial year</th>
                               <th>TargetType</th>
                                <th>JanValue</th>
                               <th>JanUnit</th>
                               <th>FebValue</th>
                               <th>FebUnit</th>
                               <th>MarValue</th>
                               <th>MarUnit</th>
                               <th>AprValue</th>
                               <th>AprUnit</th>
                               <th>MayValue</th>
                               <th>MayUnit</th>
                               <th>JunValue</th>
                               <th>JunUnit</th>
                               <th>JulValue</th>
                               <th>JulUnit</th>
                               <th>AugValue</th>
                               <th>AugUnit</th>
                               <th>SepValue</th>
                               <th>SepUnit</th>
                               <th>OctValue</th>
                               <th>OctUnit</th>
                               <th>NovValue</th>
                               <th>NovUnit</th>
                               <th>DecUnit</th>
                               <th>DecValue</th>
                    </tr>
                    <tr *ngFor="let dupicateData of errorfreeRows">
        
                          
                         <td title="" style="padding-left: 21px;">{{dupicateData.rowNumber}}</td>
                         <td title="">{{dupicateData.targetGroup}}tt</td>
                       <td title="">{{dupicateData.geography}}</td>
                       <td>{{dupicateData.dealerName}}</td>
                       <td>{{dupicateData.dealerCode}}</td>
                       <td>{{dupicateData.financialYear}}</td>
                       <td>{{dupicateData.targetType}}</td>
                      <td>{{dupicateData.janValue}}</td>
                       <td>{{dupicateData.janUnit}}</td>
                       <td >{{dupicateData.febValue}}</td>
                       <td>{{dupicateData.febUnit}}</td>
                       <td>{{dupicateData.marValue}}</td>
                       <td>{{dupicateData.marUnit}}</td>
                        <td>{{dupicateData.aprValue}}</td>
                       <td>{{dupicateData.aprUnit}}</td>
                       <td>{{dupicateData.mayValue}}</td>
                       <td>{{dupicateData.mayUnit}}</td>
                       <td>{{dupicateData.junValue}}</td>
                       <td>{{dupicateData.junUnit}}</td>
                       <td>{{dupicateData.julValue}}</td>
                       <td>{{dupicateData.julUnit}}</td>
                       <td>{{dupicateData.augValue}}</td>
                       <td>{{dupicateData.augUnit}}</td>
                       <td>{{dupicateData.sepValue}}</td>
                       <td>{{dupicateData.sepUnit}}</td>
                       <td>{{dupicateData.octValue}}</td>
                       <td>{{dupicateData.octUnit}}</td>
                       <td>{{dupicateData.novValue}}</td>
                       <td>{{dupicateData.novUnit}}</td>
                        <td>{{dupicateData.decValue}}</td>
                       <td>{{dupicateData.decUnit}}</td>
       
            

        
                    </tr>
                </table>
            </div>
        </div>

       
      
        <div (click)="expandDuplicateEntry()">
            <div class="row ">
                <input type="text" [(ngModel)]="duplicateEntry" class="total-rows duplicate-txt col-md-11" disabled>
                <div class="col-md-1 expand-style">
                    <img [src]="image3" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf ="!duplicate && duplicateEntryy.length>0" class="row duplicate-tabel">
                <table matSort  class="class_table_shipment">
                    <tr class="table-header-row">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th> 
                               <th >Target Group</th>
                               <th>Geography</th>
                               <th>Dealer Name</th>
                               <th>Dealer Code</th>
                               <th>Financial year</th>
                               <th>TargetType</th>
                                <th>JanValue</th>
                               <th>JanUnit</th>
                               <th>FebValue</th>
                               <th>FebUnit</th>
                               <th>MarValue</th>
                               <th>MarUnit</th>
                               <th>AprValue</th>
                               <th>AprUnit</th>
                               <th>MayValue</th>
                               <th>MayUnit</th>
                               <th>JunValue</th>
                               <th>JunUnit</th>
                               <th>JulValue</th>
                               <th>JulUnit</th>
                               <th>AugValue</th>
                               <th>AugUnit</th>
                               <th>SepValue</th>
                               <th>SepUnit</th>
                               <th>OctValue</th>
                               <th>OctUnit</th>
                               <th>NovValue</th>
                               <th>NovUnit</th>
                               <th>DecUnit</th>
                               <th>DecValue</th>
                    </tr>
                    <tr *ngFor="let dupicateData of duplicateEntryy">
        
                        
                        <td title="" style="padding-left: 21px;">{{dupicateData.rowNumber}}</td>
                        <td title="">{{dupicateData.targetGroup}}tt</td>
                      <td title="">{{dupicateData.geography}}</td>
                      <td>{{dupicateData.dealerName}}</td>
                      <td>{{dupicateData.dealerCode}}</td>
                      <td>{{dupicateData.financialYear}}</td>
                      <td>{{dupicateData.targetType}}</td>
                     <td>{{dupicateData.janValue}}</td>
                      <td>{{dupicateData.janUnit}}</td>
                      <td >{{dupicateData.febValue}}</td>
                      <td>{{dupicateData.febUnit}}</td>
                      <td>{{dupicateData.marValue}}</td>
                      <td>{{dupicateData.marUnit}}</td>
                       <td>{{dupicateData.aprValue}}</td>
                      <td>{{dupicateData.aprUnit}}</td>
                      <td>{{dupicateData.mayValue}}</td>
                      <td>{{dupicateData.mayUnit}}</td>
                      <td>{{dupicateData.junValue}}</td>
                      <td>{{dupicateData.junUnit}}</td>
                      <td>{{dupicateData.julValue}}</td>
                      <td>{{dupicateData.julUnit}}</td>
                      <td>{{dupicateData.augValue}}</td>
                      <td>{{dupicateData.augUnit}}</td>
                      <td>{{dupicateData.sepValue}}</td>
                      <td>{{dupicateData.sepUnit}}</td>
                      <td>{{dupicateData.octValue}}</td>
                      <td>{{dupicateData.octUnit}}</td>
                      <td>{{dupicateData.novValue}}</td>
                      <td>{{dupicateData.novUnit}}</td>
                       <td>{{dupicateData.decValue}}</td>
                      <td>{{dupicateData.decUnit}}</td>
      
        
                    </tr>
                </table>
            </div>
        </div>
        <div (click)="IncorrectDataValue()" style="margin-top:20px;">
            <div class="row">
                <input type="text" [(ngModel)]="Incorrect" class="total-rows duplicate-txt col-md-11" disabled>
                <div class="col-md-1 expand-style">
                    <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                </div>
            </div>
            <div  *ngIf="!incorrectData && incorrectRows"  class="row incorrectdatatable">
                <table matSort  class="class_table_shipment">
                    <tr class="table-header-row">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th> 
                               <th >Target Group</th>
                               <th>Geography</th>
                               <th>Dealer Name</th>
                               <th>Dealer Code</th>
                               <th>Financial year</th>
                               <th>TargetType</th>
                                <th>JanValue</th>
                               <th>JanUnit</th>
                               <th>FebValue</th>
                               <th>FebUnit</th>
                               <th>MarValue</th>
                               <th>MarUnit</th>
                               <th>AprValue</th>
                               <th>AprUnit</th>
                               <th>MayValue</th>
                               <th>MayUnit</th>
                               <th>JunValue</th>
                               <th>JunUnit</th>
                               <th>JulValue</th>
                               <th>JulUnit</th>
                               <th>AugValue</th>
                               <th>AugUnit</th>
                               <th>SepValue</th>
                               <th>SepUnit</th>
                               <th>OctValue</th>
                               <th>OctUnit</th>
                               <th>NovValue</th>
                               <th>NovUnit</th>
                               <th>DecUnit</th>
                               <th>DecValue</th>
                    </tr>
                   
                    <tr *ngFor="let dupicateData of incorrectRows">
                        <h4>{{dupicateData.incorrectColumn}}</h4>
                        <td title="" style="padding-left: 21px;">{{dupicateData.rowNumber}}</td>
                        <td title="">{{dupicateData.targetGroup}}tt</td>
                      <td title="">{{dupicateData.geography}}</td>
                      <td>{{dupicateData.dealerName}}</td>
                      <td>{{dupicateData.dealerCode}}</td>
                      <td>{{dupicateData.financialYear}}</td>
                      <td>{{dupicateData.targetType}}</td>
                     <td>{{dupicateData.janValue}}</td>
                      <td>{{dupicateData.janUnit}}</td>
                      <td >{{dupicateData.febValue}}</td>
                      <td>{{dupicateData.febUnit}}</td>
                      <td>{{dupicateData.marValue}}</td>
                      <td>{{dupicateData.marUnit}}</td>
                       <td>{{dupicateData.aprValue}}</td>
                      <td>{{dupicateData.aprUnit}}</td>
                      <td>{{dupicateData.mayValue}}</td>
                      <td>{{dupicateData.mayUnit}}</td>
                      <td>{{dupicateData.junValue}}</td>
                      <td>{{dupicateData.junUnit}}</td>
                      <td>{{dupicateData.julValue}}</td>
                      <td>{{dupicateData.julUnit}}</td>
                      <td>{{dupicateData.augValue}}</td>
                      <td>{{dupicateData.augUnit}}</td>
                      <td>{{dupicateData.sepValue}}</td>
                      <td>{{dupicateData.sepUnit}}</td>
                      <td>{{dupicateData.octValue}}</td>
                      <td>{{dupicateData.octUnit}}</td>
                      <td>{{dupicateData.novValue}}</td>
                      <td>{{dupicateData.novUnit}}</td>
                       <td>{{dupicateData.decValue}}</td>
                      <td>{{dupicateData.decUnit}}</td>
      
        
                    </tr>
                </table>
            </div>
        </div>


        <div class="maincontainer" style="margin-top: 8.5%;">
    <div class="row  mt-4   justify-content-center align-items-center">
      <div class="col-sm-4 d-flex justify-content-center">
        <button class="upload w-75" (click)="UploadReceipt()" >Upload</button>
       
      </div>
      <div class="col-sm-4 d-flex justify-content-center">
        <button class="cancelbtn w-75" (click)="closedialogbox()">Cancel</button>
      </div>
    </div>
  </div>  

  
 </div>
 </div>
</div>
