

<div  class="container font">
  


      <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
      <div class="actv-user text-center">
          <h1 class="head-text">Cancel Order</h1>
          <p>Are you sure you want to <b style="color:red">Cancel</b><br>
            Order No. <b style="font-weight: bold;">{{orderNumber}}?</b></p>
          <button class="undo" (click)="yes()">Yes</button>
          <button class="exit" (click)='close()'>Cancel</button>
      </div>
  </div>
