
.head-text{
    font-size: 20px;
    font-weight: 600;
    margin-top: -27px;
    font-family: 'Gilroy-Bold';
    }
    /* .deact
    {
        width: 478px;
        height: 261px;
    } */
    .undo{
        padding: 5px 52px;
        /* background: black; */
        background-color:#018B75 ;
        color: white;
        margin-right: 20px;
        /* border: #000000; */
        border-radius: 10px;
        margin-top: 15px;
        width: 150px;
        height: 41px;
        cursor: pointer;
        border: 2px solid rgba(1, 139, 117, 1);
        }
    .exit{
    /* background: #fff; */
    background-color:#018B75 ;
    /* color: black; */
    color: white;
    padding: 5px 52px;
    border: 2px solid rgba(1, 139, 117, 1);
    border-radius: 10px;
    height: 41px;
    width: 150px;
    cursor: pointer;
    margin-top: 15px;
    }
    .close-icon{
        left: 100%;
        position: relative;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
    }
    .font{
        font-family: 'Gilroy';
    }

    .auswd1
    {
        font-family: 'Gilroy';

        color: #36454f;

        font-size: 16px;
    
    }

    