.searchInput11 {
  display: block;
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 3px;
  /* border:1px solid black; */
  top: 6px;
  border: 1px solid #B3B3B3;
  
}
.searchInput12 {
  display: block;
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: -2px;
  /* border:1px solid black; */
  border: 1px solid #B3B3B3;
  top: 0px;
  
}
.searchInput13 {
  display: block;
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 3px;
  /* border:1px solid black; */
  border: 1px solid #B3B3B3;
  top: 7px;
  
}
.searchInput14 {
  display: block;
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 3px;
  /* border:1px solid black; */
  border: 1px solid #B3B3B3;
}
.searchInput16 {
  display: block;
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: relative;
  right: 3px;
  /* border:1px solid black; */
  border: 1px solid #B3B3B3;
  top:7px;
}
.searchInput15{
  display: block;
  width: 69%;
  height: 36px;
  background: #FFFFFF;
  float: left;
  padding-left: 11%;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  position: relative;
  right: -2px;
  /* border:1px solid black; */
  border: 1px solid #B3B3B3;
  top: 7px;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar
{
  background-color: #018B75;
}
.searchicons
{
    color: #9B9FA3;
    top: 14px;
position: relative;
left: -7px;
font-weight: 700;
}
.searchiconsFREEITEMS
{
 color: #9B9FA3;
  top: 6px;
  position: relative;
 left: -7px;
 font-weight: 700;
}
.searchiconsFREEITEMSsecondpro
{
 color: #9B9FA3;
  top: 15px;
  position: relative;
 left: -7px;
 font-weight: 700;
}
.searchiconsFREEITEMSsecondpro11
{
 color: #9B9FA3;
  /* top: 15px; */
  top: 6px;
  position: absolute;
 left: 27px;
 z-index: 1;
 font-weight: 700;
}
.searchiconsFREEITEMSthree
{
 color: #9B9FA3;
  top:7px;
  position: absolute;
 left: 27px;
 z-index: 1;
 font-weight: 700;
}
.searchiconsForthPromotions
{
 color: #9B9FA3;
  top:15px;
  position: absolute;
 left: 27px;
 z-index: 1;
 font-weight: 700;
}
.search-bt_n {
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 11px;
}
.searchBTNFREEITEMS {
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.searchBTNFREEITEMSsecondpro{
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.searchBTNFREEITEMSsecondproguy{
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: relative;
  right: 68PX;
  /* top: 12px; */
  top: 5px;
}
.searchBTNthreepro{
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: relative;
  right: 68PX;
  top: 5px;
}
.searchBTNforthpro
{
  display: block;
  height: 26px;
  border: none;
  background: #686E74;
  color: white;
  border-radius: 5px;
  position: relative;
  right: 68PX;
  top: 13px;
}
.searchBox11 >.searchButtonn .material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;
  
}
.material-iconss {
  position: relative;
  right: 282px;
  color: #000;
  top: 3px;
}
#FREEQTYsecondpromotion
{
  position: relative;
  float: right;
  left: 77px;
  top: 16px;
  color: black;
  font-weight: bold;
}

#SecondPromotionProOrderquanty
{
  position: relative;
  top: 16%;
  left: 20%;
  font-weight: 700;
  font-weight: bold;
  color: black;
}
#PromoorderAMOUNT
{
  position: relative;
  top: 16%;
  left: 16%;
  font-weight: 700;
  color: black;
  font-weight: bold;
}

#FreeOrderQTySecondPromotion{
  position: relative;
  top: 18%;
  left: 10%;
  font-weight: bold;
  color: black;
}



#FirstproTotalorderqyt{
  position: relative;
    top: 18%;
    left: 22%;
    color: black;
    font-weight: bold;
}
#SecondPromotiontotalorderqty{
  position: relative;
    top: 18%;
    left: 24%;
    color: black;
    font-weight: bold;
}
#FirstPromotiontotalselectamount
{
  position: relative;
  top: 18%;
  left: 18%;
  font-weight: bold;
  color: black;
}
#secondPromotionTotalorderamount
{
  position: relative;
  top: 18%;
  left: 20%;
  font-weight: bold;
  color: black;
}



.FirstPromotioncalcul
{
  border-radius: 5px;
   border: 1px solid rgba(225, 226, 227, 1);
  margin-top: 16px;
  position: relative;
  left: 15px;
  top: 4px;
}
.SecondPromotioncalcution
{
  border-radius: 5px;
   border: 1px solid rgba(225, 226, 227, 1);
  margin-top: 16px;
  position: relative;
  left: 15px;
  top: 4px;
}
#FirstPromotionlabelCal
{
  display: inline-block;
 vertical-align: middle; 
 font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 17px;
margin-left: 15px;

}
#SecondPromotionlabelCal
{
  display: inline-block;
 vertical-align: middle; 
 font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 17px;
margin-left: 15px;

}
#FirstPromotionProOrderQTY
{
  display: inline-block;
  vertical-align: middle; 
  font-family: 'Calibri';
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0.04em;
  margin-left: 33px;
  margin-top: 16px;
}
#SecondPromotionProOrderQty
{
  display: inline-block;
  vertical-align: middle; 
  font-family: 'Calibri';
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0.04em;
  margin-left: 33px;
  margin-top: 16px;
}
#FirstProFreeOrderQty{
  display: inline-block;
  vertical-align: middle; 
  font-family: 'Calibri';
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0.04em;
  margin-left: 18px;
    margin-top: 18px;
}
#SecondPromotionFreeorderqty
{
  /* display: inline-block;
  vertical-align: middle;  */
  display:inline-flex;
  font-family: 'Calibri';
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0.04em;
  margin-left: 19px;
    margin-top: 18px;
}


#totalorderqty
{
 display: inline-block;
vertical-align: middle; 
 font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 20px;
}
#totalorderamount
{
display: inline-block;
vertical-align: middle; 
 font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 20px;
}
#Promoorderqty
{
display: inline-block;
vertical-align: middle; 
font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 20px;
}

#Promoorderamount
{
display: inline-block;
 vertical-align: middle; 
 font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 20px;
}


#calculationspartinput {
  display: inline-block;
  width: 200px;
  vertical-align: middle; 
}
.calculation
{
 margin-top: 1%;
 width: 767px;
height: 167px;
border-radius: 5px;
border: 1px solid rgba(225, 226, 227, 1)

}
#TotalOrderQTY{
  position: relative;
    top: 18%;
    left: 24%;
    color: black;
    font-weight: bold;
}
#ProOrderqty{
  position: relative;
    left: 21%;
    top: 14%;
    font-weight: bold;
    color: black;
}
#TotalOrderAmount
{
  position: relative;
    top: 18%;
    left: 20%;
    font-weight: bold;
    color: black;
}
#TotalOrderAmountforthPro
{
  position: relative;
    top: 18%;
    left: 20%;
    font-weight: bold;
    color: black;
}
#TotalOrderAmountforthPromotion
{
  position: relative;
    top: 18%;
    left: 17%;
    font-weight: bold;
    color: black;
}
#PromoOrderAmount
{
  position: relative;
    top: 18%;
    left: 17%;
    font-weight: bold;
    color: black;
} 

#PromoOrderQtyFirstpromotion
{
  position: relative;
    top: 12%;
    left: 20%;
    font-weight: bold;
    color: black;
}
#Proorderqtysecond
{
  position: relative;
  top: -43%;
  left: 52%;
  font-weight: bold;
  color: black;
  border: none;
  width: 130px;
}

#PromotionAmountQtyFirstpromotion
{
  position: relative;
    top: 12%;
    left: 16%;
    font-weight: bold;
    color: black;
}
#PromotionAmountQtySecondpromotion
{
  position: relative;
  top: -43%;
  left: 56%;
  font-weight: bold;
  color: black;
  border: none;
  width: 130px;
}

#FREEORDERQTYfirstpromotion
{
  position: relative;
    top: 15%;
    left: 10.2%;
    font-weight: bold;
    color: black;
}



.displayed-img
{
  height: 80px;
    width: 80px;
    position: relative;
    left: 24%;
    

}
#m_oq
{
  position: relative;
   top: 10px;
   color: rgba(104, 110, 116, 1);
   font-family: 'Calibri';
font-size: 15px;
font-weight: 700;
line-height: 18px;


}
#se_lected
{
  position: relative;
    left: 28%;
    top: 10px;
    color: rgba(104, 110, 116, 1);
    font-family: 'Calibri';
font-size: 15px;
font-weight: 700;
line-height: 18px;
}
#ForthPromotionse_lected
{
 position: relative;
 top: 10px;
 color: rgba(104, 110, 116, 1);
 font-family: 'Calibri';
font-size: 15px;
font-weight: 700;
line-height: 18px;
}
#Entitled
{
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 1);
  
  
}
#Freeitemselected
{
  font-family: 'Calibri';
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
color: rgba(0, 0, 0, 1);

}
#Remaining
{
  font-family: 'Calibri';
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 1);

  
}

.tabel-div {
  margin-top: 15px;
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;

}

.tabel_div {
  margin-top: 15px;
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;

}
.tabel-div_4pro{
  margin-top: 15px;
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;

}
.tabel-div1 {
  margin-top: 15px;
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;

}
.tabel-di_v2 {
  margin: 15px 25px 15px 25px;
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;
  /* width: 89%; */
 margin-left: 25px;
 margin-right: 25px;
}
.tabelDIVFORTHPromotion{
  margin-top: 15px;
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;
  /* width: 89%; */
 margin-left: 39px;
 /* 20 */
}
.tableclass
{
  
  height: 378px;
}
.tableclass4
{
  
  height: 378px;
}
.table-headercolor
{
color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
.tableclass
{
  height: 378px;
}
.tableclass1
{
  height: 378px;
}
.tabelgetsetItems
{
  height: 378px;
}
.tableForthpromotion
{
  height: 378px;
}
 .tbodayheight
{
  display: block;
   height: 200px;
  overflow-y: scroll;
}
.tbodayheight4
{
  display: block;
   height: 200px;
  overflow-y: scroll;

}
.bottom-table {
  height: 34px;
  color: white;
  
}
#totalnonprobackcolor
{
  background: rgba(1, 139, 117, 1);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 10px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 101%;
  left: 1px;
  margin-left: -3px;

}
#totalnonprobackcolor4
{
     background: rgba(1, 139, 117, 1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: -1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100.1%;
    left: 0px;
    position: relative;
    border-bottom-right-radius: 10px
}
#totalnonprobackcolor1
{
  /* background: rgba(1, 139, 117, 1);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 10px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 101%;
  left: 1px;
  margin-left: -3px; */

  background: rgba(1, 139, 117, 1);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 10px;
    color: white;
    border-top-left-radius: -13px;
    border-top-right-radius: -74px;
    width: 100%;
    position: relative;

}
#totalnonprobackcolorGetset4
{
  background: rgba(1, 139, 117, 1);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 10px;
    color: white;
    border-top-left-radius: -13px;
    border-top-right-radius: -74px;
    width: 100%;
    position: relative;
}
#totalForthPROmotionbottomtable
{
  /* border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px; */
  background: rgba(1, 139, 117, 1);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 10px;
    color: white;
    border-top-left-radius: -13px;
    border-top-right-radius: -74px;
    width: 100%;
    position: relative;
}
table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.tbodayheight
{
  display: block;
  height: 90%;
  overflow-y: scroll;

}
.tbodayheight4
{
  display: block;
  height: 90%;
  overflow-y: scroll;

}
.tbodayheight1
{
  display: block;
  height: 90%;
  overflow-y: scroll;

}
.tbodayheightGetset
{
  display: block;
  height: 90%;
  overflow-y: scroll;
}
.tbodayheightForthPro
{
  display: block;
  height: 90%;
  overflow-y: scroll;
}



.showicon
{
  position: relative;
    float: right;
    left: -7px;
    top: 14px;
    cursor: pointer;
}
#moq
{
  font-family: 'Calibri';
  font-size: 13px;
  font-weight: 600;
  top: 15px;
  position: relative;
  left: 9px;
  color: gray!important;
  

}
 #proname{
  position: relative;
    top: 11px;
    left: 6px;
    display: block;
    color: gray!important;
}

 .maindiv
{
  border: 2px solid rgba(225, 226, 227, 1);
  width: 98.5%;
  border-top: none;

} 
#validform
{
  font-family: 'Calibri';
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.04em;
margin-top: 20px;
margin-left: 22px;

}
#Remarks
{
  font-family: 'Calibri';
font-size: 16px;
font-weight: 700;
line-height: 18px;
color: rgba(0, 0, 0, 1);
margin-left: 24px;


}


.promoimages1
{
  background: linear-gradient(0deg, rgba(152, 156, 160, 0.3), rgba(152, 156, 160, 0.3)),
linear-gradient(0deg, rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82));
border: 1px solid rgba(152, 156, 160, 0.3);
width: 158.88px;
height: 149.40562438964844px;

border-radius: 10px;
margin-top: 24px;
 margin-left: 20px;


}


.promoitemsDetails
{
  /* height: 200px;
  width: 50%;
  float: right;
  margin-right: 1%; */
  margin-top: 24px;
}
#proorderQTY
{
  position: relative;
  left: 17%;
}
.orderqty
{
  border: 1px solid rgba(225, 226, 227, 1);
  height: 164px;
}
.totalQTY
{
    color: gray;
    position: relative;
    left: -15%;
    top: 6px;
}
.totalAmount
{
    color: gray;
    position: relative;
    right: -35%;
    z-index: 1;
    top: 6px;
}
#price
{
  position: relative;
    top: -27px;
    right: -70%;
    color: gray;
}
#ThisorderQTY
{
  position: relative;
    left: 16px;
}
#thisORDERQTY
{
  
  position: relative;
    right: 2%;
}

.saveitems

{
  background: rgba(1, 139, 117, 1);
  color: white;
  font-family: 'Calibri';
  border: 2px solid  rgba(1, 139, 117, 1);

}
.addbuttons
{
  float: right;
  margin-top: 9%;
  margin-right: 17px;
}

.form-control-plaintext
{
 color: rgba(104, 110, 116, 1);
 font-family: 'Calibri';
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
}


::ng-deep.rk
{
  max-height: 339px !important;
  overflow-y: auto;
}
                                                      
::ng-deep.Table1
{
    background-color: white;
    height: 200px!important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(1, 139, 117, 1);
  border-radius: 5px; 
}
#thisorderqty
{
  /* right: 33%; */
  position: relative;

}
#thisPromoFree{
  position: relative;
    left: 48%;
    color: grey;
    top: -37%;
}
#freeqty
{
  position: absolute;
  left: 32%;
  z-index: 1;
}
#TotalorderQTY
{
  position: relative;
  left: -2%;
}

#totalnonprobackcolor
{
  background: rgba(1, 139, 117, 1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: -1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    left: 3px;
    position: relative;

}
.headingcontent
{
  height: 200px;
  height: 200px;
  width: 40%;
  float: right;
  margin-right: 27px;
  margin-top: 26px;
}
.card
{
  border-top-right-radius: 19px !important;
  border-top-left-radius: 19px !important;
}
.card-header{
  border-top-right-radius: 18px !important;
    border-top-left-radius: 18px !important;
}
.nonproitemsconfiorm
{
  border: 1px solid rgba(225, 226, 227, 1);
  border-radius: 10px;
  height: 233px;
  margin-top: 12px;
}
#itemsnonheading
{
  position: relative;
  top: 6px;
  color: white;
}

/* .buyGrp 
{
  margin-top: -17px;
} */
.coll_apsible {
  padding-left: 1%;
   width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #018B75, #018B75);
  border: 1px solid rgba(152, 156, 160, 1);
  color: white;
  
}
.con_tent
{
  margin-left: 1px;
}
.ItemsPro
{
 
 font-family: 'Calibri';
font-size: 19px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0.04em;


}


.tableborderss
{
    border-radius: 5px;
   border: 2px solid rgba(1, 139, 117, 1);
   height: 377px;
    overflow: auto;
    
    
    
  }
  .table-headercolor
{
color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
.table-headercolor1
{
color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
.table-headercolorGetset
{
color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
.TableheaderbgColor
{
  color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
.table-headercolor4
{
color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}

  .orders-add-Promotions .mat-dialog-container {
    position: relative;
    left: 2px;
  }


.mat-form-field {
  width: 680px;
  font-family: 'Gilroy';
  background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





.mat-form-field::placeholder {
  bottom: 2px;
}

.category {
  margin-top: 18px;
  font-family: 'Gilroy';
}

.materialname {
  margin-top: 3px;
  font-family: 'Gilroy';
  margin-left: -4px;
}

.additional {
  margin-top: -10px;
  font-family: 'Gilroy';
  margin-left: -4px;
}

.promotiont {
  margin-top: 3px;
  font-family: 'Gilroy';
  margin-left: 2px;
}

.image {
  font-family: 'Gilroy';
  margin-left: 2px;
  position: relative;
  top: -260px;
  left: 415px;

}

.geography {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 450px;

}

/* ::ng-deep.steppers .prod.mat-horizontal-content-container {
    width: 800px !important;
  } */
.scroll {
  overflow-y: auto;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  /* background: #b3b3bc; */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.description {
  font-family: 'Gilroy';
  margin-top: 15px;
}

.materialci {
  font-family: 'Gilroy';
  margin-top: -29px;
  margin-left: 499px;
}

.imageofm {
  font-family: 'Gilroy';
  margin-top: -31px;
  margin-left: 314px;
}

.expiryperiod {
  font-family: 'Gilroy';
  margin-top: 10px;
  margin-left: 498px;
}

.describem {
  width: 250px;

}

.uom {
  margin-top: 16px;
  font-family: 'Gilroy';
  margin-left: -5px;
}

.sub-category {
  margin-top: -28px;
  margin-left: 255px;
  font-family: 'Gilroy';
}

.type {
  margin-top: -30px;
  margin-left: 496px;
  font-family: 'Gilroy';
}

.font {
  font-family: 'Gilroy';
}

.heading {
  margin-top: 8px;
  font-family: 'Gilroy';
}

::ng-deep.mat-stepper-vertical,
.mat-stepper-horizontal {
  display: inline;
  width: 500px;
}

::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-containerrr {
  width: 767px;
  margin-top: -51px;
}

.mat-horizontal-stepper-wrapper {
  margin-top: -47px;

}

/* .mat-horizontal-stepper-header-container ng-tns-c418-7 {
    margin: top -51px;
  }; */
::ng-deep.input.mat-input-text {
  margin-top: -9px;
  margin-left: -6px;
}

/*old css*/

.mat-form-field-flex {
  padding-top: -10px;
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  height: 37px;

  /* background-color: #CED4DA; */
}



.font {
  font-family: 'Gilroy';
}

.head-t h3 {
  color: #000000;
  text-align: center;
  /* margin-top: -18px; */
  margin-bottom: 2px;
}

.addU {
  position: relative;
  /* font-family: 'Gilroy-Bold';  */
  /* font-weight: bold; */
  font-size: 20px;
}

/* .addU:after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #686E74;
  right: 37px;
  top: 50%;
  position: absolute;
} */

/* .addU:before {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #686E74;
  left: 34px;
  top: 50%;
  position: absolute;
} */

.addUserForm input {
  border-radius: 5px;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  padding: 5px 5px;
  width: 250px;
  font-size: 14px;
  outline: none;
}

span {
  color: red;
}

.close-icon {
  left: 98%;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
    top: 32px;
    z-index: 1;
  
}

label {
  /* padding: 2px 0; */
  font-size: 14px;
  margin: 5px;
}

mat-form-field {
  width: 246px;

}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.7em 0;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}

::ng-deep.mat-dialog-containerrr {
  background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}

.categorydrp {
  width: 205px;
}

.subcategorydrp {
  width: 205px;
  margin-left: 250px;
  margin-top: -40px;
}

.typedrp {
  width: 205px;
  margin-left: 499px;
  margin-top: -42px;
}

.customidentifier {
  width: 205px;
  margin-left: 499px;
  margin-top: -145px;
}

.uomp {
  margin-left: 499px;
  margin-top: -29px;
}

.promotiontypedrp {
  width: 390px;
  margin-top: 2px;
  color: lightgrey;
  font-family: 'Gilroy';
}

.brandname {
  margin-top: 1px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.globalcode {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.brandpl {
  margin-top: 10px;
}

.sku {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.shortcode {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.productg {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.manualsort {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.productdrp {
  width: 309px;
  margin-top: 8px;
  margin-left: -2px;
}

.productsg {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.productlink {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.productsdrp {
  width: 309px;
  margin-top: 8px;
  margin-left: -2px;
}

.productci {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.identiersdrp {
  width: 735px;
  margin-top: 8px;
  margin-left: -2px;

}


.mat-slide {
  margin-left: 620px;
  color: black;
  font-family: 'Gilroy';
  margin-top: -1px;
}

.city {
  margin-left: 608px;
  margin-top: -30px;
}

.state {
  margin-left: 228px;
  margin-top: -29px;
}

.region {
  margin-left: 425px;
  margin-top: -29px;
}

.mat-card {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  height: 190px;
  width: 186px;

  /* font-size: 10px; */
}

::ng-deep.matcard-dealers .mat-card {
  width: 373px;
  height: 218px;
}

.catg {
  background: #EAEEFF;
  border: 1px solid #00187A;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #00187A;
  padding: 5px;
  text-align: center;
}

div.catg[data-selected] {
  border: 2px solid #333;
}

.subc {
  background: #E6FFF6;
  border: 1px solid #0C5A3E;
  border-radius: 10px;
  color: #0C5A3E;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.typeg {
  background: #FFEDEC;
  border: 1px solid #C32F27;
  border-radius: 10px;
  color: #C32F27;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

li {
  list-style: none;
}

.addcat {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-right: 10px;
  font-size: 13px;
  color: rgba(104, 110, 116, 0.75);
  padding: 8px 16px;
  /* width: 150px; */
  margin-left: -12px;
}

.addcode {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 13px;
  color: rgba(104, 110, 116, 0.75);
  padding: 8px 20px;
}

.span-subhead {
  margin-bottom: 10px;
  display: flex;
  color: rgba(104, 110, 116, 0.75);
  font-size: 13px;
}

.selected {
  background-color: #00187A;
  color: white;
}

.subselected {
  background: #0C5A3E;
  color: white;
}

.typeselected {
  background: #C32F27;
  color: white;
}

.row {
  width: 100%;
}

.bar {
  height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  /* height: 500px; */
}

.geo {
  margin-top: 18px;
  font-family: 'Gilroy';
}

.minorder {
  margin-top: -29px;
  margin-left: 310px;
  font-family: 'Gilroy';
}

.mrp {
  position: relative;
  left: 27%;
  font-family: 'Gilroy';
}

.max {
  margin-top: -29px;
  margin-left: 409px;
  font-family: 'Gilroy';
}

.discount {
  margin-top: -29px;
  margin-left: 608px;
  font-family: 'Gilroy';
}

.margin {
  margin-top: -29px;
  margin-left: 512px;
  font-family: 'Gilroy';
}

.leadt {
  position: relative;
  left: 90%;
  top: -32px;
  font-family: 'Gilroy';
}

.registration {
  top: -64px;
  left: 105%;
  position: relative;
  font-family: 'Gilroy';
}

.tags {
  position: relative;
  left: 125%;
  top: -93px;
  font-family: 'Gilroy';
}

.Kedah {
  margin-top: 24px;
  margin-left: 4px;
}

.mala {
  margin-top: -111px;
  margin-left: 4px;
}

.Perak {
  margin-top: 18px;
  margin-left: 4px;
}

.Penang {
  margin-top: 17px;
  margin-left: 4px;
}

.North {
  margin-top: 17px;
  margin-left: 4px;
}

/* .geoo{
    width: 900px;
  } */
.addlink {
  margin-top: -21px;
  margin-left: 987px;

}

.numberl {
  margin-top: -21px;
  margin-left: 799px;
}

.headergeo {
  position: relative;
  left: -7%;
  top: -29px;
}

.malainput {
  position: relative;
  left: -7%;
}

.kedahinput {
  position: relative;
  left: -7%;
}

.perakinput {
  position: relative;
  left: -7%;
}

.penanginput {
  position: relative;
  left: -7%;
}

.northinput {
  position: relative;
  left: -7%;
}

.infosize {
  width: 300px !important;
}

::ng-deep.mat-horizontal-content-containerrr {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

.submitbtn {
  margin-top: 12px;
}

::ng-deep.mat-step-text-label {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}

::ng-deep.datepicker .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .75em .75em 0 .75em;
  border-radius: 14px;
  width: 393px;
  height: 42px;

}

.datepicker.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
  background-color: white;
  font-family: "Gilroy";
}

.mat-card-subtitle:before {
  content: "";
  display: block;
  width: 372px;
  height: 1px;
  background: lightgrey;
  right: 0;
  top: 17%;
  position: absolute;
}

.mat-card-subtitle {
  font-weight: bold;
  font-family: 'Gilroy';
}

.alignment {
  position: relative;
  left: 209px;
}

.btn-row {
  margin-top: -2px;
}

.material-card {
  margin-top: -5px;
}

.getgrp {
  position: relative;
  left: 403px;
  top: -74px;
}

.productlevel {
  position: relative;
  font-family: 'Gilroy';
  bottom: 95px;
}

.items {
  position: relative;
  font-family: 'Gilroy';
  bottom: 153px;
}

.itemstwo {
  position: relative;
  font-family: 'Gilroy';
  bottom: 500px;
  left: 408px;
}

.qty {
  position: relative;
  font-family: 'Gilroy';
  bottom: 328px;
  left: 293px;
}

.qtytwo {
  position: relative;
  font-family: 'Gilroy';
  bottom: 678px;
  left: 708px;
}

.moq {
  position: relative;
  font-family: 'Gilroy';
  bottom: 321px;
  left: 293px;
}

.productleveltwo {
  position: relative;
  font-family: 'Gilroy';
  bottom: 166px;
  left: 406px;
}

.hide .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  overflow: hidden;
  display: none;
  /* background-image: url('../../../../assets/img/maximize.png');   */
  background-size: 13px;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 12px;
  margin-right: -10px;
}

.productdrpdown {
  width: 365px;
  position: relative;
  bottom: 89px;
}

.productdrpdowntwo {
  width: 365px;
  position: relative;
  bottom: 160px;
  left: 414px;
}

.search-img {
  width: 17px;
  margin-top: -57px;
  margin-left: 325px;
}

.input-box {
  border: solid lightgrey 1px;
  height: 35px;
  background-color: #fff;
  margin-top: 1px;
  margin-left: -1px;
  border-radius: 10px;
  font-family: 'Gilroy';
  padding: 4px 10px;
}

.collapsible {
  cursor: pointer;
  /* padding: 5px; */
  padding-left: 1%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #018B75, #018B75);
  border: 1px solid rgba(152, 156, 160, 1);
  border-radius: 10px;
}

/* .active, .collapsible:hover {
    background-color: #555;
} */

.content {
  padding: 0 18px 10px;
  overflow: hidden;
  box-sizing: border-box;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #686E74;
  border-radius: 0px 0px 10px 10px;
  margin: 0px 10px;
}

.top-bottom {
  /* margin-top: 25px; */
  margin-top: -24px;
}

.label-cls {
  position: relative;
  top: 4px;
}

.add-edit-promo {
  color: #fff;
  background: #000000;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  font-size: 10px;
  align-items: center;
  text-align: center;
  float: right;
}

.add-edit-non-promo {
  background: #FFFFFF;
  border: 2px solid #000000;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  font-size: 10px;
  align-items: center;
  text-align: center;
  margin-left: -13px;
}

.promotions-label {
  /* margin-left: -12px; */
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  align-items: center;
  color: #000000;
}

.buy-text {
  font-size: 13px;
  align-items: center;
  color: #C32F27;
}

.main {
  overflow-x: hidden !important;
   height: 680px; 
   margin-top: -2%;
   overflow-y: auto;
   
   
   
}

/* .promotionpopup-scroll {
    height: 360px !important;
} */

.footer {
  position: fixed;
  border-radius: 0px 0px 25px 25px;
  height: 50px;
  width: 860px;
}

.saveas-draft1 {
  background: rgba(1, 139, 117, 1);
  border-radius: 10px;
  width: 168px;
  height: 43px;
  margin: auto;
  text-align: center;
  margin-top: 49px;
  cursor: pointer;
  margin-left: 44%;
  border: 1px solid rgba(1, 139, 117, 1);
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}



.promotion-card {
  height: 159px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow-y: auto;
}
.promoitems-card {
  height: 250px;
  top: -20px;
  /* background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2); */
  overflow-y: auto;
  /* position: relative;
  border-top: none;
  width: 99%; */
  /* border-bottom-left-radius: 15px; */

}

.promoimgs {
  display: -webkit-box;
}

.card1 {
  height: 114px;
  width: 260px;
  border-radius: 10px;
  margin-top: 21px;
  margin-left: -6px;
  cursor: pointer;
}

.selected-promotion-label {
  margin-top: 15px;
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

.label-div {
  margin-top: 19px;
}


.collapsible {
  cursor: pointer;
  /* padding: 5px; */
  width: 100%;
  border: none;
  color: white;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #018B75, #018B75);
  border: 1px solid rgba(152, 156, 160, 1);
  border-radius: 10px;
}

.content {
  padding: 0 18px 10px;
  overflow: hidden;
  box-sizing: border-box;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #686E74;
  border-radius: 0px 0px 10px 10px;
}

.searchButton {
  display: bolck;
  color: #000;
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
}

.searchButton {
  background: transparent;
}

.searchInput {
  width: 374px;
  height: 40px;
  left: 541px;
  top: 355px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 8px 60px 10px 27px
}

.searchButton .material-icons {
  margin-left: 80px;
  z-index: 9999;
  margin-top: 4px;
}

input[type="text"] {
  padding-left: 40px;
}

.search-btn {
  height: 23px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 30px;
  top: 8px;
  cursor: pointer;
}


.buy-grp {

  
  font-size: 18px;
  line-height: 23px;
  align-items: center;
  color: #000000;
  font-family: 'Calibri';
font-weight: 700;
line-height: 27px;
letter-spacing: 0.04em;


 

}

.total-itemss {
  font-family: 'Gilroy-Bold';
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  align-items: center;
  text-align: center;

  color: #000000;

}

.expand-arrow {
  width: 22%;
  position: relative;
  right: -58px;
  top: 4px;
}
.expand-arrowws
{
    width: 22%;
    position: relative;
    right: -58px;
    top: 13px;
    cursor: pointer;
}
.tax-select {
  max-width: 105px;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 8px;
}

.quatity-inp1 {
  width: 80%;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 10px;
  text-align: right;
  margin-left: -54px;
}
.quatity-inp2{
  width: 50%;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 5px;
  text-align: right;
}
.quatity-inp3 {
  width: 50%;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 5px;
  text-align: right;
}
.quatity-inp4 {
  width: 50%;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 5px;
  text-align: right;
}
.quatity-inp5 {
  width: 50%;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 5px;
  text-align: right;
}
.quatity-inp6 {
  width: 50%;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 5px;
  text-align: right;
}
 
 
.Product_namefirstpromo
{
  position: relative;
  /* right: 2%; */
}
.identifiresfirst
{
  position: relative;
  /* left:14.5%; */
}
.RegisNO
{
  position: relative;
  /* left: 9%; */
}
.MOQFirst
{
  position: relative;
  /* left: 8%; */
}
.UNITprice
{
  position: relative;
  /* left: 4%; */
}
 
.ordderQTY
{
  position: relative;
  /* left: 1%; */
}
.GetgroupProductname
{
  position: relative;
  /* right: 2%; */
 
}
.GetGroupIdentifiers
{
  position: relative;
  /* left: 15%; */
}
.Getgroupregistion
{
  position: relative;
  /* left: 8%; */
}
.moqGetGroup
{
  position: relative;
  /* left: 8%; */
}
.GetgriuoUNITprice
{
  position: relative;
  /* left: 4%; */
}
.OrderQtyGetgroup
{
  position: relative;
  /* left: 1%; */
}
.secondpromoProductname
{
  position: relative;
  right: 23px;
}
.secondPromoidentifiers
{
  position: relative;
  /* left: 15%; */
}
.secondprmoregistration
{
  position: relative;
  /* left: 11%; */
}
.secondpromoMOQ
{
  position: relative;
  /* left: 10%; */
}
.secondPromoUnitPrice
{
  position: relative;
  /* left: 6%; */
}
.quantitySecondPromo
{
  position: relative;
  /* left: 5%; */
}
.SecondPromoFreeitemsProduct
{
  position: relative;
  /* right: 19px; */
}
.SecondPromofreeIdettifiers
{
  position: relative;
  /* left: 16%; */
}
.SecondPromoFreeREgi
{
  position: relative;
  /* left: 12%; */
}
.SecondPromotionsFreeMOQ
{
  position: relative;
  /* left: 12%; */
}
.MOQSecondPromoUnitPrice
{
  position: relative;
  /* left: 4%; */
}
.OrderQtySeconsPrmotions
{
  position: relative;
  /* left: 1%; */
}
.ThirPrmoProductname
{
  position: relative;
  right: 15px;
}
.ThirPromoIdentifiers
{
  position: relative;
  /* left: 17%; */
}
.ThirdPromoRegistration
{
  position: relative;
  /* left: 13%; */
}
.ThirdPromotionsMOQ
{
  position: relative;
  /* left: 13%; */
}
.ThirdPrmotionsUnitPrice
{
  position: relative;
  /* left: 9%; */
}
.thirdPromotionOrdderqty
{
  position: relative;
  /* left: 8%; */
}
.ThirdPromotionsFinalPrice
{
  position: relative;
  /* left: 6%; */
}
.ForthPromotionProductname
{
  position: relative;
  /* right: 2%; */
}
.forthPromotionIdentifiers
{
  position: relative;
  /* left: 17%; */
}
.ForthPrommotionREgisno
{
  position: relative;
  /* left: 13%; */
}
.ForthPromotionsMOQ
{
  position: relative;
  /* left: 13%; */
}
.ForthPromoUnitPrice
{
  position: relative;
  /* left: 9%; */
}
.ForthPromotionsOrderQty
{
  position: relative;
  /* left: 7%; */
}
.ForthPromotionsFinalPrice
{
  position: relative;
  /* left: 5%; */
}
 
table {
  /* padding: 10px; */
  /* border-collapse: collapse; */
  border-radius: 6px;
  /* border: 1px solid grey; */
  width: 100%;
  /* background: white; */
  font-size: 13px;
}
 
th {
  padding: 10px;
}
 
/* td {
  text-align: left;
  padding: 3px 0 0 10px;
} */
 
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: black !important;
}
 
tr:nth-child(even) {
  background: rgba(222, 226, 230, 0.2);
}
 
.bottom-table {
  background: linear-gradient(0deg, #018B75, #018B75)!important;
  border-radius: 0px 0px 24.5px 24.5px;
  height: 34px;
  border:rgba(152, 156, 160, 1);
  color: white;
}
.bottom-table4 {
  background: linear-gradient(0deg, #018B75, #018B75)!important;
  border-radius: 0px 0px 24.5px 24.5px;
  height: 34px;
  border:rgba(152, 156, 160, 1);
  color: white;
}
.bottom-table1 {
  background: linear-gradient(0deg, #018B75, #018B75)!important;
  border-radius: 0px 0px 24.5px 24.5px;
  height: 34px;
  border:rgba(152, 156, 160, 1);
  color: white;
}
.bottom-tableGetset4 {
  background: linear-gradient(0deg, #018B75, #018B75)!important;
  border-radius: 0px 0px 24.5px 24.5px;
  height: 34px;
  border:rgba(152, 156, 160, 1);
  color: white;
}
.bottomtableFORTHPRo {
  background: linear-gradient(0deg, #018B75, #018B75)!important;
  border-radius: 0px 0px 24.5px 24.5px;
  height: 34px;
  border:rgba(152, 156, 160, 1);
  color: white;
}
 
/* .p1Tag {
  padding: 10px;
  background-color: rgb(24, 125, 221);
  border-radius: 50%;
  padding: 7px 9px;
  margin-top: 18px;
  color: white;
  height: 32px;
  text-align: center;
  display: none;
 
 
 
  position: relative;
  left: 92px;
  top: 0px;
  width: 32px;
  padding-top: 5px;
  padding-left: 7px;
} */
 
.warningicon {
  color: red;
}
 
.btm-total {
  padding: 7px;
}
 
.buysetHead {
  font-size: 15px;
  text-decoration: underline;
}
 
.getsetHead {
  font-size: 15px;
  text-decoration: underline;
}
 
.buysetOR:after {
  content: "";
  display: block;
  width: 317px;
  height: 1px;
  background: #686E74;
  right: 41px;
  top: 42%;
  position: absolute;
}
 
.buysetOR:before {
  content: "";
  display: block;
  width: 317px;
  height: 1px;
  background: #686E74;
  left: 41px;
  top: 42%;
  position: absolute;
}
 
.getsetOR:after {
  content: "";
  display: block;
  width: 317px;
  height: 1px;
  background: #686E74;
  right: 41px;
  top: 81%;
  position: absolute;
}
 
.getsetOR:before {
  content: "";
  display: block;
  width: 317px;
  height: 1px;
  background: #686E74;
  left: 41px;
  top: 81%;
  position: absolute;
}
 
 
 
.line-txt {
  text-align: center;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
}
.line-txtt {
  text-align: center;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
}
 
.line-txt::before {
  position: absolute;
  /* width: 100%; */
  width: 95%;
  height: 2px;
  top: 20px;
  /* left: 0px; */
  left: 35px;
  content: '';
  background: black;
}
 
.line-txtt::before {
  position: absolute;
  width: 87%;
  height: 2px;
  top: 20px;
  left: 31px;
  content: '';
  background: black;
}
.line-txtt span {
  display: inline-block;
  background: #d0d5db;
  position: absolute;
  width: 50px;
  font-weight: 500;
  /* color: rgba(1, 139, 117, 0.8)!important; */
  color: #000;
 
 
}
.line-txt span {
  display: inline-block;
  background: #d0d5db;
  position: absolute;
  width: 50px;
  font-weight: 500;
  /* color: rgba(1, 139, 117, 0.8)!important; */
  color: #000;
 
 
}
 
  .card1.selected {
  border: 5px solid #187ddd;
}  
 
.txt-error {
  color: red;
  /* display: block; */
}
.align-center{
  text-align: left;
 }
 
 
.double-tick {
  margin-left: 0.25rem;
  cursor: pointer;
}
 
.quatity-inp[disabled],
.tax-select[disabled] {
  background: #ddd;
  cursor: not-allowed;
}
 
.saveas-draft1[disabled] {
  background: #52a799;
  color:  #FFFFFF;
  cursor: not-allowed;
}
 
.text-error-qty {
  text-decoration: dotted !important;
  position: absolute;
  top: 5px;
  right: 0;
}
 
.sub-heading{
  position: relative;
}
 
.txt-error-span{
  color: red !important;
}
 
.txt-right{
  /* text-align: right; */
  /* text-align: center;
  padding-right: 15px; */
}
 
.red-row {
  background-color: rgb(249, 15, 147);
  color: white;
}
 