<div class="font">
    <div class="main" width="900%">
        <div class="container promotionpopup-scroll">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="false">close</mat-icon>
            </div>
            <div class="head-t">
                <h3 class="addU font">{{actineLabel}} : <b>Promotions</b></h3>
                <div class="row top-bottom">
                    <div class="row text-center"></div>
                </div>

                <div class="promotion-card">
                    <div class="promoimgs">
                        <div class="col-md-4 img-container" *ngFor="let Item of arrayOfImages;let i=index;">
                            <div (click)="getpromotionlistById($event,Item);">
                                <img class="card1" src="data:image/jpeg;base64,{{Item.imageurl}}"
                                    [ngClass]="{ 'selected': Item.isSelected }" alt="image does not exit">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="label-div">
                    <span class="selected-promotion-label">Selected Promotions</span>
                </div>

                <div *ngFor="let data of griddatapromotions;let i=index">
                    <div class="row mt-1">
                        <div class="col-lg-1">
                            <p class="p1Tag">p{{i + 1}}</p>
                        </div>
                        <div class="col-lg-11 buysets">
                            <div (click)="buysetsGroups(data)" class="collapsible label-div">
                                <div class="row">
                                    <div class="col-md-11">
                                        <p class="label-cls">
                                            <mat-checkbox [(ngModel)]="data.isProductSelected"
                                                [checked]="data.isProductSelected"></mat-checkbox>
                                            {{data.promotionName}}
                                            <span>{{data.promotionTypesName}} </span>
                                        </p>
                                    </div>
                                    <div class="col-md-1">
                                        <img [src]="data.isShowPromos ? 'assets/img/maximize-arrow.png' : 'assets/img/minimize-tag.png'"
                                            class="expand-arrow" alt="add-user-btn">
                                    </div>
                                </div>
                            </div>

                            <div class="content" *ngIf="data.isShowPromos">
                                <!-- 1st promotions -->
                                <div *ngIf="data.promotionTypesId==1">
                                    <div class="buysets text-center">
                                        <h4 class="buysetHead"><b> {{data.promoDetails.buyGroups.length != 0 ? 'BUYSETS'
                                                :''}} </b> </h4>
                                    </div>
                                    <div *ngFor="let promos of data.promoDetails.buyGroups ">
                                        <div class="buyGrp 1">
                                            <!-- headingds for 1st promotions -->
                                            <div class="row label-div">
                                                <div class="col-md-3">
                                                    <span class="buy-grp"> Buy Group {{promos.groupId}}</span>
                                                </div>
                                                <div class="col-md-6" style="text-align: center;">
                                                    <span class="total-itemss">Total Selected Qty:
                                                        {{promos.totalQuantity}}
                                                        <span style="color:#000;"
                                                            [ngClass]="{ 'txt-error-span': !(promos.isItemValid) && data.showWarningMsg }">(MOQ:{{promos.moq}})</span>
                                                    </span>
                                                    <!-- <span class="txt-error"
                                                        *ngIf="!(promos.isItemValid) && data.showWarningMsg">Total Qty
                                                        is
                                                        less than MOQ</span> -->
                                                </div>


                                            </div>
                                            <!-- tabels for 1st promotions -->
                                            <div class="label-div">
                                                <!-- <p>sssssssdfvfghj</p> -->
                                                <table id="Table1">
                                                    <tr>
                                                        <th data-sortable="true">Product Name</th>
                                                        <th data-sortable="true">SKU</th>
                                                        <th data-sortable="true">Price</th>
                                                        <th data-sortable="true">Qty. in Stock</th>
                                                        <th data-sortable="false">Tax Templete</th>
                                                        <th data-sortable="false">Quantity</th>
                                                        <th data-sortable="false">Amount</th>
                                                    </tr>
                                                    <tr class="table-row" *ngFor="let Item of promos.stockitemid">
                                                        <td><input type="checkbox" [checked]="Item.isProductSelected"
                                                                (change)="checkboxChange($event,Item, data)">{{Item.stockitemname}}
                                                        </td>
                                                        <td>{{Item.productSKUName}}</td>
                                                        <td>{{Item.price}}</td>
                                                        <td><input type="number" placeholder="Enter" class="quatity-inp"
                                                                [(ngModel)]="Item.stock"></td>
                                                        <td>
                                                            <select class="tax-select" placeholder="select"
                                                                [(ngModel)]="Item.Taxid">
                                                                <option value="" selected hidden>Select tax</option>
                                                                <option *ngFor="let option of taxdropdowndata"
                                                                    [value]="option.taxTemplateId">
                                                                    {{option.taxTemplateName}}
                                                                </option>
                                                            </select>

                                                            <img src="assets/img/doubleTickes-default.svg"
                                                                (click)="doubleClick(promos.stockitemid, Item.Taxid)"
                                                                alt="double-blue-tick">
                                                        </td>
                                                        <td><input type="number" placeholder="Enter Qty" class="quatity-inp"
                                                                [(ngModel)]="Item.Quantity"
                                                                (keyup)="quantityChange(data, Item)"></td>
                                                        <td>{{((Item.Quantity ?? 0) * Item.price)| number : '1.2-2' }}
                                                        </td>
                                                    </tr>
                                                    <tr class="bottom-table">
                                                        <td colspan="5" class="btm-total"><b>Total </b></td>
                                                        <td class="btm-total">
                                                            &nbsp;&nbsp; &nbsp;&nbsp; {{promos.totalQuantity ?? 0 |
                                                            number : '1.2-2'}}</td>
                                                        <td class="btm-total">&nbsp;{{promos.totalAmount ?? 0 | number :
                                                            '1.2-2'}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- set groups -->

                                    <div class="buysets text-center sub-heading">
                                        <h4 class="buysetHead"><b> {{data.promoDetails.getGroups.length != 0 ?
                                                'GETSETS'
                                                :''}} </b> </h4>
                                    </div>
                                    <div *ngFor="let promos of data.promoDetails.getGroups">
                                        <div class="buyGrp 1">
                                            <!-- headingds for 1st promotions -->
                                            <div class="row label-div">
                                                <div class="col-md-3">
                                                    <span class="buy-grp"> Get Group {{promos.groupId}}</span>
                                                </div>
                                                <div class="col-md-6" style="text-align: center;">
                                                    <span class="total-itemss">Total Selected Qty:
                                                        {{promos.totalQuantity}} <span class="ml-1" style="color:#000;"
                                                            [ngClass]="{ 'txt-error-span': promos.totalQuantity != (promos.foc) && data.showWarningMsg }">(FOC
                                                            {{promos.foc }})</span></span>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <button class="searchButton" href="#">
                                                        <i class="material-icons">
                                                            search
                                                        </i>
                                                    </button>
                                                    <div class="searchBox d-flex" style=" cursor: pointer">
                                                        <input class="searchInput" style="font-family: 'Gilroy'"
                                                            type="text" name="" placeholder="Type & search for anything"
                                                            (keyup)="onSearchChange($event)">
                                                        <button class="search-btn"
                                                            style="font-family: 'Gilroy'">Search</button>

                                                    </div>
                                                </div> -->

                                            </div>
                                            <!-- tabels for 1st promotions -->
                                            <div class="label-div">
                                                <table id="Table1">
                                                    <tr>
                                                        <th data-sortable="true">Product Name</th>
                                                        <th data-sortable="true">SKU</th>
                                                        <th data-sortable="true">Price</th>
                                                        <th data-sortable="true">Qty. in Stock</th>
                                                        <th data-sortable="false">Tax Templete</th>
                                                        <th data-sortable="false">Quantity</th>
                                                        <th data-sortable="false">Amount</th>
                                                    </tr>
                                                    <tr class="table-row" *ngFor="let Item of promos.stockitemid">
                                                        <td><input type="checkbox" [checked]="Item.isProductSelected"
                                                                (change)="checkboxChange($event,Item, data)">{{Item.stockitemname}}
                                                        </td>
                                                        <td>{{Item.productSKUName}}</td>
                                                        <td>{{Item.price}}</td>
                                                        <td><input type="number" placeholder="Enter" class="quatity-inp"
                                                                [(ngModel)]="Item.stock"></td>
                                                        <td>
                                                            <select class="tax-select" placeholder="select"
                                                                [(ngModel)]="Item.Taxid">
                                                                <option value="" selected hidden>Select tax</option>
                                                                <option *ngFor="let option of taxdropdowndata"
                                                                    [value]="option.taxTemplateId">
                                                                    {{option.taxTemplateName}}
                                                                </option>
                                                            </select>

                                                            <img src="assets/img/doubleTickes-default.svg"
                                                                alt="double-blue-tick">
                                                        </td>
                                                        <td><input type="number" placeholder="Enter Qty" class="quatity-inp"
                                                                [(ngModel)]="Item.Quantity"
                                                                (keyup)="quantityChange(data, Item)"></td>
                                                        <td>{{((Item.price) * (Item.Quantity))| number : '1.2-2' }}</td>
                                                    </tr>
                                                    <tr class="bottom-table">

                                                        <td colspan="5" class="btm-total"><b>Total </b></td>
                                                        <td class="btm-total">
                                                            &nbsp;&nbsp; &nbsp;&nbsp; {{promos.totalQuantity ?? 0 |
                                                            number : '1.2-2'}}</td>
                                                        <td class="btm-total">&nbsp;{{promos.totalAmount ?? 0 | number :
                                                            '1.2-2'}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- 2nd promotions -->
                                <div *ngIf="data.promotionTypesId==2">
                                    <div class="buysets text-center">
                                        <h4 class="buysetHead"><b> {{data.promoDetails.buySets.length != 0 ? 'BUY SETS'
                                                :''}} </b> </h4>
                                    </div>
                                    <div *ngFor="let setItem of data.promoDetails.buySets;let j=index">
                                        <div *ngFor="let promos of setItem.buyGroups">
                                            <div class="buyGrp 1">
                                                <!-- headingds for 1st promotions -->
                                                <div class="row label-div">
                                                    <div class="col-md-3">
                                                        <span class="buy-grp"> Set -{{setItem.groupId}}: Buy Group
                                                            {{promos.set}}</span>
                                                    </div>
                                                    <div class="col-md-6" style="text-align: center;">
                                                        <span class="total-itemss">Total Selected Qty:
                                                            {{promos.totalQuantity}}
                                                            <span style="color:#000;"
                                                                [ngClass]="{ 'txt-error-span': !(promos.isItemValid) && data.showWarningMsg }">(MOQ:{{promos.moq}})</span>
                                                        </span>

                                                        <!-- <span class="total-itemss">Total Selected Qty: ({{promos.totalQuantity}})
                                                            (MOQ:{{promos.moq}})</span>
                                                        <span class="txt-error" *ngIf="!(promos.isItemValid)">Total Qty
                                                            is
                                                            less than MOQ</span> -->
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <button class="searchButton" href="#">
                                                            <i class="material-icons">
                                                                search
                                                            </i>
                                                        </button>
                                                        <div class="searchBox d-flex" style=" cursor: pointer">
                                                            <input class="searchInput" style="font-family: 'Gilroy'"
                                                                type="text" name=""
                                                                placeholder="Type & search for anything"
                                                                (keyup)="onSearchChange($event)">
                                                            <button class="search-btn"
                                                                style="font-family: 'Gilroy'">Search</button>

                                                        </div>
                                                    </div> -->

                                                </div>
                                                <!-- tabels for 1st promotions -->
                                                <div class="label-div">
                                                    <table id="Table1">
                                                        <tr>
                                                            <th data-sortable="true">Product Name</th>
                                                            <th data-sortable="true">SKU</th>
                                                            <th data-sortable="true">Price</th>
                                                            <th data-sortable="true">Qty. in Stock</th>
                                                            <th data-sortable="false">Tax Templete</th>
                                                            <th data-sortable="false">Quantity</th>
                                                            <th data-sortable="false">Amount</th>
                                                        </tr>
                                                        <tr class="table-row" *ngFor="let Item of promos.stockitemid">
                                                            <td><input type="checkbox"
                                                                    [checked]="Item.isProductSelected"
                                                                    [disabled]="!promos.isEnable"
                                                                    (change)="checkboxChange($event,Item, data)">{{Item.stockitemname}}
                                                            </td>
                                                            <td>{{Item.productSKUName}}</td>
                                                            <td>{{Item.price}}</td>
                                                            <td><input type="number" placeholder="Enter"
                                                                    [disabled]="!promos.isEnable" class="quatity-inp"
                                                                    [(ngModel)]="Item.stock"></td>
                                                            <td>
                                                                <select class="tax-select" placeholder="select"
                                                                    [disabled]="!promos.isEnable"
                                                                    [(ngModel)]="Item.Taxid">
                                                                    <option value="" selected hidden>Select tax</option>
                                                                    <option *ngFor="let option of taxdropdowndata"
                                                                        [value]="option.taxTemplateId">
                                                                        {{option.taxTemplateName}}
                                                                    </option>
                                                                </select>

                                                                <img src="assets/img/doubleTickes-default.svg"
                                                                    (click)="doubleClick(promos.stockitemid, Item.Taxid)"
                                                                    alt="double-blue-tick">
                                                            </td>
                                                            <td><input type="number" placeholder="Enter Qty"
                                                                    class="quatity-inp" [(ngModel)]="Item.Quantity"
                                                                    [disabled]="!promos.isEnable"
                                                                    (keyup)="quantityChange(data, Item)"></td>
                                                            <td>{{((Item.Quantity ?? 0) * Item.price)| number : '1.2-2'
                                                                }}</td>
                                                        </tr>
                                                        <tr class="bottom-table">
                                                            <td colspan="5" class="btm-total"><b>Total </b></td>
                                                            <td class="btm-total">
                                                                &nbsp;&nbsp; &nbsp;&nbsp; {{promos.totalQuantity ?? 0|
                                                                number : '1.2-2'}}
                                                            </td>
                                                            <td class="btm-total">
                                                                &nbsp;{{promos.totalAmount ?? 0 | number : '1.2-2'}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="line-txt" *ngIf="(j +1) != data.promoDetails.buySets.length">
                                            <span>(OR)</span>
                                        </div>

                                    </div>
                                    <div class="buysets text-center sub-heading">
                                        <h4 class="buysetHead"><b> {{data.promoDetails.getSets.length != 0 ? 'GET SETS'
                                                :''}} </b> </h4>
                                        <!-- <div class="text-error-qty "
                                            *ngIf="data.promoDetails.getGroupsQty || data.promoDetails.buyGroupsQty"
                                            [ngClass]="{ 'txt-error': data.promoDetails.getGroupsQty != data.promoDetails.buyGroupsQty }">
                                            (Total Get Qty {{data.promoDetails.getGroupsQty}}) </div> -->
                                    </div>
                                    <!-- set groups -->
                                    <div *ngFor="let setItem of data.promoDetails.getSets;let j=index">
                                        <div *ngFor="let promos of setItem.getGroups">
                                            <div class="buyGrp 1">
                                                <!-- headingds for 1st promotions -->
                                                <div class="row label-div">
                                                    <div class="col-md-3">
                                                        <span class="buy-grp"> Set -{{setItem.groupId}}: Get Group
                                                            {{promos.set}}</span>
                                                    </div>
                                                    <div class="col-md-6" style="text-align: center;">
                                                        <span class="total-itemss">Total Selected Qty:
                                                            ({{promos.totalQuantity}})
                                                            <span class="ml-1" style="color:#000;"
                                                                [ngClass]="{ 'txt-error-span': promos.totalQuantity != (promos.foc) && data.showWarningMsg && promos.isEnable }">(FOC
                                                                {{promos.foc}})</span></span>
                                                    </div>
                                                    <!-- <div class="col-md-6">
                                                        <button class="searchButton" href="#">
                                                            <i class="material-icons">
                                                                search
                                                            </i>
                                                        </button>
                                                        <div class="searchBox d-flex" style=" cursor: pointer">
                                                            <input class="searchInput" style="font-family: 'Gilroy'"
                                                                type="text" name=""
                                                                placeholder="Type & search for anything"
                                                                (keyup)="onSearchChange($event)">
                                                            <button class="search-btn"
                                                                style="font-family: 'Gilroy'">Search</button>

                                                        </div>
                                                    </div> -->

                                                </div>
                                                <!-- tabels for 1st promotions -->
                                                <div class="label-div">
                                                    <table id="Table1">
                                                        <tr>
                                                            <th data-sortable="true">Product Name</th>
                                                            <th data-sortable="true">SKU</th>
                                                            <th data-sortable="true">Price</th>
                                                            <th data-sortable="true">Qty. in Stock</th>
                                                            <th data-sortable="false">Tax Templete</th>
                                                            <th data-sortable="false">Quantity</th>
                                                            <th data-sortable="false">Amount</th>
                                                        </tr>
                                                        <tr class="table-row" *ngFor="let Item of promos.stockitemid">
                                                            <td><input type="checkbox" [disabled]="!promos.isEnable"
                                                                    [checked]="Item.isProductSelected"
                                                                    (change)="checkboxChange($event,Item, data)">{{Item.stockitemname}}
                                                            </td>
                                                            <td>{{Item.productSKUName}}</td>
                                                            <td>{{Item.price}}</td>
                                                            <td><input type="number" placeholder="Enter"
                                                                    [disabled]="!promos.isEnable" class="quatity-inp"
                                                                    [(ngModel)]="Item.stock"></td>
                                                            <td>
                                                                <select class="tax-select" placeholder="select"
                                                                    [disabled]="!promos.isEnable"
                                                                    [(ngModel)]="Item.Taxid">
                                                                    <option value="" selected hidden>Select tax</option>
                                                                    <option *ngFor="let option of taxdropdowndata"
                                                                        [value]="option.taxTemplateId">
                                                                        {{option.taxTemplateName}}
                                                                    </option>
                                                                </select>

                                                                <img src="assets/img/doubleTickes-default.svg"
                                                                    (click)="doubleClick(promos.stockitemid, Item.Taxid)"
                                                                    alt="double-blue-tick">
                                                            </td>
                                                            <td><input type="number" placeholder="Enter Qty"
                                                                    class="quatity-inp" [disabled]="!promos.isEnable"
                                                                    [(ngModel)]="Item.Quantity"
                                                                    (keyup)="quantityChange(data, Item)"></td>
                                                            <td>{{((Item.Quantity ?? 0) * Item.price)| number : '1.2-2'
                                                                }}</td>
                                                        </tr>
                                                        <tr class="bottom-table">
                                                            <td colspan="5" class="btm-total"><b>Total </b></td>
                                                            <td class="btm-total">
                                                                &nbsp;&nbsp; &nbsp;&nbsp;{{promos.totalQuantity ?? 0|
                                                                number : '1.2-2'}}
                                                            </td>
                                                            <td class="btm-total">
                                                                &nbsp;{{promos.totalAmount ?? 0 | number : '1.2-2'}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="line-txt" *ngIf="(j +1) != data.promoDetails.getSets.length">
                                            <span>(OR)</span>
                                        </div>

                                    </div>
                                </div>

                                <!-- 3rd promotions -->
                                <div *ngIf="data.promotionTypesId==3">
                                    <div>
                                        <div class="buyGrp 1">
                                            <!-- headingds for 3rd promotions -->
                                            <div class="row label-div">
                                                <div class="col-md-3">
                                                    <span class="buy-grp"> Buy Group</span>
                                                </div>
                                                <div class="col-md-9" style="text-align: left;">

                                                    <span class="total-itemss">Total Selected Qty:
                                                        {{data.promoDetails.totalQuantity}}
                                                        <span style="color:#000;"
                                                            [ngClass]="{ 'txt-error-span': ((!data.promoDetails.isItemValid || !data.promoDetails.isDiscountItemValid))   && data.showWarningMsg }">(MOQ:{{data.promoDetails.moq}})</span> 
                                                            <span style="color:#000;"> Discount percentage: {{data.promoDetails.DiscountPercentage}}</span>
                                                    </span>

                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <button class="searchButton" href="#">
                                                        <i class="material-icons">
                                                            search
                                                        </i>
                                                    </button>
                                                    <div class="searchBox d-flex" style=" cursor: pointer">
                                                        <input class="searchInput" style="font-family: 'Gilroy'"
                                                            type="text" name="" placeholder="Type & search for anything"
                                                            (keyup)="onSearchChange($event)">
                                                        <button class="search-btn"
                                                            style="font-family: 'Gilroy'">Search</button>

                                                    </div>
                                                </div> -->

                                            </div>
                                            <!-- tabels for 3rd promotions -->
                                            <div class="label-div">
                                                <table id="Table1">
                                                    <tr>
                                                        <th data-sortable="true">Product Name</th>
                                                        <th data-sortable="true">SKU</th>
                                                        <th data-sortable="true">Price</th>
                                                        <th data-sortable="true">Qty. in Stock</th>
                                                        <th data-sortable="false">Tax Templete</th>
                                                        <th data-sortable="false">Quantity</th>
                                                        <th data-sortable="false">Final Price</th>
                                                        <th data-sortable="false">Final Value</th>
                                                    </tr>
                                                    <tr class="table-row"
                                                        *ngFor="let Item of data.promoDetails.stockitems">
                                                        <td><input type="checkbox" [checked]="Item.isProductSelected"
                                                                (change)="checkboxChange($event,Item, data)">{{Item.stockitemname}}
                                                        </td>
                                                        <td>{{Item.productSKUName}}</td>
                                                        <td>{{Item.price}}</td>
                                                        <td><input type="number" placeholder="Enter" class="quatity-inp"
                                                                [(ngModel)]="Item.stock"></td>
                                                        <td>
                                                            <select class="tax-select" placeholder="select"
                                                                [(ngModel)]="Item.Taxid">
                                                                <option value="" selected hidden>Select tax</option>
                                                                <option *ngFor="let option of taxdropdowndata"
                                                                    [value]="option.taxTemplateId">
                                                                    {{option.taxTemplateName}}
                                                                </option>
                                                            </select>

                                                            <img src="assets/img/doubleTickes-default.svg"
                                                                class="double-tick"
                                                                (click)="doubleClick(data.promoDetails.stockitems, Item.Taxid)"
                                                                alt="double-blue-tick">
                                                        </td>
                                                        <td><input type="number" placeholder="Enter Qty" class="quatity-inp"
                                                                [(ngModel)]="Item.Quantity"
                                                                (keyup)="quantityChange(data, Item)"></td>
                                                        <td>   {{(Item.finalPrice) | number : '1.2-2'}}</td>
                                                        <td>{{Item.DiscountAmount ?? 0 | currency:'':''}}</td>
                                                    </tr>
                                                    <tr class="bottom-table">
                                                        <td colspan="5" class="btm-total"><b>Total </b></td>
                                                        <td class="btm-total">&nbsp;&nbsp;
                                                            &nbsp;&nbsp;{{data.promoDetails.totalQuantity ?? 0 | number
                                                            : '1.2-2'}}
                                                        </td>
                                                        <td class="btm-total">
                                                        </td>
                                                        <td>{{data.promoDetails.DiscountAmount ?? 0 | number : '1.2-2'}}
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- 4th promotions -->
                                <div *ngIf="data.promotionTypesId==4">

                                    <div>
                                        <div class="buyGrp 1">
                                            <!-- headingds for 4th promotions -->
                                            <div class="row label-div">
                                                <div class="col-md-3">
                                                    <span class="buy-grp"> Buy Group</span>
                                                </div>
                                                <div class="col-md-6" style="text-align: center;">

                                                    <span class="total-itemss">Total Selected Qty:
                                                        {{data.promoDetails.totalQuantity}}
                                                        <span style="color:#000;"
                                                            [ngClass]="{ 'txt-error-span': ((!data.promoDetails.isItemValid || !data.promoDetails.isDiscountItemValid))   && data.showWarningMsg }">(MOQ:{{data.promoDetails.moq}})</span>
                                                    </span>

                                                    <!-- <span class="total-itemss">(MOQ:{{data.promoDetails.moq}})</span>
                                                    <span class="txt-error"
                                                        *ngIf="!(data.promoDetails.isItemValid) && data.showWarningMsg">Total
                                                        Qty is less than
                                                        MOQ</span> -->
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <button class="searchButton" href="#">
                                                        <i class="material-icons">
                                                            search
                                                        </i>
                                                    </button>
                                                    <div class="searchBox d-flex" style=" cursor: pointer">
                                                        <input class="searchInput" style="font-family: 'Gilroy'"
                                                            type="text" name="" placeholder="Type & search for anything"
                                                            (keyup)="onSearchChange($event)">
                                                        <button class="search-btn"
                                                            style="font-family: 'Gilroy'">Search</button>

                                                    </div>
                                                </div> -->

                                            </div>
                                            <!-- tabels for 4th promotions -->
                                            <div class="label-div">
                                                <table id="Table1">
                                                    <tr>
                                                        <th data-sortable="true">Product Name</th>
                                                        <th data-sortable="true">SKU</th>
                                                        <th data-sortable="true">Price</th>
                                                        <th data-sortable="true">Qty. in Stock</th>
                                                        <th data-sortable="false">Tax Templete</th>
                                                        <th data-sortable="false">Quantity</th>
                                                        <th data-sortable="false">Final Price</th>
                                                        <th data-sortable="false">Final Value</th>
                                                    </tr>
                                                    <tr class="table-row"
                                                        *ngFor="let Item of data.promoDetails.stockitems">
                                                        <td><input type="checkbox" [checked]="Item.isProductSelected"
                                                                (change)="checkboxChange($event,Item, data)">{{Item.stockitemname}}
                                                        </td>
                                                        <td>{{Item.productSKUName}}</td>
                                                        <td>{{Item.price}}</td>
                                                        <td><input type="number" placeholder="Enter" class="quatity-inp"
                                                                [(ngModel)]="Item.stock"></td>
                                                        <td>
                                                            <select class="tax-select" placeholder="select"
                                                                [(ngModel)]="Item.Taxid">
                                                                <option value="" selected hidden>Select tax</option>
                                                                <option *ngFor="let option of taxdropdowndata"
                                                                    [value]="option.taxTemplateId">
                                                                    {{option.taxTemplateName}}
                                                                </option>
                                                            </select>

                                                            <img src="assets/img/doubleTickes-default.svg"
                                                                class="double-tick"
                                                                (click)="doubleClick(data.promoDetails.stockitems, Item.Taxid)"
                                                                alt="double-blue-tick">

                                                        </td>
                                                        <td><input type="number" placeholder="Enter Qty" class="quatity-inp"
                                                                [(ngModel)]="Item.Quantity"
                                                                (keyup)="quantityChange(data, Item)"></td>
                                                        
                                                                <td>{{Item.DiscountAmount ?? 0 | number : '1.2-2'}}</td>
                                                                <td>{{(Item.finalPrice) | number : '1.2-2'}}</td>
                                                    </tr>
                                                    <tr class="bottom-table">
                                                        <td colspan="5" class="btm-total"><b>Total </b></td>

                                                        <td class="btm-total ">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;{{data.promoDetails.totalQuantity ??
                                                            0 | number : '1.2-2'}}
                                                        </td>
                                                        <td class="btm-total"></td>
                                                        <td>{{data.promoDetails.DiscountAmount ?? 0 | number : '1.2-2'}}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>


        <button type="button" class="saveas-draft1" [disabled]="!isOrderPromotionValid" (click)="addPromoItems()">Add
            items</button>
    </div>
</div>