
<div  class="container font">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    <div class="actv-user text-center">
        <h1 class="head-text" >Reactivate dealer</h1>
        <p>Are you sure you want to <b style="color:rgba(23, 177, 92, 1)">reactivate</b><br>
            dealer<b> {{customerName}} ?</b></p><br>
        <button class="undo"(click)="reactv()" >Yes</button>
        <button class="exit" [mat-dialog-close]="true">Cancel</button>
    </div>
</div>