<div #trigger  data-action="toggle" style="cursor: pointer;">
    <i class="fa fa-ellipsis-v" data-action="toggle"></i>
  </div>
  
  <div #content *ngIf="isOpen" class="menu-container">
    <div (click)="editDealer()" class="menu-item tick"> Edit <img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
    <div  (click)="deaActivate()" class="menu-item tick">Deactivate <img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
    <div  (click)="reActivate()" class="menu-item tick">Reactivate <img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark"></div>
  </div>