.mat-form-field {
    width: 680px;
    font-family: 'Gilroy';
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  }
  
  .mat-form-field::placeholder {
    bottom: 2px;
  }
  
  .category {
    margin-top: 18px;
    font-family: 'Gilroy';
  }
  
  .materialname {
    margin-top: 3px;
    font-family: 'Gilroy';
    margin-left: -4px;
  }
  .additional{
    margin-top: -10px;
    font-family: 'Gilroy';
    margin-left: -4px;
  }
  .promotiont{
    margin-top: 3px;
    font-family: 'Gilroy';
    margin-left: 2px;
  }
  .image{
    font-family: 'Gilroy';
    margin-left: 2px;
    position: relative;
    top: -260px;
    left: 415px;
    
  }
  .geography{
    overflow-y: auto;
     overflow-x: hidden;
    max-height: 450px;
     
  }
  /* ::ng-deep.steppers .prod.mat-horizontal-content-container {
    width: 800px !important;
  } */
  .scroll{
    overflow-y: auto;
    overflow-x: auto;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
    /* background: #b3b3bc; */
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
  }
  
  .description {
    font-family: 'Gilroy';
    margin-top: 15px;
  }
  
  .materialci {
    font-family: 'Gilroy';
    margin-top: -29px;
    margin-left: 499px;
  }
  
  .imageofm {
    font-family: 'Gilroy';
    margin-top: -31px;
    margin-left: 314px;
  }
  
  .expiryperiod {
    font-family: 'Gilroy';
    margin-top: 10px;
    margin-left: 498px;
  }
  
  .describem {
    width: 250px;
  
  }
  
  .uom {
    margin-top: 16px;
    font-family: 'Gilroy';
    margin-left: -5px;
  }
  
  .sub-category {
    margin-top: -28px;
    margin-left: 255px;
    font-family: 'Gilroy';
  }
  
  .type {
    margin-top: -30px;
    margin-left: 496px;
    font-family: 'Gilroy';
  }
  
  .font {
    font-family: 'Gilroy';
  }
  
  .heading {
    margin-top: 8px;
    font-family: 'Gilroy';
  }
  
  ::ng-deep.mat-stepper-vertical,
  .mat-stepper-horizontal {
    display: inline;
    width: 500px;
  }
  
  ::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    width: 767px;
    margin-top: -51px;
  }
  
  .mat-horizontal-stepper-wrapper {
    margin-top: -47px;
      
  }
  
  /* .mat-horizontal-stepper-header-container ng-tns-c418-7 {
    margin: top -51px;
  }; */
  ::ng-deep.input.mat-input-text {
    margin-top: -9px;
    margin-left: -6px;
  }
  
  /*old css*/
  
  .mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;
  
    /* background-color: #CED4DA; */
  }
  
  .main {
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  
  }
  
  .font {
    font-family: 'Gilroy';
  }
  
  .head-t h3 {
    color: #000000;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 2px;
  }
  
  .addU {
    position: relative;
    /* font-family: 'Gilroy-Bold';  */
    /* font-weight: bold; */
    font-size: 15px;
  }
  
  .addU:after {
    content: "";
    display: block;
    width: 360px;
    height: 2px;
    background: #686E74;
    right: 4px;
    top: 50%;
    position: absolute;
  }
  
  .addU:before {
    content: "";
    display: block;
    width: 360px;
    height: 2px;
    background: #686E74;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
  .addUserForm input {
    border-radius: 5px;
    border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    padding: 5px 5px;
    width: 250px;
    font-size: 14px;
    outline: none;
  }
  
  span {
    color: red;
  }
  
  .close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  label {
    /* padding: 2px 0; */
    font-size: 14px;
    margin: 5px;
  }
  
  mat-form-field {
    width: 246px;
  
  }
  
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.7em 0;
    border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  }
  
  ::ng-deep.mat-dialog-container {
    background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    ;
  }
  
  .categorydrp {
    width: 205px;
  }
  
  .subcategorydrp {
    width: 205px;
    margin-left: 250px;
    margin-top: -40px;
  }
  
  .typedrp {
    width: 205px;
    margin-left: 499px;
    margin-top: -42px;
  }
  
  .customidentifier {
    width: 205px;
    margin-left: 499px;
    margin-top: -145px;
  }
  
  .uomp {
    margin-left: 499px;
    margin-top: -29px;
  }
  
  .promotiontypedrp {
    width: 390px;
    margin-top: 2px;
    color: lightgrey;
    font-family: 'Gilroy';
  }
  
  .brandname {
    margin-top: 1px;
    margin-left: -5px;
    font-family: 'Gilroy';
  }
  
  .globalcode {
    margin-top: -35px;
    margin-left: 388px;
    font-family: 'Gilroy';
  }
  
  .brandpl {
    margin-top: 10px;
  }
  
  .sku {
    margin-top: 10px;
    margin-left: -5px;
    font-family: 'Gilroy';
  }
  
  .shortcode {
    margin-top: -35px;
    margin-left: 388px;
    font-family: 'Gilroy';
  }
  
  .productg {
    margin-top: 10px;
    margin-left: -5px;
    font-family: 'Gilroy';
  }
  
  .manualsort {
    margin-top: -35px;
    margin-left: 388px;
    font-family: 'Gilroy';
  }
  
  .productdrp {
    width: 309px;
    margin-top: 8px;
    margin-left: -2px;
  }
  
  .productsg {
    margin-top: 10px;
    margin-left: -5px;
    font-family: 'Gilroy';
  }
  
  .productlink {
    margin-top: -35px;
    margin-left: 388px;
    font-family: 'Gilroy';
  }
  
  .productsdrp {
    width: 309px;
    margin-top: 8px;
    margin-left: -2px;
  }
  
  .productci {
    margin-top: 10px;
    margin-left: -5px;
    font-family: 'Gilroy';
  }
  
  .identiersdrp {
    width: 735px;
    margin-top: 8px;
    margin-left: -2px;
    
  }
  
  
  .mat-slide {
    margin-left: 620px;
    color: black;
    font-family: 'Gilroy';
    margin-top: -1px;
  }
  
  .city {
    margin-left: 608px;
    margin-top: -30px;
  }
  
  .state {
    margin-left: 228px;
    margin-top: -29px;
  }
  
  .region {
    margin-left: 425px;
    margin-top: -29px;
  }
  
  .mat-card {
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 190px;
    width: 186px;
  
    /* font-size: 10px; */
  }
  ::ng-deep.matcard-dealers .mat-card{
    width: 373px;
    height: 218px;
  }
  
  .catg {
    background: #EAEEFF;
    border: 1px solid #00187A;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #00187A;
    padding: 5px;
    text-align: center;
  }
  
  div.catg[data-selected] {
    border: 2px solid #333;
  }
  
  .subc {
    background: #E6FFF6;
    border: 1px solid #0C5A3E;
    border-radius: 10px;
    color: #0C5A3E;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
  }
  
  .typeg {
    background: #FFEDEC;
    border: 1px solid #C32F27;
    border-radius: 10px;
    color: #C32F27;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
  }
  
  li {
    list-style: none;
  }
  
  .addcat {
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-right: 10px;
    font-size: 13px;
    color: rgba(104, 110, 116, 0.75);
    padding: 8px 16px;
    /* width: 150px; */
    margin-left: -12px;
  }
  
  .addcode {
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 13px;
    color: rgba(104, 110, 116, 0.75);
    padding: 8px 20px;
  }
  
  .span-subhead {
    margin-bottom: 10px;
    display: flex;
    color: rgba(104, 110, 116, 0.75);
    font-size: 13px;
  }
  
  .selected {
    background-color: #00187A;
    color: white;
  }
  
  .subselected {
    background: #0C5A3E;
    color: white;
  }
  
  .typeselected {
    background: #C32F27;
    color: white;
  }
  
  .row {
    width: 100%;
  }
  
  .bar {
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
    /* height: 500px; */
  }
  
  .geo {
    margin-top: 18px;
    font-family: 'Gilroy';
  }
  
  .minorder {
    margin-top: -29px;
    margin-left: 310px;
    font-family: 'Gilroy';
  }
  .mrp {
    position: relative;
    left: 27%;
     font-family: 'Gilroy';
  } 
  .max{ 
    margin-top: -29px;
    margin-left: 409px;
    font-family: 'Gilroy';
  }
  .discount{
    margin-top: -29px;
    margin-left: 608px;
    font-family: 'Gilroy';
  }
  .margin {
    margin-top: -29px;
    margin-left: 512px;
    font-family: 'Gilroy';
  }
  
  .leadt {
    position: relative;
      left: 90%;
      top: -32px;
    font-family: 'Gilroy';
  }
  
  .registration {
    top: -64px;
    left: 105%;
    position: relative;
    font-family: 'Gilroy';
  }
  
  .tags {
    position: relative;
      left: 125%;
      top: -93px;
    font-family: 'Gilroy';
  }
  
  .Kedah {
    margin-top: 24px;
    margin-left: 4px;
  }
  
  .mala {
    margin-top: -111px;
    margin-left: 4px;
  }
  
  .Perak {
    margin-top: 18px;
    margin-left: 4px;
  }
  
  .Penang {
    margin-top: 17px;
    margin-left: 4px;
  }
  
  .North {
    margin-top: 17px;
    margin-left: 4px;
  }
  
  /* .geoo{
    width: 900px;
  } */
  .addlink {
    margin-top: -21px;
    margin-left: 987px;
  
  }
  .numberl{
    margin-top: -21px;
    margin-left: 799px;
  }
  .headergeo{
    position: relative;
      left: -7%;
      top: -29px;
  }
  .malainput{
    position: relative;
      left: -7%;
  }
  .kedahinput{
    position: relative;
      left: -7%;
  }
  .perakinput{
    position: relative;
      left: -7%;
  }
  .penanginput{
    position: relative;
      left: -7%;
  }
  .northinput{
    position: relative;
      left: -7%;
  }
  .infosize{
    width: 300px !important;
  }
  ::ng-deep.mat-horizontal-content-container {
    overflow: hidden;
    padding: 0px 0px 0px 0px;
  }
  .submitbtn{
    margin-top: 12px;
  }

  ::ng-deep.mat-step-text-label {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}

::ng-deep.datepicker .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .75em .75em 0 .75em;
    border-radius: 14px;
    width: 393px;
    height: 42px;
    
}

.datepicker.mat-form-field-infix{
        display: block;
        position: relative;
        flex: auto;
        min-width: 0;
        width: 180px;
       background-color: white;
       font-family: "Gilroy";
}

.mat-card-subtitle:before{
  content: "";
    display: block;
    width: 372px;
    height: 1px;
    background: lightgrey ;
    right: 0;
    top: 17%;
    position: absolute;
}

.mat-card-subtitle{
  font-weight: bold;
    font-family: 'Gilroy';
}

.alignment{
  position: relative;
  left: 209px;
}
.btn-row{
  margin-top:-2px;
}

.material-card {
  margin-top: -5px;
}

.getgrp{
  position: relative;
    left: 403px;
    top: -74px;
}

.productlevel{
  position: relative;
    font-family: 'Gilroy';
    bottom: 95px;
}

.items{
  position: relative;
    font-family: 'Gilroy';
    bottom: 153px;
}

.itemstwo{
  position: relative;
    font-family: 'Gilroy';
    bottom: 500px;
    left: 408px;
}
.qty{
  position: relative;
    font-family: 'Gilroy';
    bottom: 328px;
    left: 293px;
}

.qtytwo{
  position: relative;
    font-family: 'Gilroy';
    bottom: 678px;
    left: 708px;
}

.moq{
  position: relative;
    font-family: 'Gilroy';
    bottom: 321px;
    left: 293px;
}

.productleveltwo{
  position: relative;
    font-family: 'Gilroy';
    bottom: 166px;
    left: 406px;
}

.hide .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
    overflow: hidden;
    display: none;
   /* background-image: url('../../../../assets/img/maximize.png');   */
  background-size: 13px;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 12px;
  margin-right: -10px;
}  

.productdrpdown {
  width: 365px;
  position: relative;
    bottom: 89px;
}
.productdrpdowntwo {
  width: 365px;
  position: relative;
    bottom: 160px;
    left: 414px;
}

.search-img {
    width      : 17px;
    margin-top : -57px;
    margin-left: 325px;
}

.input-box {
    border:solid lightgrey 1px;
    height: 35px;
    background-color: #fff;
    margin-top: 1px; 
    margin-left: -1px;
    border-radius: 10px;
    font-family: 'Gilroy';
    padding: 4px 10px;
}

.collapsible {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 10px;
  }
  
/* .active, .collapsible:hover {
    background-color: #555;
} */

.content {
    padding: 0 18px 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #686E74;
    border-radius: 0px 0px 10px 10px;
}

.top-bottom {
    margin-top: 25px;
}

.label-cls {
    position: relative;
    top: 6px;
}

.add-edit-promo {
    color:#fff;
    background: #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    float:right;
}

.add-edit-non-promo {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    font-size: 10px;
    align-items: center;
    text-align: center;
    margin-left:-13px;
}

.promotions-label{
    /* margin-left: -12px; */
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    align-items: center;
    color: #000000;
}

.buy-text {
    font-size: 13px;
    align-items: center;
    color:#C32F27;
}

.main {
    overflow-x: hidden !important;
}

.promotionpopup-scroll {
    height: 360px !important;
}

.footer {
    position:fixed;
    border-radius: 0px 0px 25px 25px;
    height: 50px;
    width: 960px;
}

.saveas-draft {
    color: #fff;
    background: #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    margin-left:25px;
    margin-top:10px;
    cursor:pointer;
}


.selected-promotion-label {
    margin-top: 15px;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 15px;
    color: #000000;
}

.label-div {
    margin-top:15px;
}

.collapsible {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 10px;
  }
  
.content {
    padding: 0 18px 10px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #686E74;
    border-radius: 0px 0px 10px 10px;
}

.searchButton {
    display: bolck;
    color:#000;
    float: left;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border: none;

}

.searchButton {
    background: transparent;
}

.searchInput {
    width: 374px;
    height: 40px;
    left: 541px;
    top: 355px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding:8px 60px 10px 27px
}

.searchButton .material-icons{
    margin-left: 72px;
z-index: 9999;
margin-top: 4px;
}

.search-btn {
    height: 23px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 52px;
    top:8px;
    cursor: pointer;
  }
  

.buy-grp{
    /* font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300; */
    font-size: 13px;
    /* line-height: 23px;
    display: flex;
    align-items: center; */
    color: #000000;
}

.total-items{
    /* font-family: 'Gilroy-Bold'; */
    font-size: 13px;
    /* line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center; */
    color: #000000;
}

.expand-arrow {
    width: 40%;
    position: relative;
    right: -28px;
    top: 4px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  margin: 0 5px;

}

.input-field {
  width: 180px;
  height: 43px;
  padding: 10px;
  left: 130px;
  text-align: center;
  border-radius: 8px;
}

.input-icons i {
  position:relative;
  left: 30px;
}

.refreshbtn{
  width: 40px;
  height: 39px;
  margin-top: 1px;
  background: #000000;
  border-radius: 20%;
}

.refreshbtn .refresh-icon {
    margin-top: 10px;
    margin-left: 10px;
}