
  <div class="font ">
    <div class=" main" width="400%">
    <div class="container" >
          <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
        <div class="head-t">
          <h3 class="addU font">Add User</h3>
        </div>
        <div>
          <br>
          <h6 style="color: #000000
   ;font-size:20px; font-weight: lighter;"><b>Basic Information</b></h6>
        </div>
        <div class="addUserForm">
          <form>
            <div class="row">
              <div class="col">
                <label>Full Name <span>*</span></label>
                <br>
                <input type="text" placeholder="Enter your First Name" [(ngModel)]="fullname">
              </div>
              <div class="col">
                <label>Username<span>*</span></label>
                <br>
                <input type="text" placeholder="Enter your UserName" [(ngModel)]="username">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <label>Email Id<span>*</span></label>
                <br>
                <input type="email" placeholder="Enter your Email" [(ngModel)]="email">
              </div>
              <div class="col">

                <label>Phone No<span>*</span></label>
                <br>
                <input type="number" placeholder="Enter your phone number" [(ngModel)]="phone">
              </div>
            </div>
            <br>
            <br>
            <h6 style="color: #000000
   ;font-size:20px; font-weight: lighter;"><b>Role Selection</b></h6>
            <div class="row">
              <div class="col">
                  <label>Role</label><span>*</span>
                <br>
                         <mat-form-field appearance="outline" style="width: 525px;">
                <mat-select [formControl]="toppings" [(ngModel)]="role"  placeholder="Select your Role " (selectionChange)="selectedValue($event.value);">

                  <mat-option *ngFor="let topping of toppingList" [value]="topping.roleId">
                    {{topping.roleName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div>

            
            <!-- <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select [formControl]="role">
            <mat-option *ngFor="let user of userType" [value]="role">{{user}}</mat-option>
          </mat-select>
        </mat-form-field> -->


          </form>
          <button class="btn btn-primary btn-block" style="background-color:#000000 ;" (click)="addUSer()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>