.head-text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: -20px;
    font-family: 'Gilroy-Bold';
    /* text-align: left; */
}
label
{
    font-family: 'Gilroy-SemiBold';
}
.head-text.Edit{
    text-align: left;
}

.olpass {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-top: 15px;
}

.newspass {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-top: 5px;
}

.head-text::after {
    content: "";
    display: block;
     width: 25%; 
    height: 0.5px;
    background: #686E74;
    right: 20px;
    top: 50%;
    position: absolute;
}

.head-text::before {
    content: "";
    display: block;
     width: 25%; 
    height: 0.5px;
    background: #686E74;
    left: 20px;
    top: 50%;
    position: absolute;
     
}
.edit-mode
{
    text-align: left;
}

.edit-mode::before{

     content: "";
     display: none;
     width: 94px;
     height: 0.5px;
    background: #686E74;
   left: 20px;
    top: 50%;
     position: absolute;
      }
    
    .edit-mode::after {
    
    content: "";
     display: block;
     width: 60%;
    height: 0.5px;
     background: #686E74;
     right: 20px;
     top: 50%;
     position: absolute;
    
    }



input {
    padding: 5px 12px;
    margin-bottom: 10px;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 404px;
    height: 43px;
}

.save-btn {
    /* background: black; */
    background-color:#018B75 ;
    color: white;
    width: 183px;
    height: 43px;
    border: 2px solid rgba(1, 139, 117, 1);
    border-radius: 5px;
    margin-right: 35px;
    cursor: pointer;
}

.cancel-btn {
    border: 2px solid rgba(1, 139, 117, 1);
    border-radius: 5px;
    width: 184px;
    height: 43px;
    background: white;
    font-weight: 700;
    cursor: pointer;
}

.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    top: -3px;
    color: gray;
    cursor: pointer;
}

.actv-user {
    position: relative;
    top: -10px;
}

.mat-dialog-container {
    padding: 16px !important;
    padding-top: 2px !important;
}

.action{
    text-align: center;
}
.font{
    font-family: 'Gilroy';
}

::ng-deep.mat-dialog-container{
    padding: 23px;
}