

<div class="container font">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]>close</mat-icon>
    <div class="actv-user text-center">
        <h1 class="head-text"> {{isEditModal ? 'Edit':'Add'}} {{geoType}}</h1>
    </div>
    <form #loginForm="ngForm">
    <div>
        <div>
        <label >Name<span style="color: red;">*</span></label><br>
        <input type="text" name="countryName" id="countryName" #countryName="ngModel" [placeholder]="'Enter ' + geoPlaceholder + ' name'" [(ngModel)]="name"
          required >      
          <p style=" margin-top: -13px; padding: 0px;font-size: 14px;position: absolute;" 
           *ngIf="countryName.invalid && (countryName.dirty || countryName.touched)"
              class="alert">
              <span style="color:red;" *ngIf="countryName.errors?.['required']">
                *Name is required. 
              </span>
            </p> 
<br>
</div>
<div>
        <!-- <label >Code<span style="color: red;">*</span></label><br>
        <input type="text" name="geoCode" id="geoCode" #geoCode="ngModel"   [placeholder]="'Enter ' + geoPlaceholder + ' code'" [(ngModel)]="code"
      >-->
        
            <label style="margin-top:4px">Code<span style="color: red;margin-top: 2px;">*</span></label><br>
        <input type="text" name="cName" id="cName" #cName="ngModel" [placeholder]="'Enter ' + geoPlaceholder + ' name'" [(ngModel)]="code"
          required >      
          <p style=" margin-bottom: -29px; padding: 0px;font-size: 14px;position: relative; bottom: 8px;" 
           *ngIf="cName.invalid && (cName.dirty || cName.touched)"
              class="alert">
              <span style="color:red;" *ngIf="cName.errors?.['required']">
                *Code is required. 
              </span>
            </p> 

    </div>
     <br>
        <div class="action">
            <button class="save-btn" (click)="SaveData()">{{isEditModal ? 'Save':'Add'}}</button>
        </div>
        <div style="color: red;text-align: center;" *ngIf="showWarning">*Required fields</div>
        
    </div>
    
</form>
   
</div>
