<app-head></app-head>

<div class="UNFAPP-asmnt-full-area">
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row">
            <div class="col-xl-2 col-md-3">
                <app-sidenav-bar></app-sidenav-bar>
            </div>
            <div class="col-xl-10 col-md-9 ACVTY-no-pad" style="width: 100%;">
                <div class="UNFAPP-asmnt-rgt-area" style="background-color: #EAECF2;padding: 15px;height: 92vh;">
                    <div class="col-lg-12">
                        <mat-tab-group>
                            <mat-tab label="Classification "><app-materials-classification></app-materials-classification>                            </mat-tab>
                            <mat-tab label="Material List"><app-materials-list></app-materials-list></mat-tab>
                          </mat-tab-group>
                    </div>
                    <!-- <div *ngIf="tabEvent==1">
                        <app-materials-classification></app-materials-classification>  <br>

                    </div> -->
<!-- <app-materials-classification></app-materials-classification>  <br> -->
<!-- <app-materials-list></app-materials-list> -->
   </div>
            </div>
        </div>
    </div>
</div>
