
/* ::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    border-bottom: 3px solid #1292EE;
    background-color: transparent; 
} */

/* ::ng-deep.mat-tab-label:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.cdk-keyboard-focused:not(.mat-tab-disabled) {
     font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on; 
} */
.materialss {
    position: relative;
    bottom: 20px;
    font-family: 'Gilroy';
}
.material-text{
font-size: 25px;
line-height: 41px;
display: flex;
align-items: center;
height: 0px;
color: #000000;
position: relative;
top: 6%;
font-weight: bold;
left:20px;
}
.font{
    font-family: 'Gilroy';
  }
/* mat-select-trigger {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
} */

/* mat-option {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
} */

/* ::ng-deep.mat-tab-label {
    padding: 0 54px !important;
} */

mat-sidenav {
    width: 5rem;
    border-right: none;
    color: white;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
mat-sidenav-content{
    /* height: calc(100vh - 98px); */
    height: 100vh;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(206, 212, 218, 0.75) 2.01%, rgba(248, 249, 250, 0) 92.01%);
}
mat-sidenav-container {
    height: calc(100vh - 65px);
    /* height: 100vh; */
}
::ng-deep .mat-tab-header{
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 378px !important;
    border-radius: 25px;
    background: white;
    left: 30%;
    font-size: 15px;

}
::ng-deep.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled), .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    background: black;
    color: white;
    border-radius: 25px;
    opacity: 1;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    display: none;
}
mat-tab-group{
    height: 100vh;
}
.header-text{
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;
    height: 0px;
    color: #000000;
    position: relative;
    top: 6%;
    font-weight: bold;
    left: 20px; 
  }

  .print-img{
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 42px;
  }
.classi{
    font-family: 'Gilroy-SemiBold';
}
.mati{
    font-family: 'Gilroy-Medium'; 
    color: black;
}


::ng-deep.mat-tab-label{
    height: 35px !important;
    min-width: 190px !important;
  }
  .mat-drawer-content{
    overflow: hidden;
  }
  ::ng-deep .order-lab .mat-tab-label{
    height: 35px !important;
    min-width: 274px !important;
  }
  .order-lab .mat-tab-labels:nth-child(1) {
    width: 50% !important;
  }
  
::ng-deep.order-lab .mat-tab-header{
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 547px !important;
    bottom: 20px;
    height: 38px;
    font-family: 'Gilroy';
    border-radius: 25px;
    background: white;
    left: 30%;

}::ng-deep.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled), .mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    background: black;
    color: white;
    border-radius: 25px;
    opacity: 1;
}
::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    display: none;
}