.font {
    font-family: 'Gilroy';
}

mat-sidenav {
    width: 5rem;
    border-right: none;
    color: white;
    border-radius: 10px;
    text-align: center;
}

mat-sidenav-content {
    height: 100vh;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(206, 212, 218, 0.75) 2.01%, rgba(248, 249, 250, 0) 92.01%);
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.edit-heading {
    position: relative;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000;
    top: -4px;
    left: 58px;
}

.edit-heading:after {
    content: "";
    display: block;
    width: 205px;
    height: 0.8px;
    background: #686E74;
    left: 114%;
    top: 50%;
    position: absolute;
    width: 913px;
}

.edit-div {
    position: absolute;
    /* top: 15px; */
    /* margin-left: 169px; */
    margin-left: 155px;
}

.img-div {
    position: relative;
    width: 283px;
    height: 260px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    /* right: 66px; */
    right: 44px;
}

.edit-data {
    position: relative;
    /* width: 691px; */
    height: 415px;
    /* left: 281px; */
    /* top: 0px; */

    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.button-save-chng {
    position: relative;
    /* width: 597px; */
    height: 43px;
    top: 8px;
}

.save-chng {
    width: 280px;
    height: 43px;
    text-align: center;
    background: #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.discard {
    width: 280px;
    height: 43px;
    position: relative;
    left: 43px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    text-align: center;
}

.save-text {
    color: white;
    background: #000000;
    position: relative;
    top: 11px;
    font-family: 'Gilroy';
    font-size: 15px;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    border: none;
}

.discard-text {
    color: black;
    background: #FFFFFF;
    position: relative;
    top: 11px;
    font-family: 'Gilroy';
    font-size: 15px;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    border: none;
}

.profile-icon {
    position: relative;
    left: 68px;
    top: 10px;
    width: 131px;
    height: 131px;
    border: 1px solid #000000;
    border-radius: 50%;
    filter: drop-shadow(-2px -2px 4px rgba(0, 0, 0, 0.03)) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.03));
}

.profile-name {
    /* position: relative; */
    font-family: 'Gilroy';
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    /* left: 27%; */
    color: #000000;
    /* margin-left: 9%; */
    /* width: 308px; */
    text-indent: 0.5em;
}

.user_names {
    padding-top: 8px;
    text-align: center;
}

.prof-s {
    position: relative;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    left: 32%;
    color: #000000;
    top: -13px;
}

.last-login-txt {
    position: relative;
    /* left: 3%; */
    /* top: 6%; */
    font-family: 'Gilroy';
    font-size: 16px;

    line-height: 106.3%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.basic-info {
    /* position: relative;
left: 47px;
top: 13px; */
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 19px;
    margin-left: 17px;
}

.f-name {
    width: 280px;
    height: 43px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 10px;
    font-weight: bold;
}

.f-roles {
    width: 338px;
    height: 43px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 10px;
    font-weight: bold;
}

.input-2 {

    position: relative;
}

.f-label {
    margin-top: 13px;
}

.div-1 {
    position: relative;
    top: 4%;
}

.div-2 {
    position: relative;
    top: 10%;
}

.div-3 {
    position: relative;
    top: 16%;
}

.user-label {
    margin-top: 13px;
    /* margin-left: -10px; */
}

.f-labels {
    bottom: 4px;
    position: relative;
}

.role-input {
    background: linear-gradient(90deg, #CED4DA 0%, rgba(248, 249, 250, 0) 100%);
}

.role-text {
    /* position: relative;
    left: 61px;
    top: 73px; */
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 23px;
    display: flex;
    /* align-items: center; */
    color: #000000;
    /* margin-top: 26px;
    margin-left: 43px; */
}

span {
    color: red;
}

/* .main {
    height: 100vh;
} */

@media (max-width: 1158px) {
    .edit-div {
        position: absolute;
        margin-left: 38px;
        height: 522px;
    }

    .img-div {
        position: relative;
        right: 13px;
    }

    .edit-data {
        width: 600px;
    }

}

@media (max-width: 992px) {
    .img-div {
        position: relative;
        left: 31% !important;

    }

    .edit-data {
        margin-left: 10%;
    }

    .main {
        height: 824px;
    }

    .button-save-chng {
        right: 9%;
    }

    .role-sel {
        margin-left: 6%;
    }
}

@media (max-width: 767px) {
    .edit-div {
        height: 942px;
    }

    .edit-data {
        height: 580px;
    }
}

.profilepic__content {
    position: absolute;
    top: 17%;
    right: 0;
    /* bottom: 24%; */
    left: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.profilepic__icon {
    color: white;
    padding-bottom: 25%;
}

.fas {
    font-size: 20px;
}

.profilepic__text {
    /* text-transform: uppercase; */
    width: 39%;
    position: absolute;
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.prof-hov:hover .profilepic__content {
    opacity: 1;
}

.prof-hov:hover .profile-icon {
    opacity: .5;
}