<div class="font ">
  <div class=" main" width="900%">
    <div class="container addMetrial">
      <div class="addUser">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
      </div>
      <div class="head-t">
        <h3 class="addU font">{{actineLabel}}</h3>
        <br>
        <img src="assets/img/arrow-left-circle-fill.svg" class="leftarrow" alt="left-arr-btn">
        <img src="assets/img/arrow-right-circle-fill.svg" class="rightarrow" alt="right-arr-btn">

        <mat-stepper labelPosition="bottom" #stepper>
          <!-- basic information -->
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" name="myBasicInfo">
              <ng-template matStepLabel>Basic Information</ng-template>
              <div class="heading">
                <h6 class="stepperHeader-b"><b>Basic
                    Information</b></h6>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="">
                    <label>Category<span>*</span></label>
                    <div class="categorydrp">
                      <ng-select [items]="catgname" required [virtualScroll]="true" bindLabel="catName"
                        bindValue="catId" [searchable]="true" [clearable]="false" placeholder="Search & select category"
                        [(ngModel)]="selectedItems1" (change)="onItemSelect($event)">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="">
                    <label>Sub-Category<span>*</span></label>
                    <div class="subcategorydrp">
                      <ng-select [items]="sub_category" required [virtualScroll]="true" bindLabel="subCatName"
                        bindValue="subCatId" [searchable]="true" [clearable]="false"
                        placeholder="search & select sub-category" [(ngModel)]="selectedItems2"
                        (change)="onSubCategorySelect($event)">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">

                  <div class="type">
                    <label>Type<span>*</span></label>
                    <div class="typedrp">
                      <ng-select [items]="typeI" required [virtualScroll]="true" bindLabel="typeName" bindValue="typeId"
                        [searchable]="true" [clearable]="false" placeholder="Search & select type"
                        [(ngModel)]="selectedItems3" (change)="onTypeSelect($event)">
                      </ng-select>
                    </div>
                  </div>
                </div>

                <div class="col-md-8 nameplaceholed">
                  <div class="materialname">
                    <label>Name <span>*</span></label>
                  </div>
                    <input type="text" (keyup)="onKey($event)" placeholder="Enter the name of material" 
                      class="form-control container materialname-placeholder">
                </div>
                <div class="col-md-4">
                  <div class="uomp">
                    <label>UOM <span>*</span></label>
                  </div>
                  <div class="uomdrp">
                    <ng-select [items]="rowData5" [virtualScroll]="true" bindLabel="uoMShortName" bindValue="uoMId"
                      [searchable]="true" [clearable]="false" placeholder="Search & select measuring unit"
                      [(ngModel)]="selectedItems4" (change)="onUomSelect($event)">
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="description">
                    <label>Description <span>*</span></label>
                  </div>
                  <!-- <input (keyup)="onKeyDesc($event)" placeholder="Describe the material" 
                    class="materialDesc"> -->
                  <!-- <textarea  placeholder="Describe the material" (keyup)="onKeyDesc($event)" name="" id="" class="materialDesc">

                  </textarea> -->
                  <textarea id="" placeholder="Describe the material" (keyup)="onKeyDesc($event)" class="materialDesc" name=""></textarea>
                </div>
                <div class="col-md-4">
                  <div class="imageofm">
                    <label>Image of Material <span>*</span></label>
                  </div>
                  <!-- <div placeholder="" #input class="form-control container imagePl">
                    <img src="../../../../assets/img/down13.png" class="add-img" alt="add-image=btn" width="60px"
                      height="60px">
                  </div> -->
                  <label class="form-control container imagePl">

                    <input type="file" id="file" style="display:none" (change)="onFileChanged($event)">
                    <img src="assets/img/add-image.png"  class="add-img" alt="add-image=btn">

                  </label>
                </div>
                <div class="col-md-4">
                  <div class="materialci">
                    <label> Material Custom Identifiers <span>*</span></label>
                  </div>
                  <div class="customidentifier hide">
                    <ng-multiselect-dropdown class="Materialcustomidentifier" name="Materialcustomidentifier"placeholder="Select Identifier" 
                    [disabled]="disabled" [settings]="dropdownSettings4" [data]="selectId"
                    (onSelect)="onSelectIdentifier($event)" (onDeSelect)="onDeSelectIdentifier($event)"
                (onDeSelectAll)="onDSelectOrAllIdentifier($event)" (onSelectAll)="onSelectOrAllIdentifier()"
                   >
                  </ng-multiselect-dropdown>
                  </div>

                  <div class="expiryperiod">
                    <label> Expiry Period (in months)<span>*</span></label>
                  </div>
                  <input (keyup)="onKeyExpry($event)" matInput placeholder="NA" #input
                    class="form-control container na-placeholder">


                </div>

              </div>


            </form>

            <div class="col-6">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                  <button class="btn btn-primary btn-block submitbtn save-btn" *ngIf="checked"
                    (click)="addMaterialIfNotProduct()">Save</button>
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col-3">

            </div>
          </mat-step>
          <!-- product information -->
          <mat-step [stepControl]="secondFormGroup" disabled>

            <form [formGroup]="secondFormGroup" *ngIf="!checked">

              <ng-template matStepLabel>Product Information</ng-template>
              <div class="row">
                <div class="col-md-6">
                  <div class="heading">
                    <h6 class="stepperHeader-p">
                      <b>Product Information</b>
                    </h6>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mat-slide">
                    <mat-slide-toggle (change)="change($event)" [checked]="checked">Is a product?</mat-slide-toggle>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="brandname">
                    <label>Brand Name<span>*</span></label>
                  </div>
                  <input required (keyup)="onKeyBrand($event)" matInput placeholder="Enter the name of brand" #input
                    class="form-control container brand-name">
                </div>
                <div class="col-md-6">
                  <div class="globalcode">
                    <label>Global Code<span>*</span></label>
                  </div>
                  <input required (keyup)="onKeyGloabal($event)" matInput placeholder="Enter product global code" #input
                    class="form-control container global-codeplaceholder">
                </div>
                <div class="col-md-6">
                  <div class="sku">
                    <label>SKU<span>*</span></label>
                  </div>
                  <input required (keyup)="onKeySKU($event)" matInput placeholder="Enter SKU" #input
                    class="form-control container sku-placeholder">
                </div>
                <div class="col-md-6">

                  <div class="shortcode">
                    <label>Short Code<span>*</span></label>
                  </div>

                  <input required (keyup)="onKeyShortCode($event)" matInput placeholder="Enter product short code"
                    #input class="form-control container shortcode-placeholder">
                </div>
                <div class="col-md-6">
                  <div class="productg">
                    <label>Product Group<span>*</span></label>
                  </div>
                  <div class="productdrp productg-align arrowHide">
                    <ng-select [items]="productList" [virtualScroll]="true" bindLabel="productGroupName"
                      bindValue="productGroupId" [searchable]="true" [clearable]="false"
                      placeholder="Search & select group" [(ngModel)]="selectedItems6"
                      (change)="onProductSelect($event)">
                    </ng-select>
                    <img src="assets/img/plus.png" style="width: 22px;position: absolute;right: 20px;bottom: 5px;"
                      alt="plus-btn" (click)="addproduct()">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="manualsort">
                    <label>Manual Sort Order<span>*</span></label>
                  </div>
                  <input required (keyup)="onKeySort($event)" matInput placeholder="Enter the sort order" #input
                    class="form-control container sort-placeh">
                </div>
                <div class="col-md-6">
                  <div class="productsg">
                    <label>Product Sub-group<span>*</span></label>
                  </div>
                  <div class="productsdrp productg-align arrowHide">
                    <ng-select [items]="subProduct" [virtualScroll]="true" bindLabel="productGroupName"
                      bindValue="productGroupId" [searchable]="true" [clearable]="false"
                      placeholder="Search & select sub-group" [(ngModel)]="selectedItems7"
                      (change)="onSubProductSelect($event)">
                    </ng-select>
                  </div>
                  <div class="image">
                    <img src="assets/img/plus.png" class="imagePlus"
                      style="width: 22px;position: absolute;right: 20px;bottom: 5px;" alt="plus-btn"
                      (click)="addproductsubgroup()">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="productlink">
                    <label>Product Link<span>*</span></label>
                  </div>

                  <input required (keyup)="onKeyAddSP($event)" matInput placeholder="Paste the link" #input
                    class="form-control container link-placeh">
                </div>

                <div class="col-md-12">
                  <div class="productci">
                    <label>Product Custom Identifier<span>*</span></label>
                  </div>
                  <div class="identiersdrp hide" >
                    <ng-multiselect-dropdown name="ProductCustomIdentifierId" class="ProductCustomIdentifierId" [placeholder]="'Select the identifiers'" 
                      [disabled]="disabled" [settings]="dropdownSettings3" [data]="ProductId"
                      (onSelect)="onSelectIdentifierProduct($event)" (onDeSelect)="onDeSelectIdentifierProduct($event)"
                      (onDeSelectAll)="onDSelectOrAllIdentifierProduct($event)" (onSelectAll)="onSelectOrAllIdentifierProduct()">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
            </form>

          </mat-step>
          <!-- geographies -->

          <mat-step [stepControl]="thirdformGroup">
            <form [formGroup]="gepGraphiesFormGroup" *ngIf="!checked">
              <ng-template matStepLabel> Geographies</ng-template>
              <div class="heading">
                <h6 class="Geo-headerlabel"><b>Geographies</b></h6>
              </div>

              <div class="horizontal-scroll">
                <div class="horizontal-scroll__item" *ngFor="let item of geoGraphyFullData;let i =index; ">
                  <div class="geo-grid">
                    <div class="row grid-heading">
                      <div class="col-sm-10">
                        <p><span class="country">{{item.geographyHierarchyName}}</span>
                          ({{item.geographyCount ?? 0}})
                          <span class="ml-1" *ngIf="item.primaryGeographyAssociation =='Y'">
                            <img src="assets/img/double-blue-tick.svg" alt="double-blue-tick"> </span>
                        </p>

                      </div>

                    </div>
                    <mat-card class="mat-card mat-focus-indicator mat-card-content scroll">
                      <mat-card-content class="mat-card-content">
                        <div *ngIf="item.allOtherGeography">
                          <div class="d-flex " *ngFor="let geoItem of item.allOtherGeography; ">
                            <div class="geography-item"
                              [ngStyle]="{'background':item.geographySelected.indexOf(geoItem.geographyId) == -1 ? colorsList[i].secondaryColor.background : colorsList[i].primaryColor.background, 'color':item.geographySelected.indexOf(geoItem.geographyId) == -1 ? colorsList[i].secondaryColor.color : colorsList[i].primaryColor.color,'border': '1px solid ' + colorsList[i].primaryColor.background }"
                              (click)="geoItem?.isActive ? selectGeoGraphy(geoItem,(i +1)): null"
                              [ngClass]="{'deactivated': !geoItem?.isActive} ">
                              <div class="title"> {{geoItem.geographyName}}
                                ({{geoItem.geographyCode ??''}})</div>
                            </div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </form>
            <!-- <div class="row"></div> -->
            <section class="row propertiesSection" *ngIf="!checked">

              <table>
                <div class="table-padding">
                  <tr class="table-header">
                    <th>
                      Geography
                    </th>
                    <th>
                      MRP(INR)
                    </th>
                    <th>
                      Min order Qty
                    </th>
                    <th>
                      Max order Qty
                    </th>
                    <th style="width: 11%;">
                      Margin %
                    </th>
                    <th style="width: 11%;">
                      Discount %
                    </th>
                    <th>
                      Lead time (Days)
                    </th>
                    <th style="width: 16%;">Registration Number</th>
                    <th style="width: 13%;">Tags</th>
                  </tr>
                </div>
                <div class="table-padding">
                  <tr *ngIf="showDiv" class="table-data-row">
                    <td style="width: 18%;">
                      <img [src]="image1" class="expand-arrow1" alt="add-user-btn" (click)="expandOrderItemsDiv1()">
                      {{CountryName}}
                    </td>

                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!orderitem1">

                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!orderitem1">
                    </td>

                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!orderitem1">
                    </td>

                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!orderitem1">
                    </td>

                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!orderitem1">
                    </td>

                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!orderitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" style="width: 130px;" type="text" class="uom-cls" id="fname"
                        name="fname" [disabled]="!orderitem1">
                    </td>
                    <td style="width: 13%; padding-left: 22px;">
                      <a href="">Add</a>
                    </td>
                  </tr>
                </div>
                <div class="table-padding">
                  <tr *ngIf="!orderitem1" class="table-data-row">
                    <td class="check" style="width: 18%;">
                      <img [src]="image2" class="expand-arrow1" alt="add-user-btn" (click)="expandDistrictItemsDiv2()">

                      {{stateName}}
                    </td>
                    <td style="padding-left: 11px;">
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!districtitem1">
                    </td>
                    <td style="padding-left: 6px;">
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!districtitem1">
                    </td>
                    <td style="padding-left: 5px;">
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!districtitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!districtitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!districtitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!districtitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" style="width: 130px;" type="text" class="uom-cls" id="fname"
                        name="fname" [disabled]="!districtitem1">
                    </td>
                    <td style="width: 13%;padding-left: 22px;">
                      <a href="">Add</a>
                    </td>
                  </tr>
                </div>
                <div class="table-padding">
                  <tr *ngIf="!districtitem1" class="table-data-row">
                    <td class="check" style="width: 18%;">
                      <img [src]="image3" class="expand-arrow1" alt="add-user-btn" (click)="expandCityItemsDiv3()">

                      {{districtName}}
                    </td>
                    <td style="padding-left: 11px;">
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!cityitem1">
                    </td>
                    <td style="padding-left: 6px;">
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!cityitem1">
                    </td>
                    <td style="padding-left: 5px;">
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!cityitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!cityitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!cityitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" class="uom-cls" id="fname" name="fname"
                        [disabled]="!cityitem1">
                    </td>
                    <td>
                      <input placeholder="Enter" style="width: 130px;" type="text" class="uom-cls" id="fname"
                        name="fname" [disabled]="!cityitem1">
                    </td>
                    <td style="width: 13%;padding-left: 22px;">
                      <a href="">Add</a>
                    </td>
                  </tr>
                </div>
                <!-- citys -->
                <div *ngFor="let item of geoGraphyFullData[3]?.geoProperties ?? []; let i =index;" class="table-padding">
                  <tr *ngIf="!cityitem1" class="table-data-row">
                    <td class="check2" style="width: 18%;">
                      <mat-icon>subdirectory_arrow_right</mat-icon>
                      <!-- <img [src]="subdirectory_arrow_right" class="expand-arrow1" alt="add-user-btn"> -->
                      {{item.GeographyName}}
                    </td>
                    <td style="padding-left: 30px;">
                      <input placeholder="Enter" type="text" [(ngModel)]="item.MRP" class="uom-cls" id="MRP" name="MRP">
                    </td>
                    <td style="padding-left: 18px;">
                      <input placeholder="Enter" type="text" [(ngModel)]="item.MinOrderQty" class="uom-cls"
                        id="MinorderQty" name="MinorderQty">
                    </td>
                    <td style="padding-left: 11px;">
                      <input placeholder="Enter" type="text" [(ngModel)]="item.MaxOrderQty" class="uom-cls"
                        id="MaxOrderQty" name="MaxOrderQty">
                    </td>
                    <td style="padding-left: 7px;">
                      <input placeholder="Enter" type="text" [(ngModel)]="item.MarginPercent" class="uom-cls" id="MarginPercent"
                        name="MarginPercent">
                    </td>
                    <td>
                      <input placeholder="Enter" type="text" [(ngModel)]="item.DiscountPercent" class="uom-cls"
                        id="DiscountPercent" name="DiscountPercent">
                    </td>
                    <td>
                      <input type="text" [(ngModel)]="item.LeadTime" class="uom-cls" id="LeadTime" name="LeadTime">
                    </td>
                    <td>
                      <input style="width: 130px;" type="text" [(ngModel)]="item.RegistrationNumber" class="uom-cls"
                        id="RegistrationNumber" name="RegistrationNumber">
                    </td>
                    <td style="width: 13%;padding-left: 22px;">
                      <a href="">Add</a>
                    </td>
                  </tr>
                </div>
              </table>

            </section>
            <div class="col-6">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                  <button class="btn btn-primary btn-block submitbtn save-btn" (click)="addMaterialProduct();">Save</button>
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col-3">

            </div>
          </mat-step>



        </mat-stepper>
      </div>
    </div>
  </div>