<div class="font ">
  <div class=" main ">
    <div class="container addMetrial">
      <div class="addUser">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
      </div>
      <div class="head-t">
        <h3 class="addU font">{{actineLabel}}</h3>
        <br><br><br>
        <div class="d-flex">
        
          <img src="assets/img/arrow-left-circle-fill.svg"  (click)="Backbutton()" class="leftarrow1" alt="left-arr-btn" *ngIf="!checked">
          <img src="assets/img/arrow-right-circle-fill.svg" (click)="nextbutton()" class="rightarrow2"
            alt="right-arr-btn" *ngIf="!checked">
         
        </div>





        <mat-stepper labelPosition="bottom" #stepper>
          <!-- basic information -->
          <mat-step [stepControl]="firstFormGroup">

            <ng-template matStepLabel>Basic Information</ng-template>
            <div class="heading">
              <h6 class="stepperHeader-b"><b>Basic
                  Information</b></h6>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="">
                  <label>Category<span>*</span></label>
                  <div class="categorydrp">
                    <ng-select [items]="catgname" class="searchbtnIcon" id="nameCategory" name="nameCategory" required [virtualScroll]="true"
                      bindLabel="catName" bindValue="catId" [searchable]="true" [clearable]="false"
                      placeholder="Search & select category" [(ngModel)]="categeoryData" (change)="onItemSelect($event)"
                      #nameCategory="ngModel">
                    </ng-select>
                    <p style="margin-bottom:-14px;padding: 0px;font-size: 11px;"
                      *ngIf="nameCategory.invalid && (nameCategory.dirty || nameCategory.touched)" class="alert">
                      <span class="errormsg" *ngIf="nameCategory.errors?.['required']">
                        *Category is required.
                      </span>
                    </p>
                       <!-- <img src="../../../../assets/img/search.png" class="searchdrp"> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="">
                  <label>Sub-Category<span>*</span></label>
                  <div class="subcategorydrp">
                    <ng-select [items]="sub_category" class="searchbtnIcon" id="nameSubCat" name="nameSubCat" required [virtualScroll]="true"
                      bindLabel="subCatName" bindValue="subCatId" [searchable]="true" [clearable]="false"
                      placeholder="search & select sub-category" [(ngModel)]="subCategoryData"
                      (change)="onSubCategorySelect($event)" #nameSubCat="ngModel">
                    </ng-select>
                        <p style="margin-bottom:-14px;padding: 0px;font-size: 11px;"
                      *ngIf="nameSubCat.invalid && (nameSubCat.dirty || nameSubCat.touched)" class="alert">
                      <span  class="errormsg" *ngIf="nameSubCat.errors?.['required']">
                        *Sub-Category is required.
                      </span>
                    </p>
                     <!-- <img src="../../../../assets/img/search.png" class="searchdrp"> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4">

                <div class="type">
                  <label>Type<span>*</span></label>
                  <div class="typedrp">
                    <ng-select [items]="typeI" class="searchbtnIcon" id="nameType" name="nameType" required [virtualScroll]="true"
                      bindLabel="typeName" bindValue="typeId" [searchable]="true" [clearable]="false"
                      placeholder="Search & select type" [(ngModel)]="typesData" (change)="onTypeSelect($event)"
                      #nameType="ngModel">
                    </ng-select>
                       <p style="margin-bottom:-14px;padding: 0px;font-size: 11px"
                      *ngIf="nameType.invalid && (nameType.dirty || nameType.touched)" class="alert">
                      <span class="errormsg" *ngIf="nameType.errors?.['required']">
                        *Type is required.
                      </span>
                    </p>
                       <!-- <img src="../../../../assets/img/search.png" class="searchdrp"> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 nameplaceholed">
                <div class="materialname">
                  <label>Name <span>*</span></label>
                </div>
                <input type="text" id="matName" name="matName" (keyup)="onKey($event)"
                  class="form-control container materialname-placeholder" required
                  placeholder="Enter the name of material" [(ngModel)]="materialName" #matName="ngModel">
                <p style="margin-bottom:-5px;padding: 0px;font-size: 11px"
                  *ngIf="matName.invalid && (matName.dirty || matName.touched)" class="alert">
                  <span  class="errormsg" *ngIf="matName.errors?.['required']">
                    *Material Name is required.
                  </span>
                </p>
              </div>

              <div class="col-md-4">
                <div class="uomp">
                  <label>UOM <span>*</span></label>
                </div>
                <div class="uomdrp">
                  <ng-select [items]="rowData5" class="searchbtnIcon" id="nameUOM" name="nameUOM" required [virtualScroll]="true"
                    bindLabel="uoMShortName" bindValue="uoMId" [searchable]="true" [clearable]="false"
                    placeholder="Search & select measuring unit" [(ngModel)]="baseUoMData"
                    (change)="onUomSelect($event)" #nameUOM="ngModel">
                  </ng-select>
                      <p style="margin-bottom:-14px;padding: 0px;font-size: 11px"
                    *ngIf="nameUOM.invalid && (nameUOM.dirty || nameUOM.touched)" class="alert">
                    <span  class="errormsg" *ngIf="nameUOM.errors?.['required']">
                      *UOM is required.
                    </span>
                  </p>
                  <!-- <img src="../../../../assets/img/search.png" class="searchdrp"> -->
                </div>
              </div> 
            </div>
              <div class="row">
              <div class="col-md-5">
                <div class="description">
                  <label>Description <span>*</span></label>
                </div>
                <textarea  rows="4"id="nameDescp" name="nameDescp" placeholder="Describe the material"
                  (keyup)="onKeyDesc($event)" class="materialDesc" [(ngModel)]="stockItemDesc"
                  #nameDescp="ngModel"></textarea>
                <p style="margin-bottom:-14px;padding: 0px;font-size: 11px"
                  *ngIf="nameDescp.invalid && (nameDescp.dirty || nameDescp.touched)" class="alert">
                  <span style="color:red;position: relative;" *ngIf="nameDescp.errors?.['required']">
                    *Description is required.
                  </span>
                </p>
              </div>
              <div class="col-md-3">
                <div class="imageofm">
                  <label>Image of Material <span>*</span></label>
                </div>
                <label class="form-control container imagePl" *ngIf="Imgpreview">
                  <input type="file" id="file" style="display:none" (change)="onFileChanged($event)">
                  <img src='data:image/jpeg;base64,{{base64textString}}' class="add-img" alt="add-image=btn">
                </label>
                <label class="form-control container imagePl" *ngIf="!Imgpreview">
                  <input type="file" id="file" style="display:none" (change)="onFileChanged($event)">
                  <img src="../../../../assets/img/add-image-icon.png" class="add-img" alt="add-image=btn">
                </label>
              </div>
              <div class="col-md-4">
                <div class="materialci">
                  <label> Material Custom Identifiers <span>*</span></label>
                </div>
                <div class="customidentifier hide" (click)=popup()>
                  <!-- <ng-multiselect-dropdown class="Materialcustomidentifier" name="Materialcustomidentifier"
                    placeholder="Select Identifier" [disabled]="disabled" [settings]="dropdownSettings4">
                  </ng-multiselect-dropdown> -->
                  <input type="text" disabled id="matIdentifier" name="matIdentifier"
                    (click)="expandMaterialIdentifier()" class="form-control container materialIdentifier" required
                    placeholder="Select Identifier" [(ngModel)]="MaterialCustomIdentifiersNames"
                    #matIdentifier="ngModel">
                  <img [src]="image1" class="expand-materialIdentifier" alt="add-user-btn" />

                </div>
                <div class="overlay" *ngIf="materialIdentifierPopup">
                  <div class="popup">
                    <h2 class="sidentifier">Select Identifier<span>*</span></h2>

                    <a class="close" (click)="closePopup()">&times;</a>
                    <div class="content">
                      <mat-chip-list selectable multiple class="mchip">
                        <!-- [(ngModel)]="selctedIdentifier" -->
                        <mat-chip [value]="data" #identifierId="matChip" *ngFor="let data of selectId"
                          [selected]="isSelectedMaterialIdentifier(data)" (focus)="selectMaterialIdentifier(data)"
                          class="cold">
                          <!-- <mat-icon *ngIf="identifierId.selected">check</mat-icon> -->
                          {{data.materialCustomName}}
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                  </div>
                </div>

                <div class="expiryperiod">
                  <label> Expiry Period (in months)<span>*</span></label>
                </div>
                <input type="text" id="matExpiry" name="matExpiry" (keyup)="onKeyExpry($event)"
                  class="form-control container na-placeholder" required placeholder="NA" [(ngModel)]="expiryDate"
                  #matExpiry="ngModel">
                <p style="margin-bottom:-14px;padding: 0px;font-size: 11px"
                  *ngIf="matExpiry.invalid && (matExpiry.dirty || matExpiry.touched)" class="alert">
                  <span  class="errormsg" *ngIf="matExpiry.errors?.['required']">
                    *Expiry period is required.
                  </span>
                </p>

              </div>
            </div>
          




            <div class="col-6">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-6" *ngIf="!updateOrSave">
                  <button class="btn btn-primary btn-block submitbtn save-btn" *ngIf="checked"
                    (click)="addMaterialIfNotProduct()">Save</button>
                </div>
                <div class="col-6" *ngIf="updateOrSave">
                  <button class="btn btn-primary btn-block submitbtn save-btn" *ngIf="checked"
                    (click)="addMaterialIfNotProductAfterEdit()">update</button>
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col-3">

            </div>
          </mat-step>
          <!-- product information -->
          <mat-step [stepControl]="secondFormGroup" *ngIf="!checked">
            <ng-template matStepLabel>Product Information</ng-template>
            <div class="row">
              <div class="col-md-6">
                <div class="heading">
                  <h6 class="stepperHeader-p">
                    <b>Product Information</b>
                  </h6>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mat-slide">
                  <mat-slide-toggle [labelPosition]="labelPosition" [disabled]="disabled" (change)="change($event)"
                    [checked]="!checked">&nbsp;&nbsp;&nbsp;&nbsp; Is a product?</mat-slide-toggle>
                </div>
              </div>
              <div class="col-md-6">
                <div class="brandname">
                  <label>Brand Name<span>*</span></label>
                </div>
                <input required (keyup)="onKeyBrand($event)" id="bName" name="bName" matInput
                  placeholder="Enter the name of brand" #input class="form-control container brand-name"
                  [(ngModel)]="BrandName" #bName="ngModel">
                <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                  *ngIf="bName.invalid && (bName.dirty || bName.touched)" class="alert">
                  <span  class="errormsg" *ngIf="bName.errors?.['required']">
                    *Brand Name is required.
                  </span>
                </p>
              </div>
              <div class="col-md-6">
                <div class="globalcode">
                  <label>Global Code<span>*</span></label>
                </div>
                <input required (keyup)="onKeyGloabal($event)" id="globalCode" name="globalCode" matInput
                  placeholder="Enter product global code" #input class="form-control container global-codeplaceholder"
                  [(ngModel)]="gloabKey" #globalCode="ngModel">
                <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                  *ngIf="globalCode.invalid && (globalCode.dirty || globalCode.touched)" class="alert">
                  <span  class="errormsg" *ngIf="globalCode.errors?.['required']">
                    *Global Code is required.
                  </span>
                </p>
              </div>
              <div class="col-md-6">
                <div class="sku">
                  <label>SKU<span>*</span></label>
                </div>
                <input required (keyup)="onKeySKU($event)" id="skuName" name="skuName" matInput placeholder="Enter SKU"
                  #input class="form-control container sku-placeholder" [(ngModel)]="Sku" #skuName="ngModel">
                <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                  *ngIf="skuName.invalid && (skuName.dirty || skuName.touched)" class="alert">
                  <span class="errormsg" *ngIf="skuName.errors?.['required']">
                    *SKU is required.
                  </span>
                </p>
              </div>
              <div class="col-md-6">

                <div class="shortcode">
                  <label>Short Code<span>*</span></label>
                </div>

                <input required (keyup)="onKeyShortCode($event)" id="sCode" name="sCode" matInput
                  placeholder="Enter product short code" #input class="form-control container shortcode-placeholder"
                  [(ngModel)]="shortCode" #sCode="ngModel">
                <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                  *ngIf="sCode.invalid && (sCode.dirty || sCode.touched)" class="alert">
                  <span  class="errormsg" *ngIf="sCode.errors?.['required']">
                    *Short Code is required.
                  </span>
                </p>
              </div>
              <div class="col-md-6">
                <div class="productg">
                  <label>Product Group<span>*</span></label>
                </div>
                <div class="productdrp productg-align arrowHide">

                  <ng-select [items]="productList" id="productGr" name="productGr" required [virtualScroll]="true"
                    bindLabel="productGroupName" bindValue="productGroupId" [searchable]="true" [clearable]="false"
                    placeholder="Search & select group" [(ngModel)]="productGroupData"
                    (change)="onProductSelect($event)" #productGr="ngModel">
                  </ng-select>
                  <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                    *ngIf="productGr.invalid && (productGr.dirty || productGr.touched)" class="alert">
                    <span  class="errormsg" *ngIf="productGr.errors?.['required']">
                      *Product Group is required.
                    </span>
                  </p>
                  <img src="assets/img/plus.png" style="width: 22px;position: absolute;right: 20px;bottom: 5px;"
                    alt="plus-btn" (click)="addproduct()">

                </div>

              </div>
              <div class="col-md-6">
                <div class="manualsort">
                  <label>Manual Sort Order<span>*</span></label>
                </div>
                <input required (keyup)="onKeySort($event)" id="manualSorto" name="manualSorto" matInput
                  placeholder="Enter the sort order" #input class="form-control container sort-placeh"
                  [(ngModel)]="Sort" #manualSorto="ngModel">
                <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                  *ngIf="manualSorto.invalid && (manualSorto.dirty || manualSorto.touched)" class="alert">
                  <span  class="errormsg" *ngIf="manualSorto.errors?.['required']">
                    *Manual Sort order is required.
                  </span>
                </p>
              </div>
              <div class="col-md-6">
                <div class="productsg">
                  <label>Product Sub-group<span>*</span></label>
                </div>
                <div class="productsdrp productg-align arrowHide">
                  <ng-select [items]="subProduct" id="proSub" name="proSub" required [virtualScroll]="true"
                    bindLabel="productGroupName" bindValue="productGroupId" [searchable]="true" [clearable]="false"
                    placeholder="Search & select sub-group" [(ngModel)]="subproductGroupData"
                    (change)="onSubProductSelect($event)" #proSub="ngModel">
                  </ng-select>
                  <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                    *ngIf="proSub.invalid && (proSub.dirty || proSub.touched)" class="alert">
                    <span  class="errormsg" *ngIf="proSub.errors?.['required']">
                      *Product SubGroup   is required.
                    </span>
                  </p>

                </div>
                <div class="image">
                  <img src="assets/img/plus.png" class="imagePlus"
                    style="width: 22px;position: absolute;right: 20px;bottom: 5px;" alt="plus-btn"
                    (click)="addproductsubgroup()">
                </div>

              </div>

              <div class="col-md-6">
                <div class="productlink">
                  <label>Product Link<span>*</span></label>
                </div>

                <input required (keyup)="onKeyAddSP($event)" id="productL" name="productL" matInput
                  placeholder="Paste the link" #input class="form-control container link-placeh" [(ngModel)]="AddSP"
                  #productL="ngModel">
                <p style="margin-bottom:-7px;padding: 0px;font-size: 11px"
                  *ngIf="productL.invalid && (productL.dirty || productL.touched)" class="alert">
                  <span  class="errormsg" *ngIf="productL.errors?.['required']">
                    *Product link is required.
                  </span>
                </p>
              </div>

              <div class="col-md-12">
                <div class="productci">
                  <label>Product Custom Identifier<span>*</span></label>
                </div>
                <div class="identiersdrp hide" (click)="productIdentifier()">
                  <!-- <ng-multiselect-dropdown name="ProductCustomIdentifierId" class="ProductCustomIdentifierId"
                    [placeholder]="'Select the identifiers'" [disabled]="disabled" [settings]="dropdownSettings3">
                  </ng-multiselect-dropdown> -->
                  <input type="text" disabled id="prodIdentifier" name="prodIdentifier"
                    (click)="expandMaterialIdentifier()" class="form-control container materialIdentifier" required
                    placeholder="Select the identifiers" [(ngModel)]="selectedProductIdentifierData"
                    #prodIdentifier="ngModel">
                  <img [src]="image1" style="left: 97%;" class="expand-materialIdentifier" alt="add-user-btn" />
                </div>

                <div class="overlay" *ngIf="productIdentifierPopup">

                  <div class="popup" style="width: 1053px; height: 300px; top: 220px;">
                    <!-- <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon> -->
                    <div class="col-12">
                      <div class="row">
                        <div class="col-4">
                          <h2 class="sidentifier">Business<span>*</span></h2>

                          <div class="content">
                            <mat-chip-list multiple>
                              <!-- [(ngModel)]="bussinessIdentifiers" -->
                              <mat-chip #businessdata="matChip" [value]="data"
                                *ngFor="let data of businessData; let i = index" [selected]="isSelectedBusiness(data)"
                                (focus)="selectBusinessProduct(data,i)" class="cold">
                                <!-- <mat-icon *ngIf="businessdata.selected">check</mat-icon> -->
                                {{data.productCustomName}}
                              </mat-chip>
                            </mat-chip-list>
                          </div>
                        </div>
                        <div class="vr"></div>
                        <div class="col-4">
                          <h2 class="sidentifier">Product<span>*</span></h2>

                          <!-- <div class="content">
                            <mat-chip-list multiple>
                              <mat-chip #pi="matChip" [value]="data" *ngFor="let data of productData  let i = index"
                                [selected]="isSelectedProductIdentifier(data)" (focus)="selectProductIdentifier(data,i)"
                                class="cold">
                                {{data.productCustomName}}
                              </mat-chip>
                            </mat-chip-list>
                          </div> -->
                          <div class="content">
                            <mat-chip-list multiple>
                              <!-- [(ngModel)]="bussinessIdentifiers" -->
                              <mat-chip #Productdata="matChip" [value]="data"
                                *ngFor="let data of productData; let i = index"
                                [selected]="isSelectedProductIdentifier(data)" (focus)="selectProductIdentifier(data,i)"
                                class="cold">
                                <!-- <mat-icon *ngIf="Productdata.selected">check</mat-icon> -->
                                {{data.productCustomName}}
                              </mat-chip>
                            </mat-chip-list>
                          </div>
                        </div>
                        <div class="vr"></div>
                        <div class="col-4">
                          <a class="close-icon" (click)="closePopup()">&times;</a>
                          <h2 class="sidentifierp">Product Setting<span>*</span></h2>
                          <div class="content pContent">
                            <mat-chip-list multiple>
                              <mat-chip #ps="matChip" *ngFor="let data of productSettingData"
                                [selected]="isSelectedProductIdentifierSetting(data)"
                                (focus)="selectProductIdentifierSetting(data)" class="cold">
                                <!-- <mat-icon *ngIf="ps.selected">check</mat-icon> -->
                                {{data.productCustomName}}
                              </mat-chip>
                            </mat-chip-list>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </mat-step>
          <!-- geographies -->
         
          <mat-step [stepControl]="thirdformGroup" *ngIf="!checked">
            <div class="geography-popupsize">
            <form [formGroup]="gepGraphiesFormGroup">
              <ng-template matStepLabel> Geographies</ng-template>
              <div class="heading">
                <h6 class="Geo-headerlabel"><b>Geographies</b></h6>
              </div>

              <div class="horizontal-scroll">
                <div class="horizontal-scroll__item" *ngFor="let item of geoGraphyFullData;let i =index; ">
                  <div class="geo-grid">
                    <div class="row grid-heading">
                      <div class="col-sm-10">
                        <p><span class="country">{{item.geographyHierarchyName}}</span>
                          <span class="ml-1" *ngIf="item.primaryGeographyAssociation =='Y'">
                            <img src="assets/img/double-blue-tick.svg" alt="double-blue-tick"> </span>
                        </p>

                      </div>

                    </div>
                    <mat-card class="mat-card mat-focus-indicator mat-card-content scroll">
                      <mat-card-content class="mat-card-content">
                        <div *ngIf="item.allOtherGeography">
                          <div class="d-flex " *ngFor="let geoItem of item.allOtherGeography; ">
                            <div class="geography-item"
                              [ngStyle]="{'background':isItemSelected(item,geoItem) ? colorsList[i].secondaryColor.background : colorsList[i].primaryColor.background, 'color':isItemSelected(item, geoItem) ? colorsList[i].secondaryColor.color : colorsList[i].primaryColor.color,'border': '1px solid ' + colorsList[i].primaryColor.background }"
                              (click)="selectGeoGraphy(geoItem,(i +1))">
                              <div class="title"> {{geoItem.geographyName}}
                                <strong *ngIf="geoItem.selectedCount != null && geoItem.selectedCount != undefined">({{
                                  geoItem.selectedCount}} / {{ geoItem.countOfDefault}})</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
              </div>
            </form>
       
            <!-- <div class="row"></div> -->



            <section class="row propertiesSection" *ngIf="!checked">
              <div class="selection-feild">
                <div class="dropdown-file">
                  <div style="margin:8px">
                    <select class="drpOptions" [(ngModel)]="selectedGeoField">
                      <option value="" disabled selected>Select Feild</option>
                      <option value="mrp"> MRP</option>
                      <option value="marginPercent"> Margin Percent</option>
                      <option value="maxOrderQty"> Max Order Qty</option>
                      <option value="minOrderQty"> Min Order Qty</option>
                      <option value="discountPercent"> Discount Percent</option>
                      <option value="leadTime"> Lead Time</option>
                      <option value="registrationNumber"> Registration Number</option>
                    </select>

                    <input class="inp_field" type="text" placeholder="Enter Value" [(ngModel)]="updateGeographyValue">
                    <button class="Apply_button" (click)="applySelectedValue()">
                      <p style="color:white">Apply</p>
                    </button>
                  </div>
                </div>
                <div>
                  <div class="icon btnhover refreshbtn" style="cursor: pointer" (click)="refresh()">
                    <img class="refresh" src="assets/img/ultrarefresh.svg"
                      style="position: relative; top: 9px; left: 12px" alt="refresh" />
                  </div>
                </div>
              </div>
              <table>
                <div class="row m-0 mb-2">
                  <div class="col-sm-3">
                    <label><b>Geography</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>MRP(INR)</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>Min order Qty</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>Max order Qt</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>Margin %</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>Discount %</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>Lead time (Days)</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b>Registration Number</b></label>
                  </div>
                  <div class="col-sm-1">
                    <label><b style="padding:0 56px;">Tags</b></label>
                  </div>

                </div>


                <div *ngFor="let geoPropertyItemList of geoGraphyFullData; let i=index;">
                  <div *ngFor="let item of geoPropertyItemList.geoProperties">
                    <div class="row m-0 mb-2">
                      <div class="col-sm-3">
                        <img [src]="selectedHirerachyIndex > i ? maxImage : minImage" class="expand-arrow1"
                          alt="add-user-btn">
                        {{CountryName}}
                        {{item.geographyName}}
                      </div>
                      <div class="col-sm-1">
                        <input placeholder="Enter" type="text" [disabled]="selectedHirerachyIndex > i"
                          [(ngModel)]="item.mrp" class="uom-cls" id="MRP" name="MRP">
                      </div>
                      <div class="col-sm-1">
                        <input placeholder="Enter" type="text" [disabled]="selectedHirerachyIndex > i"
                          [(ngModel)]="item.minOrderQty" class="uom-cls" id="MinorderQty" name="MinorderQty">
                      </div>
                      <div class="col-sm-1">
                        <input placeholder="Enter" type="text" [disabled]="selectedHirerachyIndex > i"
                          [(ngModel)]="item.maxOrderQty" class="uom-cls" id="MaxOrderQty" name="MaxOrderQty">
                      </div>
                      <div class="col-sm-1">
                        <input placeholder="Enter" type="text" [disabled]="selectedHirerachyIndex > i"
                          [(ngModel)]="item.marginPercent" class="uom-cls" id="MarginPercent" name="MarginPercent">
                      </div>
                      <div class="col-sm-1">
                        <input placeholder="Enter" type="text" [disabled]="selectedHirerachyIndex > i"
                          [(ngModel)]="item.discountPercent" class="uom-cls" id="DiscountPercent"
                          name="DiscountPercent">
                      </div>

                      <div class="col-sm-1">
                        <input placeholder="Enter" type="text" [disabled]="selectedHirerachyIndex > i" [(ngModel)]="item.leadTime"
                          class="uom-cls" id="LeadTime" name="LeadTime">
                      </div>

                      <div class="col-sm-2">
                        <input placeholder="Enter" style="width: 130px;" type="text" [disabled]="selectedHirerachyIndex > i"
                          [(ngModel)]="item.registrationNumber" class="uom-cls" id="RegistrationNumber"
                          name="RegistrationNumber">
                      </div>

                      <div class="col-sm-1">
                        <a href="" style="padding: 9px;">Add</a>
                      </div>
                    </div>
                  </div>
                </div>


              </table>

            </section>

            <div class="col-6">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-6" *ngIf="!updateOrSave">
                  <button class="btn btn-primary btn-block submitbtn save-btn" *ngIf="!checked"
                    (click)="addMaterialProduct();">Save</button>
                </div>
                <div class="col-6" *ngIf="updateOrSave">
                  <button class="btn btn-primary btn-block submitbtn save-btn" *ngIf="!checked"
                    (click)="addMaterialProductAfterEdit();">update</button>
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col-3">
            </div>
          </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>