<app-head (ToggleSideNav)="ToggleSideNav($event)"></app-head>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-sidenav-bar></app-sidenav-bar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">

           
          
            <div class="pnf">
                <div class="cure">
                    <img src="./../../../assets/img/uppercurve.png">
                </div>

                <div class="heading">
                    <h1 class="heading_oops">OOPs!<br><p class="smw">Something went wrong</p></h1>
                
                    </div>

                    <div class="subheading">
                        <p>We Can't seem to find the page you're currently<br>looking for.<br><br>

                            Please return to <b>'Dashboard'</b>
                        
                        </p>
                    </div>
                      
                 

                    <div class="backdashbord ">
                        <button class="btn btn-primary btn-block submitbtn  BacktoDashboard z-index">
                            Back to Dashboard
                          </button>
                     <span><img src="../../../assets/img/error.png" class="img_img"></span>
                </div>
                <div class="react">
                    <span >
                        <img src="../../../assets/img/Rect.png" class="">
                    </span>
                </div>
              

                


                  

                 
              

          
            </div>

           
           
           
           

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


