<!-- <p>orders-receipts works!</p> -->

<div class="container-fluid mt-4">
    <div class="section reciepts mt-2">
<div class="row ml-2">
     <div class="col-md-2 col-lg-2 col-sm-2 ordersreceiptsbubbles" style="padding-left: 0px;" *ngIf="userType !== 'Dealer Admin'">
        <form [formGroup]="myForm" class="dropdown-form">
          <ng-multiselect-dropdown class="dealers dlsr" name="city" [placeholder]="'Dealer'" formControlName="city"
            [disabled]="disabled" [settings]="dealerSettings" [data]="dealerlist"(onSelect)="DealerorderSelect($event)" (onDeSelect)="DealerDeselect($event)"(onDeSelectAll)="DealerDeselectAll($event)"
            (onSelectAll)="DealerorderSelectAll($event)">
          </ng-multiselect-dropdown>
        </form>
        <div class="dropdown-placeholder dealers-placeholder" id="DEALERBORDER">
          <span *ngIf="myForm.get('city').value.length == 0">  Dealers </span>
          <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer selected </span>
          <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder"> {{myForm.get('city').value.length}} Dealer(s) selected </span>
           <img src="../assets/img/search.png" class="searchReceipts">
        </div> 
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2 ordersreceiptsbubblesGeography  multiselectdropwidth" *ngIf="userType !== 'Dealer Admin'">
        <form [formGroup]="myForm1" class="dropdown-form">
          <ng-multiselect-dropdown class="Geography geographybubbles" name="city" [placeholder]="'Geography'" formControlName="geo"
            [disabled]="disabled" [settings]="dropdownSettings1" [data]="geogropdownlist" (onSelect)="geographyselect($event)"
            (onDeSelect)="geographyDeselect($event)" (onDeSelectAll)="geographyDeselectAll($event)"(onSelectAll)="geographyselectAll($event)">
          </ng-multiselect-dropdown>
          <div class="dropdown-placeholder Geography-placeholder" id="SeleectGEPBORDER">
            <span *ngIf="myForm1.get('geo').value.length == 0"> Select Geography </span>
            <span *ngIf="myForm1.get('geo').value.length == 1" class="selected-placeholder"> {{myForm1.get('geo').value.length}} Geography selected </span>
            <span *ngIf="myForm1.get('geo').value.length > 1" class="selected-placeholder"> {{myForm1.get('geo').value.length}} Geography(s) selected </span>

          </div>

        </form>
      </div>
        <div class="shipment mr-3">
        <app-customdatepicker [showInputField]="true" label="Shipment Date" [selectedDate]="selectedDateRange" (customDatePickerEvent)="customShipDatePickerEvent($event)"></app-customdatepicker>
      </div>
        <div class="invoice">
          <app-customdatepicker [showInputField]="true" label="Invoice Date" [selectedDate]="selectedDateRanges" (customDatePickerEvent)="customInvoiceDatePickerEvent($event)"></app-customdatepicker>
      </div>


      <!--  new Search -->
      <div class="col-md-2 col-lg-2 col-sm-2" >
        <div class="search_Box1 d-flex">
          <input id="searchInput" class="search_Input11" type="text" name="" placeholder="Search Here Anything" (keyup)="onSearchChange($event)">
          <mat-icon  class="searchiconshipment">search</mat-icon> 
          <button class="searchBTN">Search</button>
        </div>
      </div>

      <!-- REf -->
      <div class="col-md-0 col-lg-0 col-sm-0" >
         <div class="sales-refreshbtn" (click)="refresh()">
        <!-- <img class="refresh-img" src="assets/img/Vector.png" alt="refresh"> -->
        <!-- <img class="refresh-img" src="assets/img/Vector.png"  -->
        <img src="assets/img/Refreshbutton.svg" class="refresh-img"  alt="refresh">
       
      </div>
      </div>

      <div class="col-md-2 col-lg-2 col-sm-2" *ngIf="userType == 'Dealer Admin'">
         
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2"*ngIf="userType == 'Dealer Admin'">
         
      </div>
      <!-- bulk Downloaded -->

      <div class="col-md-0 col-lg-0 col-sm-0" style="margin-left: 10px;">
        <div class="sales-download" (click)="bulkDownload()">
          <img class="dwnld-img" src="assets/img/orderlist-upload.svg" 
              alt="add-user-btn">
      </div>
      </div>

   <!-- Bulk Uploaded orderReceiptsBulkUpload -->

   <div class="col-md-0 col-lg-0 col-sm-0">
    <div class="sales-upload" (click)="orderReceiptsBulkUpload()">
      <img   class="imgupload" src="assets/img/orderlist-downloD.svg"
          alt="add-user-btn">    
  </div>
   </div>

   <!-- receiptsDownload -->
   <div class="col-md-0 col-lg-0 col-sm-0">
    <div class="sales-dwnld" (click)="receiptsDownload()">
      <img   class="imgdwnl" src="assets/img/download-btn.png"
          alt="add-user-btn">    
    </div>
   </div>

</div>
<!-- bulk downld upload -->


  <!-- grid -->
  <div class="sales-grid-table" style="margin-top: 48px;">
    <ag-grid-angular id="gridContainer"  style=" height: 400px;background-color: white;font-family: Gilroy;width: 101%;"
    class="ag-theme-material" (gridReady)="onGridReady($event)" [rowHeight]="25"
      [headerHeight]="48" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
      [rowData]="receiptDatalist" [suppressExcelExport]="true" [popupParent]="popupParent"
      (cellValueChanged)="onCellValueChanged($event)" (firstDataRendered)="onFirstDataRendered($event)"
      (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
      (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
      (bodyScroll)="handleScroll($event)"></ag-grid-angular>
    <div class="pagination">
      <span class="pagination-cls">1 &nbsp;</span> - <span class="pagination-cls">&nbsp;{{paginationScrollCount}}</span>  <span class="pagination-cls">  &nbsp;of </span>  <span
        class="pagination-cLASSS">&nbsp;{{receiptDatalist.length}}</span>
    </div>
  </div>

    </div>
</div>
