
::ng-deep .mat-dialog-container{
    background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%);
    border: 0.5px solid #000000;
    border-radius: 25px;
}
.head-text{
font-size: 20px;
font-weight: 600;
}
input{
    padding: 5px 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 240px;
}
.exit{
background: black;
color: white;
padding: 5px 40px;
border: #000000;
border-radius: 5px;
width: 240px;
}
.close-icon{
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}
