<div class="container" *ngIf="!adminPassword">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    <!-- admin change pasword -->
    <div class="actv-user text-center">
        <h1 class="head-text">Reset password</h1>
    </div>
 
        <div>
            <div class="newspass">
                <h1>New password</h1>
            </div>
            <label>Latest password <span style="color: red;">*</span></label><br>
            <input type="password" id="password" placeholder="Enter your password (at least 8 ch)" name="password"
            [type]="showPassword ? 'text': 'password'" [(ngModel)]="enterfirst" required>
          <mat-icon matSuffix (click)="PasswordVisibilityLatest()">
            {{showPassword?'visibility':'visibility_off'}}
          </mat-icon>
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
            'visibility_off'}}</mat-icon> -->

            <br>
            <label>Re-enter password <span style="color: red;">*</span></label><br>
            <input type="text" placeholder="Re-enter your new password (at least 8 ch)"
            [type]="showre_Password ? 'text': 'password'" [(ngModel)]="entersecond">
            <mat-icon matSuffix (click)="PasswordVisibilityreenter()">
                {{showre_Password?'visibility':'visibility_off'}}
              </mat-icon>
            <p style="color: red;position: relative;position: relative;padding: 0px;height: 0px;top: -6px;">{{error}}
            </p>
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 
                        'visibility_off'}}</mat-icon> -->
            <br>
            <button class="update-btn" (click)="confrmPWS()">Update Password</button>
            <button class="cancel-btn" (click)=" closeDialog()">Cancel</button>
        </div>
        <span style="color: red;">*Required fields</span>
   

</div>

<!-- user change password -->
<div class="container" *ngIf="adminPassword">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    <div class="actv-user text-center">
        <h1 class="head-text">Change Password</h1>
    </div>

        <div>
            <div class="olpass">
                <h1>Old password</h1>
            </div>
            <label>current password <span style="color: red;">*</span></label><br>
            <input type="password" id=" oldPassword" placeholder="Enter your old  password (at least 8 ch)"
            [type]="showoldPassword? 'text': 'password'"  name="oldPassword" [(ngModel)]="oldPassword" required>
            <mat-icon matSuffix (click)="PasswordVisibilityold()">
                {{showoldPassword?'visibility':'visibility_off'}}
            </mat-icon>
            <br><br>

            <div class="newspass">
                <h1>New password</h1>
            </div>
            <label>Latest password <span style="color: red;">*</span></label><br>
            <input type="password" id="latestPassword" placeholder="Enter your password (at least 8 ch)"
            [type]="showPassword? 'text': 'password'" name="latestPassword" [(ngModel)]="latestPassword" required>
            <mat-icon matSuffix (click)="PasswordVisibilityLatest()">
                {{showPassword?'visibility':'visibility_off'}}
              </mat-icon>
            <br>

            <label>Re-enter password <span style="color: red;">*</span></label><br>
            <input type="password"  id="relatestpassword" placeholder="Re-enter your new password (at least 8 ch)" 
            [type]="showre_Password? 'text': 'password'" name="relatestpassword" [(ngModel)]="relatestpassword">
            <mat-icon matSuffix (click)="PasswordVisibilityreenter()">
                {{showre_Password?'visibility':'visibility_off'}}
              </mat-icon>
            <p style="color: red;position: relative;position: relative;padding: 0px;height: 0px;top: -6px;">{{error}}
            </p>
            <br>

            <button class="update-btn" (click)="changeUserPassword()">Update Password</button>
            <button class="cancel-btn" [mat-dialog-close]="true">Cancel</button>
        </div>
        <span style="color: red;">*Required fields</span>
    

</div>