<div class="bg-img">
  <div class="logo">
    <img src="assets/Logo.svg" alt="">
  </div>
  <section class="vh-100">

    <div class="container">

      <div class="loginform-page" *ngIf="!redirectMessage">
        <div class="signIn-page d-flex justify-content-center align-items-center h-100">

          <div class="login-form ">
            <form >
              <div class="login-head">
                <h6 class="sign-head">Forgot Password</h6>
              </div>
              <h3>Enter your Username</h3>

              <!-- username input -->
              <div class="form-outline mb-4">
                <!-- <p style="color:red;" *ngIf="userExist">User does not exist</p> -->
                <label class="form-label" for="form3Example3">Username*</label>
                <br>
                <!-- <p *ngIf="usernameReqired" style="color: red;">Username required</p> -->

                <input type="text" style="border-radius:10px" id="username" placeholder="Username" name="username" 
                required [(ngModel)]="username"/>
                <p class="errorMessage">{{err}}</p>
              </div>

              <!-- submit button -->
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-block login-btn" style="width: 361px;"
                  (click)="onsubmitemail()">Submit</button>

              </div>

            </form>
          </div>

        </div>
      </div>

      <!-- pop redirect to mail message -->
      <div class="redirectMessage"  *ngIf="redirectMessage">
        <div class="signIn-page d-flex justify-content-center align-items-center h-100">
            <div class="login-head">
              <h6 class="forget-head">Forgot Password</h6>
            </div>
            <p class="Message">We have sent the instructions to reset<br> to your email id</p> 
        </div>
      </div>
    </div>
  </section>
  <div class="highlitepopup">
    <img src="assets/dealersnotpopup.svg" alt="">
  </div>

</div>