<div class="forgot-ps-page container">
    <div class="row d-flex">
        <div class="forgot-text">
            <h6 class="forgot-head">Forgot Password</h6>
            <!-- <input type="email" placeholder="Enter Your Email"> -->
       <div *ngIf="enteremail">
        <p>Enter your email Id</p>
        <div class="form-outline mb-4 forgot-ps">
            <label >Email</label>
            <input type="email" id="form2Example11" class="form-control"  name="username" required [(ngModel)]="usernameofuser"
              placeholder="Email Id" pattern="[^ @]@[^@]" />
          </div>
        
        <!-- <p>We have sent the instructions to reset <br> password to your email.</p> -->
        <button class="btn btn-primary forgot-btn"  (click)="onsubmitemail()">Reset Password</button>
   
       </div>
       <div *ngIf="!enteremail">
        <p style="font-size: 15px;
        letter-spacing: -0.553191px;"> We have sent the instructions to reset <br>password to your email.</p>
        <button class="btn btn-primary forgot-btn" routerLink="/login" >Login</button>
      </div>
        </div>
        <img src="../../../assets/img/signIn-img.svg"
        class="signImg" alt="Login Image" >
        <!-- <div class="signIn-img">
            <img src="../../../assets/img/signIn-img.svg"
              class="signImg" alt="Login Image" >
          </div> -->
    </div>
</div>

<mat-form-field >
    <mat-label>Cars</mat-label>
    <select matNativeControl required>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
