<div class="forgot-ps-page">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="forgot-text col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h6 class="forgot-head">Forgot Password</h6>
            <!-- <input type="email" placeholder="Enter Your Email"> -->
       <div *ngIf="enteremail">
        <p>Enter your email Id</p>
        <div class="form-outline mb-4 forgot-ps">
            <label >Email</label>
            <input type="email" id="form2Example11" class="form-control"  name="username" required [(ngModel)]="usernameofuser"
              placeholder="Email Id" pattern="[^ @]@[^@]" />
          </div>
        
        <!-- <p>We have sent the instructions to reset <br> password to your email.</p> -->
        <button class="btn btn-primary forgot-btn"  (click)="onsubmitemail()">Reset Password</button>
   
       </div>

       <div *ngIf="!enteremail">
        <p> We have sent the instructions to<br> reset password to your email.</p>
        <button class="btn btn-primary forgot-btn" routerLink="/login" >Login</button>
      </div>
        </div>
        <div class="forgot-image col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <img src="" alt="">
        </div>
       
    </div>
</div>