/* form{
    margin: auto;
    width: 300px;
} */
section{
    background: #EAECF2;
    height: 100vh;
}
form{
    background: white;
    margin: auto;
    width: 450px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    top: 80px;
}
.signImg{
    height: 500px;
    /* margin-left: 57%; */
}
.forgot-head {
    background: linear-gradient(135deg, #21D4FD 0%, #2152FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-size: 32px;
font-weight: 700;
padding: 5px;
}
.forgot-text p{
    color: #8392AB;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.553191px;
    margin-top: 10px;

}
.forgot-btn{
    background: linear-gradient(135deg, #21D4FD 0%, #2152FF 100%);
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
border-radius: 8px;
width: 361px;
}
.forgot-ps input{
    width: 361px;
    color: #D9D9D9;
    font-size: 14px;
    border: 1.6px solid #E293D3;
}
.forgot-ps label{
    font-size: 12px;
    letter-spacing: -0.331915px;
    font-weight: 600;
}
/* .signIn-img{
    text-align: end;
    width: 50%;
    height: 300px;
  } */
  /* .signIn-img img{
    width: 20%;
    height: 300px;
  } */