

<div class="container">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    <div class="actv-user text-center">
        <h1 class="head-text">{{catsetName}}</h1>
    </div>
    <div>
        <label class="addcat" >Name<span style="color: red;">*</span></label><br>
        <input type="text" placeholder="Enter category name" 
          required [(ngModel)]="addcat">       
<br>
        <label class="addcat1" >Code<span style="color: red;">*</span></label><br>
        <input type="text" placeholder="Enter category code" [(ngModel)]="addcatcode"
      >
     <br>
        <button  *ngIf="catsetName=='Add Category'"   class="update-btn" (click)="AddCat()" [disabled]="!addcat || !addcatcode">Save</button>
        <button *ngIf="catsetName=='Edit Category'" class="update-btn" (click)="editCat()" [disabled]="!addcat || !addcatcode">Save</button>

        <button class="cancel-btn" (click)="close()">Cancel</button>
    </div>
   
   
</div>
