.mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;

    /* background-color: #CED4DA; */
}

.close-iconn {

    cursor: pointer;
    /* position: relative;
    bottom: 14px;
    left: 54px; */
    font-size: 12px;
    font-weight: bold;
    padding-left: 6px;
    padding-top: 12px;

}

::ng-deep.mat-checkbox-checked .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
    background-color: black !important;
}

.itemSelectedFilter {
    position: relative;
    bottom: 10px;
}

.itemSelectedFilterShip {
    position: relative;
    bottom: -2px;
}

.selected .tick {
    display: inline;
}

.BIN {
    font-family: 'Gilroy-Light';
    font-size: 18px;

    align-items: center;

    color: #000000;

}

.name {
    margin: 7px 0;
    padding-left: 10px;
}

input[type=text] {
    width: 93%;
    padding: 10px 32px;
    margin: 8px 13px;
    box-sizing: border-box;
    border: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}

.search {

    width: 18px;
    position: relative;
    bottom: 15%;
    left: 6%;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.heroes {
    margin: -18px -144px 1em 24px;
    list-style-type: none;
    padding: 0;
    width: 293px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.heroes1 {
    margin: 20px -144px 1em 24px;
    list-style-type: none;
    padding: 0;
    width: 293px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.heroes2 {
    margin: 0px -144px 0em 1px;
    list-style-type: none;
    padding: 0;
    width: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.heroes3 {
    margin: -15px -144px 0em 2px;
    list-style-type: none;
    padding: 0;
    width: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.heroes4 {
    margin: 4px -144px 0em 2px;
    list-style-type: none;
    padding: 0;
    width: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.heroes5 {
    margin: 5px -144px 0em 20px;
    list-style-type: none;
    padding: 0;
    width: 301px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* .menu-datepicker{
    overflow: inherit;
    position: absolute;
  } */


.heroes li {
    display: flex;
}

.heroes .name {
    align-self: center;
}

.RSE {
    font-family: 'Gilroy-Light';
    font-size: 20px;
    line-height: 23px;
    align-items: center;

    color: #000000;
}

.form1:disabled {
    background: #411a1a !important;
}

.main {
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;

}

.font {
    font-family: 'Gilroy';
}

.head-t h3 {
    color: #000000;
    text-align: left;
    margin-top: -18px;
    margin-bottom: 2px;
}

.addU {
    position: relative;
    font-family: 'Gilroy';

    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.addU:after {
    content: "";
    display: block;
    width: 343px;
    height: 2px;
    background: #686E74;
    right: 0;
    top: 50%;
    position: absolute;
    margin-right: 20px;
}

.addU:before {
    content: "";
    display: block;
    /* width: 60px; */
    height: 2px;
    background: #E5EAF4;
    left: 0;
    top: 50%;
    position: absolute;
}

.addUserForm input {
    border-radius: 5px;
    border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    padding: 5px 5px;
    width: 250px;
    font-size: 12px;
    outline: none;
    font-weight: lighter;
    border: 1px solid black;
}

/* span {
    color: red;
} */

.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

label {
    /* padding: 2px 0; */
    font-size: 14px;
    margin: 5px;
}

mat-form-field {
    width: 246px;

}

::ng-deep.productC .mat-checkbox-layout {
    margin-left: 12px;
}

.edituser {
    width: 245px;
    margin-right: 35px;
    background-color: #000000;
    border: 1px solid black;
}

.cancl {
    width: 245px;
    background: white;
    color: #000000;
    border: 1px solid black;
}

/* ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em 0 0.7em 0;
    } */

::ng-deep.mat-dialog-container {
    background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    ;
}


.menu-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    z-index: 1000;
    min-width: 13rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0.5px solid #000000;
}

.menu-container1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    z-index: 1000;
    min-width: 20rem;
    padding: -0.5rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-left: 78px;
    height: 247px;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 333px;
}

.selectedFilterInput {
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 116px;
    width: 100%;
}

.menu-item:hover {
    cursor: pointer;
    background: rgb(240, 240, 240);
}

.menu-itemm:hover {
    cursor: pointer;
    /* background: rgb(240, 240, 240); */
}

.searchBox {
    float: right;
    position: absolute;
    right: -45px;
    top: 10px;
}

.searchBox>.searchInput {
    display: block;
    width: 295px;
    height: 30px;
    background: #FFFFFF;
    float: left;
    padding: 5px 32px 6px;
    border-radius: 6px;
    font-family: 'Gilroy-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #263643;
    box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
    /* // transition: 0.2s  ease-in-out; */
    position: absolute;
    right: 55px;
    margin-bottom: 10px;
}

.searchBox>.search-btn {
    display: block;
    height: 26px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.searchButton {
    display: bolck;
    color: #FFFFFF;
    float: left;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border: none;
}

.menu-item.active {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.menu-item-GeoTags {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #F72585;
}

.menu-item-targetG {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #0353A4;
}

.menu-item-prodCustomId {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #017EFA;
}

.menu-item-categO {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #00187A;
}

.menu-item-subCategO {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #0C5A3E;
}

.menu-item-typeO {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #C32F27;
}

.menu-item-shipDate {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #655356;
}

.menu-item-receiptDate {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
    color: #655356;
}






.menu-itemm {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    font-size: 14px;
}

.searchCheckBoxes {
    position: relative;
    bottom: -51px;
}

/* .menu-container:after {
    content: '';
    position: absolute;
   
    bottom: 27px;
    width: 10px;
    height: 10px;
    right: -10px;
    border-top: 5px solid transparent;
    border-left: 10px solid #555;
    border-bottom: 5px solid transparent;
} */
.tickmark {
    float: right;
    /* padding-left: 10px;
    padding-top: 5px; */
    position: relative;
    top: 6px;
    left: 6px;
}

.hover {
    display: none;
}

.datepicker {
    position: absolute !important;

    background: #655356 !important;
    border-radius: 10px;

    color: whitesmoke;


    width: 169px;
    border: 1px solid #337ab7;
    font-size: 12px;
    box-shadow: 1px 1px #959595;
    top: 55px;
    height: 29px;
    padding-right: 18px;

    text-align: center;
    padding-top: 3px;
    left: 16px;
}


/* img:hover{
    background-color: red;
} */
.tickmark {
    display: none;
}

/* .tickmark:hover{
    display: block;
} */
.tick:hover .tickmark {
    display: block;
}

.clearAllBtn {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 276px;
    width: 65%;
    left: 5px;

}

.applyBtn {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 276px;
    width: 65%;
    left: 87px;
}

.selectedF {
    position: relative;
    top: 253px
}

.other {
    color: #e7e7e7;
    background-color: black;
    border: 1px solid black;
    height: 35px;
    width: 355px;
    display: flex;
    margin-top: 10px;
}

.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}

.containerElement {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1000;
    min-width: 30rem;
    padding: 0.5rem 0;
    margin: 0;
    padding-left: 10px;
    font-size: 1rem;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0.5px solid #000000;
    height: 188px;
    width: 100%;
    overflow: auto;
}

.custom, .customgeo ,.customIdenti, .customCateg, .customSubcat,.customTyp,.customShipping {
    height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    /* padding-left: 0px;
    padding-top: 18px; */
    position: relative;
    bottom: 2px;
    float: left;
    margin: 2px 1px;
}

/* .customgeo {
    height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    /* padding: 15px; 
    display: flex;
    align-items: center;
    /* padding-left: 0px;
    padding-top: 18px; 
    position: relative;
    bottom: 2px;
    left: 3px;
} */

/* .customIdenti {
    height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    display: flex;
    align-items: center;
   
    position: relative;
    bottom: 2px;
    left: 9px;
} */

/* .customCateg {
    height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    left: 9px;
} */

/* .customSubcat {
    height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    left: 9px;
} */

/* .customTyp {
    height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    left: 9px;
} */

.customShipping {
    /* height: 26px;
    width: max-content;
    color: white;
    border: 0px solid;
    border-radius: 34px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    left: 9px; */
    background-color: #655356;
}

.targetElement {
    display: flex;
    column-gap: 3px;
}

.eleStyle {

    padding-left: 16px;
    margin-top: 12px;
}

.eleStyles {

    padding-left: 16px;
    margin-top: -11px;
}

.targetColor {
    background-color: #0353A4;
}

.geoColor {
    background-color: red;
}

.errorMessage {
    color: red;
    font-family: Gilroy-Medium;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0em;
    margin-top: 10px;
}