<!-- <p>advanced-filter works!</p> -->
<div class="font ">
    <div class=" main" width="400%">
        <div class="container">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
                <div class="head-t">
                    <h3 class="addU font" style="color: #000000;">Advance Filters</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="BIN">Filter Selection</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div #trigger data-action="toggle" style="cursor: pointer;">
                    </div>
                    <!----------------- filter section  ---------------------->
                    <div class="menu-container">
                        <div class="menu-item tick menu-item-targetG" (click)=addTargetGroupElements()> Target Group
                            <span *ngIf="checkedCount > 0">({{checkedCount}})</span>
                            <img *ngIf="isTargetGroupSelected" src="../../../assets/userImages/done-tick.svg" alt=""
                                class="tickmark">
                        </div>

                        <div class="menu-item tick menu-item-GeoTags" (click)=getGeoGraphyIdentifier()> Geography Tags
                            <span *ngIf="GeoCheckedCount > 0">({{GeoCheckedCount}})</span>
                            <img *ngIf="isgeoGraphyIdentifierSelected" src="../../../assets/userImages/done-tick.svg"
                                class="tickmark">
                        </div>
                        <div class="menu-item tick menu-item-prodCustomId" (click)=getProductCustomIdentifier()>Product
                            Custom Identifier <span *ngIf="PCICheckedCount > 0">({{PCICheckedCount}})</span>
                            <img *ngIf="isProductCustomIdentifierSelected"
                                src="../../../assets/userImages/done-tick.svg" class="tickmark">
                        </div>
                        <div class="menu-item tick menu-item-categO" (click)=getCategory()>Category <span
                                *ngIf="categorycheckedCount > 0">({{categorycheckedCount}})</span>
                            <img *ngIf="isCategorySelected" src="../../../assets/userImages/done-tick.svg"
                                class="tickmark">
                        </div>
                        <div class="menu-item tick menu-item-subCategO" (click)=getSubCategory()>Sub-Category <span
                                *ngIf="subcategoryCheckedCount > 0">({{subcategoryCheckedCount}})</span>
                            <img *ngIf="isSubCategorySelected" src="../../../assets/userImages/done-tick.svg"
                                class="tickmark">
                        </div>
                        <div class="menu-item tick menu-item-typeO" (click)=getType()>Type <span
                                *ngIf=" typeCount > 0">({{typeCount}})</span>
                            <img *ngIf="typeSelected" src="../../../assets/userImages/done-tick.svg" class="tickmark">
                        </div>
                        <div class="menu-item tick menu-item-shipDate" (click)=getShipmentDate()>Shipment Date <span
                                *ngIf="shipmentcheckedCount > 0">({{shipmentcheckedCount}})</span>
                            <img *ngIf="isShipmentDateSelected" src="../../../assets/userImages/done-tick.svg"
                                class="tickmark">
                        </div>
                        <div class="menu-item tick menu-item-receiptDate" (click)=getReceiptDate()>Receipt Date <span
                                *ngIf="receiptcheckedCount > 0">({{receiptcheckedCount}})</span>
                            <img *ngIf="isReceiptDateSelected" src="../../../assets/userImages/done-tick.svg"
                                class="tickmark">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="menu-container1">
                        <!-- input search field display depends on conditions -->
                        <input
                            *ngIf="isTargetGroupSelected || isCategorySelected || this.categoryItems.length > 0 || this.subcatItems.length > 0 "
                            [(ngModel)]="searchText" class="" style="font-family: 'Gilroy'" type="text"
                            placeholder="Type & search">
                        <img *ngIf="isTargetGroupSelected || isCategorySelected" src="assets/img/search.png"
                            class="search" alt="search">
                        <!------------     target group   ------------>

                        <ul class="heroes" *ngIf="isTargetGroupSelected">
                            <li *ngFor="let item of targetGroupList | filter:searchText">
                                <mat-checkbox (change)="onItemClickOfTargetGroup(item);updateCount($event);"
                                    [checked]="isCheckedForProduct(item.targetGroupId, 'target')">{{item.targetGroupName}}</mat-checkbox>
                            </li>
                        </ul>
                        <!--------   geo graphy identifiers  --------------->

                        <ul class="heroes1" *ngIf="isgeoGraphyIdentifierSelected">
                            <li *ngFor="let Geography of geoGraphyIdentifierList">
                                <mat-checkbox
                                    (change)="onItemClickOfGeograpy(Geography , $event);updateCountForGeo($event)"
                                    [checked]="isCheckedForProduct(Geography?.geographyIdentiferid,'geo')">{{Geography?.geographyIdentifierName}}</mat-checkbox>
                            </li>
                        </ul>
                        <!--------  product custom Identifiers  --------------->

                        <div *ngIf="isProductCustomIdentifierSelected" class="heroes2">
                            <li *ngFor="let item of ProductCustomIdentifierList">
                                <span class="label other">{{item.headingName}}</span>
                                <div *ngFor="let pCIdentifier of item.productCustomeIdentifiers">
                                    <mat-checkbox class="productC"
                                        (change)="onItemClick(pCIdentifier , $event);updateCountForPCI($event)"
                                        [checked]="isCheckedForProduct(pCIdentifier.productCustomIdentifierId, 'product')">{{pCIdentifier.productCustomName}}</mat-checkbox>

                                </div>
                            </li>
                        </div>
                        <!-------- category   ---------------------->
                        <div *ngIf="isCategorySelected" class="heroes3">
                            <li *ngFor="let category of categoryList?.allOtherCats | filter:searchText">
                                <mat-checkbox class="productC"
                                    (change)="onItemClickOfCategory(category , $event);updateCountForCategory($event)"
                                    [checked]="isCheckedForProduct(category.catId, 'category')">{{category.catName}}</mat-checkbox>

                            </li>
                        </div>
                        <!-------- SUB category   ---------------------->

                        <div *ngIf="isSubCategorySelected" class="heroes4">
                            <div *ngIf="this.categoryItems.length > 0">
                                <li *ngFor="let subcat of subcaty?.allOtherSubCAts | filter:searchText">
                                    <mat-checkbox class="productC"
                                        (change)="onItemClickOfSubCategory(subcat , $event);updateCountForSubCAT($event)"
                                        [checked]="isCheckedForProduct(subcat.subCatId, 'subcategory')">{{subcat.subCatName}}</mat-checkbox>
                        
                                </li>
                            </div>
                            <div *ngIf="this.categoryItems.length == 0">
                                <p class="errorMessage">*First select a ‘Category’ in order to see the respective
                                    sub-categories</p>
                            </div>
                        </div>

                        <!-------------------   type   ---------------------->
                        <div *ngIf="typeSelected">
                            <div *ngIf="this.subcatItems.length > 0">
                            <li *ngFor="let type of typeList | filter:searchText">
                                <mat-checkbox class="productC"
                                    (change)="onItemClickOfType(type , $event);updateCountForType($event);"
                                    [checked]="isCheckedForProduct(type.typeId, 'type')">{{type.typeName}}</mat-checkbox>

                            </li>
                        </div>
                        <div *ngIf="this.subcatItems.length == 0 || this.categoryItems.length == 0 ">
                            <p class="errorMessage">*First select a ‘Category’ & ‘Sub-category’ in order to see the
                                respective types</p>
                        </div>
                        </div>
                        
                        <!----------------- shipment date   ---------------------->
                        <div *ngIf="isShipmentDateSelected" class="heroes5 menu-itemm tick">
                            <app-customdatepicker class="dateplaceholder" [showDirectMenu]="true"
                                [selectedMenu]="shipmentselectedMenu" [selectedDate]="shipmentSelectedDateRange"
                                (customDatePickerEvent)="shipmentCustomDatePickerEvent($event)"></app-customdatepicker>
                        </div>
                        <!----------------- receipt date   ---------------------->

                        <div *ngIf="isReceiptDateSelected" class="heroes5 menu-datepicker menu-itemm tick">
                            <app-customdatepicker class="dateplaceholder" [showDirectMenu]="true"
                                [selectedMenu]="reciptselectedMenu" [selectedDate]="selectedDateRange"
                                (customDatePickerEvent)="customDatePickerEvent($event)"></app-customdatepicker>
                        </div>


                    </div>

                </div>
            </div>
            <!----------------- selected filter   ---------------------->
            <div class="row selectedF">
                <div class="col-lg-12">
                    <h6 class="BIN"> Selected Filter</h6>
                    <div class="containerElement">
                        <div *ngIf="this.targetLists.length > 0" class="targetElement">
                            <div *ngFor="let item of targetLists;let i =index;" class="custom"
                                [ngStyle]="{'background-color': getBackgroundColor(item.targetGroupName)}">
                                <div class="eleStyle"><span class="itemSelectedFilter">{{item.targetGroupName}}<mat-icon
                                            mat-button class="close-iconn"
                                            (click)="removeItem(item.targetGroupId)">close</mat-icon></span></div>
                            </div>
                        </div>

                        <div *ngIf="this.itemOfgeogrphy.length > 0"  class="targetElement">
                            <div *ngFor="let item of itemOfgeogrphy;let i =index;" class="customgeo"
                                [ngStyle]="{'background-color': getBackgroundColor(item.geographyIdentifierName)}">
                                <div class="eleStyle"><span
                                        class="itemSelectedFilter">{{item.geographyIdentifierName}}<mat-icon mat-button
                                            class="close-iconn"
                                            (click)="removeItem(item.geographyIdentiferid)">close</mat-icon></span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="this.ProductCustomIdentifierElements.length > 0"  class="targetElement">
                            <div *ngFor="let pciElemets of ProductCustomIdentifierElements;let i =index;" class="customIdenti"
                                [ngStyle]="{'background-color': getBackgroundColor(pciElemets.productCustomName)}">
                                <div class="eleStyle"><span
                                        class="itemSelectedFilter">{{pciElemets.productCustomName}}<mat-icon mat-button
                                            class="close-iconn"
                                            (click)="removeItem(pciElemets.productCustomIdentifierId)">close</mat-icon></span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="this.categoryItems.length > 0"  class="targetElement">
                            <div *ngFor="let category of categoryItems;let i =index;" class="customCateg"
                                [ngStyle]="{'background-color': getBackgroundColor(category.catName)}">
                                <div class="eleStyle"><span class="itemSelectedFilter">{{category.catName}}<mat-icon
                                            mat-button class="close-iconn"
                                            (click)="removeItem(category.catId)">close</mat-icon></span></div>
                            </div>
                        </div>
                        <div *ngIf="this.subcatItems.length > 0"  class="targetElement">
                            <div *ngFor="let subcat of subcatItems;let i =index;" class="customSubcat"
                                [ngStyle]="{'background-color': getBackgroundColor(subcat.subCatName)}">
                                <div class="eleStyle"><span class="itemSelectedFilter">{{subcat.subCatName}}<mat-icon
                                            mat-button class="close-iconn"
                                            (click)="removeItem(subcat.subCatId)">close</mat-icon></span></div>
                            </div>
                        </div>
                        <div *ngIf="this.typeItems.length > 0"  class="targetElement">
                            <div *ngFor="let type of typeItems;let i =index;" class="customTyp"
                                [ngStyle]="{'background-color': getBackgroundColor(type.typeName)}">
                                <div class="eleStyle"><span class="itemSelectedFilter">{{type.typeName}}<mat-icon
                                            mat-button class="close-iconn"
                                            (click)="removeItem(type.typeId)">close</mat-icon></span></div>
                            </div>
                        </div>
                        <div  class="targetElement">
                        <div  *ngIf="shipmentSelectedDateRange && shipmentSelectedDateRange.startDate"  class="customShipping">
                        <div class="eleStyles"><span class="itemSelectedFilterShip">{{startDate}} - {{endDate}}<mat-icon
                                    mat-button class="close-iconn" (click)="close()">close</mat-icon></span>
                        </div>
                    </div>
                </div>
                <div  class="targetElement">
                    <div  *ngIf="selectedDateRange && selectedDateRange.startDate" class="customShipping">
                        <div class="eleStyles"><span class="itemSelectedFilterShip">{{startDate}} - {{endDate}}<mat-icon
                                    mat-button class="close-iconn">close</mat-icon></span>
                        </div>
                    </div>
                </div>
                    </div> 
                </div>
            </div>
            <!--------------- apply and clear all   ---------------------->
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-block applyBtn" (click)="applyAll()">Apply</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-block clearAllBtn" (click)="clearAll()">Clear All</button>
                </div>
            </div>

        </div>
    </div>
</div>