<div class="container">

    <div class="rest-pwsd d-flex">
        
        <div class="tumbsup"><img class="c" src="../../../../../assets/userImages/carbon_thumbs-up.svg" alt="">
            <br>
            <b>Done !</b>
        </div>
        <div class="text-succ mt-3" ><p>Dealer<b>{{customerName}}</b> is <b style="color: rgba(23, 177, 92, 1);">Reactivated</b></p></div>
        <!-- <div class="text-succ mt-3" ><p>Dealer<b>D23334</b> is <b style="color: rgba(23, 177, 92, 1);">Deactivated</b></p></div> -->
    <div class="closeImg" [mat-dialog-close]="true"><img src="../../../../../assets/userImages/user-closeImg.svg" alt=""></div>

</div>
</div>