<i class="fa fa-ellipsis-v" #trigger data-action="toggle" style="cursor: pointer;"
  [ngClass]="{'no-display' : currentActionMenu.length == 0}"></i>
<div #content *ngIf="isOpen" class="menu-container" [ngClass]="{'single' : currentActionMenu.length == 1 }">
  
      <div (click)="orderedit()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('edit_order') !== -1 || currentActionMenu.indexOf('confirm_order') !== -1">
         Edit 
         <img src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark">
        </div>


  <div (click)="confirmOrder()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('confirm_order') !== -1">
    Process order<img src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>
  
    <div (click)="orderReceive()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('receive_order') !== -1">
    Receive<img src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>

   <!-- <div (click)="orderedit()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('edit_order') !== -1">Edit<img
      src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>  -->

  <div (click)="viewOrder()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('view') !== -1">View<img
      src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>

  <!-- <div (click)="ReceiveShipment()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('receive_shipment') !== -1">
    Receive<img src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div> -->

    <div (click)="deleteshipment()" class="menu-item tick" *ngIf="currentActionMenu.indexOf('receive_shipment') !== -1">
    Delete<img src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>

  <div (click)="orderCancel('Cancel')" class="menu-item tick" *ngIf="currentActionMenu.indexOf('cancel_order') !== -1">
    Cancel<img src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>
    
  <div class="menu-item tick" *ngIf="currentActionMenu.indexOf('close') !== -1"  (click)="orderCancel('Close')">Close<img
      src="../../../assets/userImages/done-tick.svg" alt="" class="tickmark"></div>
</div>