<i class="fa fa-ellipsis-v" #trigger  data-action="toggle" style="cursor: pointer;"></i>

<div #content *ngIf="isOpen" class="menu-container">
 
  <div (click)="orderedit()" class="menu-item tick" > Edit <img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
  <!-- <div  (click)="orderReceive()" class="menu-item tick">Receive<img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
  <div (click)="oderCancel()" class="menu-item tick" > Cancel<img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
  <div  (click)="oderShip()" class="menu-item tick">Ship<img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div> -->

 
</div>