<div class="mainclass">
  
  <div class="addUser">
    <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
</div>
  <div class="head-t">
    <h3 class="addU font">Bulk Edit Association</h3>
  </div>

  <div class="d-flex flexcss">
    <button type="button" class="saveas-draft4" (click)="onBtnExport()">Download </button>

  </div>
  <!-- <br>
  <br>
  <br> -->
<!-- <div class="row bulkEditLabel">
  <div class="col-2">
    <label>Product <span>*</span></label>
  </div>
  <div class="col-2">
    <label>Geography <span>*</span></label>
  </div>
  <div class="col-2">
    <label>Dealer <span>*</span></label>
  </div>
</div> -->

  <div class="drpd d-flex DropDownFlex " >
    <div class="search-d">
      <label>Product <span class="mandatory">*</span></label>
      <form [formGroup]="myForm1" class="dropdown-form">
        <ng-multiselect-dropdown class="roless-product" name="city1" [placeholder]="'Product'" formControlName="city1"
          [disabled]="disabled" [settings]="dropdownSettings2" [data]="ProductListArray"
          (onSelect)="onItemProductSelect($event)" (onDeSelect)="onItemProductDeSelect($event)"
          (onDeSelectAll)="onItemProductDeSelectOrAll($event)" (onSelectAll)="onItemProductSelectOrAll($event)">
        </ng-multiselect-dropdown>
        <div class="dropdown-placeholder catty-placeholder">
          <span *ngIf="myForm1.get('city1').value.length == 0">Select Product </span>
          <span *ngIf="myForm1.get('city1').value.length == 1" class="selected-placeholder">
            {{myForm1.get('city1').value.length}} Product</span>
          <span *ngIf="myForm1.get('city1').value.length > 1" class="selected-placeholder">
            {{myForm1.get('city1').value.length}} Product(s)</span>
  
        </div>
      </form>
    </div>
    <div class="search-d">
      <label>Geography <span class="mandatory">*</span></label>
      <form [formGroup]="myForm" class="dropdown-form">
        <ng-multiselect-dropdown class="roless" name="city" [placeholder]="'Geographies'" formControlName="city"
          [disabled]="disabled" [settings]="dropdownSettings" [data]="toppingList" (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onItemDeSelectOrAll($event)"
          (onSelectAll)="onItemSelectOrAll($event)">
        </ng-multiselect-dropdown>
        <div class="dropdown-placeholder catty-placeholder">
          <span *ngIf="myForm.get('city').value.length == 0"> Select Geography</span>
          <span *ngIf="myForm.get('city').value.length == 1" class="selected-placeholder">
            {{myForm.get('city').value.length}} Geography</span>
          <span *ngIf="myForm.get('city').value.length > 1" class="selected-placeholder">
            {{myForm.get('city').value.length}} Geography(s)</span>
  
        </div>
      </form>
    </div>
    <div class="search-d">
      <label>Dealer <span class="mandatory">*</span></label>
      <form [formGroup]="myForms" class="dropdown-form">
        <ng-multiselect-dropdown class="stts" name="citys" [placeholder]="'Dealer'" formControlName="citys"
          [disabled]="disabled" [settings]="dropdownSettings1" [data]="dealerListArray"
          (onSelect)="onItemDealerSelect($event)" (onDeSelect)="onItemDealerDeSelect($event)"
          (onDeSelectAll)="onItemDealerDeSelectOrAll($event)" (onSelectAll)="onItemDealerSelectOrAll($event)">
        </ng-multiselect-dropdown>
        <div class="dropdown-placeholder catty-placeholder">
          <span *ngIf="myForms.get('citys').value.length == 0">Select Dealer </span>
          <span *ngIf="myForms.get('citys').value.length == 1" class="selected-placeholder">
            {{myForms.get('citys').value.length}} Dealer</span>
          <span *ngIf="myForms.get('citys').value.length > 1" class="selected-placeholder">
            {{myForms.get('citys').value.length}} Dealer(s)</span>
  
        </div>
      </form>
    </div>
    <div class="search-d">

    </div>

    <div class="search-d">


      <div class="searchBox1 d-flex" style="position: relative;
      top: 20px;">
        <div class="promotiont2">
          <select #teams class="form-select select-asso" aria-label=".form-select-lg example"  [(ngModel)]="selectedGeoField">
            <option value="" disabled selected>Select Field</option>
            <option value="MRP"> MRP</option>
            <option value="MaxOrder"> Max Order Qty</option>
            <option value="MinOrder"> Min Order Qty</option>
            <option value="Margin">Margin</option>
            <option value="Discount"> Discount Percent</option>
            <option value="LeadTimeIndays"> Lead Time</option>
          </select>
        </div>
        <div class="promotiont3">
          <input class="searchInput1" style="font-family: 'Gilroy'" type="text" name="" placeholder="Enter"  [(ngModel)]="updateGeographyValue">
        </div>
        <div class="promotiont3">
          <button type="button" (click)="applySelectedValue()" class="saveas-draft1">Apply </button>

        </div>


      </div>


    </div>
    <div style="width:100px">

      <div class="icon btnhover refreshbtn" style=" cursor: pointer;" (click)="refresh()">
        <img class="refresh" src="assets/img/ultrarefresh.svg" style="position: relative;top: 9px;left: 12px;"
          alt="refresh">
      </div>
    </div>
  </div>
  <br>
  <br> 
  <div class="d-flex main-d">


    <form [formGroup]="addAddressDetailsForm">

      <table formArrayName="BulkAssociationsCount">
        <tr>
          <th style='width: 160px;color: rgba(1,137,117,1);'>
            Product
          </th>
          <th style='width: 150px;color: rgba(1,137,117,1);'>
            Geography
          </th>
          <th style='width: 200px;color: rgba(1,137,117,1);'>
            Dealer
          </th>
          <th style='width: 119px;color: rgba(1,137,117,1);'>
            MRP(INR)
          </th>

          <th style='width: 119px;color: rgba(1,137,117,1);'>
            Min Order Qty
          </th>
          <th style='width: 119px;color: rgba(1,137,117,1);'>
            Max Order Qty
          </th>
          <th style='width: 119px;color: rgba(1,137,117,1);'>
            Margin %
          </th>
          <th style='width: 119px;color: rgba(1,137,117,1);'>
            Discount %
          </th>
          <th style='width: 119px;color: rgba(1,137,117,1);'>
            Lead time(days)
          </th>
          
        </tr>

        <tr *ngFor="let quantity of BulkAssociationsCount().controls; let i=index" [formGroupName]="i">
          <td *ngIf="ProductGEOID">
            <input type="text" class="uom-cls" formControlName="ProductSKUGeographyId" name="fname" id="fname" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].ProductSKUGeographyId">

          </td>
         
          <td>
            <input type="text" class="testcalss" id="fname" tabindex="0" data-toggle="tooltip" [title]="addAddressDetailsForm.value.BulkAssociationsCount[i].ProductName" data-placement="top" name="fname" formControlName="ProductName" readonly>
          </td>
          <td>
            <input type="text" class="testcalss" id="fname" name="fname" formControlName="GeographName" readonly>
          </td>
          <td>
            <input type="text" class="testcalss" id="fname" tabindex="0" data-toggle="tooltip" [title]="addAddressDetailsForm.value.BulkAssociationsCount[i].DealerName" data-placement="top"  name="fname" formControlName="DealerName" readonly>
          </td>
          <td>
            <input type="text" class="uom-cls" id="fname" name="fname"  formControlName="MRP" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].MRP">
          </td>
          <td>
            <input type="text" class="uom-cls" id="fname" name="fname" formControlName="MinOrder" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].MinOrder">
          </td>

          <td>
            <input type="text" class="uom-cls" formControlName="MaxOrder" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].MaxOrder">
          </td>

          <td>
            <input type="text" class="uom-cls" formControlName="Margin"  [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].Margin">
          </td>

          <td>
            <input type="text" class="uom-cls" formControlName="Discount" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].Discount">
          </td>

          <td>
            <input type="text" class="uom-cls" formControlName="LeadTimeIndays"  [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].LeadTimeIndays">


          </td>
          <td *ngIf="ProductSKUCode">
            <input type="text" class="uom-cls" formControlName="productSKUId" name="fname" id="fname" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].productSKUId">

          </td>

          <td *ngIf="ProductSKUCode">
            <input type="text" class="uom-cls" formControlName="GROID" name="fname" id="fname" [(ngModel)]="addAddressDetailsForm.value.BulkAssociationsCount[i].GROID">

          </td>

          
          <td>
            
            <div class="icon btnhover1 refreshbtn" style=" cursor: pointer;" (click)="change(i)">
              <img class="refresh" src="assets/img/ultrarefresh.svg" style="position: relative;top: 9px;left: 12px;"
                alt="refresh">
            </div>
          </td>
        </tr>



      </table>
    </form>

  </div>

  <div class="row savebtnall">
    <div class="col-md-6">
      <button type="button" class="saveas-draft" (click)="saveBulkEdit()">Save All </button>
    </div>
    <div class="col-md-6">
      <button type="button" [mat-dialog-close]="true" class="saveas-draft2">Discard All</button>
    </div>
  
    <!-- <div class="col-md-5">              
                <button type="button" [mat-dialog-close]="true" class="cancel">Cancel</button>                 
        </div> -->
  </div>



  <ag-grid-angular id="gridContainer" 
  style=" height: 400px;background-color: white;font-family: Gilroy; margin-left: 20px;visibility: hidden;"
  class="ag-theme-material"[rowData]="rowData5" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" ></ag-grid-angular>

</div>