::ng-deep.mat-dialog-container {

    border-radius: 21px;
}
label
{
    font-family: 'Gilroy-Bold';
}

.btn {
    background-color: #000000;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    height: 43px;
}

.product-placeholder.dropdown-placeholder .selected-placeholder {
    color: #44026C !important;
}

::ng-deep.product .multiselect-dropdown .dropdown-btn .selected-item {
    background: #44026C !important;
    font-size: 12px;
    height: fit-content;
    right: 10px;
}
::ng-deep .product.multiselect-item-checkbox input[type=checkbox]+div:before {
    border: 2px solid #000000 !important;
  }

::ng-deep.product .multiselect-dropdown {
    border: 1px solid black !important;
    border-radius: 6px;
}

::ng-deep.product .dropdown-btn span .ng-star-inserted {
    position: absolute !important;
    right: 291px!important;
    
    top: 48px !important;
    /* width: 51px; */
     border: 1px solid #000000 !important;
    background: #44026C !important;
    font-size: 12px;
    box-shadow: 1px 1px #959595;
    color: #fff;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
}
::ng-deep.product .multiselect-dropdown .dropdown-btn .selected-item {
    background: #44026C !important;
    font-size: 12px;
    height: fit-content;
    right: 10px;
  }
  
  ::ng-deep .product .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    background: #44026C !important;
  }

.dropdown-form-packing {
    background-color: white;
    border-radius: 12px;
    color: grey;
    font-size: 14px;
}

.dropdown-placeholder {
    background: transparent;
    color: #808080;
    top: 0;
    position: absolute;
    height: 37px;
    line-height: 41px;
    left: 15px;

    width: 88%;
    border-radius: 10px 0 0 10px !important;
    padding-left: 10px;
    pointer-events: none;
}

.product-placeholder.dropdown-placeholder .selected-placeholder {
    color: #44026C !important;
}

.mat-form-field-flex {
    padding-top: -10px;
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    height: 37px;

    /* background-color: #CED4DA; */
}

.main {
    background-image: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}

.font {
    font-family: 'Gilroy';
}

.head-t h3 {
    color: #000000;
    text-align: center;
    margin-top: -20px;
    font-family: 'Gilroy-Bold';
}

.addU {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.addU:after {
    content: "";
    display: block;
    width: 220px;
    height: 2px;
    background: #686E74;
    right: 12px;
    top: 50%;
    position: absolute;
}

.addU:before {
    content: "";
    display: block;
    width: 220px;
    height: 2px;
    background: #686E74;
    left: 13px;
    top: 50%;
    position: absolute;
}

.addUserForm input {
    border-radius: 5px;
    border: black 1px solid;
    padding: 5px 5px;
    width: 250px;
    font-size: 14px;
    outline: none !important;
}

.addUserForm1 input {
    border-radius: 5px;
    border: red 1px solid !important;
    padding: 5px 5px;
    width: 250px;
    font-size: 14px;
    outline: none !important;
}

span {
    color: red;
}

.close-icon {
    left: 100%;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    top: -2px;
    cursor: pointer;
}

label {
    font-size: 14px;
    margin: 5px;
}

mat-form-field {
    width: 246px;

}



::ng-deep.mat-dialog-container {
    background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
    ;
    /* height: 300px; */
    overflow: auto;

}

.btn-primary:disabled {
    border-color: black;
    background-color: black;
    width: 100%;
    /* margin-left: 79px; */
    /* margin-top: -12px;
    width:66%;justify-content: center;margin-left: 71px; */
}

/* Packing Charges text */

.packingText {
    color: #000000;
    font-size: 20px;
    font-family: 'Gilroy-Light';
}

.bothDown {
    margin-top: 45px;
}

.colorText {
    color: red;
}

.addAlign {
    margin-left: 99%;
    cursor: pointer;
}

.addUserForm input {
    border-radius: 10px;
    /* border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important; */
    border: black 1px solid;
    padding: 5px 5px;
    width: 135px;
    height: 43px;
    font-size: 14px;
    outline: none !important;
    margin-bottom: 5px;
}

.removeCircle {
    margin-left: 99%;
    margin-top: 7px;
    color: red;
    cursor: pointer;
}

.classborder {
    border: red;
}

.removeCircle1 {
    margin-left: 99%;
    margin-top: 37px;
    color: #686E74;
    cursor: pointer;
}

.minus-icon10 {
    background-color: #686E74;
    margin-left: 243px;
    margin-top: -36px;
    color: white;
    text-align: center;
    border-radius: 90%;
    width: 20px !important;


}

.searchBox[_ngcontent-hbx-c448]:hover>.searchInput[_ngcontent-hbx-c448] {
    width: 230px;
    padding: 0 47px;
    left: -295%;
}

@media screen and (max-width: 620px) {
    .addUserForm input {
        width: 50px;
    }

    #pValue {
        width: 100px !important;
    }

    .removeCircle {
        margin-left: 206%;
        margin-top: 60px;
        color: red;
    }

    .addU:before {
        width: 64px;
        left: 0px;
    }

    .addU:after {
        width: 69px;
        right: -7px;
    }
}

.popup-srcoll {
    height: 370px;
    overflow-x: hidden;
}

.scroll {
    overflow-y: auto;
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
}

.save-btn {
    width: 168;
    height: 43px;
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-left: -15px;
}

.input-error {
    border: 1px solid red !important;
    outline: red;
}

::ng-deep.dropdown-list {
      height: 178px;  
    overflow-y: auto !important;
}

::ng-deep.dropdown-list .item2{
    max-height: inherit !important;
}

::ng-deep.custom-flex-dropdown .dropdown-btn{
    display: flex !important;
    justify-content: initial;
    position: relative;
}

::ng-deep.custom-flex-dropdown .dropdown-btn span .ng-star-inserted{
    position: relative !important;
    top: 38px !important;
    right: 0 !important;
    padding-left: 7px;
}