<div *ngIf="confirmOrder!=''" class="font">
    <div class="main">
        <div class="container promotionpopup-scroll">
            <div class="addUser">
                <img class="print-img" src="../../../assets/material/print-img.svg" alt="">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="false">close</mat-icon>

            </div>
            <div class="head-t">
                <h3 class="addU font">{{"Confirm Order"}}</h3>
                <div class="row top-bottom">
                    <div class="row text-center"></div>
                </div>

                <div (click)="expandDealerInfoDiv()" class="collapsible">
                    <div class="row">
                        <div class="col-md-11">
                            <p class="label-cls">Dealer Information</p>
                        </div>
                        <div class="col-md-1">
                            <img [src]="image1" class="expand-arrow" alt="add-user-btn">
                        </div>
                    </div>
                </div>
                <div class="content contentscrobar  "  *ngIf="!dealerInfo">
                    <div class="row ">
                        <div class="col-lg-3">
                            <div class="dealerr">
                                <label class="DealerInfo-label">Dealer  <span class="astr">*</span></label>
                                <ng-select disabled [items]="dealerListArray" id="dealerAllArray" name="dealerAllArray" required
                                    [virtualScroll]="true" bindLabel="customerName" bindValue="customerId"
                                    [searchable]="true" [clearable]="false"
                                     placeholder=" Search & select dealer" 
                                    
                                    [(ngModel)]="customerId" (change)="onItemSelectdealers($event)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="geographyy">
                                <label class="DealerInfo-label">Geography <span class="astr">*</span></label>
                                <ng-select disabled class="selectgeo" [items]="GeoGrapydropdownListdata" id="GeoGrapydropdown"
                                    name="GeoGrapydropdown" required [virtualScroll]="true" bindLabel="geographyName"
                                    bindValue="geographyId" [searchable]="true" [clearable]="false"
                                    placeholder="Select geography" [(ngModel)]="geographyId"
                                    (change)="onItemSelectgeo($event)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="billingAdrs">
                                <label class="DealerInfo-label">Billing Address {{BillingaddressId}} <span
                                        class="astr">*</span></label>
                                <!-- <input matInput placeholder=" Select Billing address" #input class="form-control container input-box" > -->
                                <ng-select disabled class="BillingAddress" [items]="dealersbillingAddress" id="BillingAddress"
                                    name="BillingAddress" required [virtualScroll]="true" bindLabel="Billingaddress"
                                    bindValue="BillingaddressId" [searchable]="true" [clearable]="false"
                                    placeholder="Select  billing address" [(ngModel)]="BillingaddressId"
                                    (change)="onItemSelectBillingAddress($event)">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="dealerReff">
                                <label class="DealerInfo-label">Dealer Reference No <span class="astr">*</span></label>
                                <input disabled type="number" placeholder="Enter" id="DealerReferenceNo"
                                    [(ngModel)]="DealerReferenceNo" class="form-control container input-box">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="companyReff">
                                <label class="DealerInfo-label">Company Reference No <span class="astr"></span></label>
                                <input disabled type="number" placeholder="Enter" id="CompanyReferenceNo"
                                    [(ngModel)]="CompanyReferenceNo" class="form-control container input-box">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="shippingAdrs">
                                <label class="DealerInfo-label">Shipping Address <span class="astr"></span></label>
                                <!-- <input matInput placeholder="Select shipping address" #input class="form-control container input-box" > -->
                                <ng-select disabled class=" Select shiping address" [items]="dealersShippingAddress" id="shipingAddress"
                                    name="shipingAddress" required [virtualScroll]="true" bindLabel="address"
                                    bindValue="addressId" [searchable]="true" [clearable]="false"
                                    placeholder="Select  shipping address" [(ngModel)]="addressId"
                                    (change)="onItemSelectshippingAddress($event)">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="top-bottom">
                    <div class="collapsible">
                        <div class="row">
                            <div class="col-lg-6" (click)="expandOrderItemsDiv()">
                                <p class="label-cls">Items</p>
                            </div>
                            <!-- <div class="col-lg-5">
                                <div class="addbtns d-flex">
                                    <div class="addEditPromotion">
                                        <button (click)="addOrderPromotionList()" class="add-edit-promo">Add/Edit Promo
                                            Items</button>
                                    </div>
                                    <div class="addEditNonPromotion">
                                        <button (click)="addOrderNonPromotionList()" class="add-edit-non-promo">Add/Edit
                                            Non Promo Items</button>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-1" (click)="expandOrderItemsDiv()">
                                <img [src]="image2" class="expand-arrows" alt="add-user-btn">
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="!orderitem">
                        <div class="section mt-1">
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>UoM</th>
                                    <th>Order Qty</th>
                                    <th>Stock</th>
                                    <th>Unit Price</th>
                                    <th>Discount</th>
                                    <th>Tax</th>
                                    <th>Final Value</th>
                                    <th>Amount</th>
                                </tr>
                                <!-- promotion list view -->
                                <ng-container *ngFor="let PromotionObj of AddOrderPromotionData; let i=index;">
                                    <tr *ngFor="let Item of PromotionObj.itemDetails; let j=index;">
                                        <td disabled>
                                            <p class="itemLeft"><span class="promoItem" style="color: #fff;"
                                                    *ngIf="j==0"> P {{i + 1}}</span>
                                                {{Item.stockitemname}}</p>
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.uomname"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.quantity"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.stock" class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.price" class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.discount"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.taxvalue"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.finalValue"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.amount"
                                                class="IteminputBoxes">
                                        </td>
                                        <mat-icon class="removeCircle" *ngIf="j==0">
                                            remove_circle</mat-icon>
                                    </tr>
                                </ng-container>
                                <!-- nonpromotions list view -->
                                <tr *ngFor="let Item of AddorderNonpromotiondata?.itemDetails; let i=index;">
                                    <td>
                                        <p class="itemLeft"><span class="promoItem" *ngIf="i == 0"> NP
                                            </span>{{Item.stockitemname}}</p>
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.uomname" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.quantity" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.stock" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.price" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.discount" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.taxvalue" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.finalValue"
                                            class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.amount" class="IteminputBoxes">
                                    </td>
                                    <mat-icon class="removeCircle" (click)=removeNonPromotionItem(Item)>
                                        remove_circle</mat-icon>
                                </tr>

                            </table>
                        </div>
                        <div class="row mt-2">
                            <div class="totall" *ngIf="shippingPackingchargeDetails">
                                <div class="innerTotal d-flex">
                                    <div class="subitem">
                                        <p class="alltotals">Sub Total</p>
                                        <span>{{shippingPackingchargeDetails.subTotal}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals">Tax Element</p>
                                        <span>{{shippingPackingchargeDetails.taxElement}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals">Packing Charge</p>
                                        <span>{{shippingPackingchargeDetails.packingCharges}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals">Shipping Charge</p>
                                        <span>{{shippingPackingchargeDetails.shippingCharges}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals">Total</p>
                                        <span>{{shippingPackingchargeDetails.total}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="top-bottom">
                    <div (click)="expandOtherInfoDiv()" class="collapsible">
                        <div class="row">
                            <div class="col-md-11">
                                <p class="label-cls">Other Information</p>
                            </div>
                            <div class="col-md-1">
                                <img [src]="image3" class="expand-arrow" alt="add-user-btn">
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="!otherInfo">
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="orderDatepicker">
                                    <label class="boldR">Requirement Date </label>
                                    <mat-form-field disabled appearance="fill" class="datepc">
                                        <mat-label>Select a date</mat-label>
                                        <input matInput disabled [matDatepicker]="picker" (dateChange)="dateChange($event)"
                                            [(ngModel)]="startdate">
                                        <mat-datepicker-toggle disabled matSuffix [for]="picker"
                                            class="calicon"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="promotiont">
                                    <label class="delivery1">Delivery Instructions/Extra Information</label>
                                </div>
                                <textarea disabled class="text-area-extrainfo" style="resize: none;"
                                    placeholder="Please write down if there are any delivery instructions or extra information you want to share"
                                    name="w3review" rows="2" [(ngModel)]="DeliveryInstructions" cols="65"></textarea>


                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
    <div class="row footers">
        <div class="col-md-5">
            <button type="button" class="saveas-draft"  (click)="GetConfirmOrders()">Confirm</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="save-submit" (click)="GetRejectOrders()">Reject</button>
        </div>
    </div>
</div>
<div *ngIf="confirmOrder==''" class="font">
    <div class="main">
        <div class="container promotionpopup-scroll">
            <div class="addUser">
                <img class="print-img" src="../../../assets/material/print-img.svg" alt="">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="false">close</mat-icon>

            </div>
            <div class="head-t">
                <h3 class="addU font">{{actineLabel}}</h3>
                <div class="row top-bottom">
                    <div class="row text-center"></div>
                </div>

                <div (click)="expandDealerInfoDiv()" class="collapsible">
                    <div class="row">
                        <div class="col-md-11">
                            <p class="label-cls">Dealer Information</p>
                        </div>
                        <div class="col-md-1">
                            <img [src]="image1" class="expand-arrow" alt="add-user-btn">
                        </div>
                    </div>
                </div>
                <div class="content contentscrobar  "  *ngIf="!dealerInfo">
                    <div class="row ">
                        <div class="col-lg-3">
                            <div class="dealerr">
                                <label class="DealerInfo-label">Dealer <span class="astr">*</span></label>
                                <ng-select [items]="dealerListArray" id="dealerAllArray" name="dealerAllArray" required
                                    [virtualScroll]="true" bindLabel="customerName" bindValue="customerId"
                                    [searchable]="true" [clearable]="false" placeholder=" Search & select dealer"
                                    [(ngModel)]="customerId" (change)="onItemSelectdealers($event)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="geographyy">
                                <label class="DealerInfo-label">Geography <span class="astr">*</span></label>
                                <ng-select class="selectgeo" [items]="GeoGrapydropdownListdata" id="GeoGrapydropdown"
                                    name="GeoGrapydropdown" required [virtualScroll]="true" bindLabel="geographyName"
                                    bindValue="geographyId" [searchable]="true" [clearable]="false"
                                    placeholder="Select geography" [(ngModel)]="geographyId"
                                    (change)="onItemSelectgeo($event)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="billingAdrs">
                                <label class="DealerInfo-label">Billing Address {{BillingaddressId}} <span
                                        class="astr">*</span></label>
                                <!-- <input matInput placeholder=" Select Billing address" #input class="form-control container input-box" > -->
                                <ng-select class="BillingAddress" [items]="dealersbillingAddress" id="BillingAddress"
                                    name="BillingAddress" required [virtualScroll]="true" bindLabel="Billingaddress"
                                    bindValue="BillingaddressId" [searchable]="true" [clearable]="false"
                                    placeholder="Select  billing address" [(ngModel)]="BillingaddressId"
                                    (change)="onItemSelectBillingAddress($event)">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="dealerReff">
                                <label class="DealerInfo-label">Dealer Reference No</label>
                                <input type="text" placeholder="Enter" id="DealerReferenceNo"
                                    [(ngModel)]="DealerReferenceNo" class="form-control container input-box">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="companyReff">
                                <label class="DealerInfo-label">Company Reference No</label>
                                <input type="number" placeholder="Enter" id="CompanyReferenceNo"
                                    [(ngModel)]="CompanyReferenceNo" class="form-control container input-box">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="shippingAdrs">
                                <label class="DealerInfo-label">Shipping Address <span class="astr">*</span></label>
                                <!-- <input matInput placeholder="Select shipping address" #input class="form-control container input-box" > -->
                                <ng-select class="shipingAddress" [items]="dealersShippingAddress" id="shipingAddress"
                                    name="shipingAddress" required [virtualScroll]="true" bindLabel="address"
                                    bindValue="addressId" [searchable]="true" [clearable]="false"
                                    placeholder="Select shipping address" [(ngModel)]="addressId"
                                    (change)="onItemSelectshippingAddress($event)">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="top-bottom">
                    <div class="collapsible">
                        <div class="row">
                            <div class="col-lg-6" (click)="expandOrderItemsDiv()">
                                <p class="label-cls">Items</p>
                            </div>
                            <div class="col-lg-5">
                                <div class="addbtns d-flex">
                                    <div class="addEditPromotion">
                                        <button (click)="addOrderPromotionList()" class="add-edit-promo">Add/Edit Promo
                                            Items</button>
                                    </div>
                                    <div class="addEditNonPromotion">
                                        <button (click)="addOrderNonPromotionList()" class="add-edit-non-promo">Add/Edit
                                            Non Promo Items</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1" (click)="expandOrderItemsDiv()">
                                <img [src]="image2" class="expand-arrow" alt="add-user-btn">
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="!orderitem">
                        <div class="section mt-1">
                            <table>
                                <tr>
                                    <th>Item</th>
                                    <th>UoM</th>
                                    <th>Order Qty</th>
                                    <th>Stock</th>
                                    <th>Unit Price</th>
                                    <th>Discount</th>
                                    <th>Tax</th>
                                    <th>Final Value</th>
                                    <th>Amount</th>
                                </tr>
                                <!-- promotion list view -->
                                <ng-container *ngFor="let PromotionObj of AddOrderPromotionData; let i=index;">
                                    <tr *ngFor="let Item of PromotionObj.itemDetails; let j=index;">
                                        <td>
                                            <p class="itemLeft"><span class="promoItem" style="color: #fff;"
                                                    *ngIf="j==0"> P {{i + 1}}</span>
                                                {{Item.stockitemname}}</p>
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.uomname"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.quantity"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.stock" class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.price" class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.discount"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.taxvalue"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.finalValue"
                                                class="IteminputBoxes">
                                        </td>
                                        <td>
                                            <input type="text" disabled [(ngModel)]="Item.amount"
                                                class="IteminputBoxes">
                                        </td>
                                        <mat-icon class="removeCircle" *ngIf="j==0"
                                            (click)="removePromotionItem(Item, PromotionObj.promotionId)">
                                            remove_circle</mat-icon>
                                    </tr>
                                </ng-container>
                                <!-- nonpromotions list view -->
                                <tr *ngFor="let Item of AddorderNonpromotiondata?.itemDetails; let i=index;">
                                    <td>
                                        <p class="itemLeft"><span class="promoItem" *ngIf="i == 0"> NP
                                            </span>{{Item.stockitemname}}</p>
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.uomname" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.quantity" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.stock" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.price" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.discount" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.taxvalue" class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.finalValue"
                                            class="IteminputBoxes">
                                    </td>
                                    <td>
                                        <input type="text" disabled [(ngModel)]="Item.amount" class="IteminputBoxes">
                                    </td>
                                    <mat-icon class="removeCircle" (click)=removeNonPromotionItem(Item)>
                                        remove_circle</mat-icon>
                                </tr>

                            </table>
                        </div>
                        <div class="row mt-2">
                            <div class="totall" *ngIf="shippingPackingchargeDetails">
                                  <div class="innerTotal d-flex">
                                    <div class="subitem">
                                        <p class="alltotals sub_totallss">Sub Total</p>
                                        <span id="totallsss">{{shippingPackingchargeDetails.subTotal}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals tax_element">Tax Element</p>
                                        <span>{{shippingPackingchargeDetails.taxElement}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals packing_Charges">Packing Charge</p>
                                        <span>{{shippingPackingchargeDetails.packingCharges}}</span>
                                    </div>
                                    <div class="subitem">
                                        <p class="alltotals shipping_charges">Shipping Charge</p>
                                        <span id="Shippinggg">{{shippingPackingchargeDetails.shippingCharges}}</span>
                                    </div>
                                    <div class="subitem total_total">
                                        <p class="alltotals totaltotal ">Total</p>
                                        <span id="totallsss">{{shippingPackingchargeDetails.total}}</span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>


                <div class="top-bottom">
                    <div (click)="expandOtherInfoDiv()" class="collapsible">
                        <div class="row">
                            <div class="col-md-11">
                                <p class="label-cls">Other Information</p>
                            </div>
                            <div class="col-md-1">
                                <img [src]="image3" class="expand-arrow" alt="add-user-btn">
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="!otherInfo">
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="orderDatepicker">
                                    <label class="boldR">Requirement Date </label>
                                    <mat-form-field appearance="fill" class="datepc">
                                        <mat-label>Select a date</mat-label>
                                        <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)"
                                            [(ngModel)]="startdate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"
                                            class="calicon"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="promotiont">
                                    <label class="delivery1">Delivery Instructions/Extra Information</label>
                                </div>
                                <textarea class="text-area-extrainfo" style="resize: none;"
                                    placeholder="Please write down if there are any delivery instructions or extra information you want to share"
                                    name="w3review" rows="2" [(ngModel)]="DeliveryInstructions" cols="65"></textarea>


                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
    <div class="row footer">
        <div class="col-md-5">
            <button type="button" class="saveas-draft"  (click)="ordersubmit('draft')">Save as draft</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="save-submit" (click)="ordersubmit('save')">Save & submit</button>
        </div>
        <div class="col-md-5">
            <button type="button" [mat-dialog-close]="false" class="cancel">Cancel</button>
        </div>
    </div>
</div>
<!-- non promotions -->
<div class="overlay" *ngIf="Non_promotions && confirmOrder ==''">
    <div class="popup">
        <div class="font">
            <div class="main">
                <div class="container promotionpopup-scroll">
                    <div class="addUser">
                        <a class="close-icon" (click)="closePopup()">&times;</a>

                    </div>
                    <div class="head-t">
                        <h3 class="addU font">{{actineLabel}} : <b>Non-Promotions</b></h3>

                    </div>
                    <div class="nonpromo ">
                        <div class="row  mt-3  spacedropdown ">
                            <div class="col-lg-10 ">
                                <div class="row  ">
                                    <div class="col-md-3  dropdownborder">
                                        <div class="input-icons ">
                                            <form [formGroup]="categoryForm" class="dropDown-field">
                                                <ng-multiselect-dropdown class="catty select_category" name="city"
                                                    [placeholder]="'Category'" formControlName="categoryy"
                                                    [disabled]="disabled" [settings]="dropdownSettingscat"
                                                    [data]="catagoryData" (onSelect)="onItemSelect($event)"
                                                    (onDeSelect)="onItemDeSelect($event)"
                                                    (onDeSelectAll)="onItemDeSelectOrAll($event)"
                                                    (onSelectAll)="onItemSelectOrAll($event)">
                                                </ng-multiselect-dropdown>
                                                <div class="dropdown-placeholder catty-placeholder">
                                                    <span *ngIf="categoryForm.get('categoryy').value.length == 0"
                                                        style="color:grey;"> Select Category </span>
                                                    <span *ngIf="categoryForm.get('categoryy').value.length == 1"
                                                        class="selected-placeholder">
                                                        {{categoryForm.get('categoryy').value.length}} Category </span>
                                                    <span *ngIf="categoryForm.get('categoryy').value.length > 1"
                                                        class="selected-placeholder">
                                                        {{categoryForm.get('categoryy').value.length}} Category(s)
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dropdownborder">
                                        <div class="input-icons ">
                                            <form [formGroup]="subcategoryForm" class="dropDown-field">
                                                <ng-multiselect-dropdown class="subcatty sub_category" name="subCategory"
                                                    [placeholder]="''" formControlName="subCategory"
                                                    [disabled]="disabled" [settings]="dropdownSettingssubcat"
                                                    [data]="sub_category" (onSelect)="onSubCategorySelect($event)"
                                                    (onDeSelect)="onSubCategoryDeSelect($event)"
                                                    (onDeSelectAll)="onSubCategoryDSelectOrAll($event)"
                                                    (onSelectAll)="onSubCategorySelectOrAll()">
                                                </ng-multiselect-dropdown>
                                                <div class="dropdown-placeholder subcatty-placeholder">
                                                    <span *ngIf="subcategoryForm.get('subCategory').value.length == 0"
                                                        style="color:grey;"> Select Subcategory </span>
                                                    <span *ngIf="subcategoryForm.get('subCategory').value.length == 1"
                                                        class="selected-placeholder">
                                                        {{subcategoryForm.get('subCategory').value.length}}
                                                        subcategory</span>
                                                    <span *ngIf="subcategoryForm.get('subCategory').value.length > 1"
                                                        class="selected-placeholder">
                                                        {{subcategoryForm.get('subCategory').value.length}}
                                                        subcategory(s)
                                                    </span>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dropdownborder">
                                        <div class="input-icons ">
                                            <form [formGroup]="type" class="dropDown-field">
                                                <ng-multiselect-dropdown class="stts stts_typeselected" name="type" [placeholder]="'Type'"
                                                    formControlName="type" [disabled]="disabled"
                                                    [settings]="dropdownSettingstypeid" [data]="typeI"
                                                    (onSelect)="onTypeSelect($event)"
                                                    (onDeSelect)="onTypeDeSelect($event)"
                                                    (onSelectAll)="onTypeSelectOrAll()"
                                                    (onDeSelectAll)="OnTypeDeselectOrAll()">
                                                </ng-multiselect-dropdown>
                                                <div class="dropdown-placeholder type-placeholder">
                                                    <span *ngIf="type.get('type').value.length == 0"
                                                        style="color:grey;"> Select
                                                        Type </span>
                                                    <span *ngIf="type.get('type').value.length == 1"
                                                        class="selected-placeholder"> {{type.get('type').value.length}}
                                                        Type
                                                        selected </span>
                                                    <span *ngIf="type.get('type').value.length > 1"
                                                        class="selected-placeholder"> {{type.get('type').value.length}}
                                                        Type(s)
                                                        selected </span>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dropdownborder">
                                        <div class="input-icons ">
                                            <form [formGroup]="myFormsIdentifier" class="dropDown-field">
                                                <ng-multiselect-dropdown class="identifier identi_fier" [placeholder]="'Identifier'"
                                                    formControlName="identifiers"
                                                    [settings]="dropdownSettingsmaterialid" [data]="materialIdentifier"
                                                    (onSelect)="onMaterialIdentifierSelect($event)"
                                                    (onDeSelect)="onMaterialIdentifierDeSelect($event)"
                                                    (onDeSelectAll)="onMaterialIdentifierDeSelectOrAll()"
                                                    (onSelectAll)="onMaterialIdentifierSelectOrAll()">
                                                </ng-multiselect-dropdown>
                                                <div class="dropdown-placeholder identifier-placeholder">
                                                    <span *ngIf="myFormsIdentifier.get('identifiers').value.length == 0"
                                                        style="color:grey;"> Select identifiers </span>
                                                    <span *ngIf="myFormsIdentifier.get('identifiers').value.length == 1"
                                                        class="selected-placeholder">
                                                        {{myFormsIdentifier.get('identifiers').value.length}}
                                                        identifiers
                                                         </span>
                                                    <span *ngIf="myFormsIdentifier.get('identifiers').value.length > 1"
                                                        class="selected-placeholder">
                                                        {{myFormsIdentifier.get('identifiers').value.length}}
                                                        identifier(s)
                                                         </span>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="icon btnhover refreshbtn">
                                    <img src="assets/img/Vector.png" (click)="refresh()" class="refresh-icon"
                                        alt="refresh">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-12 nonpromoSearch">
                                <div class="col-md-4 srch-hover">
                                    <div class="searchBox1 d-flex">
                                        <input class="searchInput1" type="text" name=""
                                            placeholder="Type & search for anything" (keyup)="onSearchChange($event)">

                                        <button class="search-btn">Search</button>
                                        <button class="searchButton" href="#">
                                            <i class="material-icons">
                                                search
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="label-div">
                            <table>
                                <thead>
                                    <tr>
                                        <th data-sortable="true">Product Name</th>
                                        <th data-sortable="true">Material identifier</th>
                                        <th data-sortable="true">classification</th>
                                        <th data-sortable="true">SKU</th>
                                        <th data-sortable="true">Price</th>
                                        <th data-sortable="true">Stock Qty</th>
                                        <th data-sortable="false">Tax Templete</th>
                                        <th data-sortable="false">Quantity</th>
                                        <th data-sortable="false">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-row" *ngFor="let Item of orderNonPromotionsdata">
                                        <td><input type="checkbox" [checked]="Item.isPromotionSelected"
                                                (change)="checkboxChange($event,Item)">{{Item.stockitemname}}</td>
                                        <td>{{Item.materialCustomName}}</td>
                                        <td>{{Item.classification}}</td>
                                        <td>{{Item.productSKUName}}</td>
                                        <td>{{Item.price}}</td>
                                        <td><input type="text"   placeholder="Enter" class="quatity-inp"
                                                [(ngModel)]="Item.stock"></td>
                                        <!-- <td>{{Item.stockqty}}</td> -->
                                        <td style="width:110px;">
                                            <select class="tax-select"  [(ngModel)]="Item.taxid">
                                                <option value="" selected hidden>Select tax</option>
                                                <option *ngFor="let option of taxdropdowndata"
                                                    [value]="option.taxTemplateId">
                                                    {{option.taxTemplateName}}
                                                </option>
                                            </select>
                                            <!-- <ng-select [items]="taxdropdowndata" placeholder="Select Tax"
                                    bindLabel="taxTemplateName" bindValue="taxTemplateId">
                                    </ng-select> -->
                                            <img src="assets/img/doubleTickes-default.svg" alt="double-blue-tick"
                                                style="margin-left: 5px;">
                                        </td>

                                        <td><input type="number" placeholder="Enter" class="quatity-inp"
                                                [(ngModel)]="Item.quantity" (keyup)="quantityChange()"></td>
                                        <td>{{(Item.quantity ?? 0) * Item.price }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="bottom-table">
                                        <td colspan="4" class="btm-total"><b>Total </b>(for selected items &
                                            quantity entered)</td>     
                                        <td class="btm-total" >{{quantityadd ?? 0}}</td>
                                        <td class="btm-total">{{price ?? 0}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="add-itemBtn mt-5">
                    <button type="button" class="saveas-draft1" (click)="addnonPromoItems()">Add items</button>

                </div>
            </div>
        </div>
    </div>
</div>