#TotalORDER_qty
{
  display: inline-block;
vertical-align: middle; 
 font-family: 'Calibri';
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
margin-top: 20px;
}
#This_qty
{
  display: inline-block;
  vertical-align: middle; 
   font-family: 'Calibri';
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  margin-top: 20px;
}
#Total_order_qty
{
  position: relative;
    top: 18%;
    left: 24%;
    color: black;
    font-weight: bold;
}
#This_order_qty
{
  position: relative;
    top: 18%;
    left: 27%;
    color: black;
    font-weight: bold;
}
#This_order_amount
{
  position: relative;
    top: 18%;
    left: 26%;
    color: black;
    font-weight: bold;
}
#THISORDERQTY
{
  position: relative;
  top: -39%;
  left: 60%;
  color: black;
  font-weight: bold;
}




.promotionclass
{
  font-family: 'Calibri';
  font-size: 14px;
  color: rgba(1, 139, 117, 1);
  background-color: #018B75;
  border: none;
  background: none;
  
}
.nonpromoclassName
{
  font-family: 'Calibri';
  font-size: 14px;
  border: none;
  background: none;

  
}


.orderqty
{
  border: 1px solid rgba(225, 226, 227, 1);
}
.totalQTY
{
    color: gray;
    position: relative;
    left: -22%;
    top: 6px;
}
.totalAmount
{
    color: gray;
    position: relative;
    right: -35%;
    z-index: 1;
    top: 6px;
}
#price
{
  position: relative;
    top: -27px;
    right: -70%;
    color: gray;
}
#ThisorderQTY
{
  position: relative;
    left: 16px;
}
#thisORDERQTY
{
  position: relative;
  right: 2.5rem;
}

.saveitems

{
  background: rgba(1, 139, 117, 1);
  color: white;
  font-family: 'Calibri';
  border: 2px solid  rgba(1, 139, 117, 1);

}
.addbuttons
{
  margin: auto;
  text-align: center;
  
}

.form-control-plaintext
{
 color: rgba(104, 110, 116, 1);
 font-family: 'Calibri';
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.04em;
}

.table-headercolor
{
color: white;
background: rgba(1, 139, 117, 1);
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}
#thisorderqty
{
  margin-left: -20%;
  position: relative;

}

#totalnonprobackcolor
{
  background: rgba(1, 139, 117, 1);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 10px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 101%;
  left: 1px;
  margin-left: -3px;

}
.headingcontent
{
  width: 52%;
  float: right;
  margin-top: 26px;
  border: 1px solid rgba(225, 226, 227, 1);

  height: 130px;
  margin-right: 20px;
}
.nonproitemsconfiorm
{
  border: 1px solid rgba(225, 226, 227, 1);
  border-radius: 10px;
  height: 233px;
  margin-top: 12px;
}
#itemsnonheading
{
  position: relative;
  top: 6px;
  color: white;
}
.headingnonpro
{
  height: 34px;
  /* color: white; */
  margin-left: 3%;
}
#actionheading
{
  font-family: 'Calibri';
  color: white;
}
/* ::-webkit-scrollbar {
  width: 10px; 
} */

::-webkit-scrollbar-thumb {
  background-color: rgba(1, 139, 117, 1);
  border-radius: 5px; 
}


  



.producty-placeholder.dropdown-placeholder .selected-placeholder {
  color: #44026C !important;
}
.product-placeholder.dropdown-placeholder .selected-placeholder {
  color: #44026C !important;
}
.head-t
{
  margin-top: -24px;
}
.head-tt
{
  margin-top: -37px;
}
.head-tt h3 {
  color: #000000;
  text-align: center;
  margin-bottom: 2px;
 cursor: pointer;
 font-size: 20px;
 
}
.TOTAL
{

  /* margin: auto; */
  width: 35% !important;
  background: #FFFFFF;
  border-radius: 21px;
  padding: 5px;
  font-size: 13px;
   margin-left: 76%; 
   border: 1px solid rgba(0, 0, 0, 0.2);
  
}
.numbers
{
  padding-right: 5%;
  color: rgba(1, 139, 117, 1);

}
.SUBITEMNAME {
  font-size: 14px;
  font-family: 'Calibri';
  font-weight: 400;
  line-height: 15.87px;
  color: rgba(1, 139, 117, 1);

}

 


::ng-deep.orders-add-Promotions .mat-dialog-container {
  position: relative;
  left: 2px; 
}

.card1.selected {
  border: 5px solid #187ddd;
}
.selected {
  background-color: #00187A;
  color: white;
}


::-webkit-scrollbar {
  
  height: 18px;  
}
.tableclass
{
  
  /* height: 316px; */
  height: 378px;
}
.dropng
{
 
  position: relative;
  left: -2%;
}

.drop_ng
{
 
  position: relative;
  left: -4%;
}
.Drop_ng
{
 
  position: relative;
  left: -6%;
}
.dropng_ng
{
  position: relative;
  left: 3%;
}

#color
{
  color: #000;
  font-weight: bolder;
}
#colorr
{
  color: whitesmoke;
  font-weight: bolder;
  margin-left: 12px;
}

.sub-confirom
{
  
width: 129px;
height: 52px;
margin-right: -6px;

background: #686E74;
border-radius: 0px 21.2px 21.2px 0px;
margin-top: -5px;
}



.sub-confiromtot
{
  margin-top: 4px;
  margin-left: 12px;
  color: white;

}


.matformfield {
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}










::-webkit-scrollbar { 
   overflow-x: scroll;
    height: 0.4em;
    border-radius: 20px;
}


.input-box::placeholder
{
  
  color: #999;

}
.errormsg{
  color:red;
  position: relative;
  font-size: 13px;
  bottom: 11px;
}
.my_Datepicker {
  border-radius: 2px;
  font-family: 'Gilroy';
}

::ng-deep.my_Datepicker .mat-form-field {
    width: 415px; 
  height: 43px;
  background: white !important;
  border-radius: 5px;
  padding-left: 10px;

}
::ng-deep.my_Datepicker .mat-icon-button {
  background: transparent;
  color: black;
  position: relative;
  right: 8px;
}
::ng-deep.my_Datepicker .mat-icon-button {
  background: transparent;
  color: black;
  position: relative;
  right: 8px;
  /* border: none;
  width: 0em !important; */
}
::ng-deep.promotion-datepicker .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
  margin-top: -4px !important;
}

.placeh-align {
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.calendarToggle {
  position: absolute;
  bottom: 4px;
  width: 20px;
  right: 10px;
}
::ng-deep.my_Datepicker .mat-form-field {
   width: 415px; 
  height: 43px;
  background: white !important;
  border-radius: 5px;
  padding-left: 10px;

}
::ng-deep.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
  width: 0em !important;
  border: none;
}
::ng-deep.promotion-datepicker .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
  margin-top: -4px !important;
}

 .mat-form-field::placeholder {
  bottom: 2px;

} 


input.mat-input-element {
  
  
  
  
  margin-top: -3px;
}
#tax_color
{
  color: black;
    font-weight: 700;
}
#pkcharger
{
  color: black;
  font-weight: 700;
}
#Shippinggg
{
  color: black;
  font-weight: 700;
}
.tota_al
{
  
    position: relative;
    right:160px;
}
.amount_t
{
  position: relative;
  left: -77px;
   
}




.dropdownborder
{
  border-left:  1px  solid #000000 !important;
  border-radius: 13px;
}
::ng-deep.dropdown-list ul {
  
  
  overflow-x: hidden;
  
}

::ng-deep.dropdown-list   {
  
  overflow: hidden;
}
.spacedropdown
{
     margin-left: 1px;
}

.catty
{
  background-color: #2F8F9E;
}
::ng-deep .dropdown_list .dropdown-list  {
  position: absolute;
  padding-top: 6px;
  width: 105%;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  margin-top: 0px !important;
  box-shadow: 0 1px 5px #959595;
  left:-6%;
  
}

::ng-deep .select_category .dropdown-btn span .ng-star-inserted 
{
  position: absolute !important;
  right: -26px !important;
  bottom: 0px;
  top: 50px !important;
 width: 39px;
 border: 1px solid #337ab7;
 background: #00187A !important;
 font-size: 12px;
 box-shadow: 1px 1px #959595;
 color: #fff;
 height: 20px;
 border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
}
   
     
     
::ng-deep .sub_category .dropdown-btn span .ng-star-inserted 
{
  position: absolute !important;
  right: -27px !important;
  bottom: 0px;
  top: 50px !important;
 width: 39px;
 border: 1px solid #337ab7;
 background: #0C5A3E !important;
 font-size: 12px;
 box-shadow: 1px 1px #959595;
 color: #fff;
 height: 20px;
 border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
}



::ng-deep .stts_typeselected .dropdown-btn span .ng-star-inserted 
{
  position: absolute !important;
  right: 7px !important;
  bottom: 0px;
  top: 50px !important;
 width: 39px;
 border: 1px solid #337ab7;
 background: #C32F27 !important;
 font-size: 12px;
 box-shadow: 1px 1px #959595;
 color: #fff;
 height: 20px;
 border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
}
  


::ng-deep .identi_fier .dropdown-btn span .ng-star-inserted 
{
  position: absolute !important;
  right: -16px !important;
  bottom: 0px;
  top: 50px !important;
 width: 39px;
 border: 1px solid #337ab7;
 background: #2F8F9E !important;
 font-size: 12px;
 box-shadow: 1px 1px #959595;
 color: #fff;
 height: 20px;
 border-radius: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: -1px;

  padding-left: 5px;
}
  






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 .contentscrobar
{
   
   height: 100px;
 } 



/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mat-form-field {
  /* width: 229px; */
  width: 100%;
  height: 38px;
  border-radius: 10px;
  font-family: 'Gilroy';
  
}

.mat-form-field::placeholder {
  bottom: 2px;
}
.delivery1 {
  /* font-weight: bold;  */
  font-family: 'Gilroy-SemiBold';
  color: #000000;
  font-size: 14px;
  margin-left: 18px;
}

.boldR {
    font-weight: bold;  
   font-family: 'Gilroy-SemiBold';
   color: #000000;
   font-size: 14px;
}

.form-control::placeholder {
  font-family: 'Gilroy-Regular';
  font-size: 14px;
  line-height: 16px;
  color: rgba(104, 110, 116, 0.75);

}

.rr::placeholder {
  color: #C32F27;
}
.materialname {
  margin-top: 3px;
  font-family: 'Gilroy';
  margin-left: -4px;
}

.additional {
  margin-top: -10px;
  font-family: 'Gilroy';
  margin-left: -4px;
}
.promotiont1 {
  margin-top: 3px;
  font-family: 'Gilroy';
  margin-left: 2px;
  font-weight: bold;
  font-family: 'Gilroy-Medium';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0em;
  color: #000000;


}
.promotiont {
  margin-top: 3px;
  font-family: 'Gilroy';
  margin-left: 2px;
}
.promotiont {
  margin-top: 3px;
  font-family: 'Gilroy';
  margin-left: 2px;
}
.image {
  font-family: 'Gilroy';
  margin-left: 2px;
  position: relative;
  top: -260px;
  left: 415px;

}

.geography {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 450px;

}

/* ::ng-deep.steppers .prod.mat-horizontal-content-container {
  width: 800px !important;
} */
.scroll {
  overflow-y: auto;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  /* background: #b3b3bc; */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
}

.description {
  font-family: 'Gilroy';
  margin-top: 15px;
}

.materialci {
  font-family: 'Gilroy';
  margin-top: -29px;
  margin-left: 499px;
}

.imageofm {
  font-family: 'Gilroy';
  margin-top: -31px;
  margin-left: 314px;
}

.expiryperiod {
  font-family: 'Gilroy';
  margin-top: 10px;
  margin-left: 498px;
}

.describem {
  width: 250px;

}

.uom {
  margin-top: 16px;
  font-family: 'Gilroy';
  margin-left: -5px;
}

.sub-category {
  margin-top: -28px;
  margin-left: 255px;
  font-family: 'Gilroy';
}

.type {
  margin-top: -30px;
  margin-left: 496px;
  font-family: 'Gilroy';
}

.font {
  font-family: 'Gilroy';
}

.heading {
  margin-top: 8px;
  font-family: 'Gilroy';
}

::ng-deep.mat-stepper-vertical,
.mat-stepper-horizontal {
  display: inline;
  width: 500px;
}

::ng-deep.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
  width: 767px;
  margin-top: -51px;
}

.mat-horizontal-stepper-wrapper {
  margin-top: -47px;

}

/* .mat-horizontal-stepper-header-container ng-tns-c418-7 {
  margin: top -51px;
}; */
::ng-deep.input.mat-input-text {
  margin-top: -9px;
  margin-left: -6px;
}

/*old css*/

.mat-form-field-flex {
  padding-top: -10px;
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
  height: 37px;

  /* background-color: #CED4DA; */
}

.font {
  font-family: 'Gilroy';
}
.FONT {
  font-family: 'Gilroy';
  margin-top: 10px;
}

.head-t h3 {
  color: #000000;
  text-align: center;
  margin-bottom: 2px;
 cursor: pointer;
 font-size: 20px;
 font-family:' Calibri';
 font-weight: bold;
 
}
.addU {
  position: relative;
  font-family: 'Calibri';
  font-size: 20px;
}
.labelU
{
  position: relative;
  font-family: 'Calibri';
  font-size: 20px;
}
.addU:after {
  content: "";
  display: block;
   width: 33%; 
  
  height: 2px;
   background: #686E74; 
  
margin-left: 62%;
   
  top: 50%;
  position: absolute;
}

.addU:before {
  content: "";
  display: block;
  
  width: 34%;
  height: 2px;
   background: #686E74; 
  left: 4%;
  top: 50%;
  position: absolute;
}
.addUser1Form input {
  border-radius: 5px;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  padding: 5px 5px;
  width: 250px;
  font-size: 14px;
  outline: none;
}

.addUserForm input {
  border-radius: 5px;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
  padding: 5px 5px;
  width: 250px;
  font-size: 14px;
  outline: none;
}
.addUser1 {
  margin-top: -12px;
}

.astr {
   color: red; 
}
span {
  color: red;
}
/* .close-icon {
  position: sticky;
  top: 0;
  float: right;
  margin-right: 10px;
  z-index: 1;
  cursor: pointer;
  margin-top: 27px;
} */
.close-icon{
  position: fixed;
  top: 0;
  float: right;
  /* z-index: 1; */
  cursor: pointer;
  margin-top: 12px;
  margin-left: 94%;
}
.close_icon
{
  /* position: fixed;
  top: 0;
  float: right;
 
  cursor: pointer;
  margin-top: 12px;
  margin-left: 94%; */
  cursor: pointer;
  float: right;
  margin-top: -6px;
}
.close-iconn {
  left: 97%;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  top: -2px;
}
label {
  /* padding: 2px 0; */
  font-size: 14px;
  margin: 5px;
}
.DealerInfo-label {
  margin: 5px;
  font-size: 14px;
  align-items: center;
  font-weight: 400;
  color: #000000;
  font-family: 'Gilroy-SemiBold';
}
mat-form-field {
  width: 246px;

}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0.7em 0;
  border: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important;
}

::ng-deep.mat-dialog-container {
  /* background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%) !important; */
   /* overflow: auto;  */
   overflow: hidden;
  


}



.categorydrp {
  width: 205px;
}

.subcategorydrp {
  width: 205px;
  margin-left: 250px;
  margin-top: -40px;
}

.typedrp {
  width: 205px;
  margin-left: 499px;
  margin-top: -42px;
}

.customidentifier {
  width: 205px;
  margin-left: 499px;
  margin-top: -145px;
}

.uomp {
  margin-left: 499px;
  margin-top: -29px;
}

.promotiontypedrp {
  width: 390px;
  margin-top: 2px;
  color: lightgrey;
  font-family: 'Gilroy';
}

.brandname {
  margin-top: 1px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.globalcode {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.brandpl {
  margin-top: 10px;
}

.sku {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.shortcode {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.productg {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.manualsort {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.productdrp {
  width: 309px;
  margin-top: 8px;
  margin-left: -2px;
}

.productsg {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.productlink {
  margin-top: -35px;
  margin-left: 388px;
  font-family: 'Gilroy';
}

.productsdrp {
  width: 309px;
  margin-top: 8px;
  margin-left: -2px;
}

.productci {
  margin-top: 10px;
  margin-left: -5px;
  font-family: 'Gilroy';
}

.identiersdrp {
  width: 735px;
  margin-top: 8px;
  margin-left: -2px;

}


.mat-slide {
  margin-left: 620px;
  color: black;
  font-family: 'Gilroy';
  margin-top: -1px;
}

.city {
  margin-left: 608px;
  margin-top: -30px;
}

.state {
  margin-left: 228px;
  margin-top: -29px;
}

.region {
  margin-left: 425px;
  margin-top: -29px;
}

.mat-card {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  height: 190px;
  width: 186px;

  /* font-size: 10px; */
}

::ng-deep.matcard-dealers .mat-card {
  width: 373px;
  height: 218px;
}

.catg {
  background: #EAEEFF;
  border: 1px solid #00187A;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #00187A;
  padding: 5px;
  text-align: center;
}

div.catg[data-selected] {
  border: 2px solid #333;
}

.subc {
  background: #E6FFF6;
  border: 1px solid #0C5A3E;
  border-radius: 10px;
  color: #0C5A3E;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.typeg {
  background: #FFEDEC;
  border: 1px solid #C32F27;
  border-radius: 10px;
  color: #C32F27;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

li {
  list-style: none;
}

.addcat {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-right: 10px;
  font-size: 13px;
  color: rgba(104, 110, 116, 0.75);
  padding: 8px 16px;
  /* width: 150px; */
  margin-left: -12px;
}

.addcode {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 13px;
  color: rgba(104, 110, 116, 0.75);
  padding: 8px 20px;
}

.span-subhead {
  margin-bottom: 10px;
  display: flex;
  color: rgba(104, 110, 116, 0.75);
  font-size: 13px;
}

.selected {
  background-color: #00187A;
  color: white;
}

.subselected {
  background: #0C5A3E;
  color: white;
}

.typeselected {
  background: #C32F27;
  color: white;
}

.row {
  width: 100%;
}

.bar {
  height: 400px;
  overflow-y: scroll;
  overflow-x: scroll;
  /* height: 500px; */
}

.geo {
  margin-top: 18px;
  font-family: 'Gilroy';
}

.minorder {
  margin-top: -29px;
  margin-left: 310px;
  font-family: 'Gilroy';
}

.mrp {
  position: relative;
  left: 27%;
  font-family: 'Gilroy';
}

.max {
  margin-top: -29px;
  margin-left: 409px;
  font-family: 'Gilroy';
}

.discount {
  margin-top: -29px;
  margin-left: 608px;
  font-family: 'Gilroy';
}

.margin {
  margin-top: -29px;
  margin-left: 512px;
  font-family: 'Gilroy';
}

.leadt {
  position: relative;
  left: 90%;
  top: -32px;
  font-family: 'Gilroy';
}

.registration {
  top: -64px;
  left: 105%;
  position: relative;
  font-family: 'Gilroy';
}

.tags {
  position: relative;
  left: 125%;
  top: -93px;
  font-family: 'Gilroy';
}

.Kedah {
  margin-top: 24px;
  margin-left: 4px;
}

.mala {
  margin-top: -111px;
  margin-left: 4px;
}

.Perak {
  margin-top: 18px;
  margin-left: 4px;
}

.Penang {
  margin-top: 17px;
  margin-left: 4px;
}

.North {
  margin-top: 17px;
  margin-left: 4px;
}

/* .geoo{
  width: 900px;
} */
.addlink {
  margin-top: -21px;
  margin-left: 987px;

}

.numberl {
  margin-top: -21px;
  margin-left: 799px;
}

.headergeo {
  position: relative;
  left: -7%;
  top: -29px;
}

.malainput {
  position: relative;
  left: -7%;
}

.kedahinput {
  position: relative;
  left: -7%;
}

.perakinput {
  position: relative;
  left: -7%;
}

.penanginput {
  position: relative;
  left: -7%;
}

.northinput {
  position: relative;
  left: -7%;
}

.infosize {
  width: 300px !important;
}

::ng-deep.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

.submitbtn {
  margin-top: 12px;
}

::ng-deep.mat-step-text-label {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}
::ng-deep.datepicker .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .75em .75em 0 .75em;
  border-radius: 14px;
  width: 393px;
  height: 42px;

}
.datepicker.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
  background-color: white;
  font-family: "Gilroy";
}

.mat-card-subtitle:before {
  content: "";
  display: block;
  width: 372px;
  height: 1px;
  background: lightgrey;
  right: 0;
  top: 17%;
  position: absolute;
}

.mat-card-subtitle {
  font-weight: bold;
  font-family: 'Gilroy';
}

.alignment {
  position: relative;
  left: 209px;
}

.btn-row {
  margin-top: -2px;
}

.material-card {
  margin-top: -5px;
}

.getgrp {
  position: relative;
  left: 403px;
  top: -74px;
}

.productlevel {
  position: relative;
  font-family: 'Gilroy';
  bottom: 95px;
}

.items {
  position: relative;
  font-family: 'Gilroy';
  bottom: 153px;
}

.itemstwo {
  position: relative;
  font-family: 'Gilroy';
  bottom: 500px;
  left: 408px;
}

.qty {
  position: relative;
  font-family: 'Gilroy';
  bottom: 328px;
  left: 293px;
}

.qtytwo {
  position: relative;
  font-family: 'Gilroy';
  bottom: 678px;
  left: 708px;
}

.moq {
  position: relative;
  font-family: 'Gilroy';
  bottom: 321px;
  left: 293px;
}

.productleveltwo {
  position: relative;
  font-family: 'Gilroy';
  bottom: 166px;
  left: 406px;
}

.hide .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  overflow: hidden;
  display: none;
  /* background-image: url('../../../../assets/img/maximize.png');   */
  background-size: 13px;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 12px;
  margin-right: -10px;
}

.productdrpdown {
  width: 365px;
  position: relative;
  bottom: 89px;
}
.promotion-card {
   height: 215px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow-y: auto;
  margin-top: -10px;
}

.promoimgs {
  display: -webkit-box;
}
.card1 {
  height: 114px;
  width: 109px;
  border-radius: 10px;
  margin-top: 21px;
  margin-left: 61px;
  cursor: pointer;
}
.card1.selected {
  border: 5px solid #187ddd;
}
.selected {
  background-color: #00187A;
  color: white;
}
.productdrpdowntwo {
  width: 365px;
  position: relative;
  bottom: 160px;
  left: 414px;
}
.search-img {
  width: 17px;
  position: relative;
  top: -25px;
  left: 145px;
}

.input-box {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  /* width: 260px; */
  height: 36px;
  font-size: 13px;
  padding: 0 7px;
}

.collapsible {
  cursor: pointer;
 padding-left: 1%;
   width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  background: linear-gradient(0deg, #018B75, #018B75);
 border: rgba(152, 156, 160, 1);
  border-radius: 10px;
}
.coll_apsible {
  cursor: pointer;
  padding-left: 1%;
   width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #018B75, #018B75);
  border: 1px solid rgba(152, 156, 160, 1);
  color: white;
  border-radius: 10px;
}
.coll_apsiblee {
  cursor: pointer;
  padding-left: 1%;
   width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 10px;
}
.collapsiblePro {
  cursor: pointer;
  padding-left: 1%;
   width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 10px;
  margin-top: 2%;
}

/* .active, .collapsible:hover {
  background-color: #555;
} */

.content {
  padding: 0 18px 10px;
  overflow: hidden;
  box-sizing: border-box;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #686E74;
  border-radius: 0px 0px 10px 10px;
   overflow: auto; 
  
  margin: 0px 18px;
  
}
.con_tent {
  padding: 0 18px 10px;
  box-sizing: border-box;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #686E74;
  border-radius: 0px 0px 10px 10px;
   overflow: auto; 
  
  margin: 0px 18px;
  
}
.con_tentConform {
  padding: 0 18px 10px;
  box-sizing: border-box;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #686E74;
  border-radius: 0px 0px 10px 10px;
   overflow: auto; 
  
  margin: 0px 18px;
  
}
.top-bottom {
  margin-top: 9px;
}
.t_op-bottom {
  margin-top: 10px;
}
.t_op-bottomConform
{
  margin-top: 10px;
}

.label-cls {
  position: relative;
  top: 6px;
  font-family: 'Gilroy-Light';
  font-size: 18px;
}
.label-class {
  position: relative;
  top: 6px;
  font-family: 'Gilroy-Light';
  font-size: 18px;
}
.add-edit-promo {
  color: #fff;
  background: #000000;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Gilroy-SemiBold';
}
.add-edit-non-promo {
  background: linear-gradient(0deg, #018B75, #018B75);
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  font-size: 13px;
  color: white;
  border: 1px solid rgba(152, 156, 160, 1);
  text-align: center;
  cursor: pointer;
  font-family: 'Gilroy-SemiBold';
  margin-top: 2%;
}
.promotions-label {
  /* margin-left: -12px; */
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  align-items: center;
  color: #000000;
}

.buy-text {
  font-size: 13px;
  align-items: center;
  color: #C32F27;
}

.main {
  overflow-x: hidden !important;
   /* height: 621px;  */
   margin-top: -1%;
  height: 652px
}
.mai_n {
  overflow-x: hidden !important;
   margin-top: -1%;
  height: 700px
}

.promotionpopup-scroll1 {
  max-height: 532px !important;
}
.promotionpopup-scroll2 {
  max-height: 532px !important;
  margin-top: 23px;
  /* margin-top: -13px; */
}

.promotionpopup-scroll3 {
  max-height: 532px !important;
  margin-top: 17px;
}


.footer {
  /* position: fixed; */
  border-radius: 0px 0px 25px 25px;
  height: 50px;
  width: 860px !important;
  margin: auto;
  position: relative;
  bottom: 9px;
}
.footers {
  border-radius: 0px 0px 25px 25px;
  height: 50px;
  width: 860px !important;
  margin:auto;

}
.save-submit11 {
  background: linear-gradient(0deg, #018B75, #018B75);
  border: 1px solid rgba(152, 156, 160, 1);
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
 color: white;
  margin-top: 15px;
  cursor: pointer;
  width: 168px;
  height: 43px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
 float: right;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;


}
.saveas-draft22 {

  background: rgba(1, 139, 117, 1);
  border: 1px solid rgba(152, 156, 160, 1);
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  width: 168px;
  height: 43px;
  border-radius: 10px;


  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 18px;

  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.save-submit {
   background:  rgba(1, 139, 117, 1);
   border: 1px solid rgba(152, 156, 160, 1);
     box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  width: 168px;
  height: 43px;

  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;


}
.save-submi_t
{
  background: rgba(1, 139, 117, 1);
  border: 1px solid rgba(152, 156, 160, 1);
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 10px;

  margin-top: 15px;
  cursor: pointer;
  width: 168px;
  height: 43px;

  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;

  color: #000000;


}
.saveas-draft {

  background: rgba(1, 139, 117, 1);
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 4px rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  
  margin-top: 15px;
  cursor: pointer;
  width: 168px;
  height: 43px;
  border-radius: 10px;
  float: right;

  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  line-height: 18px;

  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.tabel-div {
  margin-top: 15px;
  /* max-height: 321px; */
  border: 2px solid rgba(1, 139, 117, 1);
  border-radius: 15px;
  height: 414px;
  /* overflow-x: hidden !important; */
}
.buy-grp {
  /* font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300; */
  font-size: 13px;
  /* line-height: 23px;
  display: flex;
  align-items: center; */
  color: #000000;
}
.total-items {
  /* font-family: 'Gilroy-Bold'; */
  font-size: 13px;
  /* line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center; */
  color: #000000;
}
.cancel {
  font-size: 15px;
   width: 106px; 
  height: 39px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border: none;
  margin-top: 15px;
  margin-left: 59px;
  font-weight: bold;
  text-decoration-line: underline;
  cursor: pointer;

  font-family: 'Gilroy-Bold';
  


}
.print-img {
  float: right;
  width: 8%;
  position: relative;
  top: 5px;
}

.uom-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.qyt-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.stack-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.value-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 54px
}

.dis-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.final-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.tax-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.amt-cls {
  border: 0.5px solid #000000;
  border-radius: 10px;
  width: 100px
}

.company-cls {
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 100%;
  height: 35px;
}
::ng-deep.dealerr .ng-select-container {
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 30px;
}
::ng-deep.selectgeo .ng-select-container {
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 30px;
}

::ng-deep.shipingAddress .ng-select-container {
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 30px;
}
::ng-deep.BillingAddress  .ng-select-container {
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 30px;
}

 ::ng-deep.orderDatepicker .mat-form-field-appearance-fill .mat-form-field-flex {
   /* width: 230px; */
  
  height: 40px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 0 5px;
  

}

.addbtns {
  float: right;
  margin-right: -13%;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button .mat-datepicker-toggle-default-icon {
  margin: auto;
  margin-top: -27px;
}
#protype
{
  display: inline-flex;
    width: 200px;
    position: relative;
    left: 91px;
    bottom: 20px;
}
.expand-arrow_W
{
  cursor: pointer;
    /* width: 3%; */
    position: relative;
    left: -1%;
}

.expand-arrow {
  width: 22%;
  position: relative;
  left: 72px;
  top: 4px;
}
.expand-arrows {
  width: 22%;
  position: relative;
right: -675px;
  top: 5px;
}
.expand-arrowws {
  width: 22%;
  position: relative;
right: -65px;
  top: 5px;
}
/* ::ng-deep.selectgeo .multiselect-dropdown .dropdown-btn {
  font-size: 13px;
  padding: 5px 12px !important;
  height: 30px;
  color: rgba(104, 110, 116, 0.75);
} */

::ng-deep.billAddress .multiselect-dropdown .dropdown-btn {
  font-size: 13px;
  padding: 5px 12px !important;
  height: 30px;
  color: rgba(104, 110, 116, 0.75);
}

::ng-deep.billAddress .multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #00187A !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 10px !important;
  float: left;
  display: flex;
  max-width: 170px !important;
  position: relative;
  top: 0px !important;
}

::ng-deep.shipingAddress .multiselect-dropdown .dropdown-btn {
  font-size: 13px;
  padding: 5px 12px !important;
  height: 30px;
  color: rgba(104, 110, 116, 0.75);
}

::ng-deep.shipingAddress .multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #337ab7;
  margin-right: 4px;
  background: #00187A !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 10px !important;
  float: left;
  display: flex;
  max-width: 170px !important;
  position: relative;
  top: 0px !important;
}

.IteminputBoxes {
  width: 100px;
  /* height: 30px; */
  background: none;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 12.5px;
  border: 0px;
  text-align: right;
}
.IteminputBoxesprice {
  width: 100px;
  /* height: 30px; */
  background: none;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 12.5px;
  border: 0px;
  text-align: right;
}
.IteminputBoxesPriceBOX {
  width: 100px;
  /* height: 30px; */
  background: none;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 12.5px;
  border: 0px;
  text-align: right;
}
.IteminputBoxesD {
  width: 100px;
  height: 30px;
  background: none;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 12.5px;
  color: green;
  border: 0px;
  text-align: center;
}

.itemLeft {
  /* width: 150px; */
  /* font-size: 12.5px; */
  height: 1px;
  text-align: left;
}

.text-area-extrainfo {
  height: 62px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-size: 13px;
  font-family: 'Gilroy-Light';
  color:#000000;
  width: 100%;
  margin-left: 16px;
  

}
/* ::ng-deep .textarea{
 
} */

.promoItem {
  /* width: 29px;
  height: 21px;
  background: #0091EA;
  border-radius: 68%;
  color: white;
  padding: 3px 5px;
  display: block; */

  width: 50px !important;
    position: relative;
    cursor: pointer;
    color: rgba(1, 139, 117, 1);
    top: -44px;
    left: 67%;

}
#productname
{
    position: relative;
    right: 173px;
    
}


.totall {
  width: 662px;
  height: 53px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 21px;
  padding: 5px;
  font-size: 13px;
  margin: auto;
}

.subitem {
  font-size: 13px;
  width: 132px;
}

.innerTotal {
  margin-left: 15px;
}

.alltotals {
  margin-bottom: 1px;
  font-family: 'Gilroy-Medium';
  font-size: 13px;
} 
.total_total
{
  
width: 129px;
height: 52px;
margin-right: -6px;

background: #686E74;
border-radius: 0px 21.2px 21.2px 0px;
margin-top: -5px;
}
.totaltotal
{
  margin-top: 4px;
  margin-left: 12px;
  color: white;

}
#totallsss
{
  margin-left: 12px;
  color: #000000;
  font-weight: bolder;
}
#totallssss
{
  margin-left: 12px;
  color:whitesmoke;
  font-weight: bolder;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  
}

.cdk-overlay-pane {
  max-width: 75vw !important;
  position: static;
}

.popup {
  /* margin: 41px auto; */
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  
  width: 100vw;
  height: 730px;
  /* min-height: 263px; */
  /* height: auto; */
  /* top: 11%; */
  /* top: 7%; */
  position: relative;
  transition: all 5s ease-in-out;
  /* background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%); */
  border: 0.5px solid #000000;
  border-radius: 25px;
  margin-top: 8px;
  left: 0%;
  
}
.expand-arrow {
  width: 22%;
  position: relative;
  right: -28px;
  top: 4px;
}

.input-icons {
  width: 86%;
  margin-bottom: 10px;
  margin: 0 5px;

}

.input-field {
  width: 180px;
  height: 43px;
  padding: 10px;
  left: 130px;
  text-align: center;
  border-radius: 8px;
}

.input-icons i {
  position: relative;
  left: 30px;
}

.refreshbtn {
  width: 40px;
  height: 39px;
  margin-top: 1px;
  background: rgba(156, 160, 164, 1);
  border-radius: 18%;
  margin-left: 83%;
}

.refreshbtn .refresh-icon {
  margin-top: 10px;
  margin-left: 10px;
}
.refreshbtn:hover
{
  background-color:grey !important;
  color: white !important;
  cursor: pointer;
}

.searchButton {
  display: block;
  color: #FFFFFF;
  width: 37px;
  height: 37px;
  border-radius: 18%;
  background: rgba(156, 160, 164, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
}

.searchBox:hover>.searchButton,
.searchBox>.searchInput,
.search-btn {
  display: none;
}

/* .searchBox {
float:right;
position: absolute;
left: 94%;
top: 6px;
} */
.searchBox:hover>.searchButton {
  display: block;
}

.searchBox:hover>.searchButton {
  /* right: 190px !important; */
  background: transparent !important;
}

.searchInput1 {
  display: none;
}

.searchInput1 :hover {
  display: block;
}

.searchBox1:hover>.searchButton .material-icons {
  position: relative;
  right: 271px;
  color: #000;
  top: 3px;
}

.searchBox:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 84px;
}

.searchBox1:hover>.search-btn {
  display: block;
  height: 26px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.searchBox1:hover>.searchInput1 {
  display: block;
  width:311px;
  height:41px;
  background: #FFFFFF;
  float: left;
  padding: 5px 32px 6px;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #263643;
  box-shadow: 0px 4px 77px rgba(0, 0, 0, 0.05);
  /* // transition: 0.2s  ease-in-out; */
  position: absolute;
  right: 0px;
  bottom: -3px;
}

.searchBox1 {
  float: right;
  position: relative;
  top: -87px;
  left: -29px;
}

.nonpromoSearch {
  display: flex;
  justify-content: end;
  margin-bottom: -6px;
}

table {
  /* padding: 10px; */
  /* border-collapse: collapse; */
  border-radius: 15px;
  /* border: 1px solid grey; */
  width: 100%;
  background: white;
  font-size: 13px;
  /* height: 322px; */
}


th {
  padding: 8.5px;
  text-align: center;
  font-family: 'Gilroy-Bold';
  font-size: 14px;
}

td {
  text-align: left;
  padding: 3px 0 0 8.5px;
  text-align: center;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: black !important;
}

tr:nth-child(even) {
  background: rgba(222, 226, 230, 0.2);
}

.bottom-table {
  /* border-radius: 0px 0px 24.5px 24.5px; */
  height: 34px;
  color: white;
  
}
.promotionItem
{
  background-color:#FFD580;
}
.tt
{
    height: 34px;
    color: white;
    border-radius: 15px;
 
}
.conform
{
    height: 34px;
    font-weight: bolder;
  
 
}


.check
{
  position: relative;
  top: 4px;
}

/* thead tfoot{
  position: fixed;
}
tbody{
  overflow-x: hidden !important;
  
} */
 tbody {
  display: block;
  /* max-height: 279px; */
  overflow-y: scroll;

}
.tbodayheight
{
  display: block;
   max-height: 339px; 
  overflow-y: scroll;

}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/* thead tr th {
  position: sticky;
  top: 0;
} */


.p1Tag {
  padding: 10px;
  background-color: rgb(24, 125, 221);
  border-radius: 50%;
  padding: 7px 9px;
  margin-top: 10px;
  color: white;
  height: 33px;
  text-align: center;
}

.btm-total {
  padding: 7px;
  
    text-align: left;

}


.tax-select {
  width: 75px;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 8px;
}

.quatity-inp {
  width: 83px;
  height: 25px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 8px;
}

.saveas-draft1 {
  background: #000000;
  border-radius: 10px;
  width: 168px;
  height: 43px;
  margin: auto;
  cursor: pointer;
  font-family: 'Gilroy-SemiBold';
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 71px; 

  position: absolute;
    z-index: 10000;
    left: 45%;
}

.add-itemBtn {
  margin: 28px;
  margin-bottom: 21px;
  display: flex;
}

.dropdown-placeholder {
  background: white;
  color: #808080;
  top: 0;
  position: absolute;
  height: 41px;
  line-height: 41px;
  left: 1px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 80%;
  border-radius: 10px 0 0 10px !important;
  padding-left: 10px;
  pointer-events: none;
}

::ng-deep.catty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #00187A !important;
   right: 30px !important;
   height: fit-content;
  display: block;
}

.catty-placeholder.dropdown-placeholder .selected-placeholder {
  color: #00187A !important;
}

::ng-deep .catty .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #00187A !important;
}

::ng-deep.subcatty .multiselect-dropdown .dropdown-btn .selected-item {
  background: #0C5A3E !important;
 right: 27px !important;
 height: fit-content;
  display: block;
}

::ng-deep .subcatty .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #0C5A3E !important;
}

.subcatty-placeholder.dropdown-placeholder .selected-placeholder {
  color: #0C5A3E !important;
}

::ng-deep.stts .multiselect-dropdown .dropdown-btn .selected-item {
  background: #C32F27 !important;
   left:  -25px !important;
   height: fit-content;
  display: block;
}

.type-placeholder.dropdown-placeholder .selected-placeholder {
  color: #C32F27 !important;
}

::ng-deep .stts .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #C32F27 !important;
}

::ng-deep.identifier .multiselect-dropdown .dropdown-btn .selected-item {
  background: #2F8F9E !important;
  /* right: 6% !important; */
  display: block;
}

.identifier-placeholder.dropdown-placeholder .selected-placeholder {
  color: #2F8F9E !important;
}

::ng-deep .identifier .multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: #2F8F9E !important;
}

::ng-deep.multiselect-item-checkbox input[type=checkbox]+div:before {
  border: 2px solid #000000 !important;
}


.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
  right: -2px;
}

.action-items{
  display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.removeCircle, .edit{
  cursor: pointer;
  color: rgba(1, 139, 117, 1);
  font-family: 'Calibri';
font-size: 13px;
font-weight: 400;
line-height: 16px; 
}
.edit
{
  cursor: pointer;
  color: rgba(1, 139, 117, 1);
 font-family: 'Calibri';
font-size: 15px;
font-weight: 400;
line-height: 16px;
margin-top: -6%;
margin-left: 25%;
}


.txt-right{
  text-align: center;
  padding-right: 15px;
}


::ng-deep.custon-nonprobubbles .dropdown-btn
{
    display: flex !important;
    justify-content: initial;
    position: relative;
}
::ng-deep.custon-nonprobubbles .dropdown-btn span .ng-star-inserted
{
     position: relative !important;
     top: 40px !important;
     right: 17px !important;
     height: 5px;
     display: table-cell;
   }
   ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder{
    font-family: 'Gilroy-Light';
    font-size: 13px;
   }


   .promotion-container{
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
   }

   .promotion-container.selected{
    border: 2px solid #000000;
    background: #fff;
   }
   .promotion-container .img-container{
    /* height: 100px; */
    height: 66px;
    width: 100px;
    display: inline-block;
    overflow: hidden;
    object-fit: cover;
    /* padding: 1px; */
    border: 1px dashed #000;
   }
   

   .promotion-container .img-container img{
    width: 100%;
    height: 56px;
         /* object-fit: cover; */
   }

   .promotion-container .promotion-info{
    color: #000000;
    font-size: 12px;
    margin-left: 10px;
   }

   .promotion-container .promo-view{
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
   }

   .promotion-container .promo-view .mat-icon{
    width: 26px;
    border: 1px solid #ccc;
   }

   .cancel-icon .mat-icon{
    background: #000000;
    color: #FFFFFF;
    position: absolute;
    /* top: -20px; */
    top: -8px;
    padding-top: 1px;
    border-radius: 50%;
    padding-left: 1px;
    margin-left: -5px;
    cursor: pointer;
    display: none;
   }

   
   .promotion-container.selected .cancel-icon .mat-icon{
    display: block;
   }
   .promotion-container .promo-name span{
    color: #000000;
    font-weight: bold;
   }

   .promotion-card .row {
    margin: 0;
    margin-top: 2px;
   }
   .align-center{
    /* text-align: center; */
    text-align: left;
   }
 

   ::ng-deep mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
    background: rgba(1, 139, 117, 1);
    
   
  }
  
  ::ng-deep mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
    background: rgba(196, 196, 196, 1);
   }
  
   ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #000a00e2 !important;
   
    
  }
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color:white !important;
    }
.togglebutton
{
  margin-left: 2%;
  margin-top: -2%;
}
   