<div class="container">
    <div class="row d-flex mt-2">
        <div class="col-lg-6 col-12 srch">
            <div class="input-group">
                <div class="form-outline">
                  <!-- <label class="form-label" for="form1">Search</label> -->
              
                  <input type="search" placeholder="search"  #input class="form-control" style="border:solid #2962ff 1px;" />
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
        </div>
       
      <div class="col-lg-6 col-12 addtax">
        <button class="btn  btnhover addtaxbtn" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   >
        + Add Tax Template
      </button>
    </div>
    </div>
</div>