<app-head (ToggleSideNav)="ToggleSideNav($event)"></app-head>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-sidenav-bar></app-sidenav-bar>
    </mat-sidenav>
    

    <mat-sidenav-content>
        <!--<div class="dash-content" > -->
                <h2 class="sales-header-text">Sales </h2>
                <div *ngIf="print"><img  class="print-img" src="../../../assets/material/print-img.svg" alt="" ></div>
         
                    <div class="UNFAPP-asmnt-rgt-area main othersmastermenutab">
                        <!-- <div class="col-lg-12"> -->
                            <mat-tab-group class="sales-label" (selectedTabChange)="tabClick($event)">
                                <mat-tab label="Inventory" >
                                   <app-sales-inventory></app-sales-inventory>
                                </mat-tab>
                                <mat-tab label="Sales Uploads" >
                                    <app-sales-uploads></app-sales-uploads>
                                </mat-tab>
                                <mat-tab label="Reports" >
                                  <app-sales-reports></app-sales-reports>
                              </mat-tab>
                            </mat-tab-group>
                           
                        <!-- </div> -->
                    </div>
                    
        <!--</div> -->
    </mat-sidenav-content>
    
</mat-sidenav-container>