<app-head></app-head>

<!-- <div class="UNFAPP-asmnt-full-area"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-3">
                <app-sidenav-bar></app-sidenav-bar>
            </div>
            <div class="col-xl-10 col-md-9 ACVTY-no-pad">
                <div class="UNFAPP-asmnt-rgt-area">
                    
    L oading              </div>
    <button (click)="addUser()">dddd</button>
            </div>
        </div>
    </div>
<!-- </div> -->