<app-head></app-head>
<div class="font">
<div class="container-fluid">
    <div class="row">
        <div class="sidebar" style="width: 5%;">
        <app-sidenav-bar></app-sidenav-bar>
    </div>
    <!-- content -->
    <div class="dash-content" style="background: linear-gradient(90.06deg, #CED4DA 0.05%, #F8F9FA 96.47%);
    border-radius: 25px; height:100vh; padding: 10px;width: 95%;">
                       <div class="UNFAPP-asmnt-rgt-area main" style="padding: 15px;">
                        <div class="row">
                          <div class="col-2">
                           <h4 style="
                           font-size: 25px;
                           line-height: 29px;
                           display: flex;
                           align-items: center;
                           
                           color: #000000;"><b>Users</b></h4>
                          </div>
                          </div>
                        <div class="row" style="position: relative;top: 3%;">
                         <!-- <div class="selct_box" style="margin-left: 40px;" > -->
                           <div class="col-md-3 col-lg-3 col-sm-3">
                             <form [formGroup]="myForm">
                           <ng-multiselect-dropdown
                               name="city"
                               [placeholder]="'Role'"
                               formControlName="city"
                               [disabled]="disabled"
                               [settings]="dropdownSettings"
                               [data]="toppingList"
                               (onSelect)="onItemSelect($event)"
                               (onDeSelect)="onItemDeSelect($event)">
                           </ng-multiselect-dropdown>
                      </form>
                         </div>
                         <div class="col-md-3 col-lg-3 col-sm-3">
                           <form [formGroup]="myForms">
                         <ng-multiselect-dropdown
                             name="citys"
                             [placeholder]="'Status'"
                             formControlName="citys"
                             [disabled]="disabled"
                             [settings]="dropdownSettings1"
                             [data]="toppingList1"
                             (onSelect)="onStatusSelect($event)"
                             (onDeSelect)="onStatusDeSelect($event)">
                         </ng-multiselect-dropdown>
                    </form>
                       </div>
                       <div class="icon btnhover" (click)="refresh()">
                         <img src="assets/img/Vector.png" style="position: relative;top: 9px;left: 12px;" alt="refresh" >
                       </div>
                        </div>   
                 <div class="row" style="position:relative;margin-left: 71%;">
                 <div class="searchBox d-flex justify-center align-center">
                   <input class="searchInput" type="text" name="" placeholder="SEARCH" 
                   (keyup)="onSearchChange($event)">
                   <button class="searchButton" href="#"> 
                       <i class="material-icons">
                           search
                       </i>
                   </button>
                 </div>
                 <div class="add-user" (click)="addUser()">
                 <img src="assets/img/add-usr-btn.png" style="position: relative;top: 12px;left: 16px;" alt="add-user-btn">
                 </div>
                 <div class="download-btn" (click)="onBtnExport()">
                 <img src="assets/img/download-btn.png" style="position: relative;top: 12px;left: 18px;" alt="add-user-btn">
                           </div>
                         </div>
               
                         <ag-grid-angular
                 id="gridContainer"
                 style="width: 100%; height: 440px;border-radius: 20px;background-color: white;font-family: Gilroy"
                 class="ag-theme-material"
                 [rowHeight]="32"
                 [headerHeight]="52"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [columnTypes]="columnTypes"
                 [rowData]="rowData5"
                   [suppressExcelExport]="true"
            [popupParent]="popupParent"
                 (cellValueChanged)="onCellValueChanged($event)"
                 (firstDataRendered)="onFirstDataRendered($event)" 
                 (firstDataRendered)="onFirstDataRendered($event)"
                 (rowClicked)="openDialog()"
                 (cellClicked)="onCellClicked($event)"
                 (gridReady)="onGridReady($event)"

                 
                 ></ag-grid-angular>
                  <div >
                 
                 
                 </div>
                 
                 </div>
    </div>
    </div>
</div>
 </div> 