<app-head></app-head>

<!-- <div class="UNFAPP-asmnt-full-area"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-md-3">
                <app-sidenav-bar></app-sidenav-bar>
            </div>
            <div class="col-xl-10 col-md-9 ACVTY-no-pad">
                <div class="UNFAPP-asmnt-rgt-area" style="background-color: #F5F5F5;padding: 15px;">
                 <br>
                 <br>
                <br>   
 <div class="row">
    <div class="col-xl-3 col-md-3">
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
     </div>

     <div class="col-xl-3 col-md-3">
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
     </div>
     <div class="col-xl-3 col-md-3">
        <!-- <mat-form-field appearance="fill">
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        <mat-form-field   style="border:solid blue 1.5px;border-radius: 8px;padding: 4px;">
            <input type="text" matInput placeholder="Search">
            </mat-form-field>
     </div>
 </div>
 <button (click)="addUser()" style="float: right;"> + ADD user</button>
 <br>
 <br>
<div >
  <div class="row" style="background-color: white;margin-right: 0.8px;margin-left: 0.8px;padding-top:5px;">
<div style="background-color: white;" class="col-xl-10 col-md-3">
 <h4 style="color: blue;">Users</h4>

</div>
<div  class="col-xl-2 col-md-3" style="float:right;background-color: white;" >
<button class="btn btn-outline-light" style="border:solid blue 1px;color: black;background-color: white;">Download <img src="../../../assets/img/cloud.png/" alt=""/></button>
</div>
  </div>
 
  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 table-container"  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email Id </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.emailid}} </td>
    </ng-container>
    <ng-container matColumnDef="phonenum">
      <th mat-header-cell *matHeaderCellDef> Phone no </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> {{element.phonenum}} </td>
    </ng-container>
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> Last login </th>
      <td class="tabeldata" mat-cell *matCellDef="let element">2:20</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td class="tabeldata" mat-cell *matCellDef="let element"> <button *ngIf="element.status=='active'" type="button" class="btn btn-primary" style="background-color:  #17B15C;
        ;border: solid #17B15C;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Active</button>
       
       <button *ngIf="element.status=='inactive'" type="button" class="btn btn-primary" style="background-color:  #63e99f;
       ;border: solid #63e99f;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">InActiv</button>
         <button *ngIf="element.status=='locked'" type="button" class="btn btn-primary" style="background-color:  #76817b;
         ;border: solid #76817b;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">locked</button>
           <button *ngIf="element.status=='invited'" type="button" class="btn btn-primary" style="background-color:  #1779b1;
           ;border: solid #1779b1;border-radius: 10px;color: black;font-weight: 500;padding-top: 4px;padding-bottom: 4px;">Invited</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td class="tabeldata" mat-cell *matCellDef="let element">    
        <button mat-button [matMenuTriggerFor]="menu" style="border:white;" class="btn btn-outline-light"><img src="../../../assets/img/edit.svg"  alt=""  /></button>
<mat-menu #menu="matMenu" style="border:white;background-color: white;">
  <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Edit</button>
  <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Deactivate</button>
  <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Reactivate</button>
  <button class="btn btn-outline-light" mat-menu-item style="border:white;background-color: white;" (click)=" editUser()">Reset  password</button>



  <button mat-menu-item  class="btn btn-outline-light" style="border:white;background-color: white;">Delete</button>
</mat-menu></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
  
</div>

</div>
            </div>
        </div>
    </div>
<!-- </div> -->