<div *ngIf="uploadSales" class="container sales-container">
    <div class="addUser">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    </div>
    <span class="ship shipO">Add Sale:</span>
    <h1 class="ship shipBulk">Bulk Upload</h1>
    <div class="sales">
        <div class="row">
            <h4 class="bulk-txt">Bulk upload of sales</h4>
        </div>
        <div class="row">
            <span class="step1-txt">Step 1:</span>
            <h4 class="up-doc"> Upload document</h4>
        </div>
        <label class=" row upload-div">
            <input  type="file" (change)="onFileChange($event)" style="display: none;">
            <img src="../../../assets/img/upload-icon.png"  class="upload-icon" alt="Upload icon">
            <div class="row">
                <h6 class="upload-doc txt-1">Upload the document</h6>
            </div>
            <div class="row">
                <h6 class="upload-doc txt-2">after adding all required information related to sales</h6>
            </div>
       
        </label>
        <!-- <div class="row">
            <h5 class="upload-new-doc">*Upload a new document by clicking <a href="" class="h-link"> here</a></h5>
        </div> -->
        <!-- <div class="row step2">
            <span class="step1-txt">Step 2:</span><h4 class="up-doc">Analyzing Uploaded document</h4>
        </div> -->
        <!-- <div class="row ">
            <input type="text" class="total-rows no-doc col-md-11" placeholder="No document uploaded yet" disabled>
        </div> -->
        <div class="step-2-filled" *ngIf="showTable">
            <div class="row step2">
                <span class="step1-txt">Step 2:</span>
                <h4 class="up-doc">Analyzing Uploaded document</h4>
            </div>
            <div (click)="expandTotalRows()">
                <div class="row">
                    <input type="text" [(ngModel)]="totalRows" style="margin-bottom:36px ;" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 expand-style">
                        <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "!rowsTotal && TotalRows.length>0" class="row ">
                    <table matSort  class="class_table">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th >Product Code</th>
                            <th>Product Name</th>
                            <th>Geography</th>
                            <th>Sale Date</th>
                            <th>Sale Qty</th>
                            <th>Customer Reference</th>
                            <th ></th>
                        </tr>
                        <tr *ngFor="let dupicateData of TotalRows">
            
                            <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                            <td style="width: 130px;" title="" class="elipsis-2line">
                                {{dupicateData.productCode}}</td>
                            <td style="width: 150px;" title="">{{dupicateData.productName}}</td>
                              <td title="">{{dupicateData.geography}}</td>
                            <td>{{dupicateData.saleDate}}</td>
                            <td>{{dupicateData.saleQuantity}}</td>
                            <td style="width: 135px;">{{dupicateData.customerReference}}</td>
                            <td></td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div (click)="expandErrorFree()">
                <div class="row ">
                    <input type="text" [(ngModel)]="errorFree" class="total-rows error-txt col-md-11" disabled>
                    <div class="col-md-1 error-style">
                        <img [src]="image2" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "ErrorFree && errorfreeRows.length>0" class="row">
                    <table matSort  class="class_table">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th >Product Code</th>
                            <th>Product Name</th>
                            <th>Geography</th>
                            <th>Sale Date</th>
                            <th>Sale Qty</th>
                            <th>Customer Reference</th>
                            <th ></th>
                        </tr>
                        <tr *ngFor="let dupicateData of errorfreeRows">
            
                            <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                            <td style="width: 130px;" title="" class="elipsis-2line">
                                {{dupicateData.productCode}}</td>
                            <td style="width: 150px;" title="">{{dupicateData.productName}}</td>
                              <td title="">{{dupicateData.geography}}</td>
                            <td>{{dupicateData.saleDate}}</td>
                            <td>{{dupicateData.saleQuantity}}</td>
                            <td style="width: 135px;">{{dupicateData.customerReference}}</td>
                            <td></td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div (click)="expandDuplicateEntry()">
                <div class="row ">
                    <input type="text" [(ngModel)]="duplicateEntry" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 expand-style">
                        <img [src]="image3" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "!duplicate && duplicateEntryy.length>0" class="row duplicate-tabel">
                    <table matSort  class="class_table">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th >Product Code</th>
                            <th>Product Name</th>
                            <th>Geography</th>
                            <th>Sale Date</th>
                            <th>Sale Qty</th>
                            <th>Customer Reference</th>
                            <th ></th>
                        </tr>
                        <tr *ngFor="let dupicateData of duplicateEntryy">
            
                            <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                            <td  style="width: 130px;"title="" class="elipsis-2line">
                                {{dupicateData.productCode}}</td>
                            <td style="width: 150px;" title="">{{dupicateData.productName}}</td>
                              <td title="">{{dupicateData.geography}}</td>
                            <td>{{dupicateData.saleDate}}</td>
                            <td>{{dupicateData.saleQuantity}}</td>
                            <td style="width: 135px;">{{dupicateData.customerReference}}</td>
                            <td></td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div (click)="IncorrectDataValue()" style="margin-top:20px;">
                <div class="row">
                    <input type="text" [(ngModel)]="Incorrect" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 expand-style">
                        <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "!incorrectData && incorrectRows.length>0" class="row">
                    <table matSort  class="class_table">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th >Product Code</th>
                            <th>Product Name</th>
                            <th>Geography</th>
                            <th>Sale Date</th>
                            <th>Sale Qty</th>
                            <th>Customer Reference</th>
                            <th ></th>
                        </tr>
                        <tr *ngFor="let dupicateData of incorrectRows">
            
                            <td title="" style="padding-left: 21px;">{{dupicateData.batchId}}</td>
                            <td style="width: 130px;" title="" class="elipsis-2line">
                                {{dupicateData.productCode}}</td>
                            <td style="width: 150px;" title="">{{dupicateData.productName}}</td>
                              <td title="">{{dupicateData.geography}}</td>
                            <td>{{dupicateData.saleDate}}</td>
                            <td>{{dupicateData.saleQuantity}}</td>
                            <td style="width: 135px;">{{dupicateData.customerReference}}</td>
                            <td></td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div class="button-save-chng row">
                <div class="save-chng" (click)="UploadSales()">
                    <button class="save-text">
                       Upload
                    </button>
                </div>
                <div class="discard"  [mat-dialog-close]="true">
                    <button class="discard-text">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="shipment" class="container sales-containers">
    <div class="addUsers">
        <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    </div>
    <span class="ship shipO">Ship Order:</span>
    <h1 class="ship shipBulks">Bulk Upload</h1>
    <div class="sales">
        <div class="row">
            <h4 class="bulk-txt">Bulk upload of invoices & shipment data</h4>
        </div>
        <div class="row">
            <span class="step1-txt">Step 1:</span>
            <h4 class="up-doc"> Upload document</h4>
        </div>
        <label class=" row upload-div">
            <input  type="file" (change)="onUploadFile($event)" style="display: none;">
            <img src="../../../assets/img/upload-icon.png"  class="upload-icon" alt="Upload icon">
            <div class="row">
                <h6 class="upload-doc txt-1">Upload the document</h6>
            </div>
            <div class="row">
                <h6 class="upload-doc txt-2">after adding all required information related to orders</h6>
            </div>
       
        </label>
        <div class="step-2-filled" *ngIf="!showTable">
            <div class="row step2">
                <span class="step-txt">Step 2:</span>
                <h4 class="up-doc" style="bottom: 6px;">Analyzing Uploaded document</h4>
                <div style="position: relative;top: 45px;right: 300px;">
                    <input type="text"  placeholder="No document uploaded yet" class="selectedProductReceipts" disabled>
                </div>
            </div>
            </div>
        <div class="step-2-filled" *ngIf="showTable">
            <div class="row step2">
                <span class="step1-txt">Step 2:</span>
                <h4 class="up-doc">Analyzing Uploaded document</h4>
            </div>
            <div class="row " (click)="expandTotalValue()">
                <input type="text" [(ngModel)]="totalRows" class="total-rows total-bg col-md-11" disabled>
                <div class="col-md-1 total-style">
                    <img [src]="image1" class="expand-arrow" alt="add-user-btn">
                </div>
                <div *ngIf="!totalVal && TotalRows.length>0" class="row duplicate-tabel-shipments">
                    <table matSort  class="class_table_shipment">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Product Name</th>
                            <th>Product Code</th>
                            <th>Order Qty</th>
                            <th>Shipped Till Qty</th>
                            <th>Dispatch Qty</th>
                            <th>Dispatch Date</th>
                            <th>Invoice Date</th>
                            <th>Invoice No.</th>
                            <th >Uploaded Date</th>
                        </tr>
                        <tr *ngFor="let shipData of TotalRows">
                            <td title="" style="padding-left: 21px;">{{shipData.rownumber}}</td>
                            <td title="" class="elipsis-2line">
                                {{shipData.orderNo}}</td>
                            <td>{{shipData.orderDate}}</td>
                            <td title="">{{shipData.productName}}</td>
                            <td title="">{{shipData.productCode}}</td>
                            <td>{{shipData.orderedQty}}</td>
                            <td>{{shipData.shippedTillQty}}</td>
                            <td>{{shipData.dispatchQty}}</td>
                            <td>{{shipData.dispatchDate}}</td>
                            <td>{{shipData.invoiceDate}}</td>
                            <td >{{shipData.invoiceNo}}</td>
                            <td>{{shipData.uploadedDate}}</td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row " (click)="expandErrorFree()">
                <input type="text" [(ngModel)]="errorFree" class="total-rows error-txt col-md-11" disabled>
                <div class="col-md-1 error-style">
                    <img [src]="image2" class="expand-arrow" alt="add-user-btn">
                </div>

                <div *ngIf="!ErrorFree && errorfreeRows.length>0" class="row duplicate-tabel-shipment">
                    <table matSort  class="class_table_shipment">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Product Name</th>
                            <th>Product Code</th>
                            <th>Order Qty</th>
                            <th>Shipped Till Qty</th>
                            <th>Dispatch Qty</th>
                            <th>Dispatch Date</th>
                            <th>Invoice Date</th>
                            <th>Invoice No.</th>
                            <th >Uploaded Date</th>
                        </tr>
                        <tr *ngFor="let shipData of errorfreeRows">
            
                            <td title="" style="padding-left: 21px;">{{shipData.rownumber}}</td>
                            <td title="" class="elipsis-2line">
                                {{shipData.orderNo}}</td>
                            <td>{{shipData.orderDate}}</td>
                            <td title="">{{shipData.productName}}</td>
                            <td title="">{{shipData.productCode}}</td>
                            <td>{{shipData.orderedQty}}</td>
                            <td>{{shipData.shippedTillQty}}</td>
                            <td>{{shipData.dispatchQty}}</td>
                            <td>{{shipData.dispatchDate}}</td>
                            <td>{{shipData.invoiceDate}}</td>
                            <td >{{shipData.invoiceNo}}</td>
                            <td>{{shipData.uploadedDate}}</td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div (click)="expandDuplicateEntry()">
                <div class="row ">
                    <input type="text" [(ngModel)]="duplicateEntry" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 expand-style">
                        <img [src]="image3" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "!duplicate && duplicateEntryy.length>0" class="row duplicate-tabel-shipment">
                    <table matSort  class="class_table_shipment">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Product Name</th>
                            <th>Product Code</th>
                            <th>Order Qty</th>
                            <th>Shipped Till Qty</th>
                            <th>Dispatch Qty</th>
                            <th>Dispatch Date</th>
                            <th>Invoice Date</th>
                            <th>Invoice No.</th>
                            <th >Uploaded Date</th>
                        </tr>
                        <tr *ngFor="let shipData of duplicateEntryy">
            
                            <td title="" style="padding-left: 21px;">{{shipData.rownumber}}</td>
                            <td title="" class="elipsis-2line">
                                {{shipData.orderNo}}</td>
                            <td>{{shipData.orderDate}}</td>
                            <td title="">{{shipData.productName}}</td>
                            <td title="">{{shipData.productCode}}</td>
                            <td>{{shipData.orderedQty}}</td>
                            <td>{{shipData.shippedTillQty}}</td>
                            <td>{{shipData.dispatchQty}}</td>
                            <td>{{shipData.dispatchDate}}</td>
                            <td>{{shipData.invoiceDate}}</td>
                            <td >{{shipData.invoiceNo}}</td>
                            <td>{{shipData.uploadedDate}}</td>
            
                        </tr>
                    </table>
                </div>
            </div>
            <div (click)="IncorrectDataValue()" style="margin-top: 20px;">
                <div class="row">
                    <input type="text" [(ngModel)]="Incorrect" class="total-rows duplicate-txt col-md-11" disabled>
                    <div class="col-md-1 expand-style">
                        <img [src]="image4" class="expand-arrow" alt="add-user-btn">
                    </div>
                </div>
                <div  *ngIf = "!incorrectData && incorrectRows.length>0" class="row duplicate-tabel-shipment" style="top: 100px;">
                    <table matSort  class="class_table_shipment">
                        <tr class="table-header-row">
                            <th style="padding-left:20px;">Row No</th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Product Name</th>
                            <th>Product Code</th>
                            <th>Order Qty</th>
                            <th>Shipped Till Qty</th>
                            <th>Dispatch Qty</th>
                            <th>Dispatch Date</th>
                            <th>Invoice Date</th>
                            <th>Invoice No.</th>
                            <th >Uploaded Date</th>
                        </tr>
                        <tr *ngFor="let shipData of incorrectRows">
                            <td  title="" style="padding-left: 21px;">{{shipData.rownumber}}</td>
                            <td  [ngClass] ="{'errorText': shipData.remarks == 'orderno'}">{{shipData.orderNo}}</td>
                            <td [ngClass] ="{'errorText': shipData.remarks == 'orderdate'}">{{shipData.orderDate}}</td>
                            <td  [ngClass]="{'errorText': shipData.remarks == 'productname'}">{{shipData.productName}}</td>
                            <td  [ngClass]="{'errorText': shipData.remarks == 'productcode'}">{{shipData.productCode}}</td>
                            <td [ngClass]="{'errorText': shipData.remarks == 'orderedqty'}">{{shipData.orderedQty}}</td>
                            <td [ngClass]="{'errorText': shipData.remarks == 'shippedtillqty'}">{{shipData.shippedTillQty}}</td>
                            <td  [ngClass]="{'errorText': shipData.remarks == 'dispatchqty'}">{{shipData.dispatchQty}}</td>
                            <td  [ngClass]="{'errorText': shipData.remarks == 'dispatchdate'}">{{shipData.dispatchDate}}</td>
                            <td  [ngClass]="{'errorText': shipData.remarks == 'invoicedate'}">{{shipData.invoiceDate}}</td>
                            <td   [ngClass]="{'errorText': shipData.remarks == 'invoiceno'}" >{{shipData.invoiceNo}}</td>
                            <td  [ngClass]="{'errorText': shipData.remarks == 'uploaddate'}">{{shipData.uploadedDate}}</td>
            
                        </tr>
                    </table>
                    
                </div>
            </div>
            <div class="button-save-chng row">
                <div class="save-chng" (click)="uploadFile()">
                    <button class="save-text">
                       Upload
                    </button>
                </div>
                <div class="discard">
                    <button class="discard-text" [mat-dialog-close]="true">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>