/* You can add global styles to this file, and also import other style files */
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* Add application styles & imports to this file! */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
/* @import url('./assets/fonts/gilroy/Gilroy-Black.ttf'); */
@import 'ag-grid-community/dist/styles/ag-theme-material.css';



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

::ng-deep body {
  font-family: Montserrat, sans-serif;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #dee2e6;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #dee2e6;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
  border-radius: 10px;
  border: 0px none #000000;
}

.mat-form-field-underline {

  display: none;

}

@font-face {
  font-family: "Gilroy";
  src: local("gilroy"), url(./assets/fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
}

.cdk-overlay-container:empty {
  /* display: none; */
  display: '';
}

/* *{
    font-family: "Gilroy-Medium";
} */
.w-100 {
  width: 100%;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

.mat-tab-body-content {
  overflow: inherit !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  width: 100%;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background: #0091EA;
  padding: 0 5px;
  color: #fff;
}


.primary-color {
  color: #017EFA;
}

#gridContainer .ag-paging-page-summary-panel {
  display: none !important;
}

#gridContainer .ag-paging-row-summary-panel-number {
  font-weight: 800;
  color: #000;
}

.mat-dialog-container {
  background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%);
  border: 0.5px solid #000000;
  border-radius: 15px !important;
}

.activeSuccessPop .mat-dialog-container {
  background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%) !important;
  border: 0.5px solid #000000;
  border-radius: 10px !important;
  border-left: 10px solid green !important;
  padding: 10px 20px;
}

.deactiveSuccessPop .mat-dialog-container {
  background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%) !important;
  border: 0.5px solid #000000;
  border-radius: 10px !important;
  border-left: 10px solid #FF0000 !important;
  padding: 10px 20px;
}

.deactiveSuccessPop {
  position: absolute !important;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  bottom: 2%;
  left: 65%;
}

.activeSuccessPop {
  position: absolute !important;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  bottom: 2%;
  left: 65%;
}

.geo-label .mat-tab-labels:nth-child(1) {
  width: 50% !important;
}

@media(max-width:569px) {
  .geo-label .mat-tab-header {
    width: 22% !important;
  }
}

.geo-label .mat-ink-bar {
  display: none;
}

.remove-mat-icon {
  margin-left: -14px !important;
  margin-top: 10px !important;
  overflow: unset !important;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 20px !important;
  }

  .geo-label .mat-tab-header {
    width: 48% !important;
  }

  .geo-label .mat-tab-labels:nth-child(1) {
    width: 80% !important;
  }

  .searchBox:hover>.searchButton {
    position: relative;
    right: 239px;
  }

  .searchBox:hover>.search-btn {
    display: block;
    height: 26px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
  }


  .searchBox:hover>.searchInput {
    width: 280px;
    float: left;
    right: 0px;
    bottom: -3px;
  }

  .searchBox:hover>.search-btn {
    right: 10px;
  }


  .searchBox:hover>.searchInput {
    width: 280px;
    bottom: -3px;
  }

  searchButton {
    margin-left: -28px !important;
  }

}

mat-list-item-content::before {
  content: "Read this: ";
}

.editpopup .mat-dialog-container {
  border-radius: 10px;
  /* padding: 2px 20px 2px 20px; */
  padding: 0px 1px !important;
  background: white !important;
  width: 156px;
}


.geo-classification-list {
  height: 600px !important;
}

.geo-classification-list .mat-tab-group .mat-tab-body-wrapper,
.geo-classification-list .mat-tab-group {
  height: 100% !important;
}

.req-date .mat-form-field-wrapper .mat-form-field-flex {
  border-radius: 10px !important;
  background: #fff !important;
}

.text-area {
  width: 748px;
  height: 87px;
  left: 38px;
  top: 1196px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 20%), -4px -4px 8px rgb(255 255 255 / 20%);
  border-radius: 10px;
  font: 12px/3 sans-serif;
}

#OrderPromotionListContainer .ag-root-wrapper .ag-paging-panel {
  background: rgba(104, 110, 116, 0.75);
  border-radius: 0px 0px 24.5px 24.5px;
}


#OrderPromotionListContainer .ag-paging-page-summary-panel {
  display: none !important;
}

#OrderPromotionListContainer .ag-root-wrapper {
  height: 368px !important
}

#OrderPromotionListContainer {
  background: transparent !important
}

/* .popup-size .mat-stepper-horizontal .mat-horizontal-stepper-wrapper {
  height: 85%;
} */


.datepicker-menu {
  border-radius: 5px;
  border: 1px solid;
}

.datepicker-menu .popover-body {
  padding: 0;
}

/* .datepicker-menu[data-popper-placement="left"] .popover-body{
  height: 200px;
  overflow-y: auto;
} */

.datepicker-popover.popover,
.datepicker-popover .popover-body {
  width: 500px;
  max-width: none;
  padding: 0;
  background: transparent;
  border: 0;
}

ngx-daterangepicker-material .md-drppicker {
  border: 1px solid #ccc;
  background: linear-gradient(90deg, #CED4DA 0%, #F8F9FA 100%);
}

.md-drppicker .calendar-table {
  background: transparent !important;
  border: none !important;
}

.md-drppicker td.in-range {
  background-color: #F2F7FE !important;
  opacity: 1;
}

.md-drppicker td.off,
.md-drppicker td.off.in-range,
.md-drppicker td.off.start-date,
.md-drppicker td.off.end-date {
  background-color: transparent !important;
  color: #bbb !important;
}

.md-drppicker td.active,
.md-drppicker td.active:hover {
  background-color: #0061FF !important;
  border-color: transparent;
  color: #fff;
}

.md-drppicker th.month>div {
  border: 1px solid;
  padding: 2px;
  background: #fff;
  color: #000;
  width: 70px;
  margin-left: 5px;
  border-radius: 5px;
}

.md-drppicker th.month>div::before {
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
  position: absolute;
  right: 5px;
  top: 40%;
}

ngx-daterangepicker-material .md-drppicker .btn{
  border: 1px solid #000;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0px 25px;
    text-transform: capitalize;
    font-weight: 500;
    background: #000;
}
ngx-daterangepicker-material  .md-drppicker .btn:hover,ngx-daterangepicker-material  .md-drppicker .btn:focus{
  background: #000;
}
ngx-daterangepicker-material .md-drppicker .btn.btn-default{
  border: 2px solid #000;
   background: #fff;
}
ngx-daterangepicker-material .md-drppicker .clear svg{
  display: none;
}

.material-add-edit .mat-horizontal-content-container{
  max-height: 70vh;
  overflow-y: auto;
}