/* You can add global styles to this file, and also import other style files */
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-underline {

    display: none;

}

.cdk-overlay-container:empty {
    /* display: none; */
    display: '';
}

.w-100 {
    width: 100%;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0;
}

.mat-tab-body-content {
    overflow: inherit !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    width: 100%;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
    background: #0091EA;
    padding: 0 5px;
    color: #fff;
}


.primary-color {
    color: #017EFA;
}
