<div class="font ">
    <div class=" main" width="900%">
        <div class="container">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            </div>
            <div class="head-t">
                <h3 class="addU font">Add Promotions</h3>
                <br>
                <img src="assets/img/arrow-left-circle-fill.svg" style="width: 24px;margin-left: 760px;"
                    alt="left-arr-btn">
                <img src="assets/img/arrow-right-circle-fill.svg" style="width: 24px; margin-left: 12px;"
                    alt="right-arr-btn">
                <mat-stepper labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Basic Information</ng-template>
                            <div class="heading">
                                <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                    <b>Basic
                                        Information</b>
                                </h6>
                            </div>
                            <div class="materialname">
                                <label>Promotion Name <span>*</span></label>
                            </div>
                            <input matInput placeholder="Promotion Name" #input class="form-control container"
                                style="border:solid lightgrey 1px;width: 774px;
                           height: 35px;background-color: white;margin-top: 1px; margin-left: -1px;border-radius: 10px;font-family: 'Gilroy';">
                            <div class="promotiont">
                                <label>Promotion Type <span>*</span></label>
                            </div>
                            <div class="promotiontypedrp"> 
                            
                         <ng-multiselect-dropdown name="type" [placeholder]="'Select the promotion type'"
                                    formControlName="type" [disabled]="disabled" [settings]="dropdownSettings3"
                                    [data]="toppingList3" (onSelect)="onTypeSelect($event)"
                                    (onSelectAll)="onTypeAll($event)">
                                </ng-multiselect-dropdown>  
                           </div>


                            <div class="promotiont">
                                <label>Start Date <span>*</span></label>
                            </div>
                            <div class="datepicker">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select the start date</mat-label>
                                    <input matInput [matDatepicker]="myDatepicker">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker" style="color: black;">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="promotiont">
                                <label>End Date <span>*</span></label>
                            </div>
                            <div class="datepicker">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select the end date</mat-label>
                                    <input matInput [matDatepicker]="myDatepicker">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker" style="color: black;">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="image">
                                <label>Image <span>*</span></label>
                            </div>
                            <input matInput placeholder="" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 356px; height: 200px; border-radius: 15px; background-color: white;position: relative;left: 422px; top: -257px;">
                            <img src="assets/img/add-image.png"
                                style="width: 48px;position: relative; right: -576px; bottom: 388px;;"
                                alt="left-arr-btn">
                            <h3
                                style="font-family: 'Gilroy';position: relative; bottom: 368px; left: 216px; color: lightgrey;">
                                Add Image</h3>
                            <!-- <input [matDatepicker]="myDatepicker" style="width: 361px; height: 35px; border-radius: 9px; border-color: grey;">
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker> -->
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Items in Promotion</ng-template>
                            <article>
                                <h1>Angular Get Selected Option Value</h1>
                                <!-- <h2><span>Select the promotion type</span></h2> -->
                                <select (change)="selectChangeHandler($event)">
                                    <option default>Select the promotion type</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                </select>
                                <p>
                                    <b>{{selectedDay}}</b>
                                </p>
                            </article>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel> Geographies</ng-template>

                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Dealers & Additionak Remarks</ng-template>
                            fgbtfth
                        </form>
                    </mat-step>
                </mat-stepper>






            </div>
        </div>
    </div>
</div>
<!-- 
<div class="container">
    <div class="addpromotion">
        <div class="head-t mt-3">
          <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            <h3 class="addpro-head">Add Promotion</h3>
        </div>
       <div class="im-p">
        <p>Image</p>
       <div class="pro-img text-center">
            <img width="120" height="120" src="../../../assets/img/profile-img.svg" alt="">
       </div>
       <div class="row">
        <div class="col-6">
            <label>Promotion Name</label>
        <input type="text" placeholder="Name">
    </div>
        <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label>Buy (A+B..) get (X+Y..)</mat-label>
            <mat-select  multiple>
              <mat-option  >Buy (A+B..) get (X+Y..)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
        <div class="row">
        <div class="start-d col-6">
            <label >Start Date</label><br>
            <input [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
        <div class="end-d col-6">
            <label >End Date</label><br>
            <input [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
    </div>
   
        <h3 class="addpro">Add Promotion</h3>
      
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Buy Group</mat-label>
                    <mat-select  multiple>
                      <mat-option *ngFor="let getG of getgroup" >{{getG}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Get Group</mat-label>
                    <mat-select  multiple>
                      <mat-option *ngFor="let buyG of buygroup" >{{buyG}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
         geogragphy sect 
            <div class="geography d-flex">
                <h3 class="geo-h">Geographies</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Search countries by name</mat-label>
                    <input matInput  />
                    <mat-icon matPrefix>search</mat-icon>
                  </mat-form-field>
            </div>
            <div class="inside-text-feild">
                <textarea name="" id="" cols="70" rows="5" style=" overflow-y: scroll;"></textarea>
            </div>
      
       <div class="dealers-part">
        <h3 class="dealers-h">Dealers</h3>
        <div class="row">
            <div class="col-6">
                <h3>Customer</h3>
                <mat-selection-list >
                    <mat-list-option checkboxPosition="before" *ngFor="let customerS of CustomerSelect">
                      {{customerS}}
                    </mat-list-option>
                  </mat-selection-list>
            </div>
            <div class="col-6">
                <h3>Geographies</h3>
                <mat-list >
                    <mat-list-item> Pepper </mat-list-item>
                    <mat-list-item> Salt </mat-list-item>
                    <mat-list-item> Paprika </mat-list-item>
                   </mat-list>
            </div>
        </div>
       
        <div class="remarks">
            <h3 class="addt-remark">Aditional Remarks</h3>
            <textarea name="" id="" cols="70" rows="5" style=" overflow-y: scroll;"></textarea>
        </div>
        
        <div class="addPro-btns text-center m-2">
            <button class="btn btn-primary saveD">Save as Draft</button>
            <button class="btn btn-basic submit">Submit</button>
        </div>
       </div>
       </div>
    </div>
</div> -->