<div class="font">
    <div class=" main">
        <div class="container add-dealer-promotion-cls">
            <div class="addPromotion">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            </div>
            <div class="head-t">
                <h3 class="addPromo font">{{header}} Promotions</h3>
                <br>
                <img src="assets/img/arrow-left-disable.png" *ngIf="!basicInfo" class="addMore-icon"
                    style="width: 32px;margin-left: 760px;" alt="left-arr-btn">
                <img src="assets/img/arrow-left-circle-fill.svg" *ngIf="basicInfo" class="addMore-icons"
                    style="width: 24px;margin-left: 760px;" alt="left-arr-btn">
                <img src="assets/img/arrow-right-circle-fill.svg" (click)="disableBackbutton()" class="addMore-icon"
                    style="width: 24px; margin-left: 12px;" alt="right-arr-btn">
            </div>
            <mat-stepper labelPosition="bottom" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form #form=ngForm>
                        <ng-template matStepLabel>Promotion Information</ng-template>
                        <div class="heading">
                            <h5 class="promo-head">Promotion Information </h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 materialname">
                                <label>Promotion Name <span class="astr">*</span></label>
                                <input type="text" id="promoname" name="promoname" required [(ngModel)]="promoName"
                                    #promoname="ngModel" placeholder="Promotion Name" class="form-control">
                                <p style="margin-bottom: -20px;" *ngIf="promoname.invalid && (promoname.dirty || promoname.touched)">
                                    <span style="color:red;position: relative;" *ngIf="promoname.errors?.['required']">
                                        *Promotion Name is required
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <!-- <div class="promotiont"> -->
                                <!-- <label>Promotion Type <span>*</span></label> -->
                                <!-- </div> -->
                                <div class="promotiontypedrp identify promotiondrpalign">
                                    <label>Promotion Type <span class="astr">*</span></label>
                                    <ng-select [items]="promotionTypedropdown" placeholder="Select the promotion type"
                                        bindLabel="promotionTypesName" bindValue="promotionTypesId" #promotype
                                        (change)="selectedValue($event)" required>
                                    </ng-select>
                                </div>
                                <form #myform>
                                <div class="myDatepicker promotion-datepicker">
                                    <label>Start Date <span class="astr">*</span></label><br>
                                    <mat-form-field class="placeh-align">
                                        <mat-label>Select the start date</mat-label>
                                        <input matInput 
                                        [matDatepicker]="picker1"   [formControl]="startDate" [(ngModel)]="startDate"
                                            (dateChange)="dateChange($event)" [min]="minDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                            <mat-icon matDatepickerToggleIcon>
                                            <img src="assets/img/calender2.png" class="calendarToggle">
                                        </mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="myDatepicker  promotion-datepicker">
                                    <label>End Date <span class="astr">*</span></label><br>
                                    <mat-form-field class="placeh-align">
                                        <input matInput placeholder=""
                                        [matDatepicker]="picker2" [min]="endMinDate" [(ngModel)]="endDate"  [formControl]="endDate"
                                        (dateChange)="enddateChange($event)">
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                            <mat-icon matDatepickerToggleIcon>
                                                <img src="assets/img/calender2.png" class="calendarToggle">
                                            </mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </form>
                            </div>

                            <div class="col-12 col-lg-6 imagefield">
                                <label>Image <span class="astr">*</span></label>
                                <div class="image text-center">
                                    <div class="fileadded">
                                        <label class="uploadlabel-Added" *ngIf="addImgpreview">
                                            <input matInput placeholder="" #input id="file-input"
                                                class="form-control imgupload" type="file"
                                                (change)="onFileChanged($event)">
                                            <img src="data:image/jpeg;base64,{{base64textString}}" class="addproImg"
                                                type="file" for="file-input" alt="left-arr-btn"
                                                (change)="onFileChanged($event)"></label>
                                    </div>
                                    <div class="fileadd">
                                        <label class="uploadlabel" *ngIf="!addImgpreview">
                                            <input matInput placeholder="" #input id="file-input"
                                                class="form-control imgupload" type="file"
                                                (change)="onFileChanged($event)">
                                            <img src="../../../assets/img/down13.png " width="70px" height="70px"
                                                type="file" for="file-input" alt="left-arr-btn"
                                                (change)="onFileChanged($event)"></label>
                                        <p *ngIf="!addImgpreview">Add Image</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- items in promotion -->
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="d-flex">
                                    <h5 class="promoItem"> Items in Promotions </h5>
                                    <div class="hover-text">
                                        <img src="assets/img/item-info-i.svg" class="indexImg" alt="">
                                        <span class="tooltip-text" id="top" *ngIf="false">The user needs to add products
                                            in the Buy Product Group.
                                            There should be at least one Product in this group. The Qty for the products
                                            in the Buy
                                            Product Group will be displayed in saleable UOM.
                                            The user needs to add products in the Get Product Group.</span>
                                        <span *ngIf="true" class="tooltip-text" id="top">You can add two or more sets of
                                            products that the dealer can choose from. In each set
                                            there should be at least one product and there should be at least two sets
                                            in Buy Group.
                                            In the Get Group there can be only 1 set and each set should have at least
                                            one product.</span>
                                    </div>
                                </div>
                                <p class="itempromtion" *ngIf="noPromotionSelected">No Promotion Selected Yet</p>
                            </div>
                        </div>
                        <br>
                        <div *ngIf="buyab">
                            <div class="row">
                                <div class="col-lg-6 BuyGroup">
                                    <div class="buy1" *ngFor="let addbuyg of buyGroupPlus; let i=index"
                                        [(ngModel)]="addbuyg.itemss">
                                        <div class="row">
                                            <div class="col-10 buyGrp-h">
                                                <h5 class="item-header"><b>Buy </b>group {{i+1}}</h5>
                                            </div>
                                            <div class="col-2 plsImg" (click)="addbuyGroup(i)" *ngIf="i==0">
                                                <img src="assets/img/plus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                            <div class="col-2 plsAdd" (click)="removebuyGroup(i)" *ngIf="i >= 1">
                                                <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="productlevel col-12">
                                                <label>Item Level<span class="astr">*</span></label>
                                                <div class="collapsible" (click)="addItems(i)">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <p class="expn-t">Select the Items</p>
                                                        </div>
                                                        <div class="col-2"> <img class="expsion-img"
                                                                src="assets/img/maximize.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label>Items<span class="astr">*</span></label>
                                                <mat-card class="list-item">
                                                    <mat-card-content class="item-in-box">
                                                        <ul>

                                                            <li
                                                                *ngFor="let producttable of addbuyg.productselectedRows">
                                                                <mat-checkbox class="example-margin font"
                                                                    [checked]="true"
                                                                    (click)="updateAllComplete(producttable.stockItemId,i)">
                                                                    {{producttable?.productName}} </mat-checkbox>
                                                            </li>
                                                            <!-- <li *ngFor="let productGrp of addbuyg.productScselectedRows">{{productGrp?.productName}}</li>
                                                            <li *ngFor="let productGrp of addbuyg.pGselectedRows">{{productGrp?.productName}}</li>
                                                            <li *ngFor="let productSubg of addbuyg.productSubGselectedRows">{{productSubg?.productName}}</li> -->
                                                        </ul>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                            <div class="col-2 qtyalign">
                                                <label>Qty<span class="astr">*</span></label>
                                                {{addbuyg.qtyValue}}
                                                <input type="number" class="qty-box" id=qty name="qty" required max="10"
                                                    min="0" [(ngModel)]="addbuyg.MaxVolume">
                                                <label>MOQ<span class="astr">*</span></label>
                                                <input type="number" class="mty-box" id=moq name="moq" required max="10"
                                                    min="0" [(ngModel)]="addbuyg.MOQ">
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="col-lg-6 GetGroup">
                                    <div class="get1" [(ngModel)]="addbuyg.getItems"
                                        *ngFor="let addbuyg of addgetgroup; let i=index">
                                        <div class="row">
                                            <div class="col-10 buyGrp-h">
                                                <h5 class="item-header"><b>Get </b>group {{i+1}}</h5>
                                            </div>
                                            <div class="col-2 plsImg" (click)="adddgetGroup(i)" *ngIf="i==0">
                                                <img src="assets/img/plus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                            <div class="col-2 plsAdd" (click)="removegetGroup(i)" *ngIf="i>=1">
                                                <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="productlevel col-12">
                                                <label>Item Level<span class="astr">*</span></label>
                                                <div class="collapsible" (click)="addItemsforGetGroup(i)">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <p class="expn-t">Select the Items</p>
                                                        </div>
                                                        <div class="col-2"> <img class="expsion-img"
                                                                src="assets/img/maximize.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10">
                                                <label>Items<span class="astr">*</span></label>
                                                <mat-card class="list-item">
                                                    <mat-card-content class="item-in-box">
                                                        <ul>
                                                            <ul>


                                                                <li
                                                                    *ngFor="let producttable of addbuyg?.productselectedRows">
                                                                    <mat-checkbox class="example-margin font"
                                                                        [checked]="true"
                                                                        (click)="updateAllComplete(producttable.stockItemId,i)">
                                                                        {{producttable?.productName}}</mat-checkbox>
                                                                </li>
                                                                <!-- <li *ngFor="let productGrp of addbuyg?.productScselectedRows">{{productGrp?.productName}}</li>
                                                                <li *ngFor="let productGrp of addbuyg?.pGselectedRows">{{productGrp?.productName}}</li>
                                                                <li *ngFor="let productSubg of addbuyg?.productSubGselectedRows">{{productSubg?.productName}}</li> -->
                                                            </ul>
                                                        </ul>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                            <div class="col-2 qtyalign">
                                                <label>Qty<span class="astr">*</span></label>
                                                <input type="number" class="qty-box" id=Getqty name="Getqty" required
                                                    max="10" min="0" [(ngModel)]="addbuyg.MaxVolume">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Buy A/B to get C/D section -->
                        <div *ngIf="buysets">
                            <div class="row">
                                <div class="col-lg-6 BuySets">

                                    <div class="set1" *ngFor="let addset of addbuyset; let i=index">

                                        <div class="row">
                                            <div class="col-10 buyGrp-h">
                                                <h5 class="item-header"><b>Buy </b>Sets</h5>
                                            </div>
                                            <div class="col-2 plsImg" (click)="addbuyAB(i)">
                                                <img src="assets/img/plus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <b>Set {{i}}</b>
                                                <!-- <b class="set2 mt-2" *ngIf="i >= 1">Set {{i}}</b> -->
                                            </div>
                                            <div class="col-lg-2" *ngIf="i >= 1" (click)="removeaddbuyAB(i)">
                                                <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                        </div>
                                        <div class="buyoneSet">
                                            <div class="buy-set-1"
                                                *ngFor="let addbuyg1 of addbuyset[i].addsubBuy; let j=index"
                                                [(ngModel)]="addbuyg1.itemss">
                                                <div class="row">
                                                    <div class="col-10 buyGrp-h">
                                                        <h5 class="item-header"><b>Buy </b>group {{j}}</h5>
                                                    </div>
                                                    <div class="col-2 plsImg" (click)="addsubbuy(i,j)" *ngIf="j==0">
                                                        <img src="assets/img/plus.png" class="plus-image"
                                                            alt="plus-btn">
                                                    </div>
                                                    <div class="col-2 plsAdd" (click)="removebuyGroup(i)" *ngIf="j>=1">
                                                        <img src="assets/img/minus.png" class="plus-image"
                                                            alt="plus-btn">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="productlevel col-12">
                                                        <label>Item Level<span class="astr">*</span></label>
                                                        <div class="collapsible" (click)="addItems1(i,j)">
                                                            <div class="row">
                                                                <div class="col-10">
                                                                    <p class="expn-t">Select the Items</p>
                                                                </div>
                                                                <div class="col-2"> <img class="expsion-img"
                                                                        src="assets/img/maximize.png" alt=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Items<span class="astr">*</span></label>
                                                        <mat-card class="list-item">
                                                            <mat-card-content class="item-in-box">
                                                                <ul>
                                                                    <li
                                                                        *ngFor="let producttable of addbuyset[i].addsubBuy[j].productselectedRows">
                                                                        <mat-checkbox class="example-margin font"
                                                                            [checked]="true"
                                                                            (click)="updateAllCompleteforBuyGroup(producttable.stockItemId,i,j)">
                                                                            {{producttable?.productName}}
                                                                        </mat-checkbox>
                                                                    </li>
                                                                </ul>
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-2 qtyalign">
                                                        <label>Qty<span class="astr">*</span></label>
                                                        <input type="number" class="qty-box" placeholder="1"
                                                            value="{{qtyMaxNum}}" id=qty name="qty" required max="10"
                                                            min="0" [(ngModel)]="addbuyset[i].addsubBuy[j].MaxVolume">
                                                        <label>mty<span class="astr">*</span></label>
                                                        <input type="number" class="mty-box" placeholder="1"
                                                            value="{{MoqMaxNum}}" id=moq name="moq" required max="10"
                                                            min="0" [(ngModel)]="addbuyset[i].addsubBuy[j].MOQ">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- additional buy-g ends -->
                                </div>

                                <div class="col-lg-6 GetGroup">

                                    <div class="set1" *ngFor="let getset of addgetset; let i=index">
                                        <div class="row">
                                            <div class="col-10 buyGrp-h">
                                                <h5 class="item-header"><b>Get </b>Sets</h5>
                                            </div>
                                            <div class="col-2 plsImg" (click)="addgetAB(i)">
                                                <img src="assets/img/plus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-10">
                                                <b>Set {{i}}</b>
                                                <!-- <b class="gset2 mt-2" *ngIf="i >= 1">Set {{i}}</b> -->
                                            </div>
                                            <div class="col-lg-2" *ngIf="i >= 1" (click)="removeaddgetAB(i)">
                                                <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                            </div>
                                        </div>
                                        <div class="buyoneSet">
                                            <div class="getSet1" *ngFor="let addget of addgetset[i].addsubBuy; let j=index">
                                                <div class="row">
                                                    <div class="col-10 buyGrp-h">
                                                        <h5 class="item-header"><b>Get </b>group {{j}}</h5>
                                                    </div>
                                                    <div class="col-2 plsImg" (click)="addsubGetbuy(i,j)" *ngIf="j==0">
                                                        <img src="assets/img/plus.png" class="plus-image" alt="plus-btn">
                                                    </div>
                                                    <div class="col-2 plsAdd" (click)="removeGetGroup(i)" *ngIf="j>=1">
                                                        <img src="assets/img/minus.png" class="plus-image" alt="plus-btn">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="productlevel col-12">
                                                        <label>Item Level<span class="astr">*</span></label>
                                                        <div class="collapsible" (click)="addItems1forGetGroup(i,j)">
                                                            <div class="row">
                                                                <div class="col-10">
                                                                    <p class="expn-t">Select the Items</p>
                                                                </div>
                                                                <div class="col-2"> <img class="expsion-img"
                                                                        src="assets/img/maximize.png" alt=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Items<span class="astr">*</span></label>
                                                        <mat-card class="list-item">
                                                            <mat-card-content class="item-in-box">
                                                                <ul>
                                                                    <li
                                                                    *ngFor="let producttable of addgetset[i].addsubBuy[j].productselectedRows">
                                                                    <mat-checkbox class="example-margin font"
                                                                        [checked]="true"
                                                                        (click)="updateAllCompleteforGetGroup(producttable.stockItemId,i,j)">
                                                                        {{producttable?.productName}}
                                                                    </mat-checkbox>
                                                                </li>
                                                                </ul>
                                                                
                                                            </mat-card-content>
                                                        </mat-card>
                                                    </div>
                                                    <div class="col-2 qtyalign">
                                                        <label>Qty<span class="astr">*</span></label>
                                                        <input type="number" class="qty-box" placeholder="1"
                                                            value="{{qtyMaxNum}}" id=qty name="qty" required max="10"
                                                            min="0" [(ngModel)]="addgetset[i].addsubBuy[j].MaxVolume">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       

                                    </div>
                                    <!-- additional get-g ends -->
                                </div>

                            </div>

                        </div>
                        <!-- Volume Discount Section -->
                        <div *ngIf="volumedc">
                            <div class="row">
                                <div class="col-12">
                                    <label>Item Level<span class="astr">*</span></label>
                                    <div class="collapsible" (click)="addItemsVolume()">
                                        <div class="row">
                                            <div class="col-11">
                                                <p class="expn-t">Select the Items</p>
                                            </div>
                                            <div class="col-1"> <img class="expsion-img" src="assets/img/maximize.png"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 inlineNav">
                                    <label>Items<span class="astr">*</span></label>
                                    <mat-card class="list-item">
                                        <mat-card-content class="item-in-box">
                                            <ul>
                                                <li
                                                *ngFor="let producttable of productselectedRows">
                                                <mat-checkbox class="example-margin font"
                                                    [checked]="true"
                                                    (click)="updateAllCompleteforGetGroupPrice(producttable.stockItemId)">
                                                    {{producttable?.productName}}
                                                </mat-checkbox>
                                            </li>                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                    <br>
                                    <label>Minimum Order Quantity<span class="astr">*</span></label>
                                    <br>
                                    <input class="minimumorderquantity" type="text" id="pValue" name="pValue" required
                                        placeholder="" [(ngModel)]="minimumorderquantity" >
                                </div>
                                <div class="col-lg-6 navItems">
                                    <div class="row">
                                        <div class="col-3">
                                            <h5 class="labelname">Qty From</h5>
                                        </div>
                                        <div class="col-3">
                                            <h5 class="labelname">Qty To</h5>
                                        </div>
                                        <div class="col-3">
                                            <h5 class="labelname">Discount</h5>
                                        </div>
                                        <div class="col-3">
                                            <mat-icon class="" (click)=addFields()>add_circle</mat-icon>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let packingCharge of packingCharges; let i = index;">
                                        <div class="col-3">
                                            <input class="qtyOfItems" type="text" id="pValue" name="pValue" required
                                                placeholder="" [(ngModel)]="packingCharge.MinVolume"
                                                name="address_{{i}}">
                                        </div>
                                        <div class="col-3">
                                            <input class="qtyOfItems" type="text" id="pValue" name="pValue" required
                                                placeholder="" [(ngModel)]="packingCharge.MaxVolume"
                                                name="street_{{i}}">

                                        </div>
                                        <div class="col-3">
                                            <input class="qtyOfItems" type="text" id="pValue" name="pValue" required
                                                placeholder="" [(ngModel)]="packingCharge.DiscountPercentage" name="street_{{i}}">

                                        </div>
                                        <div class="col-3">
                                            <mat-icon class="removeCircle" *ngIf="i>=0" (click)=removesub(i)>
                                                remove_circle</mat-icon>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- price -->
                        <div *ngIf="pricedc">
                            <div class="row">
                                <div class="col-12">
                                    <label>Item Level<span class="astr">*</span></label>
                                    <div class="collapsible" (click)="addItemsPrice()">
                                        <div class="row">
                                            <div class="col-11">
                                                <p class="expn-t">Select the Items</p>
                                            </div>
                                            <div class="col-1"> <img class="expsion-img" src="assets/img/maximize.png"
                                                    alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 inlineNav">
                                    <label>Items<span class="astr">*</span></label>
                                    <mat-card class="list-item">
                                        <mat-card-content class="item-in-box">
                                            <ul>
                                                <li
                                                *ngFor="let producttable of productselectedRows">
                                                <mat-checkbox class="example-margin font"
                                                    [checked]="true"
                                                    (click)="updateAllCompleteforGetGroupPrice(producttable.stockItemId)">
                                                    {{producttable?.productName}}
                                                </mat-checkbox>
                                            </li>  
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                    <br>
                                    <label>Minimum Order Quantity<span class="astr">*</span></label>
                                    <br>
                                    <input class="minimumorderquantity" type="text" id="pValue" name="pValue" required
                                        placeholder="" [(ngModel)]="minumorderqualityPrice">
                                </div>
                                <div class="col-lg-6 navItems">
                                    <div class="row">
                                        <div class="col-3">
                                            <h5 class="labelname">Qty From</h5>
                                        </div>
                                        <div class="col-3">
                                            <h5 class="labelname">Qty To</h5>
                                        </div>
                                        <div class="col-3">
                                            <h5 class="labelname">Price</h5>
                                        </div>
                                        <div class="col-3">
                                            <mat-icon class="" (click)=addFieldsPrice()>add_circle</mat-icon>
                                        </div>
                                    </div>
                                    
                                    <div class="row" *ngFor="let packingCharge of packingVolume; let i = index;">
                                        <div class="col-3">
                                            <input class="qtyOfItems" type="text" id="pValue" name="pValue" required
                                                placeholder="" [(ngModel)]="packingCharge.MinVolume"
                                                name="address_{{i}}">
                                        </div>
                                        <div class="col-3">
                                            <input class="qtyOfItems" type="text" id="pValue" name="pValue" required
                                                placeholder="" [(ngModel)]="packingCharge.MaxVolume"
                                                name="street_{{i}}">

                                        </div>
                                        <div class="col-3">
                                            <input class="qtyOfItems" type="text" id="pValue" name="pValue" required
                                                placeholder="" [(ngModel)]="packingCharge.MaxPrice" name="city_{{i}}">

                                        </div>
                                        <div class="col-3">
                                            <mat-icon class="removeCircle" *ngIf="i>=0" (click)=removesubOfPrice(i)>
                                                remove_circle</mat-icon>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel> Geographies & Dealers</ng-template>
                        <!-- <div class="heading">
                            <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                <b>Geographies</b>
                            </h6>
                        </div> -->
                        <div class="heading">
                            <h5 class="geo-head">Geographies</h5>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 slctd-row">
                                <div class="row">
                                    <div class="col-lg-9 sltd-span">
                                        <span class="selectedname" *ngIf="false">Selected Geogrphies</span>
                                        <span class="selectedcolor"
                                        *ngIf="showselectedgeovalue">{{aboveDefaultGeoOfName}}({{selectedcount}}/{{tottalgeoCount}})</span>
                                        <!-- <span class="selectedclr2">India(15/15)</span>;
                                        <span class="astr">Singpore(0/6)</span>;
                                        <span class="selectedclr2">Japan(23/23)</span> -->
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="slctd-geo-btn" (click)="addgeography()"> Selected
                                            Geographies</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heading">
                            <h5 class="geo-head">Dealers</h5>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Search for the Geography/ Dealers here" class="searchGeo" (keyup)="onSearchChange($event)">
                        </div>
                        <!-- grid table -->
                        <div class="grid-table mt-2">
                            <ag-grid-angular id="gridContainer" class="ag-theme-material"
                                (gridReady)="onGridReady($event)" [rowHeight]="25" [headerHeight]="48"
                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes"
                                [rowData]="rowData5" [suppressExcelExport]="true" [popupParent]="popupParent"
                                (cellValueChanged)="onCellValueChanged($event)"
                                (firstDataRendered)="onFirstDataRendered($event)"
                                (firstDataRendered)="onFirstDataRendered($event)" (rowClicked)="openDialog()"
                                (cellClicked)="onCellClicked($event)" [paginationPageSize]="paginationPageSize"
                                (bodyScroll)="handleScroll($event)" [rowSelection]="'multiple'"
                                (rowSelected)="onRowSelect($event)"></ag-grid-angular>
                        </div>
                        <!-- additional remarks -->
                        <div class="row">
                            <div class="col-lg-12">
                                <label> Additional Remarks</label><br>
                                <input type="text" placeholder="Enter your remarks here..." class="addtnlRemarks" [(ngModel)]="Remarks">
                            </div>
                        </div>
                        <!-- footer -->
                        <div class="row">
                            <div class="footer-btns">
                                <button class="btn btn-light saveDraft" (click)="AddPromosaveAndSubmitDraft()">Save as draft</button>
                                <button class="btn btn-light submit" (click)=AddPromosaveAndSubmit()>Save &
                                    Submit</button>
                                <button class="cancelbtn" [mat-dialog-close]="true">Cancel</button>
                            </div>
                        </div>
                    </form>
                </mat-step>

            </mat-stepper>
            <!-- </div> -->
        </div>
    </div>
</div>