<div class="font ">
    <div class=" main" width="900%">
        <div class="container">
            <div class="addUser">
                <mat-icon mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            </div>
            <div class="head-t">
                <h3 class="addU font">Add Promotions</h3>
                <br>
                <img src="assets/img/arrow-left-circle-fill.svg" style="width: 24px;margin-left: 760px;"
                    alt="left-arr-btn">
                <img src="assets/img/arrow-right-circle-fill.svg" style="width: 24px; margin-left: 12px;"
                    alt="right-arr-btn">
                <mat-stepper labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Basic Information</ng-template>
                            <div class="heading">
                                <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                    <b>Basic
                                        Information</b>
                                </h6>
                            </div>
                            <div class="materialname">
                                <label>Promotion Name <span>*</span></label>
                            </div>
                            <input matInput placeholder="Promotion Name" #input class="form-control container"
                                style="border:solid lightgrey 1px;width: 774px;
                           height: 35px;background-color: white;margin-top: 1px; margin-left: -1px;border-radius: 10px;font-family: 'Gilroy';">
                            <div class="promotiont">
                                <label>Promotion Type <span>*</span></label>
                            </div>
                            <div class="promotiontypedrp">
                                <ng-select [items]="toppingList3"
                                        placeholder="Select the promotion type"
                                        bindLabel="CategoryName"
                                             bindValue="CategoryId" 
                                             (change)="getCategory($event)">
                                          </ng-select>

                                <!-- <ng-select name="type" [placeholder]="'Select the promotion type'"
                                    formControlName="type" [disabled]="disabled" [settings]="dropdownSettings3"
                                    [data]="toppingList3"  (onSelect)="onTypeSelect($event)"
                                    (onSelectAll)="onTypeAll($event)" >
                                </ng-select> -->
                            </div> 


                            <div class="promotiont">
                                <label>Start Date <span>*</span></label>
                            </div>
                            <div class="datepicker">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select the start date</mat-label>
                                    <input matInput [matDatepicker]="myDatepicker">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker" style="color: black;">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="promotiont">
                                <label>End Date <span>*</span></label>
                            </div>
                            <div class="datepicker">
                                <mat-form-field appearance="fill">
                                    <mat-label>Select the end date</mat-label>
                                    <input matInput [matDatepicker]="myDatepicker">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker" style="color: black;">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="image">
                                <label>Image <span>*</span></label>
                            </div>
                            <input matInput placeholder="" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 356px; height: 200px; border-radius: 15px; background-color: white;position: relative;left: 422px; top: -257px;">
                            <img src="assets/img/add-image.png"
                                style="width: 48px;position: relative; right: -576px; bottom: 388px;;"
                                alt="left-arr-btn">
                            <h3
                                style="font-family: 'Gilroy';position: relative; bottom: 368px; left: 154px; color: lightgrey;">
                                Add Image</h3>
                            <!-- <input [matDatepicker]="myDatepicker" style="width: 361px; height: 35px; border-radius: 9px; border-color: grey;">
                            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #myDatepicker></mat-datepicker> -->
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Items in Promotion</ng-template>
                            <article>
                                <div class="heading">
                                    <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                        <b>Items in Promotions</b>
                                    </h6>
                                </div>
                                <div>
                                    <br>
                                    <h6>
                                        <b style="color: #000000 ;font-size:18px; font-weight: bold;font-family: 'Gilroy'">Buy</b>&nbsp; <b style="color: #000000 ;font-size:18px; font-weight: lighter;font-family: 'Gilroy'">group</b>
                                    </h6>
                                    <div class="btn"
					(click)="showDiv.previous = !showDiv.previous;showDiv.current = false;showDiv.next = false" (click)="displaydata()">
                                    <img src="assets/img/plus.png" style="width: 22px;margin-left: 346px;margin-top: -67px;" alt="plus-btn">
                                </div>
                                </div>
                           
                                <div class="getgrp">
                                    <br>
                                    <h6>
                                        <b style="color: #000000 ;font-size:18px; font-weight: bold;font-family: 'Gilroy'">Get</b>&nbsp; <b style="color: #000000 ;font-size:18px; font-weight: lighter;font-family: 'Gilroy'">group</b>
                                    </h6>
                                    <img src="assets/img/plus.png" style="width: 22px;margin-left: 344px;margin-top: -67px;" alt="plus-btn">
                                </div>
                                <div class="productlevel">
                                    <label>Product Level <span>*</span></label>
                                </div>
                                <div class="productdrpdown arrow" >
                                    <ng-multiselect-dropdown  
                                    name="type" 
                                    [placeholder]="'Select Identifier'" 
                                    formControlName="type" 
                                    [disabled]="disabled"
                                      [settings]="dropdownSettings3" 
                                      [data]="toppingList3" 
                                      (onSelect)="onTypeSelect($event)"
                                      (onSelectAll)="onTypeAll($event)">
                                    </ng-multiselect-dropdown>
                                  </div>
                                  <div class="productleveltwo">
                                    <label>Product Level <span>*</span></label>
                                </div>
                                <div class="productdrpdowntwo arrow">
                                    <ng-multiselect-dropdown  
                                    name="type" 
                                    [placeholder]="'Select Identifier'" 
                                    formControlName="type" 
                                    [disabled]="disabled"
                                      [settings]="dropdownSettings3" 
                                      [data]="toppingList3" 
                                      (onSelect)="onTypeSelect($event)"
                                      (onSelectAll)="onTypeAll($event)">
                                    </ng-multiselect-dropdown>
                                  </div>
                                  <div class="items">
                                    <label>Items<span>*</span></label>
                                </div>
                                <input matInput placeholder="Item Information" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 275px; height: 146px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 0px; top: -151px;">
                                <div class="qty">
                                    <label>Qty<span>*</span></label>
                                </div>
                                <input matInput placeholder="1" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 75px; height: 53px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 293px; top: -327px;">
                                <div class="moq">
                                    <label>MOQ<span>*</span></label>
                                </div>
                                <input matInput placeholder="1" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 75px; height: 53px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 293px; top: -321px;">
                                <div class="itemstwo">
                                    <label>Items<span>*</span></label>
                                </div>
                                <input matInput placeholder="Item Information" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 275px; height: 146px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 421px;
                                top: -497px;">
                                <div class="qtytwo">
                                    <label>Qty<span>*</span></label>
                                </div>
                                <input matInput placeholder="1" #input class="form-control container"
                                style="border: solid lightgrey 1px; width: 75px; height: 53px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 707px; bottom: 676px;">
                              
                               <div *ngIf =showdata>
                                <!-- <div class="buygrp-hide"> -->
                                <div class="buyg">
                                <h6>
                                    <b style="color: #000000 ;font-size:18px; font-weight: bold;font-family: 'Gilroy'">Buy</b>&nbsp; <b style="color: #000000 ;font-size:18px; font-weight: lighter;font-family: 'Gilroy'">group</b>
                                </h6>
                                <img src="assets/img/minus.png" style="width: 22px;margin-left: 346px;margin-top: -67px;" alt="plus-btn" (click)="hidedata()">
                            </div>
                            <div class="getg">
                                <br>
                                <h6>
                                    <b style="color: #000000 ;font-size:18px; font-weight: bold;font-family: 'Gilroy'">Get</b>&nbsp; <b style="color: #000000 ;font-size:18px; font-weight: lighter;font-family: 'Gilroy'">group</b>
                                </h6>
                                <img src="assets/img/minus.png" style="width: 22px;margin-left: 344px;margin-top: -67px;" alt="plus-btn">
                            </div>
                            <div class="productlevelthree">
                                <label>Product Level <span>*</span></label>
                            </div>
                            <div class="productdrpdownthree arrow" >
                                <ng-multiselect-dropdown  
                                name="type" 
                                [placeholder]="'Select Identifier'" 
                                formControlName="type" 
                                [disabled]="disabled"
                                  [settings]="dropdownSettings3" 
                                  [data]="toppingList3" 
                                  (onSelect)="onTypeSelect($event)"
                                  (onSelectAll)="onTypeAll($event)">
                                </ng-multiselect-dropdown>
                              </div>
                              <div class="productlevelf">
                                <label>Product Level <span>*</span></label>
                            </div>
                            <div class="productdrpdownf arrow">
                                <ng-multiselect-dropdown  
                                name="type" 
                                [placeholder]="'Select Identifier'" 
                                formControlName="type" 
                                [disabled]="disabled"
                                  [settings]="dropdownSettings3" 
                                  [data]="toppingList3" 
                                  (onSelect)="onTypeSelect($event)"
                                  (onSelectAll)="onTypeAll($event)">
                                </ng-multiselect-dropdown>
                              </div>
                              <div class="itemso">
                                <label>Items<span>*</span></label>
                            </div>
                            <input matInput placeholder="Item Information" #input class="form-control container"
                            style="border: solid lightgrey 1px; width: 275px; height: 146px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 0px; bottom:710px;">
                            <div class="qty-three">
                                <label>Qty<span>*</span></label>
                            </div>
                            <input matInput placeholder="1" #input class="form-control container"
                            style="border: solid lightgrey 1px; width: 75px; height: 53px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 293px; bottom:884px;">
                            <div class="moq-three">
                                <label>MOQ<span>*</span></label>
                            </div>
                            <input matInput placeholder="1" #input class="form-control container"
                            style="border: solid lightgrey 1px; width: 75px; height: 53px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 293px; bottom:884px;">
                            <div class="itemst">
                                <label>Items<span>*</span></label>
                            </div>
                            <input matInput placeholder="Item Information" #input class="form-control container"
                            style="border: solid lightgrey 1px; width: 275px; height: 146px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 422px; bottom:1056px;">
                            <div class="qtyf">
                                <label>Qty<span>*</span></label>
                            </div>
                            <input matInput placeholder="1" #input class="form-control container"
                            style="border: solid lightgrey 1px; width: 75px; height: 53px; border-radius: 15px; border-color:black;background-color: white;position: relative;left: 711px; bottom:1234px;">
                        </div>
                    <!-- </div> -->
                    <!-- <div class="buysets"> -->
                        <div class="volume-discount">
                          <div class="row">
                                        <div class="col-12">
                                            <label>Product Level</label>
                                            <br>
                                            <input class="productSize" type="text" id="pValue" name="pValue" required
                                                placeholder="1500">
                                        </div>
                                    </div>

                                    <div class="row topItems">
                                        <div class="col-6 inlineNav">
                                            <label>Items*</label>
                                            <input class="itemSize" type="text" id="pValue" name="pValue" required placeholder="1500">
                                            <textarea id="w3review" name="w3review" rows="4"
                                                cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea> -->

                                            </div>
                                            <div class="col-5 navItems">
                                                <div class="row" *ngFor="let packingCharge of packingCharges; let i = index;">
                                                    <div class="col-3">
                                                        <label>Qty From</label>
                                                        <input class="qtyOfItems" type="text" id="pValue" name="pValue"
                                                            required placeholder="1500" [(ngModel)]="packingCharge.address" name="address_{{i}}">
                                                        
                                                    </div>
                                                    <div class="col-3">
                                                        <label>Qty To</label>
                                                        <input class="qtyOfItems" type="text" id="pValue" name="pValue"
                                                            required placeholder="1500" [(ngModel)]="packingCharge.eValue" name="street_{{i}}">
                                                        
                                                    </div>
                                                    <div class="col-3">
                                                        <label>Price</label>
                                                        <input class="qtyOfItems" type="text" id="pValue" name="pValue"
                                                            required placeholder="1500"  [(ngModel)]="packingCharge.pValue" name="city_{{i}}">
                                                            
                                                    </div>
                                                    <div class="col-1">
                                                        <mat-icon class="removeCircle" *ngIf="i>=0" (click) =removesub(i)>remove_circle</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 contentinline">
                                                <mat-icon class="" (click)=addFields()>add_circle</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    
                            </article>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel> Geographies</ng-template>
                            <div class="heading">
                                <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                    <b>Geographies</b></h6>
                            </div>
                            <input matInput placeholder="Search for the geography here" #input
                                class="form-control container"
                                style="border:solid lightgrey 1px;width: 376px;
                       height: 35px;background-color: white;margin-top: 1px; margin-left: -1px;border-radius: 10px;font-family: 'Gilroy';">
                            <img src="assets/img/search.png"
                                style="width: 17px;left: 342px;top: -28px;position: relative;" alt="search">
                            <br>
                            <div class="material-card row">
                                <div class="col-3">

                                    <div class="row">
                                        <p class="col-10" style="font-family: 'Gilroy'">Country</p>
                                        <p class="col-2"></p>
                                    </div>
                                    <mat-card class="mat-card-content ">
                                        <mat-card-content style="height:188px; overflow-y: scroll;">
                                            <div class=" d-flex " *ngFor="let catg of countryname">
                                                <p class="col-10 catg" (click)="onClick(catg)">{{catg}}</p>
                                            </div>
                                            <div class="buttn d-flex" *ngIf=addButton>
                                                <div class="col-10">
                                                    <button class="btn btn-basic addcat">Add category name</button>
                                                    <button class="btn btn-basic addcode">Add code</button>
                                                </div>
                                                <!-- <div class="col-2"><mat-icon>remove_circle</mat-icon></div> -->
                                            </div>
                                        </mat-card-content>

                                    </mat-card>
                                </div>
                                <div class="col-3 mat-card-width">
                                    <div class="row">
                                        <p class="col-10" style="font-family: 'Gilroy'">State</p>
                                        <p class="col-2"></p>
                                    </div>
                                    <mat-card class="mat-card-content1">
                                        <mat-card-content style="height:188px; overflow-y: scroll;">
                                            <!-- <div class="span-subhead"><span>category 3</span><mat-icon>arrow_drop_down</mat-icon></div> -->
                                            <div class=" d-flex" *ngFor="let subc of statename">
                                                <p class="col-10 subc" (click)="onClick(subc)">{{subc}}</p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <p class="col-10" style="font-family: 'Gilroy'">Region</p>
                                        <p class="col-2"> </p>
                                    </div>
                                    <mat-card class="mat-card-content2">
                                 
                                        <mat-card-content style="height:188px; overflow-y: scroll;">
                                            <!-- <div class="span-subhead"><span style="padding-bottom: 10px;">category 3</span><mat-icon>keyboard_arrow_right</mat-icon><span>Sub-category</span><mat-icon>arrow_drop_down</mat-icon></div> -->
                                            <!-- <li class="type" *ngFor="let type of typename" >{{type}}<mat-icon>add_circle</mat-icon></li> -->
                                            <div class=" d-flex" *ngFor="let type of regionname">
                                                <p class="col-10 typeg" (click)="onClick(type)">{{type}}</p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>

                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <p class="col-10" style="font-family: 'Gilroy';">City</p>
                                        <p class="col-2"> </p>
                                    </div>
                                    <mat-card class="mat-card-content3 ">
                                        <mat-card-content style="height:188px; overflow-y: scroll;">
                                            <!-- <div class="span-subhead"><span style="padding-bottom: 10px;">category 3</span><mat-icon>keyboard_arrow_right</mat-icon><span>Sub-category</span><mat-icon>arrow_drop_down</mat-icon></div> -->
                                            <!-- <li class="type" *ngFor="let type of typename" >{{type}}<mat-icon>add_circle</mat-icon></li> -->
                                            <div class=" d-flex" *ngFor="let type of cityname">
                                                <p class="col-10 typeg" (click)="onClick(type)"
                                                    [ngClass]="{ 'typeselected': type == selectedItem }">{{type}}</p>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>

                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Dealers & Additionak Remarks</ng-template>
                            <div class="pagescroll" style="height:477px; overflow-y: scroll;overflow-x: auto;width: 792px;">
                            <div class="heading">
                                <h6 style="color: #000000 ;font-size:20px; font-weight: lighter;font-family: 'Gilroy'">
                                    <b>Dealers</b></h6>
                            </div>
                            <input matInput placeholder="Search for the Geography/Dealers here" #input
                                class="form-control container"
                                style="border:solid lightgrey 1px;width: 376px;
                       height: 35px;background-color: white;margin-top: 1px; margin-left: -1px;border-radius: 10px;font-family: 'Gilroy';">
                            <img src="assets/img/search.png"
                                style="width: 17px;left: 342px;top: -28px;position: relative;" alt="search">
                            <div class="material-card row">
                                <div class="col-3 matcard-dealers">
                                    <mat-card class="mat-card-content ">
                                        <mat-card-subtitle style="margin-left: 21px;">Searched Dealers
                                        </mat-card-subtitle>
                                        <mat-card-content style="height:130px; overflow-y: scroll;">
                                            <!-- <div class=" d-flex " *ngFor="let catg of countryname"><p class="col-10 catg"  (click)="onClick(catg)"  >{{catg}}</p></div> -->
                                            <!-- <div class="buttn d-flex" *ngIf = addButton> -->
                                            <div class="col-10">
                                                <mat-checkbox class="example-margin">Valiant distributorsss
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Kaldera sdn bhd (SKS02), Singapore
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Eea enterprise (MEE03), Malaysia
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Lien nha co ltd (ILN04), India
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Tuyet hai</mat-checkbox>
                                                <!-- <button class="btn btn-basic addcode">Add code</button>-->
                                            </div>
                                            <!-- <div class="col-2"><mat-icon>remove_circle</mat-icon></div> -->
                                            <!-- </div> -->
                                        </mat-card-content>
                                           </mat-card>
                                </div>
                                <div class="col-3 matcard-dealers alignment">
                                    <mat-card class="mat-card-content ">
                                        <mat-card-subtitle style="margin-left: 21px;">Selected Dealers
                                        </mat-card-subtitle>
                                        <mat-card-content style="height:130px; overflow-y: scroll;">
                                            <!-- <div class=" d-flex " *ngFor="let catg of countryname"><p class="col-10 catg"  (click)="onClick(catg)"  >{{catg}}</p></div> -->
                                            <!-- <div class="buttn d-flex" *ngIf = addButton> -->
                                            <div class="col-10">
                                                <mat-checkbox class="example-margin">Valiant distributorsss
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Kaldera sdn bhd (SKS02), Singapore
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Eea enterprise (MEE03), Malaysia
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Lien nha co ltd (ILN04), India
                                                </mat-checkbox>
                                                <mat-checkbox class="example-margin">Tuyet hai</mat-checkbox>
                                                <!-- <button class="btn btn-basic addcode">Add code</button>-->
                                            </div>
                                            <!-- <div class="col-2"><mat-icon>remove_circle</mat-icon></div> -->
                                            <!-- </div> -->
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                                       
                            </div>
                            <div class="additional">
                                <label>Additional Remarks <span>*</span></label>
                            </div>
                            <input matInput placeholder="Enter your remarks here" #input
                            class="form-control container"
                            style="border:solid lightgrey 1px;width: 771px;
                   height: 35px;background-color: white;margin-top: 1px; margin-left: -1px;border-radius: 10px;font-family: 'Gilroy';">
                   
                   <div class="row btn-row">
                    <button class="btn btn-primary btn-block submitbtn" style="background-color:#000000;width:23%;position:relative; left: 28%;border-radius: 11px;">Save</button>
                    <button class="btn btn-primary btn-block submitbtn" style="background-color:white;width:23%;position:relative; left: 31%;border-radius: 11px; border-color: black ;color: #000000;">Cancel</button>
                </div>
            </div>
                        </form>
                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="container">
    <div class="addpromotion">
        <div class="head-t mt-3">
          <mat-icon  mat-button class="close-icon" [mat-dialog-close]="true">close</mat-icon>
            <h3 class="addpro-head">Add Promotion</h3>
        </div>
       <div class="im-p">
        <p>Image</p>
       <div class="pro-img text-center">
            <img width="120" height="120" src="../../../assets/img/profile-img.svg" alt="">
       </div>
       <div class="row">
        <div class="col-6">
            <label>Promotion Name</label>
        <input type="text" placeholder="Name">
    </div>
        <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label>Buy (A+B..) get (X+Y..)</mat-label>
            <mat-select  multiple>
              <mat-option  >Buy (A+B..) get (X+Y..)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
        <div class="row">
        <div class="start-d col-6">
            <label >Start Date</label><br>
            <input [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
        <div class="end-d col-6">
            <label >End Date</label><br>
            <input [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </div>
    </div>
   
        <h3 class="addpro">Add Promotion</h3>
      
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Buy Group</mat-label>
                    <mat-select  multiple>
                      <mat-option *ngFor="let getG of getgroup" >{{getG}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Get Group</mat-label>
                    <mat-select  multiple>
                      <mat-option *ngFor="let buyG of buygroup" >{{buyG}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
         geogragphy sect 
            <div class="geography d-flex">
                <h3 class="geo-h">Geographies</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Search countries by name</mat-label>
                    <input matInput  />
                    <mat-icon matPrefix>search</mat-icon>
                  </mat-form-field>
            </div>
            <div class="inside-text-feild">
                <textarea name="" id="" cols="70" rows="5" style=" overflow-y: scroll;"></textarea>
            </div>
      
       <div class="dealers-part">
        <h3 class="dealers-h">Dealers</h3>
        <div class="row">
            <div class="col-6">
                <h3>Customer</h3>
                <mat-selection-list >
                    <mat-list-option checkboxPosition="before" *ngFor="let customerS of CustomerSelect">
                      {{customerS}}
                    </mat-list-option>
                  </mat-selection-list>
            </div>
            <div class="col-6">
                <h3>Geographies</h3>
                <mat-list >
                    <mat-list-item> Pepper </mat-list-item>
                    <mat-list-item> Salt </mat-list-item>
                    <mat-list-item> Paprika </mat-list-item>
                   </mat-list>
            </div>
        </div>
       
        <div class="remarks">
            <h3 class="addt-remark">Aditional Remarks</h3>
            <textarea name="" id="" cols="70" rows="5" style=" overflow-y: scroll;"></textarea>
        </div>
        
        <div class="addPro-btns text-center m-2">
            <button class="btn btn-primary saveD">Save as Draft</button>
            <button class="btn btn-basic submit">Submit</button>
        </div>
       </div>
       </div>
    </div>
</div> -->