<div #trigger  data-action="toggle" style="cursor: pointer;">
    <i class="fa fa-ellipsis-v" data-action="toggle"></i>
  </div>
  
  <div #content *ngIf="isOpen" class="menu-container">
    <div  class="menu-item tick" (click)="editPromo()"  userRoleDirective="EDIT_PROMOTION" pageName="dealerdashboard"> Edit <img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
    <div  (click)="close()" class="menu-item tick"userRoleDirective="CLOSE_PROMOTION" pageName="dealerdashboard">close <img src="../../../assets/userImages/done-tick.svg"  alt="" class="tickmark" ></div>
    </div>
  
  